Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]

Update main.sh
  main.sh
Labels: core, repo

Update main.sh
  main.sh
Labels: core, repo

Update question_prompt.sh
  .scripts/question_prompt.sh
Labels: core

Update appvars_list.sh
  .scripts/appvars_list.sh
Labels: core

Update appvars_lines.sh
  .scripts/appvars_lines.sh
Labels: core

Update env_lines.sh
  .scripts/env_lines.sh
Labels: core

Revert "Update env_lines.sh"
  .scripts/env_lines.sh
Labels: core

Update appvars_lines.sh
  .scripts/appvars_lines.sh
Labels: core

Update appvars_list.sh
  .scripts/appvars_list.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Update main.sh
  main.sh
Labels: core, repo

Create env_get_line.sh
  .scripts/env_get_line.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Update env_get_line.sh
  .scripts/env_get_line.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

Turn VPN on by default for all *vpn apps.
  compose/.apps/privoxyvpn/privoxyvpn.env
  compose/.apps/qbittorrentvpn/qbittorrentvpn.env
  compose/.apps/rtorrentvpn/rtorrentvpn.env
  compose/.apps/sabnzbdvpn/sabnzbdvpn.env
Labels: apps

Fix up some nicenames
  compose/.apps/adminer/adminer.labels.yml
  compose/.apps/ldapauth/ldapauth.labels.yml
  compose/.apps/xbackbone/xbackbone.labels.yml
Labels: apps

Dozzle Removed deprecated DOZZLE_TAILSIZE variable
  compose/.apps/dozzle/dozzle.labels.yml
  compose/.apps/dozzle/dozzle.yml
Labels: apps

ci: :pushpin: pin shfmt to v3 docker tag
  .github/workflows/lint.yml
Labels: ci, repo

Deployed 7920d2ea with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Deployed 4af81e2d with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Remove `DOZZLE_TAILSIZE`
  compose/.apps/dozzle/dozzle.env
  compose/.apps/dozzle/dozzle.migrate
Labels: apps

Deployed 79ae626d with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Add back `LAN_NETWORK`, `NS1` and `NS2` as global variables
  .scripts/detect_lan_network.sh
  .scripts/env_sanitize.sh
  compose/.env.example
Labels: apps, core

Use global `LAN_NETWORK`, `NS1` and `NS2` variables.
  compose/.apps/delugevpn/delugevpn.env
  compose/.apps/nzbgetvpn/nzbgetvpn.env
  compose/.apps/pihole/pihole.env
  compose/.apps/privoxyvpn/privoxyvpn.env
  compose/.apps/qbittorrentvpn/qbittorrentvpn.env
  compose/.apps/rtorrentvpn/rtorrentvpn.env
  compose/.apps/sabnzbdvpn/sabnzbdvpn.env
  compose/.apps/smokeping/.env
Labels: apps

Change back all *__IP_* variables to *__ENVIRONMENT_*
  compose/.apps/adguard/.env
  compose/.apps/adguard/adguard.migrate
  compose/.apps/adguard/adguard.ports.yml
  compose/.apps/smokeping/.env
  compose/.apps/smokeping/smokeping.migrate
  compose/.apps/smokeping/smokeping.yml
  compose/.apps/tdarr/.env
  compose/.apps/tdarr/tdarr.migrate
  compose/.apps/tdarr/tdarr.yml
Labels: apps

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update .env.example
  compose/.env.example
Labels: apps

Update .env.example
  compose/.env.example
Labels: apps

Use the global `DOCKER_VOLUME_DOCKER_SOCKET` variable.
  compose/.apps/flame/.env
  compose/.apps/glances/.env
  compose/.apps/homepage/.env
  compose/.apps/netdata/.env
  compose/.apps/ouroboros/.env
  compose/.apps/portainer/.env
  compose/.apps/portaineragent/.env
  compose/.apps/telegraf/.env
  compose/.apps/traefik/.env
  compose/.apps/watchtower/.env
  compose/.apps/yacht/.env
Labels: apps

Update .env
  compose/.apps/dozzle/.env
Labels: apps

Added Maintainerr
  compose/.apps/maintainerr/maintainerr.aarch64.yml
  compose/.apps/maintainerr/maintainerr.hostname.yml
  compose/.apps/maintainerr/maintainerr.labels.yml
  compose/.apps/maintainerr/maintainerr.netmode.yml
  compose/.apps/maintainerr/maintainerr.ports.yml
  compose/.apps/maintainerr/maintainerr.x86_64.yml
  compose/.apps/maintainerr/maintainerr.yml
  docs/apps/maintainerr.md
  mkdocs.yml
Labels: apps, docs, repo

Fix Variable typos
  compose/.apps/maintainerr/maintainerr.aarch64.yml
  compose/.apps/maintainerr/maintainerr.netmode.yml
  compose/.apps/maintainerr/maintainerr.ports.yml
  compose/.apps/maintainerr/maintainerr.x86_64.yml
  compose/.apps/maintainerr/maintainerr.yml
Labels: apps

Added Maintainerr
  compose/.apps/maintainerr/maintainerr.aarch64.yml
  compose/.apps/maintainerr/maintainerr.hostname.yml
  compose/.apps/maintainerr/maintainerr.labels.yml
  compose/.apps/maintainerr/maintainerr.netmode.yml
  compose/.apps/maintainerr/maintainerr.ports.yml
  compose/.apps/maintainerr/maintainerr.x86_64.yml
  compose/.apps/maintainerr/maintainerr.yml
  docs/apps/maintainerr.md
  mkdocs.yml
Labels: apps, docs, repo

Added Maintainerr
  compose/.apps/maintainerr/maintainerr.aarch64.yml
  compose/.apps/maintainerr/maintainerr.hostname.yml
  compose/.apps/maintainerr/maintainerr.labels.yml
  compose/.apps/maintainerr/maintainerr.netmode.yml
  compose/.apps/maintainerr/maintainerr.ports.yml
  compose/.apps/maintainerr/maintainerr.x86_64.yml
  compose/.apps/maintainerr/maintainerr.yml
  docs/apps/maintainerr.md
  mkdocs.yml
Labels: apps, docs, repo

Added Maintainerr
  compose/.apps/maintainerr/maintainerr.aarch64.yml
  compose/.apps/maintainerr/maintainerr.hostname.yml
  compose/.apps/maintainerr/maintainerr.labels.yml
  compose/.apps/maintainerr/maintainerr.netmode.yml
  compose/.apps/maintainerr/maintainerr.ports.yml
  compose/.apps/maintainerr/maintainerr.x86_64.yml
  compose/.apps/maintainerr/maintainerr.yml
  docs/apps/maintainerr.md
  mkdocs.yml
Labels: apps, docs, repo

Added more info to Readme
  docs/apps/maintainerr.md
Labels: docs
