Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]

Add `ds -S` and `ds --select` commands to go directly to the app select gui (#2098)
  main.sh
Labels: core, repo

Add templates to all temporary file names, showing app name, function name, and variable
  .scripts/env_update.sh
  .scripts/get_docker.sh
  .scripts/menu_config_vars.sh
  .scripts/pm_yum_repos.sh
  main.sh
Labels: core, repo

Add templates to all temporary file names, showing app name, function name, and variable (#2099)
  .scripts/env_update.sh
  .scripts/get_docker.sh
  .scripts/menu_config_vars.sh
  .scripts/pm_yum_repos.sh
  main.sh
Labels: core, repo

Remove temp file when done using it in `env_update`
  .scripts/env_update.sh
Labels: core

Remove temp file when done using it in `env_update` (#2100)
  .scripts/env_update.sh
Labels: core

Rename the log temp file to `DockSTARTer.log.XXXXXXXXXX`
  main.sh
Labels: core, repo

Rename the log temp file to `DockSTARTer.log.XXXXXXXXXX` (#2101)
  main.sh
Labels: core, repo

Change `dialog --stdout` to `dialog --output-fd 1`, and add `--no-trim` to the default options
  .scripts/apply_theme.sh
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_dialog_example.sh
  .scripts/menu_display_options.sh
  .scripts/menu_display_options_general.sh
  .scripts/menu_display_options_theme.sh
  .scripts/menu_main.sh
  .scripts/menu_value_prompt.sh
  .scripts/question_prompt.sh
Labels: core

Change `dialog --stdout` to `dialog --output-fd 1`, and add `--no-trim` to the default options (#2102)
  .scripts/apply_theme.sh
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_dialog_example.sh
  .scripts/menu_display_options.sh
  .scripts/menu_display_options_general.sh
  .scripts/menu_display_options_theme.sh
  .scripts/menu_main.sh
  .scripts/menu_value_prompt.sh
  .scripts/question_prompt.sh
Labels: core

Update menu_app_select.sh
  .scripts/menu_app_select.sh
  main.sh
Labels: core, repo

Update menu_app_select.sh
  .scripts/menu_app_select.sh
  main.sh
Labels: core, repo

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

Update the progress bar in `menu_app_select`, with progress and logging in separate windows on the screen (#2103)
  .scripts/menu_app_select.sh
  main.sh
Labels: core, repo

Re-enabled the `tput reset` that I had temporarily disabled while debugging.
  main.sh
Labels: core, repo

Re-enabled the `tput reset` that I had temporarily disabled while debugging. (#2104)
  main.sh
Labels: core, repo

Update the `dialog` options in `menu_app_select` to preserve all whitespace, and add a 1 second delay at 100%
  .scripts/menu_app_select.sh
Labels: core

Update the `dialog` options in `menu_app_select` to preserve all whitespace, and add a 1 second delay at 100% (#2105)
  .scripts/menu_app_select.sh
Labels: core

Update app select, adding theming to the progress screen
  .scripts/menu_app_select.sh
  .themes/BlackandWhite/theme.ini
  .themes/DockSTARTer/theme.ini
  .themes/Firehouse/theme.ini
  .themes/GreenScreen/theme.ini
  .themes/MagentaRise/theme.ini
  .themes/Marigold/theme.ini
  .themes/Murica/theme.ini
  .themes/Summertime/theme.ini
  .themes/WhiptailRipoff/theme.ini
Labels: core

Update app select, adding theming to the progress screen (#2106)
  .scripts/menu_app_select.sh
  .themes/BlackandWhite/theme.ini
  .themes/DockSTARTer/theme.ini
  .themes/Firehouse/theme.ini
  .themes/GreenScreen/theme.ini
  .themes/MagentaRise/theme.ini
  .themes/Marigold/theme.ini
  .themes/Murica/theme.ini
  .themes/Summertime/theme.ini
  .themes/WhiptailRipoff/theme.ini
Labels: core

Add missing Progress colors to Debian theme
  .themes/Debian/theme.ini
Labels: none

Add missing Progress colors to Debian theme (#2107)
  .themes/Debian/theme.ini
Labels: none

Add missing end line
  .themes/Debian/theme.ini
Labels: none

Add missing end line (#2108)
  .themes/Debian/theme.ini
Labels: none

Further changes
  compose/.apps/speedtest/speedtest.app.env
  compose/.apps/speedtest/speedtest.yml
  docs/apps/speedtest.md
Labels: apps, docs

added migration refs
  compose/.apps/speedtest/speedtest.app.env
  compose/.apps/speedtest/speedtest.migrate
  compose/.apps/speedtest/speedtest.yml
Labels: apps

Added URL
  compose/.apps/speedtest/speedtest.app.env
Labels: apps

fixed typo in migration
  compose/.apps/speedtest/speedtest.migrate
Labels: apps

Deployed dd586fea with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Move `--select` option below the `env_create` call
  main.sh
Labels: core, repo

Move `--select` option below the `env_create` call (#2109)
  main.sh
Labels: core, repo

Deployed 2989950f with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Sanitize application variable values as they are added
  .scripts/appvars_create.sh
  .scripts/appvars_sanitize.sh
  .scripts/env_sanitize.sh
Labels: core

Sanitize application variable values as they are added (#2110)
  .scripts/appvars_create.sh
  .scripts/appvars_sanitize.sh
  .scripts/env_sanitize.sh
Labels: core

Add missing linefeed in notices for `appvars_purge`
  .scripts/appvars_purge.sh
Labels: core

Add missing linefeed in notices for `appvars_purge` (#2111)
  .scripts/appvars_purge.sh
Labels: core

Update the progress bar in `menu_app_select`
  .scripts/menu_app_select.sh
Labels: core

Update the progress bar in `menu_app_select` (#2112)
  .scripts/menu_app_select.sh
Labels: core

Add a `sanitize_path` to remove `~` from paths, and use it in functions.
  .scripts/appvars_sanitize.sh
  .scripts/env_backup.sh
  .scripts/env_sanitize.sh
  .scripts/sanitize_path.sh
Labels: core

Add a `sanitize_path` to remove `~` from paths, and use it in functions. (#2113)
  .scripts/appvars_sanitize.sh
  .scripts/env_backup.sh
  .scripts/env_sanitize.sh
  .scripts/sanitize_path.sh
Labels: core

Deployed b34472d3 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo
