Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]

Update the screenshots (#2385)
  docs/assets/command_help.png
  docs/assets/menu_app_select.png
  docs/assets/menu_main.png
  docs/assets/menu_value_prompt.png
Labels: docs

Deployed e9a4882d with MkDocs version: 1.6.1
  assets/command_help.png
  assets/menu_app_select.png
  assets/menu_main.png
  assets/menu_value_prompt.png
Labels: none

Update the screenshots
  docs/assets/menu_app_select.png
Labels: docs

Update the screenshots (#2386)
  docs/assets/menu_app_select.png
Labels: docs

Deployed eb433fe8 with MkDocs version: 1.6.1
  assets/menu_app_select.png
Labels: none

Update the screenshots
  docs/assets/menu_config_vars.png
Labels: docs

Update the screenshots (#2387)
  docs/assets/menu_config_vars.png
Labels: docs

Deployed e8771aa1 with MkDocs version: 1.6.1
  assets/menu_config_vars.png
Labels: none

[ImgBot] Optimize images
  docs/assets/command_help.png
  docs/assets/icon.png
  docs/assets/menu_app_select.png
  docs/assets/menu_config_vars.png
  docs/assets/menu_main.png
  docs/assets/menu_value_prompt.png
Labels: docs

Deployed 34c1b957 with MkDocs version: 1.6.1
  assets/command_help.png
  assets/icon.png
  assets/menu_app_select.png
  assets/menu_config_vars.png
  assets/menu_main.png
  assets/menu_value_prompt.png
Labels: none

Use the `mkdocs-awesome-nav` plugin
  docs/.nav.yml
  docs/requirements.txt
  mkdocs.yml
Labels: docs, repo

Use the `mkdocs-awesome-nav` plugin (#2389)
  docs/.nav.yml
  docs/requirements.txt
  mkdocs.yml
Labels: docs, repo

Deployed c4204e07 with MkDocs version: 1.6.1
  requirements.txt
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Restart using `script` if the TTY is not writable
  main.sh
Labels: core, repo

Restart using `script` if the TTY is not writable (#2390)
  main.sh
Labels: core, repo

Move the writable tty check to after the script is cloned
  main.sh
Labels: core, repo

Move the writable tty check to after the script is cloned (#2391)
  main.sh
Labels: core, repo

Change the non-writable tty echo to an error
  main.sh
Labels: core, repo

Change the non-writable tty echo to an error (#2392)
  main.sh
Labels: core, repo

Deployed d6b970ea with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Deployed b3a3426c with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Deployed b3a3426c with MkDocs version: 1.6.1
  apps/readarr/index.html
  search/search_index.json
Labels: none

Deployed b3a3426c with MkDocs version: 1.6.1
  apps/requestrr/index.html
  search/search_index.json
Labels: none

Update link to app templates to `DockSTARTer-Templates` repo
  docs/basics/available-apps.md
Labels: docs

Update link to app templates to `DockSTARTer-Templates` repo (#2394)
  docs/basics/available-apps.md
Labels: docs

Deployed 0174991f with MkDocs version: 1.6.1
  basics/available-apps/index.html
Labels: none

Deployed 0174991f with MkDocs version: 1.6.1
  apps/requestrr/index.html
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Reverse the stack trace in fatal messages
  main.sh
Labels: core, repo

Reverse the stack trace in fatal messages (#2395)
  main.sh
Labels: core, repo

Add `dim` color code, and use it for the timestamp
  main.sh
Labels: core, repo

Add `dim` color code, and use it for the timestamp (#2396)
  main.sh
Labels: core, repo

Add a `blink` color code
  main.sh
Labels: core, repo

Add a `blink` color code (#2397)
  main.sh
Labels: core, repo

Special update for Westlin
  .includes/misc_functions.sh
  main.sh
Labels: core, repo

Add a pointer to the error on command-line errors
  .includes/cmdline.sh
  main.sh
Labels: core, repo

Add a pointer to the error on command-line errors (#2398)
  .includes/cmdline.sh
  main.sh
Labels: core, repo

Deployed 6115e9f5 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Make tables honor the line drawing character setting.
  .includes/misc_functions.sh
  .includes/test_functions.sh
  .scripts/config_theme.sh
Labels: core

Make tables honor the line drawing character setting. (#2399)
  .includes/misc_functions.sh
  .includes/test_functions.sh
  .scripts/config_theme.sh
Labels: core

Deployed 4d60c356 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo
