Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]

Show arguments on separate lines in the stack trace
  main.sh
Labels: core, repo

Show arguments on separate lines in the stack trace (#2322)
  main.sh
Labels: core, repo

Use angle quotes instead of single quotes in the arguments in stack trace
  main.sh
Labels: core, repo

Use angle quotes instead of single quotes in the arguments in stack trace (#2323)
  main.sh
Labels: core, repo

Slight change in stack trace output
  main.sh
Labels: core, repo

Slight change in stack trace output (#2324)
  main.sh
Labels: core, repo

Move the stack trace to before the fatal error
  main.sh
Labels: core, repo

Move the stack trace to before the fatal error (#2325)
  main.sh
Labels: core, repo

Set up variables for the application log file, and a future fatal log file.
  .scripts/menu_main.sh
  main.sh
Labels: core, repo

Set up variables for the application log file, and a future fatal log file. (#2326)
  .scripts/menu_main.sh
  main.sh
Labels: core, repo

Remove testing "fatal" notice from `menu_main.sh`
  .scripts/menu_main.sh
Labels: core

Remove testing "fatal" notice from `menu_main.sh` (#2327)
  .scripts/menu_main.sh
Labels: core

Deployed 00262b08 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Correct the alignment of the frame number in stack trace
  main.sh
Labels: core, repo

Correct the alignment of the frame number in stack trace (#2330)
  main.sh
Labels: core, repo

Display system info before the stack trace
  .scripts/menu_main.sh
  main.sh
Labels: core, repo

Update main.sh
  main.sh
Labels: core, repo

Deployed 75ec08bf with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Deployed f202c3b7 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Update main.sh
  main.sh
Labels: core, repo

Deployed 1ce837f1 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Allow install on `arm64`
  main.sh
Labels: core, repo

Allow install on `arm64` (#2331)
  main.sh
Labels: core, repo

Deployed 073ec38a with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Change install folder from `~/.docker` to `~/.dockstarter`
  docs/README.md
  docs/advanced/backups.md
  docs/advanced/uninstall.md
  docs/apps/plex.md
  docs/basics/command-line-usage.md
  docs/basics/faq.md
  docs/overrides/introduction.md
  main.sh
Labels: core, docs, repo

Change install folder from `~/.docker` to `~/.dockstarter` (#2332)
  docs/README.md
  docs/advanced/backups.md
  docs/advanced/uninstall.md
  docs/apps/plex.md
  docs/basics/command-line-usage.md
  docs/basics/faq.md
  docs/overrides/introduction.md
  main.sh
Labels: core, docs, repo

Deployed 88301cc5 with MkDocs version: 1.6.1
  advanced/backups/index.html
  advanced/uninstall/index.html
  apps/plex/index.html
  basics/command-line-usage/index.html
  basics/faq/index.html
  index.html
  overrides/introduction/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Display system info before the stack trace
  .github/workflows/deploy-mkdocs.yml
  .github/workflows/lint.yml
  .github/workflows/stale.yml
  .github/workflows/tests.yml
  .github/workflows/validate.yml
  .includes/misc_functions.sh
  .scripts/menu_main.sh
  docs/README.md
  docs/advanced/backups.md
  docs/advanced/uninstall.md
  docs/apps/plex.md
  docs/basics/command-line-usage.md
  docs/basics/faq.md
  docs/overrides/introduction.md
  main.sh
Labels: ci, core, docs, repo

Sanitize architecture value of "arm64" to "aarch64"
  main.sh
Labels: core, repo

Sanitize architecture value of "arm64" to "aarch64" (#2333)
  main.sh
Labels: core, repo

Update README.md
  docs/README.md
Labels: docs

Deployed 535193c8 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Update README.md
  docs/README.md
Labels: docs

Update README.md
  docs/README.md
Labels: docs

Update README.md
  docs/README.md
Labels: docs

Update README.md with additional macos instructions (#2334)
  docs/README.md
Labels: docs

Deployed 4bad4962 with MkDocs version: 1.6.1
  index.html
  search/search_index.json
Labels: repo

Update the root `README.md` file
  README.md
Labels: docs, repo

Update the root `README.md` file (#2335)
  README.md
Labels: docs, repo

Deployed 8a4c5558 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo
