Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

Update menu_config.sh
  .scripts/menu_config.sh
Labels: core

Update docker_compose.sh
  .scripts/docker_compose.sh
Labels: core

Squashed commit of the following:
  .scripts/docker_compose.sh
  .scripts/docker_prune.sh
  .scripts/menu_add_app.sh
  .scripts/menu_config.sh
  .scripts/menu_main.sh
  .scripts/run_install.sh
  .scripts/update_self.sh
  main.sh
Labels: core, repo

Update update_self.sh
  .scripts/update_self.sh
Labels: core

Update update_self.sh
  .scripts/update_self.sh
Labels: core

Update update_self.sh (#1885)
  .scripts/update_self.sh
Labels: core

Deployed 4b5bb4f8 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

Update update_self.sh
  .scripts/update_self.sh
Labels: core

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

Update menu_config.sh
  .scripts/menu_config.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Squashed commit of the following:
  .scripts/menu_app_select.sh
  .scripts/menu_config.sh
  .scripts/update_self.sh
  main.sh
Labels: core, repo

Update tsdproxy.global.env
  compose/.apps/tsdproxy/tsdproxy.global.env
Labels: apps

Update tsdproxy.yml
  compose/.apps/tsdproxy/tsdproxy.yml
Labels: apps

Update tsdproxy.yml
  compose/.apps/tsdproxy/tsdproxy.yml
Labels: apps

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update env-var-info.md
  docs/basics/env-var-info.md
Labels: docs

Deployed bb0d53c9 with MkDocs version: 1.6.1
  basics/env-var-info/index.html
  search/search_index.json
Labels: none

Update plex.migrate
  compose/.apps/plex/plex.migrate
Labels: apps

Update plex.migrate (#1886)
  compose/.apps/plex/plex.migrate
Labels: apps

Update mkdocs.yml
  mkdocs.yml
Labels: docs, repo

Update mkdocs.yml (#1887)
  mkdocs.yml
Labels: docs, repo

Update menu_add_app.sh
  .scripts/menu_add_app.sh
Labels: core

Update menu_add_app.sh (#1888)
  .scripts/menu_add_app.sh
Labels: core

Update menu_config_vars.sh
  .scripts/menu_config_vars.sh
Labels: core

Update menu_config_vars.sh (#1889)
  .scripts/menu_config_vars.sh
Labels: core

Deployed 8e73fdd4 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Update menu_config_vars.sh
  .scripts/menu_config_vars.sh
Labels: core

Fixes (#1890)
  .scripts/menu_config_vars.sh
Labels: core

Update update_self.sh
  .scripts/update_self.sh
Labels: core

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]
