Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]

Update pihole.migrate
  compose/.apps/pihole/pihole.migrate
Labels: apps

Update main.sh
  main.sh
Labels: core, repo

Update update_self.sh
  .scripts/update_self.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Update env_sanitize.sh
  .scripts/env_sanitize.sh
Labels: core

Switch incorrect ${PUID}:${PGID} (#1867)
  compose/.apps/autobrr/autobrr.yml
Labels: apps

Update autobrr.yml
  compose/.apps/autobrr/autobrr.yml
Labels: apps

Update requirements.txt
  docs/requirements.txt
Labels: docs

Update autobrr.yml
  compose/.apps/autobrr/autobrr.yml
Labels: apps

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

More consistent button labels
  .scripts/menu_app_select.sh
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_config_global.sh
  .scripts/menu_main.sh
Labels: core

Update menu_config_apps.sh
  .scripts/menu_config_apps.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Update menu_config_global.sh
  .scripts/menu_config_global.sh
Labels: core

Update menu_config_global.sh
  .scripts/menu_config_global.sh
Labels: core

Update menu_config_global.sh
  .scripts/menu_config_global.sh
Labels: core

Quote some strings, and check for variables not defined.
  .scripts/app_is_disabled.sh
  .scripts/app_is_enabled.sh
  .scripts/appfolders_create.sh
  .scripts/appvars_rename.sh
  .scripts/env_backup.sh
  .scripts/env_sanitize.sh
  .scripts/override_backup.sh
  .scripts/yml_merge.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Update menu_config.sh
  .scripts/menu_config.sh
Labels: core

Update menu_config.sh
  .scripts/menu_config.sh
Labels: core

Update menu_main.sh
  .scripts/menu_main.sh
Labels: core

Update the screenshots
  README.md
  docs/README.md
  docs/assets/menu_app_select.png
  docs/assets/menu_app_vars.png
  docs/assets/menu_main.png
  docs/assets/menu_value_prompt.png
Labels: docs, repo

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Revert "Update menu_value_prompt.sh"
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_config_global.sh
  .scripts/menu_config_global.sh
Labels: core

Create menu_add_global_var.sh
  .scripts/menu_add_global_var.sh
Labels: core

Create menu_add_app_var.sh
  .scripts/menu_add_app_var.sh
Labels: core

Update menu_config_global.sh
  .scripts/menu_config_global.sh
Labels: core

Update menu_add_global_var.sh
  .scripts/menu_add_global_var.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Create a stub to add variables through the GUI
  .scripts/menu_add_app_var.sh
  .scripts/menu_add_global_var.sh
  .scripts/menu_add_var.sh
  .scripts/menu_config_global.sh
Labels: core

Update menu_config_global.sh
  .scripts/menu_config_global.sh
Labels: core

Update menu_config_global.sh
  .scripts/menu_config_global.sh
Labels: core

Update menu_config_global.sh
  .scripts/menu_config_global.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
  .scripts/menu_config_global.sh
Labels: core
