Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]

Rename global variables
  .scripts/env_migrate_global.sh
  .scripts/env_sanitize.sh
  .scripts/menu_value_prompt.sh
  compose/.apps/delugevpn/delugevpn.env
  compose/.apps/nzbgetvpn/nzbgetvpn.env
  compose/.apps/pihole/pihole.env
  compose/.apps/privoxyvpn/privoxyvpn.env
  compose/.apps/qbittorrentvpn/qbittorrentvpn.env
  compose/.apps/rtorrentvpn/rtorrentvpn.env
  compose/.apps/sabnzbdvpn/sabnzbdvpn.env
  compose/.apps/smokeping/.env
  compose/.env.example
Labels: apps, core

Update env_sanitize.sh
  .scripts/env_sanitize.sh
Labels: core

Switch incorrect ${PUID}:${PGID}
  compose/.apps/autobrr/autobrr.yml
Labels: apps

Update README.md
  README.md
Labels: docs, repo

Update mkdocs.yml
  mkdocs.yml
Labels: docs, repo

Update mkdocs.yml
  mkdocs.yml
Labels: docs, repo

Revert "Update mkdocs.yml"
  mkdocs.yml
Labels: docs, repo

Revert "Update mkdocs.yml"
  mkdocs.yml
Labels: docs, repo

Update README.md
  README.md
Labels: docs, repo

Update README.md
  README.md
Labels: docs, repo

Create README.md
  docs/README.md
Labels: docs

Delete index.md
  docs/index.md
Labels: docs

Add "Tooltips" to the images
  README.md
  docs/README.md
Labels: docs, repo

Added ActualBudget
  compose/.apps/actualbudget/actualbudget.aarch64.yml
  compose/.apps/actualbudget/actualbudget.hostname.yml
  compose/.apps/actualbudget/actualbudget.labels.yml
  compose/.apps/actualbudget/actualbudget.netmode.yml
  compose/.apps/actualbudget/actualbudget.ports.yml
  compose/.apps/actualbudget/actualbudget.x86_64.yml
  compose/.apps/actualbudget/actualbudget.yml
  docs/apps/actualbudget.md
  mkdocs.yml
Labels: apps, docs, repo

Added description
  compose/.apps/actualbudget/actualbudget.labels.yml
Labels: apps

Changed Container_name
  compose/.apps/actualbudget/actualbudget.labels.yml
Labels: apps

Switched to Docker Pulls
  docs/apps/actualbudget.md
Labels: docs

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Revert "Update menu_value_prompt.sh"
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_config_global.sh
  .scripts/menu_config_global.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Update menu_config_global.sh
  .scripts/menu_config_global.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Change title for variable selection functions.
  .scripts/menu_app_vars.sh
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_config_global.sh
Labels: core

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

✨ feat(apps): add Actual Budget (#1868)
  compose/.apps/actualbudget/actualbudget.aarch64.yml
  compose/.apps/actualbudget/actualbudget.hostname.yml
  compose/.apps/actualbudget/actualbudget.labels.yml
  compose/.apps/actualbudget/actualbudget.netmode.yml
  compose/.apps/actualbudget/actualbudget.ports.yml
  compose/.apps/actualbudget/actualbudget.x86_64.yml
  compose/.apps/actualbudget/actualbudget.yml
  docs/apps/actualbudget.md
  mkdocs.yml
Labels: apps, docs, repo

Convert `ActualBudget` to the new template format
  compose/.apps/actualbudget/.env
  compose/.apps/actualbudget/actualbudget.aarch64.yml
  compose/.apps/actualbudget/actualbudget.env
  compose/.apps/actualbudget/actualbudget.folders
  compose/.apps/actualbudget/actualbudget.hostname.yml
  compose/.apps/actualbudget/actualbudget.labels.yml
  compose/.apps/actualbudget/actualbudget.migrate
  compose/.apps/actualbudget/actualbudget.netmode.yml
  compose/.apps/actualbudget/actualbudget.ports.yml
  compose/.apps/actualbudget/actualbudget.x86_64.yml
  compose/.apps/actualbudget/actualbudget.yml
Labels: apps

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core
