Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]

Update plex.migrate
  compose/.apps/plex/plex.migrate
Labels: apps

Change logging message slightly for creating `env_files` folder
  .scripts/appvars_create.sh
  .scripts/env_create.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Update main.sh
  main.sh
Labels: core, repo

Update app_nicename.sh
  .scripts/app_nicename.sh
Labels: core

Update app_status.sh
  .scripts/app_status.sh
Labels: core

Update app_status.sh
  .scripts/app_status.sh
Labels: core

Update app_status.sh
  .scripts/app_status.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Update app_list.sh
  .scripts/app_list.sh
Labels: core

Update app_list.sh
  .scripts/app_list.sh
Labels: core

Update appvars_purge.sh
  .scripts/appvars_purge.sh
Labels: core

Update app_list_added.sh
  .scripts/app_list_added.sh
Labels: core

Revert "Update app_list_added.sh"
  .scripts/app_list_added.sh
Labels: core

Update env_update.sh
  .scripts/env_update.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Update package_manager_run.sh
  .scripts/package_manager_run.sh
Labels: core

Update pm_apt_install.sh
  .scripts/pm_apt_install.sh
Labels: core

Change from using `whiptail` to `dialog`
  .scripts/appvars_purge.sh
  .scripts/menu_app_select.sh
  .scripts/menu_app_vars.sh
  .scripts/menu_config.sh
  .scripts/menu_main.sh
  .scripts/menu_value_prompt.sh
  .scripts/question_prompt.sh
Labels: core

Load a settings file for `dialog` from the `.dialogrc`
  .dialogrc
  main.sh
Labels: core, repo

Update .dialogrc
  .dialogrc
Labels: repo

Update .dialogrc
  .dialogrc
Labels: repo

Clear the screen after dialogs
  .scripts/menu_app_select.sh
  .scripts/menu_app_vars.sh
  .scripts/menu_config.sh
  .scripts/menu_main.sh
Labels: core

Install `dialog` in all package managers
  .scripts/pm_apk_install.sh
  .scripts/pm_dnf_install.sh
  .scripts/pm_pacman_install.sh
  .scripts/pm_yum_install.sh
Labels: core

Update .dialogrc
  .dialogrc
Labels: repo

Update menu_main.sh
  .scripts/menu_main.sh
Labels: core

Update menu_config.sh
  .scripts/menu_config.sh
Labels: core

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update question_prompt.sh
  .scripts/question_prompt.sh
Labels: core

Update menu_main.sh
  .scripts/menu_main.sh
Labels: core

Update menu_config.sh
  .scripts/menu_config.sh
Labels: core

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

Update question_prompt.sh
  .scripts/question_prompt.sh
Labels: core

Update question_prompt.sh
  .scripts/question_prompt.sh
Labels: core

Use a global `BACKTITLE` variable for dialog boxes
  .scripts/menu_app_select.sh
  .scripts/menu_config.sh
  .scripts/menu_main.sh
  main.sh
Labels: core, repo

Update question_prompt.sh
  .scripts/question_prompt.sh
Labels: core

Update dialog titles
  .scripts/appvars_purge.sh
  .scripts/appvars_purge_all.sh
  .scripts/config_global.sh
  .scripts/docker_compose.sh
  .scripts/docker_prune.sh
  .scripts/get_docker.sh
  .scripts/menu_app_vars.sh
  .scripts/menu_value_prompt.sh
  .scripts/pm_apk_install.sh
  .scripts/pm_apk_install_docker.sh
  .scripts/pm_apk_upgrade.sh
  .scripts/pm_apt_install.sh
  .scripts/pm_apt_repos.sh
  .scripts/pm_apt_upgrade.sh
  .scripts/pm_dnf_install.sh
  .scripts/pm_dnf_upgrade.sh
  .scripts/pm_pacman_install.sh
  .scripts/pm_pacman_install_docker.sh
  .scripts/pm_pacman_upgrade.sh
  .scripts/pm_yum_install.sh
  .scripts/pm_yum_repos.sh
  .scripts/pm_yum_upgrade.sh
  .scripts/update_self.sh
Labels: core

Update menu_config.sh
  .scripts/menu_config.sh
Labels: core

Update question_prompt.sh
  .scripts/question_prompt.sh
Labels: core
