Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

Remove extraneous character in bash version check
  main.sh
Labels: core, repo

Remove extraneous character in bash version check (#2273)
  main.sh
Labels: core, repo

Fix typo in error message
  main.sh
Labels: core, repo

Fix typo in error message (#2274)
  main.sh
Labels: core, repo

Correct the branch from `macos` to `main`
  main.sh
Labels: core, repo

Correct the branch from `macos` to `main` (#2275)
  main.sh
Labels: core, repo

Move the `.dialogrc` and `.dialogoptions` files to the temp folder
  .gitignore
  .includes/dialog_functions.sh
Labels: core, repo

Move the `.dialogrc` and `.dialogoptions` files to the temp folder (#2276)
  .gitignore
  .includes/dialog_functions.sh
Labels: core, repo

Update Calibre ports and variables
  compose/.apps/calibre/.env
  compose/.apps/calibre/.env.app.calibre
  compose/.apps/calibre/calibre.migrate
  compose/.apps/calibre/calibre.ports.yml
  compose/.apps/calibre/calibre.yml
Labels: apps

Update Calibre ports and variables (#2277)
  compose/.apps/calibre/.env
  compose/.apps/calibre/.env.app.calibre
  compose/.apps/calibre/calibre.migrate
  compose/.apps/calibre/calibre.ports.yml
  compose/.apps/calibre/calibre.yml
Labels: apps

Deployed e69d985d with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Adjust a comment heading slightly for Calibre
  compose/.apps/calibre/.env.app.calibre
Labels: apps

Adjust a comment heading slightly for Calibre (#2278)
  compose/.apps/calibre/.env.app.calibre
Labels: apps

Remove extraneous newline in Calibre variable file
  compose/.apps/calibre/.env.app.calibre
Labels: apps

Remove extraneous newline in Calibre variable file (#2279)
  compose/.apps/calibre/.env.app.calibre
Labels: apps

Add `backrest`
  compose/.apps/backrest/.env
  compose/.apps/backrest/.env.app.backrest
  compose/.apps/backrest/backrest.aarch64.yml
  compose/.apps/backrest/backrest.folders
  compose/.apps/backrest/backrest.hostname.yml
  compose/.apps/backrest/backrest.labels.yml
  compose/.apps/backrest/backrest.migrate
  compose/.apps/backrest/backrest.netmode.yml
  compose/.apps/backrest/backrest.ports.yml
  compose/.apps/backrest/backrest.storage.yml
  compose/.apps/backrest/backrest.storage2.yml
  compose/.apps/backrest/backrest.storage3.yml
  compose/.apps/backrest/backrest.storage4.yml
  compose/.apps/backrest/backrest.x86_64.yml
  compose/.apps/backrest/backrest.yml
  docs/apps/backrest.md
  mkdocs.yml
Labels: apps, docs, repo

Add `backrest` (#2280)
  compose/.apps/backrest/.env
  compose/.apps/backrest/.env.app.backrest
  compose/.apps/backrest/backrest.aarch64.yml
  compose/.apps/backrest/backrest.folders
  compose/.apps/backrest/backrest.hostname.yml
  compose/.apps/backrest/backrest.labels.yml
  compose/.apps/backrest/backrest.migrate
  compose/.apps/backrest/backrest.netmode.yml
  compose/.apps/backrest/backrest.ports.yml
  compose/.apps/backrest/backrest.storage.yml
  compose/.apps/backrest/backrest.storage2.yml
  compose/.apps/backrest/backrest.storage3.yml
  compose/.apps/backrest/backrest.storage4.yml
  compose/.apps/backrest/backrest.x86_64.yml
  compose/.apps/backrest/backrest.yml
  docs/apps/backrest.md
  mkdocs.yml
Labels: apps, docs, repo

Change `menu.ini` to `dockstarter.ini`
  .defaults/dockstarter.ini
  .gitignore
  .includes/dialog_functions.sh
  .includes/global_variables.sh
  .scripts/apply_config.sh
  .scripts/apply_theme.sh
  .scripts/config_create.sh
  .scripts/config_get.sh
  .scripts/config_set.sh
  .scripts/menu_options_display.sh
  .scripts/theme_name.sh
  main.sh
Labels: core, repo

Change `menu.ini` to `dockstarter.ini` (#2281)
  .defaults/dockstarter.ini
  .gitignore
  .includes/dialog_functions.sh
  .includes/global_variables.sh
  .scripts/apply_config.sh
  .scripts/apply_theme.sh
  .scripts/config_create.sh
  .scripts/config_get.sh
  .scripts/config_set.sh
  .scripts/menu_options_display.sh
  .scripts/theme_name.sh
  main.sh
Labels: core, repo

Deployed 89f07d4c with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Allow optional arguments during fresh install.
  main.sh
Labels: core, repo

Allow optional arguments during fresh install. (#2282)
  main.sh
Labels: core, repo

Deployed 79f4ab55 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Deployed 24ff1ad6 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Add the missing `--config-pm` and `--config-pm-auto` usage text
  .includes/usage.sh
Labels: core

Add the missing `--config-pm` and `--config-pm-auto` usage text (#2284)
  .includes/usage.sh
Labels: core

Remove `-T` from the `--pm-config` and `--pm-config-auto` usages text
  .includes/usage.sh
Labels: core

Remove `-T` from the `--pm-config` and `--pm-config-auto` usages text (#2285)
  .includes/usage.sh
Labels: core

Update group functions
  .includes/misc_functions.sh
Labels: core

Update group functions (#2286)
  .includes/misc_functions.sh
Labels: core

Deployed 95c146eb with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Update `synlink_ds` to check folders in the order they are listed in the PATH variable (#2270)
  .scripts/symlink_ds.sh
Labels: core

Fix typo in error message (#2274)
  main.sh
Labels: core, repo

Correct the branch from `macos` to `main` (#2275)
  main.sh
Labels: core, repo

Adjust a comment heading slightly for Calibre (#2278)
  compose/.apps/calibre/.env.app.calibre
Labels: apps

Update Calibre ports and variables (#2277)
  compose/.apps/calibre/.env
  compose/.apps/calibre/.env.app.calibre
  compose/.apps/calibre/calibre.migrate
  compose/.apps/calibre/calibre.ports.yml
  compose/.apps/calibre/calibre.yml
Labels: apps

Remove extraneous character in bash version check (#2273)
  main.sh
Labels: core, repo

Move the `.dialogrc` and `.dialogoptions` files to the temp folder (#2276)
  .gitignore
  .includes/dialog_functions.sh
Labels: core, repo

Add `backrest` (#2280)
  compose/.apps/backrest/.env
  compose/.apps/backrest/.env.app.backrest
  compose/.apps/backrest/backrest.aarch64.yml
  compose/.apps/backrest/backrest.folders
  compose/.apps/backrest/backrest.hostname.yml
  compose/.apps/backrest/backrest.labels.yml
  compose/.apps/backrest/backrest.migrate
  compose/.apps/backrest/backrest.netmode.yml
  compose/.apps/backrest/backrest.ports.yml
  compose/.apps/backrest/backrest.storage.yml
  compose/.apps/backrest/backrest.storage2.yml
  compose/.apps/backrest/backrest.storage3.yml
  compose/.apps/backrest/backrest.storage4.yml
  compose/.apps/backrest/backrest.x86_64.yml
  compose/.apps/backrest/backrest.yml
  docs/apps/backrest.md
  mkdocs.yml
Labels: apps, docs, repo

Change `menu.ini` to `dockstarter.ini` (#2281)
  .defaults/dockstarter.ini
  .gitignore
  .includes/dialog_functions.sh
  .includes/global_variables.sh
  .scripts/apply_config.sh
  .scripts/apply_theme.sh
  .scripts/config_create.sh
  .scripts/config_get.sh
  .scripts/config_set.sh
  .scripts/menu_options_display.sh
  .scripts/theme_name.sh
  main.sh
Labels: core, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]
