Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]

Update theme_list.sh
  .scripts/theme_list.sh
Labels: core

Create theme_exists.sh
  .scripts/theme_exists.sh
Labels: core

Create theme_description.sh
  .scripts/theme_description.sh
Labels: core

Update menu_display_options_theme.sh
  .scripts/menu_display_options_theme.sh
Labels: core

Update apply_theme.sh
  .scripts/apply_theme.sh
Labels: core

Update theme_description.sh
  .scripts/theme_description.sh
Labels: core

Update apply_theme.sh
  .scripts/apply_theme.sh
Labels: core

Add `AmberScreen` theme
  .themes/AmberScreen/.dialogrc
  .themes/AmberScreen/theme.ini
Labels: none

Update main.sh
  main.sh
Labels: core, repo

Update main.sh
  main.sh
Labels: core, repo

Update main.sh
  main.sh
Labels: core, repo

Update main.sh
  main.sh
Labels: core, repo

Update main.sh
  main.sh
Labels: core, repo

Create menu_dialog_example.sh
  .scripts/menu_dialog_example.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Update main.sh
  main.sh
Labels: core, repo

Update main.sh
  main.sh
Labels: core, repo

Update menu_dialog_example.sh
  .scripts/menu_dialog_example.sh
Labels: core

Revert "Update menu_dialog_example.sh"
  .scripts/menu_dialog_example.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Update main.sh
  main.sh
Labels: core, repo

Update main.sh
  main.sh
Labels: core, repo

Update menu_display_options_theme.sh
  .scripts/menu_display_options_theme.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Update main.sh
  main.sh
Labels: core, repo

Update main.sh
  main.sh
Labels: core, repo

Remove spaces in theme names
  .themes/BlackandWhite/.dialogrc
  .themes/BlackandWhite/theme.ini
  .themes/MagentaRise/.dialogrc
  .themes/MagentaRise/theme.ini
  .themes/WhiptailRipoff/.dialogrc
  .themes/WhiptailRipoff/theme.ini
Labels: none

Rename `AmberScreen` to `Marigold`
  .themes/Marigold/.dialogrc
  .themes/Marigold/theme.ini
Labels: none

Add theming support (#1910)
  .scripts/apply_theme.sh
  .scripts/menu_dialog_example.sh
  .scripts/menu_display_options.sh
  .scripts/menu_display_options_general.sh
  .scripts/menu_display_options_theme.sh
  .scripts/menu_main.sh
  .scripts/theme_description.sh
  .scripts/theme_exists.sh
  .scripts/theme_list.sh
  .themes/BlackandWhite/.dialogrc
  .themes/BlackandWhite/theme.ini
  .themes/Debian/.dialogrc
  .themes/Debian/theme.ini
  .themes/DockSTARTer/.dialogrc
  .themes/DockSTARTer/theme.ini
  .themes/Firehouse/.dialogrc
  .themes/Firehouse/theme.ini
  .themes/GreenScreen/.dialogrc
  .themes/GreenScreen/theme.ini
  .themes/MagentaRise/.dialogrc
  .themes/MagentaRise/theme.ini
  .themes/Marigold/.dialogrc
  .themes/Marigold/theme.ini
  .themes/Summertime/.dialogrc
  .themes/Summertime/theme.ini
  .themes/WhiptailRipoff/.dialogrc
  .themes/WhiptailRipoff/theme.ini
  .themes/menu.ini
  main.sh
Labels: core, repo

Deployed 8c337eb2 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Add a color variable for the "User Defined App" in the app list.
  .scripts/menu_config_apps.sh
  .themes/BlackandWhite/theme.ini
  .themes/Debian/theme.ini
  .themes/DockSTARTer/theme.ini
  .themes/Firehouse/theme.ini
  .themes/GreenScreen/theme.ini
  .themes/MagentaRise/theme.ini
  .themes/Marigold/theme.ini
  .themes/Summertime/theme.ini
  .themes/WhiptailRipoff/theme.ini
Labels: core

Add a color color variable for "KeyCaps"
  .scripts/menu_app_select.sh
  .themes/BlackandWhite/theme.ini
  .themes/Debian/theme.ini
  .themes/DockSTARTer/theme.ini
  .themes/Firehouse/theme.ini
  .themes/GreenScreen/theme.ini
  .themes/MagentaRise/theme.ini
  .themes/Marigold/theme.ini
  .themes/Summertime/theme.ini
  .themes/WhiptailRipoff/theme.ini
Labels: core

Themes (#1911)
  .scripts/menu_app_select.sh
  .scripts/menu_config_apps.sh
  .themes/BlackandWhite/theme.ini
  .themes/Debian/theme.ini
  .themes/DockSTARTer/theme.ini
  .themes/Firehouse/theme.ini
  .themes/GreenScreen/theme.ini
  .themes/MagentaRise/theme.ini
  .themes/Marigold/theme.ini
  .themes/Summertime/theme.ini
  .themes/WhiptailRipoff/theme.ini
Labels: core

Deployed 6bae9ecb with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Update menu_dialog_example.sh
  .scripts/menu_dialog_example.sh
Labels: core

Update menu_dialog_example.sh
  .scripts/menu_dialog_example.sh
Labels: core

Update menu_dialog_example.sh
  .scripts/menu_dialog_example.sh
Labels: core

Update menu_dialog_example.sh
  .scripts/menu_dialog_example.sh
Labels: core

Update menu_dialog_example.sh
  .scripts/menu_dialog_example.sh
Labels: core

Fix TitleWarning vars
  .themes/BlackandWhite/theme.ini
  .themes/Debian/theme.ini
  .themes/Firehouse/theme.ini
  .themes/GreenScreen/theme.ini
  .themes/MagentaRise/theme.ini
  .themes/Marigold/theme.ini
  .themes/Summertime/theme.ini
  .themes/WhiptailRipoff/theme.ini
Labels: none
