Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

Only apply the theme if using the GUI (#2173)
  main.sh
Labels: core, repo

Install `gettext-base` instead of `gettext` for `envsubst`
  .scripts/pm_apt_install.sh
Labels: core

Install `gettext-base` instead of `gettext` for `envsubst` (#2174)
  .scripts/pm_apt_install.sh
Labels: core

Fix `env_get_line_regex`, enclosing the regex in parens
  .scripts/env_get_line_regex.sh
Labels: core

Fix `env_get_line_regex`, enclosing the regex in parens (#2175)
  .scripts/env_get_line_regex.sh
Labels: core

Deployed 1988a6a7 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Change to using `git checkout` instead of `git switch` for compatibility with older systems
  .scripts/update_self.sh
Labels: core

Change to using `git checkout` instead of `git switch` for compatibility with older systems (#2176)
  .scripts/update_self.sh
Labels: core

Deployed dde5dbf8 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Remove `bsdmainutils` from `dnf` installs. `column` is in `util-linux`, not `bsdmainutils`
  .scripts/pm_dnf_install.sh
Labels: core

Remove `bsdmainutils` from `dnf` installs. `column` is in `util-linux`, not `bsdmainutils` (#2180)
  .scripts/pm_dnf_install.sh
Labels: core

Deployed af90ffbe with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Add `.dialogoptions` and `compose/.env.app.*` to `.gitignore`
  .gitignore
Labels: repo

Add `.dialogoptions` and `compose/.env.app.*` to `.gitignore` (#2181)
  .gitignore
Labels: repo

Apply theme at start of testing `menu_heading`
  .scripts/menu_heading.sh
Labels: core

Apply theme at start of testing `menu_heading` (#2182)
  .scripts/menu_heading.sh
Labels: core

Update env_merge_newonly.sh
  .scripts/env_merge_newonly.sh
Labels: core

Update env_format_lines.sh
  .scripts/env_format_lines.sh
Labels: core

Update appvars_sanitize.sh
  .scripts/appvars_sanitize.sh
Labels: core

Update env_set_literal.sh
  .scripts/env_set_literal.sh
Labels: core

Update env_set_literal.sh
  .scripts/env_set_literal.sh
Labels: core

Update env_set.sh
  .scripts/env_set.sh
Labels: core

Update env_set_literal.sh
  .scripts/env_set_literal.sh
Labels: core

Update env_set_literal.sh
  .scripts/env_set_literal.sh
Labels: core

Change `--theme-shadow` to `--theme-shadows`, and use a single `apply_theme` call for the theme options.
  .scripts/menu_display_options_general.sh
  main.sh
Labels: core, repo

Change `--theme-shadow` to `--theme-shadows`, and use a single `apply_theme` call for the theme options. (#2183)
  .scripts/menu_display_options_general.sh
  main.sh
Labels: core, repo

Deployed 27aa7d6f with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Update app_is_referenced.sh
  .scripts/app_is_referenced.sh
Labels: core

Update app_list_referenced.sh
  .scripts/app_list_referenced.sh
Labels: core

Update app_status.sh
  .scripts/app_status.sh
Labels: core

Update app_is_referenced.sh
  .scripts/app_is_referenced.sh
Labels: core

Update app_list_referenced.sh
  .scripts/app_list_referenced.sh
Labels: core

Update app_list_referenced.sh
  .scripts/app_list_referenced.sh
Labels: core

Look in override file to check for referenced apps
  .scripts/app_is_referenced.sh
  .scripts/app_list_hasvarfile.sh
  .scripts/app_list_referenced.sh
  .scripts/app_status.sh
  .scripts/appvars_purge.sh
  .scripts/env_update.sh
  .scripts/varfile_to_appname.sh
  .scripts/varfile_to_appname_pipe.sh
Labels: core

Look in override file to check for referenced apps (#2184)
  .scripts/app_is_referenced.sh
  .scripts/app_list_hasvarfile.sh
  .scripts/app_list_referenced.sh
  .scripts/app_status.sh
  .scripts/appvars_purge.sh
  .scripts/env_update.sh
  .scripts/varfile_to_appname.sh
  .scripts/varfile_to_appname_pipe.sh
Labels: core

Deployed e8c09726 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Slight fix to regex searching for `.env.app.appname` lines in the override file
  .scripts/app_is_referenced.sh
  .scripts/app_list_referenced.sh
Labels: core

Slight fix to regex searching for `.env.app.appname` lines in the override file (#2185)
  .scripts/app_is_referenced.sh
  .scripts/app_list_referenced.sh
Labels: core

Allow `./` before `.env.app.appname` when searching the compose file
  .scripts/app_is_referenced.sh
  .scripts/app_list_referenced.sh
Labels: core

Allow `./` before `.env.app.appname` when searching the compose file (#2186)
  .scripts/app_is_referenced.sh
  .scripts/app_list_referenced.sh
Labels: core

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]
