Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

Update main.sh
  main.sh
Labels: core, repo

Themes (#1918)
  main.sh
Labels: core, repo

Update theme.ini
  .themes/Firehouse/theme.ini
Labels: none

Themes (#1919)
  .themes/Firehouse/theme.ini
Labels: none

Make theme descriptions more consistent.
  .themes/GreenScreen/theme.ini
  .themes/MagentaRise/theme.ini
  .themes/Marigold/theme.ini
  .themes/Summertime/theme.ini
  .themes/WhiptailRipoff/theme.ini
Labels: none

Update menu.ini
  .themes/menu.ini
Labels: none

Themes (#1920)
  .themes/GreenScreen/theme.ini
  .themes/MagentaRise/theme.ini
  .themes/Marigold/theme.ini
  .themes/Summertime/theme.ini
  .themes/WhiptailRipoff/theme.ini
  .themes/menu.ini
Labels: none

Themes (#1921)
  .themes/Summertime/theme.ini
Labels: none

Update screenshots
  docs/assets/command_help.png
  docs/assets/menu_app_select.png
  docs/assets/menu_config_vars.png
  docs/assets/menu_main.png
  docs/assets/menu_value_prompt.png
Labels: docs

Themes (#1922)
  docs/assets/command_help.png
  docs/assets/menu_app_select.png
  docs/assets/menu_config_vars.png
  docs/assets/menu_main.png
  docs/assets/menu_value_prompt.png
Labels: docs

Deployed 100ef6d6 with MkDocs version: 1.6.1
  assets/command_help.png
  assets/menu_app_select.png
  assets/menu_config_vars.png
  assets/menu_main.png
  assets/menu_value_prompt.png
Labels: none

Update theme_table.sh
  .scripts/theme_table.sh
Labels: core

Themes (#1923)
  .scripts/theme_table.sh
Labels: core

Deployed ec2419fc with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Update menu_dialog_example.sh
  .scripts/menu_dialog_example.sh
Labels: core

Themes (#1924)
  .scripts/menu_dialog_example.sh
Labels: core

Add `Murica` theme
  .themes/Murica/.dialogrc
  .themes/Murica/theme.ini
Labels: none

Update menu_dialog_example.sh
  .scripts/menu_dialog_example.sh
Labels: core

Themes (#1925)
  .scripts/menu_dialog_example.sh
  .themes/Murica/.dialogrc
  .themes/Murica/theme.ini
Labels: core

Deployed c90baa81 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Update yml_merge.sh
  .scripts/yml_merge.sh
Labels: core

Add optional device mounts to Plex
  compose/.apps/plex/plex.devices.yml
  compose/.apps/plex/plex.global.env
Labels: apps

Update yml_merge.sh
  .scripts/yml_merge.sh
Labels: core

Add optional device mounts to Jellyfin
  compose/.apps/jellyfin/jellyfin.devices.yml
  compose/.apps/jellyfin/jellyfin.global.env
Labels: apps

Updates (#1928)
  .scripts/yml_merge.sh
  compose/.apps/jellyfin/jellyfin.devices.yml
  compose/.apps/jellyfin/jellyfin.global.env
  compose/.apps/plex/plex.devices.yml
  compose/.apps/plex/plex.global.env
Labels: apps, core

Deployed ab90241a with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Add optional device mounts to Emby
  compose/.apps/emby/emby.devices.yml
  compose/.apps/emby/emby.global.env
Labels: apps

Add optional device mounts to Handbreak
  compose/.apps/handbrake/handbrake.global.env
  compose/.apps/handbrake/handbreak.devices.yml
Labels: apps

Updates (#1929)
  compose/.apps/emby/emby.devices.yml
  compose/.apps/emby/emby.global.env
  compose/.apps/handbrake/handbrake.global.env
  compose/.apps/handbrake/handbreak.devices.yml
Labels: apps

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh (#1930)
  .scripts/menu_value_prompt.sh
Labels: core

Change `APPNAME__DEVICES_*` vars to `APPNAME__DEVICE_*`
  compose/.apps/emby/emby.devices.yml
  compose/.apps/emby/emby.global.env
  compose/.apps/handbrake/handbrake.global.env
  compose/.apps/handbrake/handbreak.devices.yml
  compose/.apps/jellyfin/jellyfin.devices.yml
  compose/.apps/jellyfin/jellyfin.global.env
  compose/.apps/plex/plex.devices.yml
  compose/.apps/plex/plex.global.env
Labels: apps

Change `APPNAME__DEVICES_*` vars to `APPNAME__DEVICE_*` (#1931)
  compose/.apps/emby/emby.devices.yml
  compose/.apps/emby/emby.global.env
  compose/.apps/handbrake/handbrake.global.env
  compose/.apps/handbrake/handbreak.devices.yml
  compose/.apps/jellyfin/jellyfin.devices.yml
  compose/.apps/jellyfin/jellyfin.global.env
  compose/.apps/plex/plex.devices.yml
  compose/.apps/plex/plex.global.env
Labels: apps

Use the `DEV1` variable for all the other `DEV` variables.
  compose/.apps/emby/emby.global.env
  compose/.apps/handbrake/handbrake.global.env
  compose/.apps/jellyfin/jellyfin.global.env
  compose/.apps/plex/plex.global.env
Labels: apps

Use the `DEV1` variable for all the other `DEV` variables. (#1932)
  compose/.apps/emby/emby.global.env
  compose/.apps/handbrake/handbrake.global.env
  compose/.apps/jellyfin/jellyfin.global.env
  compose/.apps/plex/plex.global.env
Labels: apps

Update update_self.sh
  .scripts/update_self.sh
Labels: core

Update app_instance_folder.sh
  .scripts/app_instance_folder.sh
Labels: core

Update app_instance_file.sh
  .scripts/app_instance_file.sh
Labels: core

Updates (#1934)
  .scripts/app_instance_file.sh
  .scripts/app_instance_folder.sh
  .scripts/update_self.sh
Labels: core

Deployed 9e3b3f36 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]
