Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

Update `strip_ansi_colors` and `strip_dialog_colors`
  main.sh
Labels: core, repo

Update `strip_ansi_colors` and `strip_dialog_colors` (#2059)
  main.sh
Labels: core, repo

Strip ANSI colors from dialog boxes in `question_prompt`
  .scripts/question_prompt.sh
Labels: core

Strip ANSI colors from dialog boxes in `question_prompt` (#2060)
  .scripts/question_prompt.sh
Labels: core

Use `printf '%b\n` instead of `echo -e' in logging function
  main.sh
Labels: core, repo

Convert `\n` to newlines in log messages
  main.sh
Labels: core, repo

Convert `\n` to newlines in log messages (#2061)
  main.sh
Labels: core, repo

Colorize the prompt in `appvars_purge` for both CLI and GUI usage
  .scripts/appvars_purge.sh
Labels: core

Colorize the prompt in `appvars_purge` for both CLI and GUI usage (#2062)
  .scripts/appvars_purge.sh
Labels: core

Replace another `echo -e` with `printf '%b\n` in the logging function
  main.sh
Labels: core, repo

Replace another `echo -e` with `printf '%b\n` in the logging function (#2063)
  main.sh
Labels: core, repo

Move the cursor to bottom of screen on cleanup if using the GUI
  main.sh
Labels: core, repo

Move the cursor to bottom of screen on cleanup if using the GUI (#2064)
  main.sh
Labels: core, repo

Change GUI subtitles of command to show the command-line instead of parameter list
  main.sh
Labels: core, repo

Change GUI subtitles of command to show the command-line instead of parameter list (#2065)
  main.sh
Labels: core, repo

Make `apply_theme` return an exit code, and check it on calls.
  .scripts/apply_theme.sh
  .scripts/menu_display_options_theme.sh
  main.sh
Labels: core, repo

Make `apply_theme` return an exit code, and check it on calls. (#2067)
  .scripts/apply_theme.sh
  .scripts/menu_display_options_theme.sh
  main.sh
Labels: core, repo

Deployed 5c5a4aef with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Fix all references to `depreciated` to use the correct term `deprecated`
  .scripts/app_is_deprecated.sh
  .scripts/app_is_depreciated.sh
  .scripts/app_is_nondeprecated.sh
  .scripts/app_is_nondepreciated.sh
  .scripts/app_list.sh
  .scripts/app_list_deprecated.sh
  .scripts/app_list_depreciated.sh
  .scripts/app_list_nondeprecated.sh
  .scripts/app_list_nondepreciated.sh
  .scripts/env_format_lines.sh
  .scripts/menu_app_select.sh
  .scripts/menu_heading.sh
  .scripts/yml_merge.sh
  main.sh
Labels: core, repo

Fix all references to `depreciated` to use the correct term `deprecated` (#2068)
  .scripts/app_is_deprecated.sh
  .scripts/app_is_depreciated.sh
  .scripts/app_is_nondeprecated.sh
  .scripts/app_is_nondepreciated.sh
  .scripts/app_list.sh
  .scripts/app_list_deprecated.sh
  .scripts/app_list_depreciated.sh
  .scripts/app_list_nondeprecated.sh
  .scripts/app_list_nondepreciated.sh
  .scripts/env_format_lines.sh
  .scripts/menu_app_select.sh
  .scripts/menu_heading.sh
  .scripts/yml_merge.sh
  main.sh
Labels: core, repo

Show the "nicename" of apps as they are discovered for the app selection screen
  .scripts/menu_app_select.sh
Labels: core

Show the "nicename" of apps as they are discovered for the app selection screen (#2069)
  .scripts/menu_app_select.sh
Labels: core

Create an `app_nicename_pipe` function and use it in `menu_app_select`
  .scripts/app_nicename_pipe.sh
  .scripts/menu_app_select.sh
Labels: core

Create an `app_nicename_pipe` function and use it in `menu_app_select` (#2070)
  .scripts/app_nicename_pipe.sh
  .scripts/menu_app_select.sh
Labels: core

Create `app_is_runnable`, `app_filter_runnable` and `app_filter_runnable_pipe`
  .scripts/app_filter_runnable.sh
  .scripts/app_filter_runnable_pipe.sh
  .scripts/app_is_runnable.sh
  .scripts/menu_app_select.sh
Labels: core

Create `app_is_runnable`, `app_filter_runnable` and `app_filter_runnable_pipe` (#2071)
  .scripts/app_filter_runnable.sh
  .scripts/app_filter_runnable_pipe.sh
  .scripts/app_is_runnable.sh
  .scripts/menu_app_select.sh
Labels: core

Deployed ae814160 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Fix `app_is_runnable` for instances of apps.
  .scripts/app_is_runnable.sh
Labels: core

Fix `app_is_runnable` for instances of apps. (#2072)
  .scripts/app_is_runnable.sh
Labels: core

Optimize `app_filter_runnable` for speed by bringing the `app_is_runnable` code inline to it
  .scripts/app_filter_runnable.sh
Labels: core

Optimize `app_filter_runnable` for speed by bringing the `app_is_runnable` code inline to it (#2073)
  .scripts/app_filter_runnable.sh
Labels: core

Replace outputting the `Bottom of Screen` ANSI code with ` tput reset` on cleanup
  main.sh
Labels: core, repo

Replace outputting the `Bottom of Screen` ANSI code with ` tput reset` on cleanup (#2074)
  main.sh
Labels: core, repo

Optimize `app_is_deprecated` and `app_is_nondeprecated` by avoiding creating an instance file
  .scripts/app_is_deprecated.sh
  .scripts/app_is_nondeprecated.sh
Labels: core

Add color to the warning about `dialog` not being installed.
  main.sh
Labels: core, repo

Add color to the warning about `dialog` not being installed. (#2075)
  main.sh
Labels: core, repo

Deployed d6d9143b with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Only create the `.env` file before certain command-line options
  main.sh
Labels: core, repo

Only create the `.env` file before certain command-line options (#2076)
  main.sh
Labels: core, repo

Optimize `app_is_deprecated` and `app_is_nondeprecated` by avoiding creating an instance file (#2077)
  .scripts/app_is_deprecated.sh
  .scripts/app_is_nondeprecated.sh
Labels: core

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]
