Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

Attempt to make DockStarter work with an immutable filesystem
  .scripts/symlink_ds.sh
Labels: core

Update symlink_ds.sh
  .scripts/symlink_ds.sh
Labels: core

Update symlink_ds.sh
  .scripts/symlink_ds.sh
Labels: core

We don't need to have a package manager install things if they are already there
  .scripts/package_manager_run.sh
Labels: core

fix: trailing whitespace
  .scripts/package_manager_run.sh
  .scripts/symlink_ds.sh
Labels: core

fix: shellcheck issues
  .scripts/symlink_ds.sh
Labels: core

Make this less verbose
  .scripts/package_manager_run.sh
Labels: core

Ateempt to implement suggestions
  .scripts/package_manager_run.sh
  .scripts/symlink_ds.sh
Labels: core

fix: unnecessary data was getting output to the console
  .scripts/symlink_ds.sh
Labels: core

fix: missing then
  .scripts/symlink_ds.sh
Labels: core

Add a check for 'docker compose'
  .scripts/package_manager_run.sh
Labels: core

chore: remove some whitespace
  .scripts/package_manager_run.sh
Labels: core

chore: try to make shfmt happy
  .scripts/package_manager_run.sh
  .scripts/symlink_ds.sh
Labels: core

Implement suggestions
  .scripts/package_manager_run.sh
  .scripts/symlink_ds.sh
Labels: core

fix: swap target to correct control variable
  .scripts/symlink_ds.sh
Labels: core

fix: Missing $
  .scripts/symlink_ds.sh
Labels: core

fix: missed one.
  .scripts/symlink_ds.sh
Labels: core

change compose check logic
  .scripts/package_manager_run.sh
Labels: core

refactor: :recycle: symlink adjustments
  .scripts/symlink_ds.sh
Labels: core

refactor: :recycle: pm adjustments
  .scripts/package_manager_run.sh
Labels: core

refactor: :recycle: symlink adjustments
  .scripts/symlink_ds.sh
Labels: core

Deployed 074fe3cb with MkDocs version: 1.5.3
  index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Labels: repo

refactor: :recycle: pm adjustments
  .scripts/package_manager_run.sh
Labels: core

Deployed eb0a2e01 with MkDocs version: 1.5.3
  sitemap.xml.gz
Labels: repo

fix: :bug: keep dir in existing volume names
  compose/.apps/openldap/openldap.yml
  compose/.apps/resiliosync/resiliosync.labels.yml
  compose/.apps/resiliosync/resiliosync.yml
  compose/.apps/rsnapshot/rsnapshot.labels.yml
  compose/.apps/rsnapshot/rsnapshot.yml
  compose/.apps/smokeping/smokeping.labels.yml
  compose/.apps/smokeping/smokeping.yml
  compose/.apps/swag/swag.labels.yml
  compose/.apps/swag/swag.yml
  compose/.apps/syncthing/syncthing.labels.yml
  compose/.apps/syncthing/syncthing.yml
  compose/.apps/timemachine/timemachine.labels.yml
  compose/.apps/timemachine/timemachine.yml
  compose/.apps/tvheadend/tvheadend.labels.yml
  compose/.apps/tvheadend/tvheadend.yml
  compose/.apps/ubooquity/ubooquity.labels.yml
  compose/.apps/ubooquity/ubooquity.yml
  compose/.apps/unmanic/unmanic.labels.yml
  compose/.apps/unmanic/unmanic.yml
  compose/.apps/vsftpd/vsftpd.labels.yml
  compose/.apps/vsftpd/vsftpd.yml
  compose/.apps/xbackbone/xbackbone.labels.yml
  compose/.apps/xbackbone/xbackbone.yml
Labels: apps

fix: :bug: redirect requestrr override
  docs/overrides/requestrr.md
  mkdocs.yml
Labels: docs, repo

fix: :bug: add missing privoxyvpn vars
  compose/.apps/privoxyvpn/privoxyvpn.labels.yml
  compose/.apps/privoxyvpn/privoxyvpn.yml
Labels: apps

Deployed 4a25c20e with MkDocs version: 1.5.3
  sitemap.xml.gz
Labels: repo

Fix `PLEX_CLAIM` variable in Plex
  compose/.apps/plex/plex.labels.yml
  compose/.apps/plex/plex.yml
Labels: apps

Add missing Gluetun variables and ports
  compose/.apps/gluetun/gluetun.labels.yml
  compose/.apps/gluetun/gluetun.ports.yml
  compose/.apps/gluetun/gluetun.yml
Labels: apps

Update gluetun.labels.yml
  compose/.apps/gluetun/gluetun.labels.yml
Labels: apps

Update gluetun.labels.yml
  compose/.apps/gluetun/gluetun.labels.yml
Labels: apps

Update gluetun.labels.yml
  compose/.apps/gluetun/gluetun.labels.yml
Labels: apps

chore: :truck: rename functions and fix regex
  .scripts/appvars_rename.sh
  .scripts/env_rename.sh
  .scripts/env_sanitize.sh
Labels: core

feat: :truck: only run migrate on enabled apps
  .scripts/appvars_migrate.sh
  .scripts/appvars_migrate_all.sh
  .scripts/env_sanitize.sh
Labels: core

chore: fix some comments
  docs/apps/homepage.md
  docs/apps/nextcloud.md
  docs/apps/pgbackup.md
  docs/apps/postgres.md
Labels: docs

Remove `gluetun` variables for DNS
  compose/.apps/gluetun/gluetun.labels.yml
  compose/.apps/gluetun/gluetun.yml
Labels: apps

Remove `gluetun` variables for Healthcheck
  compose/.apps/gluetun/gluetun.labels.yml
  compose/.apps/gluetun/gluetun.yml
Labels: apps

Remove `gluetun` variables to change the three listen addresses
  compose/.apps/gluetun/gluetun.labels.yml
  compose/.apps/gluetun/gluetun.yml
Labels: apps

Deployed 3e0a8c70 with MkDocs version: 1.5.3
  apps/homepage/index.html
  apps/nextcloud/index.html
  apps/pgbackup/index.html
  apps/postgres/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Labels: repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]
