Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

Adjust notices when applying themes (#2038)
  .scripts/apply_theme.sh
  main.sh
Labels: core, repo

Deployed 4cdbba14 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Update references to branch `master` to `main` in `.github` folder
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/deploy-mkdocs.yml
Labels: ci, docs, repo

Update references to branch `master` to `main` in `.github` folder (#2040)
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/deploy-mkdocs.yml
Labels: ci, docs, repo

Update .scripts/appfolders_create.sh
  .scripts/appfolders_create.sh
Labels: core

Create pre-defined colors for `notice`, `warn`, etc
  main.sh
Labels: core, repo

Create pre-defined colors for `notice`, `warn`, etc (#2043)
  main.sh
Labels: core, repo

Replace the rest of the hard-coded CYAN colors with pre-defined variables
  .scripts/app_env_file.sh
  .scripts/app_instance_file.sh
  .scripts/app_instance_folder.sh
  .scripts/appfolders_create.sh
  .scripts/apply_theme.sh
  .scripts/appvars_create_all.sh
  .scripts/appvars_purge.sh
  .scripts/appvars_purge_all.sh
  .scripts/appvars_rename.sh
  .scripts/disable_app.sh
  .scripts/docker_compose.sh
  .scripts/docker_prune.sh
  .scripts/enable_app.sh
  .scripts/env_backup.sh
  .scripts/env_copy.sh
  .scripts/env_create.sh
  .scripts/env_delete.sh
  .scripts/env_get.sh
  .scripts/env_merge_newonly.sh
  .scripts/env_migrate.sh
  .scripts/env_rename.sh
  .scripts/env_sanitize.sh
  .scripts/env_set.sh
  .scripts/env_set_literal.sh
  .scripts/env_update.sh
  .scripts/menu_add_var.sh
  .scripts/menu_config_vars.sh
  .scripts/override_backup.sh
  .scripts/override_var_rename.sh
  .scripts/package_manager_run.sh
  .scripts/pm_yum_repos.sh
  .scripts/request_reboot.sh
  .scripts/set_permissions.sh
  .scripts/setup_docker_group.sh
  .scripts/symlink_ds.sh
  .scripts/update_self.sh
  .scripts/yml_merge.sh
  main.sh
Labels: core, repo

Replace the rest of the hard-coded CYAN colors with pre-defined variables (#2044)
  .scripts/app_env_file.sh
  .scripts/app_instance_file.sh
  .scripts/app_instance_folder.sh
  .scripts/appfolders_create.sh
  .scripts/apply_theme.sh
  .scripts/appvars_create_all.sh
  .scripts/appvars_purge.sh
  .scripts/appvars_purge_all.sh
  .scripts/appvars_rename.sh
  .scripts/disable_app.sh
  .scripts/docker_compose.sh
  .scripts/docker_prune.sh
  .scripts/enable_app.sh
  .scripts/env_backup.sh
  .scripts/env_copy.sh
  .scripts/env_create.sh
  .scripts/env_delete.sh
  .scripts/env_get.sh
  .scripts/env_merge_newonly.sh
  .scripts/env_migrate.sh
  .scripts/env_rename.sh
  .scripts/env_sanitize.sh
  .scripts/env_set.sh
  .scripts/env_set_literal.sh
  .scripts/env_update.sh
  .scripts/menu_add_var.sh
  .scripts/menu_config_vars.sh
  .scripts/override_backup.sh
  .scripts/override_var_rename.sh
  .scripts/package_manager_run.sh
  .scripts/pm_yum_repos.sh
  .scripts/request_reboot.sh
  .scripts/set_permissions.sh
  .scripts/setup_docker_group.sh
  .scripts/symlink_ds.sh
  .scripts/update_self.sh
  .scripts/yml_merge.sh
  main.sh
Labels: core, repo

Adjust file, folder and "running command" colors in notices
  main.sh
Labels: core, repo

Adjust file, folder and "running command" colors in notices (#2045)
  main.sh
Labels: core, repo

Change the update notice to a warning
  main.sh
Labels: core, repo

Change the update notice to a warning (#2046)
  main.sh
Labels: core, repo

Replace remaining hard-coded color codes in `main`.
  main.sh
Labels: core, repo

Replace remaining hard-coded color codes in `main`. (#2047)
  main.sh
Labels: core, repo

Change `UserCommand` notice color from Yellow to Bold Yellow
  main.sh
Labels: core, repo

Change `UserCommand` notice color from Yellow to Bold Yellow (#2048)
  main.sh
Labels: core, repo

Deployed 34c5f213 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Change `URL` notice color from Magenta to Underlined Magenta
  main.sh
Labels: core, repo

Change `URL` notice color from Magenta to Underlined Magenta (#2049)
  main.sh
Labels: core, repo

Add `Bold`, `Underline`, and `Bottom of Screen` ANSI codes to the ANSI codes to strip
  main.sh
Labels: core, repo

Add `Bold`, `Underline`, and `Bottom of Screen` ANSI codes to the ANSI codes to strip (#2051)
  main.sh
Labels: core, repo

Deployed 9dfeef64 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Re-arrange `main` routine
  main.sh
Labels: core, repo

Re-arrange `main` routine (#2052)
  main.sh
Labels: core, repo

Deployed 995af189 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Fix app_list` test
  .scripts/app_list.sh
Labels: core

Fix app_list` test (#2053)
  .scripts/app_list.sh
Labels: core

Apply theme before running tests so the DC variable is set up.
  main.sh
Labels: core, repo

Apply theme before running tests so the DC variable is set up. (#2054)
  main.sh
Labels: core, repo

Re-work the logging functions
  main.sh
Labels: core, repo

Re-work the logging functions (#2055)
  main.sh
Labels: core, repo

Rename `strip_log_colors` to `strip_ansi_colors`, and use it for arguments passed to `dialog` functions.
  main.sh
Labels: core, repo

Rename `strip_log_colors` to `strip_ansi_colors`, and use it for arguments passed to `dialog` functions. (#2056)
  main.sh
Labels: core, repo

Change `strip_ansi_colors` to use a herestring instead of printf
  main.sh
Labels: core, repo

Change `strip_ansi_colors` to use a herestring instead of printf (#2057)
  main.sh
Labels: core, repo

Add `strip_dialog_colors` function and use it in `question_prompt`
  .scripts/question_prompt.sh
  main.sh
Labels: core, repo

Add `strip_dialog_colors` function and use it in `question_prompt` (#2058)
  .scripts/question_prompt.sh
  main.sh
Labels: core, repo

Update `strip_ansi_colors` and `strip_dialog_colors`
  main.sh
Labels: core, repo

Revert "Update `strip_ansi_colors` and `strip_dialog_colors`"
  main.sh
Labels: core, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]
