Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

Abort `yml_merge` on missing template files (#2152)
  .scripts/app_instance_file.sh
  .scripts/yml_merge.sh
Labels: core

Add color to the Yes/No prompts
  .scripts/question_prompt.sh
  main.sh
Labels: core, repo

Add color to the Yes/No prompts (#2153)
  .scripts/question_prompt.sh
  main.sh
Labels: core, repo

Declare variables using `-l` and `-u` instead of using `,,` and `^^` to switch case
  .scripts/app_description.sh
  .scripts/app_env_file.sh
  .scripts/app_filter_runnable.sh
  .scripts/app_instance_file.sh
  .scripts/app_instance_folder.sh
  .scripts/app_is_added.sh
  .scripts/app_is_builtin.sh
  .scripts/app_is_deprecated.sh
  .scripts/app_is_disabled.sh
  .scripts/app_is_enabled.sh
  .scripts/app_is_nondeprecated.sh
  .scripts/app_is_runnable.sh
  .scripts/app_is_user_defined.sh
  .scripts/app_nicename_from_template.sh
  .scripts/app_template_file.sh
  .scripts/appfolders_create.sh
  .scripts/appname_is_valid.sh
  .scripts/appvars_create.sh
  .scripts/appvars_lines.sh
  .scripts/appvars_migrate.sh
  .scripts/disable_app.sh
  .scripts/enable_app.sh
  .scripts/env_list_app_env_defaults.sh
  .scripts/env_list_app_global_defaults.sh
  .scripts/yml_merge.sh
Labels: core

Declare variables using `-l` and `-u` instead of using `,,` and `^^` to switch case (#2154)
  .scripts/app_description.sh
  .scripts/app_env_file.sh
  .scripts/app_filter_runnable.sh
  .scripts/app_instance_file.sh
  .scripts/app_instance_folder.sh
  .scripts/app_is_added.sh
  .scripts/app_is_builtin.sh
  .scripts/app_is_deprecated.sh
  .scripts/app_is_disabled.sh
  .scripts/app_is_enabled.sh
  .scripts/app_is_nondeprecated.sh
  .scripts/app_is_runnable.sh
  .scripts/app_is_user_defined.sh
  .scripts/app_nicename_from_template.sh
  .scripts/app_template_file.sh
  .scripts/appfolders_create.sh
  .scripts/appname_is_valid.sh
  .scripts/appvars_create.sh
  .scripts/appvars_lines.sh
  .scripts/appvars_migrate.sh
  .scripts/disable_app.sh
  .scripts/enable_app.sh
  .scripts/env_list_app_env_defaults.sh
  .scripts/env_list_app_global_defaults.sh
  .scripts/yml_merge.sh
Labels: core

added .gitattributes
  .gitattributes
Labels: repo

Change from using `PROCESS_*` vars to `PROCESSED_*` vars to check if actions need to be done
  .scripts/appvars_create_all.sh
  .scripts/appvars_purge.sh
  .scripts/env_copy.sh
  .scripts/env_merge_newonly.sh
  .scripts/env_set.sh
  .scripts/env_set_literal.sh
  .scripts/env_update.sh
  .scripts/menu_config.sh
  .scripts/update_self.sh
  .scripts/yml_merge.sh
  main.sh
Labels: core, repo

Change from using `PROCESS_*` vars to `PROCESSED_*` vars to check if actions need to be done (#2156)
  .scripts/appvars_create_all.sh
  .scripts/appvars_purge.sh
  .scripts/env_copy.sh
  .scripts/env_merge_newonly.sh
  .scripts/env_set.sh
  .scripts/env_set_literal.sh
  .scripts/env_update.sh
  .scripts/menu_config.sh
  .scripts/update_self.sh
  .scripts/yml_merge.sh
  main.sh
Labels: core, repo

Deployed 456f4dd6 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Fix incorrect variable `PROCESSSED_APPVARS_CREATE_ALL` to `PROCESSED_APPVARS_CREATE_ALL`
  .scripts/appvars_create_all.sh
Labels: core

Fix incorrect variable `PROCESSSED_APPVARS_CREATE_ALL` to `PROCESSED_APPVARS_CREATE_ALL` (#2157)
  .scripts/appvars_create_all.sh
Labels: core

added .gitattributes (#2155)
  .gitattributes
Labels: repo

Fix a few missing changes to the `PROCESSED_*` variables
  .scripts/env_rename.sh
  .scripts/override_var_rename.sh
Labels: core

Fix a few missing changes to the `PROCESSED_*` variables (#2158)
  .scripts/env_rename.sh
  .scripts/override_var_rename.sh
Labels: core

Fix incorrect variable name `AppName` to `APPNAME` in `appname_is_valid`
  .scripts/appname_is_valid.sh
Labels: core

Fix incorrect variable name `AppName` to `APPNAME` in `appname_is_valid` (#2159)
  .scripts/appname_is_valid.sh
Labels: core

Strip dialog color codes from warning in `appvars_purge`
  .scripts/appvars_purge.sh
Labels: core

Strip dialog color codes from warning in `appvars_purge` (#2160)
  .scripts/appvars_purge.sh
Labels: core

Skip tasks that have already been done.
  .gitignore
  .scripts/appvars_create.sh
  .scripts/appvars_create_all.sh
  .scripts/appvars_list.sh
  .scripts/appvars_purge.sh
  .scripts/docker_compose.sh
  .scripts/env_copy.sh
  .scripts/env_delete.sh
  .scripts/env_merge_newonly.sh
  .scripts/env_rename.sh
  .scripts/env_set.sh
  .scripts/env_set_literal.sh
  .scripts/env_update.sh
  .scripts/menu_config.sh
  .scripts/needs_appvars_create.sh
  .scripts/needs_env_update.sh
  .scripts/needs_yml_merge.sh
  .scripts/override_var_rename.sh
  .scripts/reset_needs.sh
  .scripts/unset_needs_appvars_create.sh
  .scripts/unset_needs_env_update.sh
  .scripts/unset_needs_yml_merge.sh
  .scripts/update_self.sh
  .scripts/varfile_to_appname.sh
  .scripts/yml_merge.sh
  main.sh
Labels: core, repo

Skip tasks that have already been done. (#2162)
  .gitignore
  .scripts/appvars_create.sh
  .scripts/appvars_create_all.sh
  .scripts/appvars_list.sh
  .scripts/appvars_purge.sh
  .scripts/docker_compose.sh
  .scripts/env_copy.sh
  .scripts/env_delete.sh
  .scripts/env_merge_newonly.sh
  .scripts/env_rename.sh
  .scripts/env_set.sh
  .scripts/env_set_literal.sh
  .scripts/env_update.sh
  .scripts/menu_config.sh
  .scripts/needs_appvars_create.sh
  .scripts/needs_env_update.sh
  .scripts/needs_yml_merge.sh
  .scripts/override_var_rename.sh
  .scripts/reset_needs.sh
  .scripts/unset_needs_appvars_create.sh
  .scripts/unset_needs_env_update.sh
  .scripts/unset_needs_yml_merge.sh
  .scripts/update_self.sh
  .scripts/varfile_to_appname.sh
  .scripts/yml_merge.sh
  main.sh
Labels: core, repo

Deployed 63ccd518 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Redirect output of `kill` and `rm` to /dev/null in `menu_app_select`
  .scripts/menu_app_select.sh
Labels: core

Redirect output of `kill` and `rm` to /dev/null in `menu_app_select` (#2163)
  .scripts/menu_app_select.sh
Labels: core

Deployed 210ae35e with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Change the dialog options file from a temp file to a static file in the scripts folder
  .scripts/apply_theme.sh
  main.sh
Labels: core, repo

Change the dialog options file from a temp file to a static file in the scripts folder (#2164)
  .scripts/apply_theme.sh
  main.sh
Labels: core, repo

Rewrite `env_merge_newonly` using the `comm` command
  .scripts/env_get_line_regex.sh
  .scripts/env_merge_newonly.sh
Labels: core

Rewrite `env_merge_newonly` using the `comm` command (#2165)
  .scripts/env_get_line_regex.sh
  .scripts/env_merge_newonly.sh
Labels: core

Fix `huntarr` config folder location
  compose/.apps/huntarr/huntarr.yml
Labels: apps

Fix `huntarr` config folder location (#2167)
  compose/.apps/huntarr/huntarr.yml
Labels: apps

Add `envsubst` as a dependency
  .scripts/package_manager_run.sh
  .scripts/pm_apk_install.sh
  .scripts/pm_apt_install.sh
  .scripts/pm_dnf_install.sh
  .scripts/pm_pacman_install.sh
  .scripts/pm_yum_install.sh
Labels: core

Add `column` as a dependency
  .scripts/package_manager_run.sh
  .scripts/pm_apk_install.sh
  .scripts/pm_apt_install.sh
  .scripts/pm_dnf_install.sh
  .scripts/pm_pacman_install.sh
  .scripts/pm_yum_install.sh
Labels: core

Add `envsubst` and `column` as dependencies (#2170)
  .scripts/package_manager_run.sh
  .scripts/pm_apk_install.sh
  .scripts/pm_apt_install.sh
  .scripts/pm_dnf_install.sh
  .scripts/pm_pacman_install.sh
  .scripts/pm_yum_install.sh
Labels: core

Deployed 3bc71876 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Change all dialog color references to `${DC["ColorName"]-}`, adding quotes and the `-`
  .scripts/appvars_purge.sh
  .scripts/docker_compose.sh
  .scripts/docker_prune.sh
  .scripts/menu_add_app.sh
  .scripts/menu_add_var.sh
  .scripts/menu_app_select.sh
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_dialog_example.sh
  .scripts/menu_display_options.sh
  .scripts/menu_display_options_general.sh
  .scripts/menu_display_options_theme.sh
  .scripts/menu_heading.sh
  .scripts/menu_main.sh
  .scripts/menu_value_prompt.sh
  .scripts/question_prompt.sh
  .scripts/run_install.sh
  .scripts/update_self.sh
Labels: core

Update .scripts/menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Change all dialog color references to `${DC["ColorName"]-}`, adding q… (#2171)
  .scripts/appvars_purge.sh
  .scripts/docker_compose.sh
  .scripts/docker_prune.sh
  .scripts/menu_add_app.sh
  .scripts/menu_add_var.sh
  .scripts/menu_app_select.sh
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_dialog_example.sh
  .scripts/menu_display_options.sh
  .scripts/menu_display_options_general.sh
  .scripts/menu_display_options_theme.sh
  .scripts/menu_heading.sh
  .scripts/menu_main.sh
  .scripts/menu_value_prompt.sh
  .scripts/question_prompt.sh
  .scripts/run_install.sh
  .scripts/update_self.sh
Labels: core

Fix dialog color references in `main.sh`
  main.sh
Labels: core, repo

Fix dialog color references in `main.sh` (#2172)
  main.sh
Labels: core, repo

Only apply the theme if using the GUI
  main.sh
Labels: core, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]
