Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

Update gluetun.env
  compose/.apps/gluetun/gluetun.env
Labels: apps

Update env_format_lines.sh
  .scripts/env_format_lines.sh
Labels: core

Update env_format_lines.sh
  .scripts/env_format_lines.sh
Labels: core

Update env_format_lines.sh
  .scripts/env_format_lines.sh
Labels: core

Move global variable migration into it's own script, done before `env_update`
  .scripts/appvars_create_all.sh
  .scripts/env_migrate_global.sh
  .scripts/env_sanitize.sh
  .scripts/menu_config.sh
  .scripts/yml_merge.sh
  main.sh
Labels: core, repo

Update env_migrate.sh
  .scripts/env_migrate.sh
Labels: core

Update override_var_rename.sh
  .scripts/override_var_rename.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

Add `gluetun` healthcheck variables
  compose/.apps/gluetun/gluetun.env
  compose/.apps/gluetun/gluetun.migrate
Labels: apps

`gluetun` `PUBLICIP_PERIOD` has been replaced by `PUBLICIP_ENABLED`
  compose/.apps/gluetun/gluetun.env
  compose/.apps/gluetun/gluetun.migrate
Labels: apps

`gluetun`: Add missing "Other" variables
  compose/.apps/gluetun/gluetun.env
  compose/.apps/gluetun/gluetun.migrate
Labels: apps

`gluetun`: Add `VPN_PORT_FORWARDING_LISTENING_PORT`
  compose/.apps/gluetun/gluetun.migrate
Labels: apps

`gluetun`: Add `SHADOWSOCKS_LISTENING_ADDRESS`
  compose/.apps/gluetun/gluetun.env
  compose/.apps/gluetun/gluetun.migrate
Labels: apps

`gluetun`: Add `STORAGE_FILEPATH`
  compose/.apps/gluetun/gluetun.env
  compose/.apps/gluetun/gluetun.migrate
Labels: apps

`gluetun`: Fix `UPDATER_PERIOD` default value
  compose/.apps/gluetun/gluetun.env
Labels: apps

`gluetun`: Add missing `OPENVPN` variables
  compose/.apps/gluetun/gluetun.env
  compose/.apps/gluetun/gluetun.migrate
Labels: apps

`gluetun`: Add missing VPN provider option variables
  compose/.apps/gluetun/gluetun.env
  compose/.apps/gluetun/gluetun.migrate
Labels: apps

Update gluetun.env
  compose/.apps/gluetun/gluetun.env
Labels: apps

`gluetun`: Add "Advanced Options" variables
  compose/.apps/gluetun/gluetun.env
  compose/.apps/gluetun/gluetun.migrate
Labels: apps

`gluetun`: Add missing `WIREGUARD` variables
  compose/.apps/gluetun/gluetun.env
  compose/.apps/gluetun/gluetun.migrate
Labels: apps

`gluetun`: Add `DNS` variables
  compose/.apps/gluetun/gluetun.env
  compose/.apps/gluetun/gluetun.migrate
Labels: apps

`gluetun`: `PUBLICIP_PERIOD` has been replaced with `PUBLICIP_ENABLED`
  compose/.apps/gluetun/gluetun.labels.yml
  compose/.apps/gluetun/gluetun.yml
Labels: apps

Update app_is_added.sh
  .scripts/app_is_added.sh
Labels: core

Update app_is_added.sh
  .scripts/app_is_added.sh
Labels: core

Deployed c62c8a81 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Port over @Two-Del 's changes for PiHole v6
  compose/.apps/pihole/.env
  compose/.apps/pihole/pihole.env
  compose/.apps/pihole/pihole.migrate
  compose/.apps/pihole/pihole.ports.yml
  compose/.apps/pihole/pihole.yml
Labels: apps

Update env_migrate_global.sh
  .scripts/env_migrate_global.sh
Labels: core

Fix `delugevpn`
  compose/.apps/delugevpn/.env
  compose/.apps/delugevpn/delugevpn.migrate
Labels: apps

Deployed 68afd454 with MkDocs version: 1.6.1
  requirements.txt
Labels: repo

Update env_create.sh
  .scripts/env_create.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Update env_create.sh
  .scripts/env_create.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Update main.sh
  main.sh
Labels: core, repo

Update env_backup.sh
  .scripts/env_backup.sh
Labels: core

Update env_migrate_global.sh
  .scripts/env_migrate_global.sh
Labels: core

Delete .gitignore
  compose/env_files/.gitignore
Labels: apps

Update appvars_create.sh
  .scripts/appvars_create.sh
Labels: core

Update env_backup.sh
  .scripts/env_backup.sh
Labels: core

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]
