Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]

Update env_rename.sh
  .scripts/env_rename.sh
Labels: core

Ensure all upper case variable names
  .scripts/appvars_create.sh
  .scripts/appvars_rename.sh
  .scripts/env_get.sh
  .scripts/env_rename.sh
  .scripts/env_set.sh
  .scripts/env_update.sh
Labels: core

Update env_update.sh
  .scripts/env_update.sh
Labels: core

Update env_update.sh
  .scripts/env_update.sh
Labels: core

fix: :package: un-deprecate vpn containers
  compose/.apps/delugevpn/delugevpn.aarch64.yml
  compose/.apps/delugevpn/delugevpn.labels.yml
  compose/.apps/delugevpn/delugevpn.ports.yml
  compose/.apps/delugevpn/delugevpn.yml
  compose/.apps/nzbget/nzbget.aarch64.yml
  compose/.apps/nzbget/nzbget.labels.yml
  compose/.apps/nzbget/nzbget.x86_64.yml
  compose/.apps/nzbgetvpn/nzbgetvpn.labels.yml
  compose/.apps/nzbgetvpn/nzbgetvpn.yml
  compose/.apps/qbittorrentvpn/qbittorrentvpn.aarch64.yml
  compose/.apps/qbittorrentvpn/qbittorrentvpn.labels.yml
  compose/.apps/qbittorrentvpn/qbittorrentvpn.ports.yml
  compose/.apps/qbittorrentvpn/qbittorrentvpn.yml
  compose/.apps/rtorrentvpn/rtorrentvpn.labels.yml
  compose/.apps/sabnzbdvpn/sabnzbdvpn.labels.yml
  compose/.apps/sabnzbdvpn/sabnzbdvpn.yml
  compose/.apps/transmissionvpn/transmissionvpn.labels.yml
  compose/.apps/transmissionvpn/transmissionvpn.ports.yml
  compose/.apps/transmissionvpn/transmissionvpn.yml
  docs/apps/delugevpn.md
  docs/apps/nzbget.md
  docs/apps/nzbgetvpn.md
  docs/apps/sabnzbdvpn.md
  docs/apps/transmissionvpn.md
Labels: apps, docs

fix: :package: un-deprecate vpn containers (mkdocs)
  mkdocs.yml
Labels: docs, repo

Deployed d9d41eba with MkDocs version: 1.5.3
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Deployed ba439ec7 with MkDocs version: 1.6.0
  requirements.txt
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Deployed a8184e6e with MkDocs version: 1.6.0
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Deployed 9ba4e864 with MkDocs version: 1.6.0
  requirements.txt
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Update env_update.sh & .env.example
  .scripts/env_update.sh
  compose/.env.example
Labels: apps, core

Update env_update.sh
  .scripts/env_update.sh
Labels: core

Allow lower case variables in `.env`
  .scripts/appvars_create.sh
  .scripts/env_get.sh
  .scripts/env_rename.sh
  .scripts/env_set.sh
  .scripts/env_update.sh
Labels: core

Fix linting
  .scripts/env_set.sh
Labels: core

Allow lower case vars in `env_rename`
  .scripts/env_rename.sh
Labels: core

Force upper case variables from the CLI
  main.sh
Labels: core, repo

Make `appvars_rename` case sensitive
  .scripts/appvars_rename.sh
Labels: core

chore: switch back to lsio nzbget
  compose/.apps/nzbget/nzbget.aarch64.yml
  compose/.apps/nzbget/nzbget.x86_64.yml
  docs/apps/nzbget.md
Labels: apps, docs

Add `--env-get-lower` and `--env-set-lower` to CLI commands
  main.sh
Labels: core, repo

Change help text slightly for `--env-get-lower` and `--env-set-lower`
  main.sh
Labels: core, repo

Deployed eff487fb with MkDocs version: 1.6.0
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Fix prometheus app data and config volumes
  compose/.apps/prometheus/prometheus.yml
Labels: apps

Deployed 9cceefeb with MkDocs version: 1.6.0
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Deployed 4ec87fae with MkDocs version: 1.6.0
  requirements.txt
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Update main.sh
  main.sh
Labels: core, repo

Update main.sh
  main.sh
Labels: core, repo

Update appvars_create.sh
  .scripts/appvars_create.sh
Labels: core

Fix prometheus app data and config volumes
  compose/.apps/prometheus/prometheus.yml
Labels: apps

fix: `ds` getting false positives for special variables
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

fix: Remove depreciated VPN variables settings option from config
  .scripts/menu_config.sh
Labels: core

Deployed b14555a6 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Deployed 4da8a766 with MkDocs version: 1.6.1
  requirements.txt
  sitemap.xml
  sitemap.xml.gz
Labels: repo

fix: `komga` using wrong port
  compose/.apps/komga/komga.ports.yml
Labels: apps

fix: `komga` using wrong port
  compose/.apps/komga/komga.labels.yml
Labels: apps

Deployed e194086d with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Deployed 5737b6bc with MkDocs version: 1.6.1
  requirements.txt
  sitemap.xml
  sitemap.xml.gz
Labels: repo

fix: :mute: remove reqs to fix version warning
  .scripts/yml_merge.sh
  compose/.reqs/r1.yml
  compose/.reqs/r2.yml
  compose/README.md
Labels: apps, core, docs

fix: :bug: strip leading : from COMPOSE_FILE var
  .scripts/yml_merge.sh
Labels: core

Deployed 6bc8ae41 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo
