Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]

Update documentation to reference the new folder locations
  docs/advanced/uninstall.md
  docs/apps/homeassistant.md
  docs/apps/plex.md
  docs/apps/swag.md
  docs/basics/command-line-usage.md
  docs/basics/faq.md
  docs/overrides/introduction.md
Labels: docs

Update picking Legacy/Compose folder locations
  .includes/misc_functions.sh
  .scripts/apply_config.sh
  .scripts/config_create.sh
  .scripts/env_sanitize.sh
  .scripts/env_var_exists.sh
Labels: core

Update global_variables.sh
  .includes/global_variables.sh
Labels: core

Update maintainerr image reference in YAML file to official org namespace
  compose/.apps/maintainerr/maintainerr.aarch64.yml
Labels: apps

Update maintainerr image reference in YAML file to official org namespace
  compose/.apps/maintainerr/maintainerr.x86_64.yml
Labels: apps

Update GitHub links in maintainerr documentation
  docs/apps/maintainerr.md
Labels: docs

Update maintainerr image tag syntax
  compose/.apps/maintainerr/maintainerr.x86_64.yml
Labels: apps

Fix image tag variable expansion in YAML
  compose/.apps/maintainerr/maintainerr.aarch64.yml
Labels: apps

Process referenced variables in the config variables
  .defaults/dockstarter.ini
  .env.example
  .gitignore
  .includes/dialog_functions.sh
  .includes/global_variables.sh
  .includes/misc_functions.sh
  .scripts/appfolders_create.sh
  .scripts/apply_config.sh
  .scripts/config_create.sh
  .scripts/config_get.sh
  .scripts/docker_compose.sh
  .scripts/env_backup.sh
  .scripts/env_get_and_expand.sh
  .scripts/env_sanitize.sh
  .scripts/expand_vars_using_varfile.sh
  .scripts/set_permissions.sh
  .scripts/var_default_value.sh
  compose/.env.example
  compose/README.md
  main.sh
Labels: apps, core, docs, repo

Update update_self.sh
  .scripts/update_self.sh
Labels: core

Update picking Legacy/Compose folder locations
  .includes/global_variables.sh
  .includes/misc_functions.sh
  .scripts/apply_config.sh
  .scripts/config_create.sh
  .scripts/env_sanitize.sh
  .scripts/env_var_exists.sh
Labels: core

Update documentation to reference the new folder locations
  docs/advanced/uninstall.md
  docs/apps/homeassistant.md
  docs/apps/plex.md
  docs/apps/swag.md
  docs/basics/command-line-usage.md
  docs/basics/faq.md
  docs/overrides/introduction.md
Labels: docs

Add display of the current configuration
  .includes/cmdline.sh
  .includes/misc_functions.sh
  .includes/usage.sh
  .scripts/config_create.sh
  .scripts/config_show.sh
  .scripts/package_manager_existing_table.sh
  .scripts/package_manager_table.sh
  .scripts/theme_table.sh
  main.sh
Labels: core, repo

Update config_create.sh
  .scripts/config_create.sh
Labels: core

Update config_show.sh
  .scripts/config_show.sh
Labels: core

Fix placeholder syntax in maintainerr YAML file
  compose/.apps/maintainerr/maintainerr.aarch64.yml
Labels: apps

Fix image tag variable syntax in YAML
  compose/.apps/maintainerr/maintainerr.x86_64.yml
Labels: apps

Fix syntax in maintainerr.aarch64.yml
  compose/.apps/maintainerr/maintainerr.aarch64.yml
Labels: apps

Fix syntax in maintainerr.yml for image tag
  compose/.apps/maintainerr/maintainerr.x86_64.yml
Labels: apps

Update Maintainerr image to official org namespace (#2351)
  .apps/maintainerr/maintainerr.aarch64.yml
  .apps/maintainerr/maintainerr.x86_64.yml
  docs/apps/maintainerr.md
Labels: docs

Deployed cfc94621 with MkDocs version: 1.6.1
  apps/maintainerr/index.html
Labels: none

chore: add template sync workflow
  .github/sync.yml
  .github/workflows/sync_templates.yml
Labels: ci, repo

Move `.env.example` to the `.defaults` folder
  .defaults/.env.example
  .includes/global_variables.sh
Labels: core

Move `.env.example` to the `.defaults` folder (#2355)
  .defaults/.env.example
  .includes/global_variables.sh
Labels: core

Include all apps on the docs page, even if deprecated
  .github/workflows/validate.yml
  docs/apps/airdcpp.md
  docs/apps/airsonic.md
  docs/apps/bitwarden.md
  docs/apps/couchpotato.md
  docs/apps/logitechmediaserver.md
  docs/apps/openvpnas.md
  docs/apps/ouroboros.md
  docs/apps/rtorrentvpn.md
  docs/apps/rutorrent.md
  docs/apps/samba.md
  docs/requirements.txt
  mkdocs.yml
Labels: ci, docs, repo

Include all apps on the docs page, even if deprecated (#2356)
  .github/workflows/validate.yml
  docs/apps/airdcpp.md
  docs/apps/airsonic.md
  docs/apps/bitwarden.md
  docs/apps/couchpotato.md
  docs/apps/logitechmediaserver.md
  docs/apps/openvpnas.md
  docs/apps/ouroboros.md
  docs/apps/rtorrentvpn.md
  docs/apps/rutorrent.md
  docs/apps/samba.md
  docs/requirements.txt
  mkdocs.yml
Labels: ci, docs, repo

Add a tooltip to deprecated apps in the documentation
  mkdocs.yml
Labels: docs, repo

Add a tooltip to deprecated apps in the documentation (#2357)
  mkdocs.yml
Labels: docs, repo

Update the wording of the "deprecated" tooltip.
  mkdocs.yml
Labels: docs, repo

Update the wording of the "deprecated" tooltip. (#2358)
  mkdocs.yml
Labels: docs, repo

Rewrite `indent_text` in pure bash
  main.sh
Labels: core, repo

Rewrite `indent_text` in pure bash (#2359)
  main.sh
Labels: core, repo

Fix the --theme-*` command line options
  .includes/cmdline.sh
Labels: core

Fix the --theme-*` command line options (#2360)
  .includes/cmdline.sh
Labels: core

Add `Homarr`
  .apps/homarr/.env
  .apps/homarr/.env.app.homarr
  .apps/homarr/homarr.aarch64.yml
  .apps/homarr/homarr.folders
  .apps/homarr/homarr.hostname.yml
  .apps/homarr/homarr.labels.yml
  .apps/homarr/homarr.migrate
  .apps/homarr/homarr.netmode.yml
  .apps/homarr/homarr.ports.yml
  .apps/homarr/homarr.storage.yml
  .apps/homarr/homarr.storage2.yml
  .apps/homarr/homarr.storage3.yml
  .apps/homarr/homarr.storage4.yml
  .apps/homarr/homarr.x86_64.yml
  .apps/homarr/homarr.yml
  docs/apps/homarr.md
Labels: docs

Add `Homarr` (#2361)
  .apps/homarr/.env
  .apps/homarr/.env.app.homarr
  .apps/homarr/homarr.aarch64.yml
  .apps/homarr/homarr.folders
  .apps/homarr/homarr.hostname.yml
  .apps/homarr/homarr.labels.yml
  .apps/homarr/homarr.migrate
  .apps/homarr/homarr.netmode.yml
  .apps/homarr/homarr.ports.yml
  .apps/homarr/homarr.storage.yml
  .apps/homarr/homarr.storage2.yml
  .apps/homarr/homarr.storage3.yml
  .apps/homarr/homarr.storage4.yml
  .apps/homarr/homarr.x86_64.yml
  .apps/homarr/homarr.yml
  docs/apps/homarr.md
Labels: docs

Sync changes to `.apps` and `docs/apps` `DockSTARTer-Templates`
  .github/workflows/sync-app-templates.yml
Labels: ci, repo

Potential fix for code scanning alert no. 64: Workflow does not contain permissions
  .github/workflows/sync-app-templates.yml
Labels: ci, repo

Update .github/workflows/sync-app-templates.yml
  .github/workflows/sync-app-templates.yml
Labels: ci, repo

Sync changes to `.apps` and `docs/apps` `DockSTARTer-Templates` (#2362)
  .github/workflows/sync-app-templates.yml
Labels: ci, repo
