Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]

Update app_nicename.sh
  .scripts/app_nicename.sh
Labels: core

Revert "Update app_nicename.sh"
  .scripts/app_nicename.sh
Labels: core

Update app_nicename.sh
  .scripts/app_nicename.sh
Labels: core

Update app_nicename_from_template.sh
  .scripts/app_nicename_from_template.sh
Labels: core

Update app_nicename.sh
  .scripts/app_nicename.sh
Labels: core

Update app_nicename_from_template.sh
  .scripts/app_nicename_from_template.sh
Labels: core

Squashed commit of the following:
  .scripts/app_description.sh
  .scripts/app_nicename.sh
  .scripts/app_nicename_from_template.sh
  .scripts/menu_add_var.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_heading.sh
Labels: core

Update env_update.sh
  .scripts/env_update.sh
Labels: core

Take care of some possible unbound variables in arrays are empty
  .scripts/app_list.sh
  .scripts/app_list_added.sh
  .scripts/app_list_disabled.sh
  .scripts/app_list_enabled.sh
  .scripts/app_list_referenced.sh
  .scripts/appfolders_create.sh
  .scripts/appvars_migrate.sh
  .scripts/appvars_migrate_enabled_lines.sh
  .scripts/appvars_purge.sh
  .scripts/env_format_lines.sh
  .scripts/menu_add_var.sh
  .scripts/menu_value_prompt.sh
Labels: core

Revert "Take care of some possible unbound variables in arrays are empty"
  .scripts/app_list.sh
  .scripts/app_list_added.sh
  .scripts/app_list_disabled.sh
  .scripts/app_list_enabled.sh
  .scripts/app_list_referenced.sh
  .scripts/appfolders_create.sh
  .scripts/appvars_migrate.sh
  .scripts/appvars_migrate_enabled_lines.sh
  .scripts/appvars_purge.sh
  .scripts/env_format_lines.sh
  .scripts/menu_add_var.sh
  .scripts/menu_value_prompt.sh
Labels: core

Revert "Merge branch 'gui-work' into app-env-files"
  .scripts/update_self.sh
Labels: core

Quote process substitutions
  .scripts/app_is_depreciated.sh
  .scripts/app_is_nondepreciated.sh
  .scripts/app_nicename.sh
  .scripts/app_nicename_from_template.sh
  .scripts/app_status.sh
  .scripts/appfolders_create.sh
  .scripts/appvars_create.sh
  .scripts/appvars_create_all.sh
  .scripts/appvars_purge.sh
  .scripts/appvars_purge_all.sh
  .scripts/detect_lan_network.sh
  .scripts/disable_app.sh
  .scripts/docker_compose.sh
  .scripts/enable_app.sh
  .scripts/env_backup.sh
  .scripts/env_copy.sh
  .scripts/env_format_lines.sh
  .scripts/env_rename.sh
  .scripts/env_set.sh
  .scripts/env_update.sh
  .scripts/menu_add_var.sh
  .scripts/yml_merge.sh
Labels: core

Deployed 2ae62dac with MkDocs version: 1.6.1
  requirements.txt
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Update env_update.sh (#1881)
  .scripts/env_update.sh
Labels: core

Fix: tsdproxy - missing `env_files:`
  compose/.apps/tsdproxy/tsdproxy.yml
Labels: apps

Fix: maintainerr - missing `env_files:`
  compose/.apps/maintainerr/maintainerr.yml
Labels: apps

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_heading.sh
  .scripts/menu_heading.sh
Labels: core

Update menu_add_var.sh
  .scripts/menu_add_var.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_add_var.sh
  .scripts/menu_add_var.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_heading.sh
  .scripts/menu_heading.sh
Labels: core

Update menu_add_var.sh
  .scripts/menu_add_var.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Squashed commit of the following:
  .scripts/app_is_depreciated.sh
  .scripts/app_is_nondepreciated.sh
  .scripts/app_nicename.sh
  .scripts/app_nicename_from_template.sh
  .scripts/app_status.sh
  .scripts/appfolders_create.sh
  .scripts/appvars_create.sh
  .scripts/appvars_create_all.sh
  .scripts/appvars_purge.sh
  .scripts/appvars_purge_all.sh
  .scripts/detect_lan_network.sh
  .scripts/disable_app.sh
  .scripts/docker_compose.sh
  .scripts/enable_app.sh
  .scripts/env_backup.sh
  .scripts/env_copy.sh
  .scripts/env_format_lines.sh
  .scripts/env_rename.sh
  .scripts/env_set.sh
  .scripts/env_update.sh
  .scripts/menu_add_var.sh
  .scripts/menu_heading.sh
  .scripts/menu_value_prompt.sh
  .scripts/yml_merge.sh
Labels: core

Update update_self.sh
  .scripts/update_self.sh
Labels: core

Update update_self.sh
  .scripts/update_self.sh
Labels: core

Update update_self.sh
  .scripts/update_self.sh
Labels: core

Squashed commit of the following:
  docs/requirements.txt
Labels: docs

Update update_self.sh
  .scripts/update_self.sh
Labels: core

Revert "Update update_self.sh"
  .scripts/update_self.sh
Labels: core

Update update_self.sh
  .scripts/update_self.sh
Labels: core

Update update_self.sh
  .scripts/update_self.sh
Labels: core

Revert "Update update_self.sh"
  .scripts/update_self.sh
Labels: core

Reapply "Update update_self.sh"
  .scripts/update_self.sh
Labels: core

Reapply "Update update_self.sh"
  .scripts/update_self.sh
Labels: core

Update env_create.sh
  .scripts/env_create.sh
Labels: core

Update menu_config_vars.sh
  .scripts/menu_config_vars.sh
Labels: core
