Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

Adjust dialog box sizes
  .scripts/menu_config_apps.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

Update menu_config.sh
  .scripts/menu_config.sh
Labels: core

Show the equiv command-line commands the menu is doing.
  .scripts/menu_config.sh
  main.sh
Labels: core, repo

Update menu_config.sh
  .scripts/menu_config.sh
Labels: core

Update menu_config.sh
  .scripts/menu_config.sh
Labels: core

Update .dialogrc
  .dialogrc
Labels: repo

Update .dialogrc
  .dialogrc
Labels: repo

Update screenshots
  docs/assets/command_help.png
  docs/assets/menu_app_select.png
  docs/assets/menu_config_vars.png
  docs/assets/menu_main.png
  docs/assets/menu_value_prompt.png
Labels: docs

Fix typo
  README.md
  docs/README.md
Labels: docs, repo

Set up "regular", error and warning title colors to use.
  .scripts/appvars_purge.sh
  .scripts/menu_add_var.sh
  .scripts/menu_app_select.sh
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_main.sh
  .scripts/menu_value_prompt.sh
  .scripts/question_prompt.sh
  main.sh
Labels: core, repo

Update main.sh
  main.sh
Labels: core, repo

Fix typo in `${Title}`
  .scripts/appvars_purge.sh
  .scripts/menu_add_var.sh
  .scripts/menu_app_select.sh
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_main.sh
  .scripts/menu_value_prompt.sh
  .scripts/question_prompt.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Colorize some dialog titles
  .scripts/menu_add_var.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_value_prompt.sh
  main.sh
Labels: core, repo

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Change background color
  .dialogrc
  docs/assets/menu_app_select.png
  docs/assets/menu_config_vars.png
  docs/assets/menu_main.png
  docs/assets/menu_value_prompt.png
  main.sh
Labels: core, docs, repo

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_add_var.sh
  .scripts/menu_add_var.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Remove `--colors` from all `dialog` commands. It is now on by default.
  .scripts/menu_add_var.sh
  .scripts/menu_app_select.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_value_prompt.sh
  .scripts/question_prompt.sh
Labels: core

Use `TitleSuccess` `TitleWarning` and `TitleError` in more places
  .scripts/menu_app_select.sh
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_main.sh
  .scripts/menu_value_prompt.sh
Labels: core

Use `TitleWarning` for some questions.
  .scripts/appvars_purge_all.sh
  .scripts/docker_prune.sh
  .scripts/update_self.sh
Labels: core

Update appvars_purge.sh
  .scripts/appvars_purge.sh
Labels: core

Update question_prompt.sh
  .scripts/question_prompt.sh
Labels: core

Update appvars_purge.sh
  .scripts/appvars_purge.sh
Labels: core

Update appvars_purge.sh
  .scripts/appvars_purge.sh
Labels: core

Move creating the dialog options to inside the loops so the dialog box gets resized if needed.
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_main.sh
  .scripts/question_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update .dialogrc
  .dialogrc
Labels: repo

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_config_apps.sh
  .scripts/menu_config_apps.sh
Labels: core

Update menu_config_vars.sh
  .scripts/menu_config_vars.sh
Labels: core

Update menu_config_vars.sh
  .scripts/menu_config_vars.sh
Labels: core

Revert "Update menu_config_vars.sh"
  .scripts/menu_config_vars.sh
Labels: core

Revert "Update menu_config_vars.sh"
  .scripts/menu_config_vars.sh
Labels: core

Update menu_config_apps.sh
  .scripts/menu_config_apps.sh
Labels: core

Simplify dialog box sizing
  .scripts/menu_add_var.sh
  .scripts/menu_app_select.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_value_prompt.sh
  .scripts/question_prompt.sh
  main.sh
Labels: core, repo

Update menu_config_vars.sh
  .scripts/menu_config_vars.sh
Labels: core

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]
