Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]

Update gluetun variables to new names
  compose/.apps/gluetun/.env.app.gluetun
  compose/.apps/gluetun/gluetun.migrate
Labels: apps

Update gluetun variables to new names (#2336)
  compose/.apps/gluetun/.env.app.gluetun
  compose/.apps/gluetun/gluetun.migrate
Labels: apps

Deployed 8507ba81 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Update gluetun variable names
  compose/.apps/gluetun/.env.app.gluetun
Labels: apps

Update gluetun variable names (#2337)
  compose/.apps/gluetun/.env.app.gluetun
Labels: apps

Update gluetun variable names
  compose/.apps/gluetun/.env.app.gluetun
  compose/.apps/gluetun/gluetun.migrate
Labels: apps

Update gluetun variable names (#2338)
  compose/.apps/gluetun/.env.app.gluetun
  compose/.apps/gluetun/gluetun.migrate
Labels: apps

Update gluetun variable names
  compose/.apps/gluetun/.env.app.gluetun
Labels: apps

Update gluetun variable names (#2339)
  compose/.apps/gluetun/.env.app.gluetun
Labels: apps

Update gluetun variables
  compose/.apps/gluetun/.env.app.gluetun
  compose/.apps/gluetun/gluetun.migrate
Labels: apps

Update gluetun variables (#2340)
  compose/.apps/gluetun/.env.app.gluetun
  compose/.apps/gluetun/gluetun.migrate
Labels: apps

Update enable_docker_service.sh
  .scripts/enable_docker_service.sh
Labels: core

Update enable_docker_service.sh (#2342)
  .scripts/enable_docker_service.sh
Labels: core

Deployed 978aac0e with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Update some notices
  .scripts/env_get_line.sh
  .scripts/env_get_line_regex.sh
  .scripts/env_get_literal.sh
  .scripts/env_var_exists.sh
  .scripts/yml_merge.sh
Labels: core

Update some notices (#2343)
  .scripts/env_get_line.sh
  .scripts/env_get_line_regex.sh
  .scripts/env_get_literal.sh
  .scripts/env_var_exists.sh
  .scripts/yml_merge.sh
Labels: core

Deployed 625bebf4 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Update some notices
  .scripts/env_create.sh
  .scripts/env_get_line.sh
  .scripts/env_get_line_regex.sh
  .scripts/env_get_literal.sh
  .scripts/env_set.sh
  .scripts/env_set_literal.sh
  .scripts/env_update.sh
  .scripts/env_var_exists.sh
  .scripts/menu_value_prompt.sh
  .scripts/update_self.sh
  .scripts/varname_is_valid.sh
  .scripts/yml_merge.sh
Labels: core

Update some notices (#2344)
  .scripts/env_create.sh
  .scripts/env_get_line.sh
  .scripts/env_get_line_regex.sh
  .scripts/env_get_literal.sh
  .scripts/env_set.sh
  .scripts/env_set_literal.sh
  .scripts/env_update.sh
  .scripts/env_var_exists.sh
  .scripts/menu_value_prompt.sh
  .scripts/update_self.sh
  .scripts/varname_is_valid.sh
  .scripts/yml_merge.sh
Labels: core

Add `fileflows`
  compose/.apps/fileflows/.env
  compose/.apps/fileflows/.env.app.fileflows
  compose/.apps/fileflows/fileflows.aarch64.yml
  compose/.apps/fileflows/fileflows.devices.yml
  compose/.apps/fileflows/fileflows.folders
  compose/.apps/fileflows/fileflows.hostname.yml
  compose/.apps/fileflows/fileflows.labels.yml
  compose/.apps/fileflows/fileflows.migrate
  compose/.apps/fileflows/fileflows.netmode.yml
  compose/.apps/fileflows/fileflows.ports.yml
  compose/.apps/fileflows/fileflows.storage.yml
  compose/.apps/fileflows/fileflows.storage2.yml
  compose/.apps/fileflows/fileflows.storage3.yml
  compose/.apps/fileflows/fileflows.storage4.yml
  compose/.apps/fileflows/fileflows.x86_64.yml
  compose/.apps/fileflows/fileflows.yml
  docs/apps/fileflows.md
  mkdocs.yml
Labels: apps, docs, repo

Add `fileflows` (#2346)
  compose/.apps/fileflows/.env
  compose/.apps/fileflows/.env.app.fileflows
  compose/.apps/fileflows/fileflows.aarch64.yml
  compose/.apps/fileflows/fileflows.devices.yml
  compose/.apps/fileflows/fileflows.folders
  compose/.apps/fileflows/fileflows.hostname.yml
  compose/.apps/fileflows/fileflows.labels.yml
  compose/.apps/fileflows/fileflows.migrate
  compose/.apps/fileflows/fileflows.netmode.yml
  compose/.apps/fileflows/fileflows.ports.yml
  compose/.apps/fileflows/fileflows.storage.yml
  compose/.apps/fileflows/fileflows.storage2.yml
  compose/.apps/fileflows/fileflows.storage3.yml
  compose/.apps/fileflows/fileflows.storage4.yml
  compose/.apps/fileflows/fileflows.x86_64.yml
  compose/.apps/fileflows/fileflows.yml
  docs/apps/fileflows.md
  mkdocs.yml
Labels: apps, docs, repo

refactor: improve log file truncation using tee
  .github/workflows/deploy-mkdocs.yml
  .github/workflows/lint.yml
  .github/workflows/stale.yml
  .github/workflows/tests.yml
  .github/workflows/validate.yml
  .includes/misc_functions.sh
  .scripts/menu_main.sh
  docs/README.md
  docs/advanced/backups.md
  docs/advanced/uninstall.md
  docs/apps/plex.md
  docs/basics/command-line-usage.md
  docs/basics/faq.md
  docs/overrides/introduction.md
  main.sh
Labels: ci, core, docs, repo

Update menu_main.sh
  .scripts/menu_main.sh
Labels: core

Remove duplicate `indent_text` function
  .includes/misc_functions.sh
Labels: core

Fix mis-spelling of `architecture`
  main.sh
Labels: core, repo

Fix the system info not being read
  main.sh
Labels: core, repo

Update docs/basics/command-line-usage.md
  docs/basics/command-line-usage.md
Labels: docs

Display system info before the stack trace (#2347)
  docs/basics/command-line-usage.md
  main.sh
Labels: core, docs, repo

Deployed a6aaf5ce with MkDocs version: 1.6.1
  basics/command-line-usage/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Don't use `sudo` when updating the log file.
  main.sh
Labels: core, repo

Don't use `sudo` when updating the log file. (#2348)
  main.sh
Labels: core, repo

Re-add the executable permisssion on `main.sh`
  main.sh
Labels: core, repo

Re-add the executable permisssion on `main.sh` (#2349)
  main.sh
Labels: core, repo

Deployed e540d9ff with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Move `dockstarter.ini` to the home folder, store the config and compose folder locations from it
  .defaults/dockstarter.ini
  .includes/global_variables.sh
  .scripts/apply_config.sh
  .scripts/config_create.sh
  .scripts/config_theme.sh
Labels: core

Add and use a `DOCKER_CONFIG_FOLDER` to the global variable file
  .scripts/env_sanitize.sh
  .scripts/var_default_value.sh
  compose/.env.example
Labels: apps, core

Update the `dockstarter.ini` to use the new global variables by default
  .defaults/dockstarter.ini
  .scripts/apply_config.sh
Labels: core

Update folder creation to allow variable references
  .defaults/dockstarter.ini
  .includes/global_variables.sh
  .scripts/appfolders_create.sh
  .scripts/apply_config.sh
  .scripts/env_backup.sh
  .scripts/env_create.sh
  .scripts/env_sanitize.sh
  .scripts/var_default_value.sh
  compose/.env.example
  main.sh
Labels: apps, core, repo

Process referenced variables in the config variables
  .defaults/dockstarter.ini
  .env.example
  .gitignore
  .includes/dialog_functions.sh
  .includes/global_variables.sh
  .includes/misc_functions.sh
  .scripts/appfolders_create.sh
  .scripts/apply_config.sh
  .scripts/config_create.sh
  .scripts/config_get.sh
  .scripts/docker_compose.sh
  .scripts/env_backup.sh
  .scripts/env_get_and_expand.sh
  .scripts/env_sanitize.sh
  .scripts/expand_vars_using_varfile.sh
  .scripts/set_permissions.sh
  .scripts/var_default_value.sh
  compose/.env.example
  compose/README.md
  main.sh
Labels: apps, core, docs, repo

Update config_create.sh
  .scripts/config_create.sh
Labels: core
