Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]

use better glob with markdownlint
  .github/workflows/lint.yml
Labels: ci, repo

ci: fix markdownlint glob to only see md files
  .github/workflows/lint.yml
Labels: ci, repo

ci: disable MD059
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/application-request.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .markdownlint.yml
Labels: docs, repo

Add `ds_version` to return the DS version. Currently returns an empty string.
  .scripts/ds_version.sh
Labels: core

Add `dialog` replacement `_dialog_` that updates the backtitle
  main.sh
Labels: core, repo

Add update notice to `ds --help`
  main.sh
Labels: core, repo

Replace all instances of `dialog` with `_dialog_`
  .scripts/apply_theme.sh
  .scripts/menu_add_app.sh
  .scripts/menu_add_var.sh
  .scripts/menu_app_select.sh
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_dialog_example.sh
  .scripts/menu_display_options.sh
  .scripts/menu_display_options_general.sh
  .scripts/menu_display_options_theme.sh
  .scripts/menu_main.sh
  .scripts/menu_value_prompt.sh
  .scripts/question_prompt.sh
Labels: core

Put `[]` around version
  main.sh
Labels: core, repo

Update main.sh
  main.sh
Labels: core, repo

ci: build and deploy mkdocs in one job
  .github/workflows/deploy.yml
Labels: ci, repo

Move version number and update notification to the top right
  main.sh
Labels: core, repo

Update main.sh
  main.sh
Labels: core, repo

Change case of variables
  main.sh
Labels: core, repo

Update ds_update_available.sh
  .scripts/ds_update_available.sh
Labels: core

Update ds_update_available.sh
  .scripts/ds_update_available.sh
Labels: core

Update question_prompt.sh
  .scripts/question_prompt.sh
Labels: core

Add update notices, and initial version display (#1954)
  .scripts/apply_theme.sh
  .scripts/ds_update_available.sh
  .scripts/ds_version.sh
  .scripts/menu_add_app.sh
  .scripts/menu_add_var.sh
  .scripts/menu_app_select.sh
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_dialog_example.sh
  .scripts/menu_display_options.sh
  .scripts/menu_display_options_general.sh
  .scripts/menu_display_options_theme.sh
  .scripts/menu_main.sh
  .scripts/menu_value_prompt.sh
  .scripts/question_prompt.sh
  main.sh
Labels: core, repo

Deployed 3f477e09 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Add an update notice on each run of `ds`
  main.sh
Labels: core, repo

Add an update notice on each run of `ds` (#1955)
  main.sh
Labels: core, repo

Use `<branch> <tag>` or `<branch> commit <commit>` as the DS version
  .scripts/ds_version.sh
Labels: core

Use `<branch> <tag>` or `<branch> commit <commit>` as the DS version (#1956)
  .scripts/ds_version.sh
Labels: core

Update ds_version.sh
  .scripts/ds_version.sh
Labels: core

Update ds_version.sh
  .scripts/ds_version.sh
Labels: core

Add versioning based on branch and tag or commit. (#1957)
  .scripts/ds_version.sh
Labels: core

Make `ds -u` skip updating if no update is needed.
  .scripts/update_self.sh
Labels: core

Make `ds -u` skip updating if no update is needed. (#1958)
  .scripts/update_self.sh
Labels: core

Deployed 1941ca4f with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Use `${APPLICATION_NAME}` instead of `DockSTARTer`
  .scripts/apply_theme.sh
  .scripts/docker_compose.sh
  .scripts/ds_update_available.sh
  .scripts/ds_version.sh
  .scripts/menu_add_var.sh
  .scripts/menu_display_options.sh
  .scripts/menu_main.sh
  .scripts/menu_value_prompt.sh
  .scripts/run_install.sh
  .scripts/symlink_ds.sh
  .scripts/update_self.sh
  main.sh
Labels: core, repo

Use `${APPLICATION_NAME}` instead of `DockSTARTer` (#1959)
  .scripts/apply_theme.sh
  .scripts/docker_compose.sh
  .scripts/ds_update_available.sh
  .scripts/ds_version.sh
  .scripts/menu_add_var.sh
  .scripts/menu_display_options.sh
  .scripts/menu_main.sh
  .scripts/menu_value_prompt.sh
  .scripts/run_install.sh
  .scripts/symlink_ds.sh
  .scripts/update_self.sh
  main.sh
Labels: core, repo

Add theming to all backtitle elements
  .themes/BlackandWhite/theme.ini
  .themes/Debian/theme.ini
  .themes/DockSTARTer/theme.ini
  .themes/Firehouse/theme.ini
  .themes/GreenScreen/theme.ini
  .themes/MagentaRise/theme.ini
  .themes/Marigold/theme.ini
  .themes/Murica/theme.ini
  .themes/Summertime/theme.ini
  .themes/WhiptailRipoff/theme.ini
  main.sh
Labels: core, repo

Add theming to all backtitle elements (#1960)
  .themes/BlackandWhite/theme.ini
  .themes/Debian/theme.ini
  .themes/DockSTARTer/theme.ini
  .themes/Firehouse/theme.ini
  .themes/GreenScreen/theme.ini
  .themes/MagentaRise/theme.ini
  .themes/Marigold/theme.ini
  .themes/Murica/theme.ini
  .themes/Summertime/theme.ini
  .themes/WhiptailRipoff/theme.ini
  main.sh
Labels: core, repo

Fix backtitle not showing for dialog box example.
  .scripts/menu_dialog_example.sh
Labels: core

Fix backtitle not showing for dialog box example. (#1961)
  .scripts/menu_dialog_example.sh
Labels: core

Update and rename deploy.yml to deploy-mkdocs.yml
  .github/workflows/deploy-mkdocs.yml
Labels: ci, repo

Update deploy-mkdocs.yml
  .github/workflows/deploy-mkdocs.yml
Labels: ci, repo

Update lint.yml
  .github/workflows/lint.yml
Labels: ci, repo

Update deploy-mkdocs.yml
  .github/workflows/deploy-mkdocs.yml
Labels: ci, repo

Potential fix for code scanning alert no. 13: Workflow does not contain permissions
  .github/workflows/deploy-mkdocs.yml
Labels: ci, repo

Update deploy-mkdocs.yml
  .github/workflows/deploy-mkdocs.yml
Labels: ci, repo
