Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update dialog_functions.sh
  .includes/dialog_functions.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Squashed commit of the following:
  .github/workflows/stale.yml
Labels: ci, repo

Update dialog_functions.sh
  .includes/dialog_functions.sh
Labels: core

Update dialog_functions.sh
  .includes/dialog_functions.sh
Labels: core

Add the missing `--theme-list` and `--theme-table` command-line options
  .includes/cmdline.sh
Labels: core

Add the missing `--theme-list` and `--theme-table` command-line options (#2260)
  .includes/cmdline.sh
Labels: core

Squashed commit of the following:
  .includes/cmdline.sh
Labels: core

Disable the `ds -M apps` option. It is currently broken.
  .includes/cmdline.sh
  .includes/usage.sh
Labels: core

Disable the `ds -M apps` option. It is currently broken. (#2261)
  .includes/cmdline.sh
  .includes/usage.sh
Labels: core

Squashed commit of the following:
  .includes/cmdline.sh
  .includes/usage.sh
Labels: core

Add a `-y` /`--yes` command-line flag to assume yes on prompts (#2262)
  .includes/cmdline.sh
  .includes/dialog_functions.sh
  .includes/usage.sh
  .scripts/appvars_purge.sh
  .scripts/appvars_purge_all.sh
  .scripts/docker_compose.sh
  .scripts/docker_prune.sh
  .scripts/get_docker.sh
  .scripts/menu_add_app.sh
  .scripts/menu_add_var.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_value_prompt.sh
  .scripts/needs_appvars_create.sh
  .scripts/needs_env_update.sh
  .scripts/needs_install_docker.sh
  .scripts/needs_yml_merge.sh
  .scripts/pm_apk_install.sh
  .scripts/pm_apk_install_docker.sh
  .scripts/pm_apk_upgrade.sh
  .scripts/pm_apt_install.sh
  .scripts/pm_apt_repos.sh
  .scripts/pm_apt_upgrade.sh
  .scripts/pm_dnf_install.sh
  .scripts/pm_dnf_upgrade.sh
  .scripts/pm_nala_install.sh
  .scripts/pm_nala_repos.sh
  .scripts/pm_nala_upgrade.sh
  .scripts/pm_pacman_install.sh
  .scripts/pm_pacman_install_docker.sh
  .scripts/pm_pacman_upgrade.sh
  .scripts/pm_yum_install.sh
  .scripts/pm_yum_repos.sh
  .scripts/pm_yum_upgrade.sh
  .scripts/require_docker.sh
  .scripts/run_install.sh
  .scripts/update_self.sh
  main.sh
Labels: core, repo

Update screenshots
  docs/assets/command_help.png
  docs/assets/menu_app_select.png
  docs/assets/menu_config_vars.png
  docs/assets/menu_main.png
  docs/assets/menu_value_prompt.png
Labels: docs

Update screenshots (#2263)
  docs/assets/command_help.png
  docs/assets/menu_app_select.png
  docs/assets/menu_config_vars.png
  docs/assets/menu_main.png
  docs/assets/menu_value_prompt.png
Labels: docs

Deployed b72c306f with MkDocs version: 1.6.1
  assets/command_help.png
  assets/menu_app_select.png
  assets/menu_config_vars.png
  assets/menu_main.png
  assets/menu_value_prompt.png
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Update lyrionmusicserver.md
  docs/apps/lyrionmusicserver.md
Labels: docs

Update logitechmediaserver.md
  docs/apps/logitechmediaserver.md
Labels: docs

Update mkdocs.yml
  mkdocs.yml
Labels: docs, repo

Update lyrionmusicserver.md (#2264)
  docs/apps/logitechmediaserver.md
  docs/apps/lyrionmusicserver.md
  mkdocs.yml
Labels: docs, repo

Update tandoor environment and ports to 80 from 8080 Tandoor introducted a breaking change in their latest release, changing the default port from 8080 to 80.
  compose/.apps/tandoor/.env
  compose/.apps/tandoor/tandoor.migrate
  compose/.apps/tandoor/tandoor.ports.yml
Labels: apps

Update tandoor environment and ports to 80 from 8080 (#2267)
  compose/.apps/tandoor/.env
  compose/.apps/tandoor/tandoor.migrate
  compose/.apps/tandoor/tandoor.ports.yml
Labels: apps

Deployed 381c453f with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Update tandoor environment and ports to 80 from 8080 Tandoor introducted a breaking change in their latest release, changing the default port from 8080 to 80.
  compose/.apps/tandoor/.env
  compose/.apps/tandoor/tandoor.migrate
  compose/.apps/tandoor/tandoor.ports.yml
Labels: apps

Add storage ON options to Tandoor environment
  compose/.apps/tandoor/.env
Labels: apps

Add storage configuration options to tandoor.migrate
  compose/.apps/tandoor/tandoor.migrate
Labels: apps

Update tandoor environment and ports to 80 from 8080 (#2269)
  compose/.apps/tandoor/.env
  compose/.apps/tandoor/tandoor.migrate
  compose/.apps/tandoor/tandoor.ports.yml
Labels: apps

Update symlink_ds.sh
  .scripts/symlink_ds.sh
Labels: core

Update symlink_ds.sh
  .scripts/symlink_ds.sh
Labels: core

Update symlink_ds.sh
  .scripts/symlink_ds.sh
Labels: core

Update symlink_ds.sh
  .scripts/symlink_ds.sh
Labels: core

Update symlink_ds.sh
  .scripts/symlink_ds.sh
Labels: core

Update symlink_ds.sh
  .scripts/symlink_ds.sh
Labels: core

Update symlink_ds.sh
  .scripts/symlink_ds.sh
Labels: core

Update symlink_ds.sh
  .scripts/symlink_ds.sh
Labels: core

Update `synlink_ds` to check folders in the order they are listed in the PATH variable
  .scripts/symlink_ds.sh
Labels: core

Update `synlink_ds` to check folders in the order they are listed in the PATH variable (#2270)
  .scripts/symlink_ds.sh
Labels: core

Deployed 720ab657 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Squashed commit of the following:
  .scripts/symlink_ds.sh
Labels: core

Deployed 96b87fc6 with MkDocs version: 1.6.1
  index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Labels: repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]
