Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]

Update menu_dialog_example.sh
  .scripts/menu_dialog_example.sh
Labels: core

Themes (#1912)
  .scripts/menu_dialog_example.sh
  .themes/BlackandWhite/theme.ini
  .themes/Debian/theme.ini
  .themes/Firehouse/theme.ini
  .themes/GreenScreen/theme.ini
  .themes/MagentaRise/theme.ini
  .themes/Marigold/theme.ini
  .themes/Summertime/theme.ini
  .themes/WhiptailRipoff/theme.ini
Labels: core

Fix TitleWarning again
  .themes/BlackandWhite/theme.ini
  .themes/Firehouse/theme.ini
  .themes/GreenScreen/theme.ini
  .themes/MagentaRise/theme.ini
  .themes/Marigold/theme.ini
  .themes/WhiptailRipoff/theme.ini
Labels: none

Themes (#1913)
  .themes/BlackandWhite/theme.ini
  .themes/Firehouse/theme.ini
  .themes/GreenScreen/theme.ini
  .themes/MagentaRise/theme.ini
  .themes/Marigold/theme.ini
  .themes/WhiptailRipoff/theme.ini
Labels: none

Update menu_dialog_example.sh
  .scripts/menu_dialog_example.sh
Labels: core

Update menu_dialog_example.sh
  .scripts/menu_dialog_example.sh
Labels: core

Update menu_dialog_example.sh
  .scripts/menu_dialog_example.sh
Labels: core

Themes (#1914)
  .scripts/menu_dialog_example.sh
Labels: core

Update menu_dialog_example.sh
  .scripts/menu_dialog_example.sh
Labels: core

Themes (#1915)
  .scripts/menu_dialog_example.sh
Labels: core

Update apply_theme.sh
  .scripts/apply_theme.sh
Labels: core

Create theme_name.sh
  .scripts/theme_name.sh
Labels: core

Update theme_description.sh
  .scripts/theme_description.sh
Labels: core

Update theme_name.sh
  .scripts/theme_name.sh
Labels: core

Update theme_description.sh
  .scripts/theme_description.sh
Labels: core

Create theme_author.sh
  .scripts/theme_author.sh
Labels: core

Add theme authors to the `theme.ini` files.
  .themes/BlackandWhite/theme.ini
  .themes/Debian/theme.ini
  .themes/DockSTARTer/theme.ini
  .themes/Firehouse/theme.ini
  .themes/GreenScreen/theme.ini
  .themes/MagentaRise/theme.ini
  .themes/Marigold/theme.ini
  .themes/Summertime/theme.ini
  .themes/WhiptailRipoff/theme.ini
Labels: none

Update menu_display_options_theme.sh
  .scripts/menu_display_options_theme.sh
Labels: core

Update menu_dialog_example.sh
  .scripts/menu_dialog_example.sh
Labels: core

Update menu_dialog_example.sh
  .scripts/menu_dialog_example.sh
Labels: core

Update menu_display_options_theme.sh
  .scripts/menu_display_options_theme.sh
Labels: core

Update menu_dialog_example.sh
  .scripts/menu_dialog_example.sh
Labels: core

Update menu_dialog_example.sh
  .scripts/menu_dialog_example.sh
Labels: core

Update menu_dialog_example.sh
  .scripts/menu_dialog_example.sh
Labels: core

Update menu_display_options_theme.sh
  .scripts/menu_display_options_theme.sh
Labels: core

Update menu_dialog_example.sh
  .scripts/menu_dialog_example.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Update menu_dialog_example.sh
  .scripts/menu_dialog_example.sh
Labels: core

Update menu_dialog_example.sh
  .scripts/menu_dialog_example.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Update menu_dialog_example.sh
  .scripts/menu_dialog_example.sh
Labels: core

Update menu_dialog_example.sh
  .scripts/menu_dialog_example.sh
Labels: core

Update menu_display_options_theme.sh
  .scripts/menu_display_options_theme.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Themes (#1916)
  .scripts/apply_theme.sh
  .scripts/menu_dialog_example.sh
  .scripts/menu_display_options_theme.sh
  .scripts/theme_author.sh
  .scripts/theme_name.sh
  .themes/BlackandWhite/theme.ini
  .themes/Debian/theme.ini
  .themes/DockSTARTer/theme.ini
  .themes/Firehouse/theme.ini
  .themes/GreenScreen/theme.ini
  .themes/MagentaRise/theme.ini
  .themes/Marigold/theme.ini
  .themes/Summertime/theme.ini
  .themes/WhiptailRipoff/theme.ini
  main.sh
Labels: core, repo

Create theme_table.sh
  .scripts/theme_table.sh
Labels: core

Create theme_table.sh
  .scripts/theme_table.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Update theme_table.sh
  .scripts/theme_table.sh
Labels: core

Themes (#1917)
  .scripts/theme_table.sh
  main.sh
Labels: core, repo
