Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

Update cmdline.sh
  .includes/cmdline.sh
Labels: core

Allow multiple commands to be passed on the command-line
  .includes/cmdline.sh
  .includes/dialog_functions.sh
  .includes/usage.sh
  .scripts/docker_compose.sh
  .scripts/menu_app_select.sh
  main.sh
Labels: core, repo

Update cmdline.sh
  .includes/cmdline.sh
Labels: core

Allow multiple commands to be passed on the command-line
  .includes/cmdline.sh
  .includes/dialog_functions.sh
  .includes/misc_functions.sh
  .includes/pm_variables.sh
  .includes/process_commands.sh
  .includes/usage.sh
  .scripts/apply_theme.sh
  .scripts/docker_compose.sh
  .scripts/menu_app_select.sh
  main.sh
Labels: core, repo

Allow multiple commands to be passed on the command-line (#2216)
  .includes/cmdline.sh
  .includes/dialog_functions.sh
  .includes/misc_functions.sh
  .includes/pm_variables.sh
  .includes/process_commands.sh
  .includes/usage.sh
  .scripts/apply_theme.sh
  .scripts/docker_compose.sh
  .scripts/menu_app_select.sh
  main.sh
Labels: core, repo

Deployed 6fa63005 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Fix incorrect `nala full-upgrade -y` command to `nala upgrade --full -y`
  .scripts/pm_nala_upgrade.sh
Labels: core

Fix incorrect `nala full-upgrade -y` command to `nala upgrade --full -y` (#2217)
  .scripts/pm_nala_upgrade.sh
Labels: core

Update command line usage error notices slightly
  .includes/cmdline.sh
  .includes/usage.sh
Labels: core

Update command line usage error notices slightly (#2218)
  .includes/cmdline.sh
  .includes/usage.sh
Labels: core

Deployed 3a900576 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Fix the flags not showing on the `--compose` command line error messages
  .includes/cmdline.sh
Labels: core

Fix the flags not showing on the `--compose` command line error messages (#2219)
  .includes/cmdline.sh
Labels: core

Remove errant `=`
  .includes/cmdline.sh
Labels: core

Remove errant `=` (#2220)
  .includes/cmdline.sh
Labels: core

Move more of the formatting to `cmdline_error`
  .includes/cmdline.sh
Labels: core

Move more of the formatting to `cmdline_error` (#2221)
  .includes/cmdline.sh
Labels: core

Add a notice of the portion of the command-line currently being run
  .includes/cmdline.sh
Labels: core

Add a notice of the portion of the command-line currently being run (#2222)
  .includes/cmdline.sh
Labels: core

Change from using `((++LineNumber))` to using `LineNumber+=1`
  .scripts/menu_config_vars.sh
Labels: core

Change from using `((++LineNumber))` to using `LineNumber+=1` (#2224)
  .scripts/menu_config_vars.sh
Labels: core

Deployed d9ea674d with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Move stripping of ANSI colors to a lower level dialog routine
  .includes/dialog_functions.sh
Labels: core

Strip ANSI colors from dialog box when running Docker Compose
  .scripts/docker_compose.sh
Labels: core

Updates (#2225)
  .includes/dialog_functions.sh
  .scripts/docker_compose.sh
Labels: core

Move cursor to bottom of screen after dialog exits
  .includes/dialog_functions.sh
Labels: core

Move cursor to bottom of screen after dialog exits (#2226)
  .includes/dialog_functions.sh
Labels: core

Revert "Move cursor to bottom of screen after dialog exits (#2226)"
  .includes/dialog_functions.sh
Labels: core

Revert "Move cursor to bottom of screen after dialog exits (#2226)" (#2227)
  .includes/dialog_functions.sh
Labels: core

Strip ANSI colors in dialog box when updating DockSTARTer
  .includes/dialog_functions.sh
  .scripts/update_self.sh
Labels: core

Strip ANSI colors in dialog box when updating DockSTARTer (#2228)
  .scripts/update_self.sh
Labels: core

Try to reset the terminal without clearing the screen on exit if we were using the GUI
  main.sh
Labels: core, repo

Try to reset the terminal without clearing the screen on exit if we were using the GUI (#2229)
  main.sh
Labels: core, repo

Try to reset the terminal without clearing the screen on exit if we were using the GUI
  main.sh
Labels: core, repo

Reset the terminal to a working state on exit if using the GUI. (#2230)
  main.sh
Labels: core, repo

Use bash regex instead of grep when searching for dependencies with apt-file
  .scripts/pm_apt_install.sh
  .scripts/pm_nala_install.sh
Labels: core

Use bash regex instead of grep when searching for dependencies with apt-file (#2231)
  .scripts/pm_apt_install.sh
  .scripts/pm_nala_install.sh
Labels: core

Deployed a2df06e7 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Add `--no-update` option to all `nana` commands, since we do a `nala update` first.
  .scripts/pm_nala_clean.sh
  .scripts/pm_nala_install.sh
  .scripts/pm_nala_install_docker.sh
  .scripts/pm_nala_repos.sh
  .scripts/pm_nala_upgrade.sh
Labels: core

Add `--no-update` option to all `nana` commands, since we do a `nala update` first. (#2232)
  .scripts/pm_nala_clean.sh
  .scripts/pm_nala_install.sh
  .scripts/pm_nala_install_docker.sh
  .scripts/pm_nala_repos.sh
  .scripts/pm_nala_upgrade.sh
Labels: core

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]
