Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]

Update menu_add_var.sh
  .scripts/menu_add_var.sh
Labels: core

Update menu_add_var.sh
  .scripts/menu_add_var.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update app_description.sh
  .scripts/app_description.sh
Labels: core

Update menu_config_apps.sh
  .scripts/menu_config_apps.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Create menu_color_definitions.sh
  .scripts/menu_color_definitions.sh
Labels: core

Source the color variables into the `menu_*` scripts
  .scripts/menu_add_var.sh
  .scripts/menu_config_global.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_color_definitions.sh
  .scripts/menu_color_definitions.sh
Labels: core

Fix shellcheck not finding the color definitions files
  .scripts/menu_add_var.sh
  .scripts/menu_app_vars.sh
  .scripts/menu_config_global.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_color_definitions.sh
  .scripts/menu_color_definitions.sh
Labels: core

Revert "Update menu_color_definitions.sh"
  .scripts/menu_color_definitions.sh
Labels: core

Update menu_color_definitions.sh
  .scripts/menu_color_definitions.sh
Labels: core

Attempt to get shellcheck to find sourced file
  .scripts/menu_add_var.sh
  .scripts/menu_app_vars.sh
  .scripts/menu_config_global.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_color_definitions.sh
  .scripts/menu_color_definitions.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Update menu_config_global.sh
  .scripts/menu_config_global.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Update menu_config_global.sh
  .scripts/menu_config_global.sh
Labels: core

Update menu_color_definitions.sh
  .scripts/menu_color_definitions.sh
Labels: core

Update lint.yml
  .github/workflows/lint.yml
Labels: ci, repo

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Try to fix shellchecking sourced file again
  .scripts/menu_add_var.sh
  .scripts/menu_app_vars.sh
  .scripts/menu_config_global.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update lint.yml
  .github/workflows/lint.yml
Labels: ci, repo

Update menu_config_global.sh
  .scripts/menu_config_global.sh
Labels: core

Update lint.yml
  .github/workflows/lint.yml
Labels: ci, repo

Update menu_config_global.sh
  .scripts/menu_config_global.sh
Labels: core

Don't use an "incclude" file for GUI colors
  .github/workflows/lint.yml
  .scripts/menu_add_var.sh
  .scripts/menu_app_vars.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_config_global.sh
  .scripts/menu_value_prompt.sh
Labels: ci, core, repo

Change variables for colors in lines
  .scripts/menu_add_var.sh
  .scripts/menu_app_vars.sh
  .scripts/menu_color_definitions.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_config_global.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_add_var.sh
  .scripts/menu_add_var.sh
Labels: core

Update menu_config_global.sh
  .scripts/menu_config_global.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Update menu_add_var.sh
  .scripts/menu_add_var.sh
Labels: core
