Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

Fix validation failure in env_get.sh for `Var_15`
  .scripts/env_get.sh
Labels: core

Fix validation failure in env_get.sh for `Var_15` (#2400)
  .scripts/env_get.sh
Labels: core

feat: implement intelligent branch detection and support for updates to tags and commit SHAs
  .includes/cmdline.sh
  .includes/ds_functions.sh
  .includes/usage.sh
  .scripts/update_self.sh
  .scripts/update_templates.sh
  main.sh
Labels: core, repo

style: hide 'main' branch prefix when on a tag
  .includes/ds_functions.sh
Labels: core

fix: ensure git context is correct in all helper functions
  .includes/ds_functions.sh
Labels: core

fix: prioritize remote branches for version checks and silence git errors
  .includes/ds_functions.sh
Labels: core

Allow updating to a tag or commit hash (#2401)
  .includes/cmdline.sh
  .includes/ds_functions.sh
  .includes/usage.sh
  .scripts/update_self.sh
  .scripts/update_templates.sh
  main.sh
Labels: core, repo

Deployed 13d6b48f with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Show git command output in the log
  .scripts/update_self.sh
  .scripts/update_templates.sh
Labels: core

Show git command output in the log (#2402)
  .scripts/update_self.sh
  .scripts/update_templates.sh
Labels: core

Deployed adf97e53 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Add `dim` and `blink` to the ANSI codes for stripping
  .includes/misc_functions.sh
Labels: core

Add `dim` and `blink` to the ANSI codes for stripping (#2403)
  .includes/misc_functions.sh
Labels: core

Add manual date-based release workflow
  .github/workflows/release.yml
Labels: ci, repo

Add manual date-based release workflow (#2404)
  .github/workflows/release.yml
Labels: ci, repo

Use RunAndLog in `update_self`
  .scripts/update_self.sh
Labels: core

Use RunAndLog in `main`
  main.sh
Labels: core, repo

Use RunAndLog in `update_templates`
  .scripts/update_templates.sh
Labels: core

Add a RunAndLog helper
  .includes/misc_functions.sh
Labels: core

Use RunAndLog in `env_update`
  .scripts/env_update.sh
Labels: core

Use RunAndLog in `app_env_file`
  .scripts/app_env_file.sh
Labels: core

Use RunAndLog in `docker_compose`
  .scripts/docker_compose.sh
Labels: core

Use RunAndLog in `menu_config_vars`
  .scripts/menu_config_vars.sh
Labels: core

Use RunAndLog in `get_docker`
  .scripts/get_docker.sh
Labels: core

Add a RunAndLog helper function for "Failing command:" notices (#2405)
  .includes/misc_functions.sh
  .scripts/app_env_file.sh
  .scripts/docker_compose.sh
  .scripts/env_update.sh
  .scripts/get_docker.sh
  .scripts/menu_config_vars.sh
  .scripts/update_self.sh
  .scripts/update_templates.sh
  main.sh
Labels: core, repo

Use RunAndLog in `docker_prune`
  .scripts/docker_prune.sh
Labels: core

Use RunAndLog in `docker_prune` (#2406)
  .scripts/docker_prune.sh
Labels: core

Use RunAndLog in `config_theme`
  .scripts/config_theme.sh
Labels: core

Use RunAndLog in `config_theme` (#2407)
  .scripts/config_theme.sh
Labels: core

Change output of get docker script back to the console
  .scripts/get_docker.sh
Labels: core

Change output of get docker script back to the console (#2408)
  .scripts/get_docker.sh
Labels: core

Update misc_functions.sh
  .includes/misc_functions.sh
Labels: core

Update update_templates.sh
  .scripts/update_templates.sh
Labels: core

Update update_self.sh
  .scripts/update_self.sh
Labels: core

Update docker_prune.sh
  .scripts/docker_prune.sh
Labels: core

Update app_env_file.sh
  .scripts/app_env_file.sh
Labels: core

Update config_theme.sh
  .scripts/config_theme.sh
Labels: core

Update env_update.sh
  .scripts/env_update.sh
Labels: core

Update get_docker.sh
  .scripts/get_docker.sh
Labels: core

Update menu_config_vars.sh
  .scripts/menu_config_vars.sh
Labels: core

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]
