Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]

Update update_self.sh (#1891)
  .scripts/update_self.sh
Labels: core

Update update_self.sh
  .scripts/update_self.sh
Labels: core

Fixes (#1892)
  .scripts/update_self.sh
Labels: core

Update update_self.sh
  .scripts/update_self.sh
Labels: core

Update update_self.sh (#1893)
  .scripts/update_self.sh
Labels: core

Clean up logging for Docker commands a bit
  .scripts/docker_compose.sh
  .scripts/docker_prune.sh
Labels: core

Fixes (#1894)
  .scripts/docker_compose.sh
  .scripts/docker_prune.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Update main.sh (#1895)
  main.sh
Labels: core, repo

Update update_self.sh
  .scripts/update_self.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Fixes (#1896)
  .scripts/update_self.sh
  main.sh
Labels: core, repo

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

Fixes (#1897)
  .scripts/menu_app_select.sh
Labels: core

Update menu_app_select.png
  docs/assets/menu_app_select.png
Labels: docs

Update menu_app_select.png (#1898)
  docs/assets/menu_app_select.png
Labels: docs

Deployed a7a9c690 with MkDocs version: 1.6.1
  assets/menu_app_select.png
Labels: none

Add `jdownloader2`
  compose/.apps/jdownloader2/jdownloader2.aarch64.yml
  compose/.apps/jdownloader2/jdownloader2.app.env
  compose/.apps/jdownloader2/jdownloader2.folders
  compose/.apps/jdownloader2/jdownloader2.global.env
  compose/.apps/jdownloader2/jdownloader2.hostname.yml
  compose/.apps/jdownloader2/jdownloader2.labels.yml
  compose/.apps/jdownloader2/jdownloader2.migrate
  compose/.apps/jdownloader2/jdownloader2.netmode.yml
  compose/.apps/jdownloader2/jdownloader2.ports.yml
  compose/.apps/jdownloader2/jdownloader2.x86_64.yml
  compose/.apps/jdownloader2/jdownloader2.yml
  docs/apps/jdownloader2.md
  mkdocs.yml
Labels: apps, docs, repo

Add `jdownloader2` (#1902)
  compose/.apps/jdownloader2/jdownloader2.aarch64.yml
  compose/.apps/jdownloader2/jdownloader2.app.env
  compose/.apps/jdownloader2/jdownloader2.folders
  compose/.apps/jdownloader2/jdownloader2.global.env
  compose/.apps/jdownloader2/jdownloader2.hostname.yml
  compose/.apps/jdownloader2/jdownloader2.labels.yml
  compose/.apps/jdownloader2/jdownloader2.migrate
  compose/.apps/jdownloader2/jdownloader2.netmode.yml
  compose/.apps/jdownloader2/jdownloader2.ports.yml
  compose/.apps/jdownloader2/jdownloader2.x86_64.yml
  compose/.apps/jdownloader2/jdownloader2.yml
  docs/apps/jdownloader2.md
  mkdocs.yml
Labels: apps, docs, repo

Update jdownloader2.md
  docs/apps/jdownloader2.md
Labels: docs

Fix jdownloader2 pulls link (#1903)
  docs/apps/jdownloader2.md
Labels: docs

Deployed 9dd671dc with MkDocs version: 1.6.1
  apps/jdownloader2/index.html
Labels: none

Update jdownloader2.md
  docs/apps/jdownloader2.md
Labels: docs

Jdownloader2 (#1904)
  docs/apps/jdownloader2.md
Labels: docs

Deployed f019cdc5 with MkDocs version: 1.6.1
  apps/jdownloader2/index.html
Labels: none

Update jdownloader2.md
  docs/apps/jdownloader2.md
Labels: docs

Jdownloader2 (#1905)
  docs/apps/jdownloader2.md
Labels: docs

Deployed 55bab9be with MkDocs version: 1.6.1
  apps/jdownloader2/index.html
Labels: none

Update main.sh
  main.sh
Labels: core, repo

Update menu_config_vars.sh
  .scripts/menu_config_vars.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Highlight modified variable lines in variable picker (#1906)
  .scripts/menu_config_vars.sh
  main.sh
Labels: core, repo

Deployed 0474dcd3 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Update main.sh
  main.sh
Labels: core, repo

G UI (#1907)
  main.sh
Labels: core, repo

Update menu_config_vars.png
  docs/assets/menu_config_vars.png
Labels: docs

Update screenshot (#1908)
  docs/assets/menu_config_vars.png
Labels: docs

Deployed a3083a0a with MkDocs version: 1.6.1
  assets/menu_config_vars.png
Labels: none
