Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]

Deployed 8ec4c87e with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Deployed e4d17b56 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

fix: update license reference
  README.md
Labels: docs, repo

Deployed f266c06b with MkDocs version: 1.6.1
  index.html
Labels: repo

Deployed 438a114b with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Deployed 68807c7c with MkDocs version: 1.6.1
  apps/beets/index.html
  apps/bitwarden/index.html
  apps/booksonic/index.html
  apps/bookstack/index.html
  apps/calibre/index.html
  apps/cloudflareddns/index.html
  apps/codeserver/index.html
  apps/ddclient/index.html
  apps/delugevpn/index.html
  apps/homepage/index.html
  apps/minecraftbedrockserver/index.html
  apps/minecraftserver/index.html
  apps/nzbgetvpn/index.html
  apps/petio/index.html
  apps/pgbackup/index.html
  apps/sabnzbdvpn/index.html
  apps/transmissionvpn/index.html
  requirements.txt
Labels: repo

Deployed ae84f201 with MkDocs version: 1.6.1
  advanced/overrides/index.html
  apps/hydra2/index.html
  apps/letsencrypt/index.html
  apps/minecraft_bedrock_server/index.html
  apps/minecraft_server/index.html
  apps/mylar/index.html
  apps/plexrequests/index.html
  apps/sickrage/index.html
  apps/ttrss/index.html
  apps/unifi/index.html
  apps/vaultwarden/index.html
  discord/index.html
  overrides/fireflyiii/index.html
  overrides/kitana/index.html
  overrides/overseerr/index.html
  overrides/petio/index.html
  overrides/requestrr/index.html
  requirements.txt
Labels: repo

Fix filebrowser healthcheck
  compose/.apps/filebrowser/filebrowser.yml
Labels: apps

Deployed 9d3f6d1e with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Deployed 8c05012a with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Add the jellyseerr app and documentation
  compose/.apps/jellyseerr/jellyseerr.aarch64.yml
  compose/.apps/jellyseerr/jellyseerr.hostname.yml
  compose/.apps/jellyseerr/jellyseerr.labels.yml
  compose/.apps/jellyseerr/jellyseerr.netmode.yml
  compose/.apps/jellyseerr/jellyseerr.ports.yml
  compose/.apps/jellyseerr/jellyseerr.x86_64.yml
  compose/.apps/jellyseerr/jellyseerr.yml
  docs/apps/jellyseerr.md
  mkdocs.yml
Labels: apps, docs, repo

Fix config volume mount point
  compose/.apps/jellyseerr/jellyseerr.yml
Labels: apps

Update overseerr.md
  docs/apps/overseerr.md
Labels: docs

Deployed b663fd1b with MkDocs version: 1.6.1
  apps/overseerr/index.html
Labels: none

Fix ADGUARD vars
  compose/.apps/adguard/.env
  compose/.apps/adguard/adguard.env
  compose/.apps/adguard/adguard.ports.yml
Labels: apps

Fix ADMINER vars
  compose/.apps/adminer/adminer.env
  compose/.apps/adminer/adminer.yml
Labels: apps

Fix AMD vars
  compose/.apps/amd/amd.env
  compose/.apps/amd/amd.yml
Labels: apps

Fix APCUPSD vars
  compose/.apps/apcupsd/apcupsd.env
  compose/.apps/apcupsd/apcupsd.yml
Labels: apps

Fix CLOUDFLAREDDNS vars
  compose/.apps/cloudflareddns/cloudflareddns.env
  compose/.apps/cloudflareddns/cloudflareddns.yml
Labels: apps

Fix *VPN vars
  compose/.apps/delugevpn/delugevpn.env
  compose/.apps/delugevpn/delugevpn.yml
  compose/.apps/nzbgetvpn/nzbgetvpn.env
  compose/.apps/nzbgetvpn/nzbgetvpn.yml
  compose/.apps/privoxyvpn/privoxyvpn.env
  compose/.apps/privoxyvpn/privoxyvpn.yml
  compose/.apps/qbittorrentvpn/qbittorrentvpn.env
  compose/.apps/qbittorrentvpn/qbittorrentvpn.yml
  compose/.apps/rtorrentvpn/rtorrentvpn.env
  compose/.apps/rtorrentvpn/rtorrentvpn.yml
  compose/.apps/sabnzbdvpn/sabnzbdvpn.env
  compose/.apps/sabnzbdvpn/sabnzbdvpn.yml
Labels: apps

Fix CALIBRE vars
  compose/.apps/calibre/calibre.env
  compose/.apps/calibre/calibre.yml
Labels: apps

Fix DASSHIO vars
  compose/.apps/dasshio/dasshio.env
  compose/.apps/dasshio/dasshio.yml
Labels: apps

Fix DOZZLE vars
  compose/.apps/dozzle/dozzle.env
  compose/.apps/dozzle/dozzle.yml
Labels: apps

Fix FILEBROWSER vars
  compose/.apps/filebrowser/filebrowser.env
  compose/.apps/filebrowser/filebrowser.yml
Labels: apps

Fix GLANCES vars
  compose/.apps/glances/glances.env
  compose/.apps/glances/glances.yml
Labels: apps

Fix HUGINN vars
  compose/.apps/huginn/huginn.env
  compose/.apps/huginn/huginn.yml
Labels: apps

Fix KIWIXSERVE vars
  compose/.apps/kiwixserve/kiwixserve.env
  compose/.apps/kiwixserve/kiwixserve.yml
Labels: apps

Fix KOMGA vars
  compose/.apps/komga/komga.env
  compose/.apps/komga/komga.yml
Labels: apps

Fix MURMUR vars
  compose/.apps/murmur/murmur.env
  compose/.apps/murmur/murmur.yml
Labels: apps

Fix OPENLDAP vars
  compose/.apps/openldap/openldap.env
  compose/.apps/openldap/openldap.yml
Labels: apps

Fix ORGANIZR vars
  compose/.apps/organizr/organizr.env
  compose/.apps/organizr/organizr.yml
Labels: apps

Fix PGADMIN vars
  compose/.apps/pgadmin/pgadmin.env
  compose/.apps/pgadmin/pgadmin.yml
Labels: apps

Fix PGBACKUP vars
  compose/.apps/pgbackup/pgbackup.env
  compose/.apps/pgbackup/pgbackup.yml
Labels: apps

Fix PHOTOSTRUCTURE vars
  compose/.apps/photostructure/photostructure.env
  compose/.apps/photostructure/photostructure.yml
Labels: apps

Fix PIHOLE vars
  compose/.apps/pihole/.env
  compose/.apps/pihole/pihole.env
  compose/.apps/pihole/pihole.ports.yml
  compose/.apps/pihole/pihole.yml
Labels: apps

Fix POSTGRES vars
  compose/.apps/postgres/postgres.env
  compose/.apps/postgres/postgres.yml
Labels: apps

Fix RECYCLARR vars
  compose/.apps/recyclarr/recyclarr.env
  compose/.apps/recyclarr/recyclarr.yml
Labels: apps

Fix SMOKEPING vars
  compose/.apps/smokeping/.env
  compose/.apps/smokeping/smokeping.env
  compose/.apps/smokeping/smokeping.yml
Labels: apps

Fix TDARR vars
  compose/.apps/tdarr/.env
  compose/.apps/tdarr/tdarr.env
  compose/.apps/tdarr/tdarr.yml
Labels: apps

Fix WATCHTOWER vars
  compose/.apps/watchtower/watchtower.env
  compose/.apps/watchtower/watchtower.yml
Labels: apps
