Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs

Update youtubedl.yml
  compose/.apps/youtubedl/youtubedl.yml
Labels: apps

Update youtubedl.yml
  compose/.apps/youtubedl/youtubedl.yml
Labels: apps

Update support.md
  docs/basics/support.md
Labels: none

Update index.md
  docs/index.md
Labels: none

Update faq.md
  docs/basics/faq.md
Labels: none

Update support.md
  docs/basics/support.md
Labels: none

Update traktarr.yml
  compose/.apps/traktarr/traktarr.yml
Labels: apps

Update youtubedl.labels.yml
  compose/.apps/youtubedl/youtubedl.labels.yml
Labels: apps

Update youtubedl.yml
  compose/.apps/youtubedl/youtubedl.yml
Labels: apps

Add youtube-dl-server && traktarr (#948)
  compose/.apps/traktarr/traktarr.hostname.yml
  compose/.apps/traktarr/traktarr.labels.yml
  compose/.apps/traktarr/traktarr.netmode.yml
  compose/.apps/traktarr/traktarr.x86_64.yml
  compose/.apps/traktarr/traktarr.yml
  compose/.apps/youtubedl/youtubedl.hostname.yml
  compose/.apps/youtubedl/youtubedl.labels.yml
  compose/.apps/youtubedl/youtubedl.netmode.yml
  compose/.apps/youtubedl/youtubedl.ports.yml
  compose/.apps/youtubedl/youtubedl.x86_64.yml
  compose/.apps/youtubedl/youtubedl.yml
Labels: apps

Update README.md
  README.md
Labels: docs

Copy README.md to docs/index.md with mkdocs workflow
  .github/workflows/mkdocs.yml
  docs/index.md
Labels: ci

.github/labeler.yml:

apps:
  - "compose/.apps/**/*.yml"

ci:
  - ".github/workflows/*.yml"
  - ".travis.yml"

core:
  - "*.sh"

docs:
  - "*.md"
