Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

Fix mkdocs typo
  mkdocs.yml
Labels: docs, repo

Convert `maIntainerr` to new template format
  compose/.apps/maintainerr/.env
  compose/.apps/maintainerr/maintainerr.aarch64.yml
  compose/.apps/maintainerr/maintainerr.env
  compose/.apps/maintainerr/maintainerr.folders
  compose/.apps/maintainerr/maintainerr.hostname.yml
  compose/.apps/maintainerr/maintainerr.migrate
  compose/.apps/maintainerr/maintainerr.netmode.yml
  compose/.apps/maintainerr/maintainerr.ports.yml
  compose/.apps/maintainerr/maintainerr.x86_64.yml
  compose/.apps/maintainerr/maintainerr.yml
Labels: apps

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update appvars_create.sh
  .scripts/appvars_create.sh
Labels: core

Update appvars_purge.sh
  .scripts/appvars_purge.sh
Labels: core

Update docker_compose.sh
  .scripts/docker_compose.sh
Labels: core

Update yml_merge.sh
  .scripts/yml_merge.sh
Labels: core

Update appfolders_create.sh
  .scripts/appfolders_create.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Revert "Update menu_value_prompt.sh"
  .scripts/menu_value_prompt.sh
Labels: core

Update varname_to_appname.sh
  .scripts/varname_to_appname.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Added TSDProxy
  compose/.apps/tsdproxy/tsdproxy.aarch64.yml
  compose/.apps/tsdproxy/tsdproxy.hostname.yml
  compose/.apps/tsdproxy/tsdproxy.labels.yml
  compose/.apps/tsdproxy/tsdproxy.netmode.yml
  compose/.apps/tsdproxy/tsdproxy.ports.yml
  compose/.apps/tsdproxy/tsdproxy.x86_64.yml
  compose/.apps/tsdproxy/tsdproxy.yml
  docs/apps/tsdproxy.md
  mkdocs.yml
Labels: apps, docs, repo

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update question_prompt.sh
  .scripts/question_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update question_prompt.sh
  .scripts/question_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]
