Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

Update menu_config_apps.sh
  .scripts/menu_config_apps.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Update menu_config_apps.sh
  .scripts/menu_config_apps.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Update menu_config_apps.sh
  .scripts/menu_config_apps.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_config_apps.sh
  .scripts/menu_config_apps.sh
Labels: core

Update menu_config_apps.sh
  .scripts/menu_config_apps.sh
Labels: core

Update menu_config_apps.sh
  .scripts/menu_config_apps.sh
Labels: core

Update menu_config_apps.sh
  .scripts/menu_config_apps.sh
Labels: core

Update menu_config_apps.sh
  .scripts/menu_config_apps.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Revert "Update main.sh"
  main.sh
Labels: core, repo

Update menu_config_apps.sh
  .scripts/menu_config_apps.sh
Labels: core

Change `Height` to `Rows`, `Width` to `Cols` for consistency
  .scripts/menu_add_var.sh
  .scripts/menu_app_select.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_value_prompt.sh
  .scripts/question_prompt.sh
  main.sh
Labels: core, repo

Update menu_config_apps.sh
  .scripts/menu_config_apps.sh
Labels: core

Update .dialogrc
  .dialogrc
Labels: repo

Update menu_config_apps.sh
  .scripts/menu_config_apps.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

Revert "Update menu_app_select.sh"
  .scripts/menu_app_select.sh
Labels: core

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

Update appvars_purge.sh
  .scripts/appvars_purge.sh
Labels: core

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

Update appvars_purge.sh
  .scripts/appvars_purge.sh
Labels: core

Update menu_config_apps.sh
  .scripts/menu_config_apps.sh
Labels: core

Update menu_config_apps.sh
  .scripts/menu_config_apps.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Revert "Update main.sh"
  main.sh
Labels: core, repo

Update menu_config_apps.sh
  .scripts/menu_config_apps.sh
Labels: core

Update menu_config_apps.sh
  .scripts/menu_config_apps.sh
Labels: core

Update menu_config_apps.sh
  .scripts/menu_config_apps.sh
Labels: core

Update menu_config_apps.sh
  .scripts/menu_config_apps.sh
Labels: core

Update menu_config_apps.sh
  .scripts/menu_config_apps.sh
Labels: core

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

Update menu_config_apps.sh
  .scripts/menu_config_apps.sh
Labels: core

Update env_sanitize.sh
  .scripts/env_sanitize.sh
Labels: core

Update menu_config_apps.sh
  .scripts/menu_config_apps.sh
Labels: core

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]
