Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]

fix: :bug: spelling and links for homepage app
  docs/apps/homepage.md
Labels: docs

Deployed 85242b6f with MkDocs version: 1.5.3
  apps/homepage/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Update env_update.sh
  .scripts/env_update.sh
Labels: core

Update env_update.sh
  .scripts/env_update.sh
Labels: core

Update env_update.sh
  .scripts/env_update.sh
Labels: core

Update env_update.sh
  .scripts/env_update.sh
Labels: core

Update env_update.sh
  .scripts/env_update.sh
Labels: core

Update .env.example
  compose/.env.example
Labels: apps

Update env_update.sh
  .scripts/env_update.sh
Labels: core

Update env_update.sh
  .scripts/env_update.sh
Labels: core

Update env_update.sh
  .scripts/env_update.sh
Labels: core

Update env_update.sh
  .scripts/env_update.sh
Labels: core

Update env_update.sh
  .scripts/env_update.sh
Labels: core

Update env_update.sh
  .scripts/env_update.sh
Labels: core

Update env_update.sh
  .scripts/env_update.sh
Labels: core

Update env_update.sh
  .scripts/env_update.sh
Labels: core

Update env_update.sh
  .scripts/env_update.sh
Labels: core

Update env_update.sh
  .scripts/env_update.sh
Labels: core

Move application variable migration to `appvars_create.sh`
  .scripts/appvars_create.sh
  .scripts/appvars_migrate.sh
  .scripts/appvars_migrate_all.sh
  .scripts/env_sanitize.sh
Labels: core

Update appvars_create.sh
  .scripts/appvars_create.sh
Labels: core

Update appvars_create.sh
  .scripts/appvars_create.sh
Labels: core

Update appvars_create.sh
  .scripts/appvars_create.sh
Labels: core

Update appvars_create.sh
  .scripts/appvars_create.sh
Labels: core

Update appvars_create.sh
  .scripts/appvars_create.sh
Labels: core

Update appvars_create.sh
  .scripts/appvars_create.sh
Labels: core

Update `.env` AFTER creating variables
  .scripts/yml_merge.sh
  main.sh
Labels: core, repo

Add comments to appvars_create.sh
  .scripts/appvars_create.sh
Labels: core

Update appvars_create.sh
  .scripts/appvars_create.sh
Labels: core

Update appvars_create.sh
  .scripts/appvars_create.sh
Labels: core

Un-depreciate `nzbget` with forked repo
  compose/.apps/nzbget/nzbget.aarch64.yml
  compose/.apps/nzbget/nzbget.labels.yml
  compose/.apps/nzbget/nzbget.x86_64.yml
Labels: apps

Update mkdocs.yml
  mkdocs.yml
Labels: docs, repo

Make `env_set` create the variable if it doesn't already exist.
  .scripts/env_set.sh
Labels: core

No need to add `VAR=` before adding a new variable
  .scripts/appvars_create.sh
  .scripts/env_update.sh
Labels: core

Update env_set.sh
  .scripts/env_set.sh
Labels: core

Update env_set.sh
  .scripts/env_set.sh
Labels: core

Partial fix to multiple instances of a variable in .env
  .scripts/env_get.sh
  .scripts/env_set.sh
Labels: core

Update env_set.sh
  .scripts/env_set.sh
Labels: core

Deployed 5ff1e99b with MkDocs version: 1.5.3
  sitemap.xml.gz
Labels: repo

Deployed 20c5df2e with MkDocs version: 1.5.3
  sitemap.xml.gz
Labels: repo

Deployed ed7ad1a7 with MkDocs version: 1.5.3
  sitemap.xml.gz
Labels: repo
