Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]

Update lint.yml
  .github/workflows/lint.yml
Labels: ci, repo

Update yml_merge.sh
  .scripts/yml_merge.sh
Labels: core

Update lint.yml
  .github/workflows/lint.yml
Labels: ci, repo

Create an `app_templates_file` function, and have `app_instance_file` use it.
  .scripts/app_instance_file.sh
  .scripts/app_template_file.sh
Labels: core

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update app_instance_file.sh
  .scripts/app_instance_file.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Create app_env_file.sh
  .scripts/app_env_file.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update app_env_file.sh
  .scripts/app_env_file.sh
Labels: core

Usw `app_env_file` to get the path to an app's `appname.env` file
  .scripts/app_env_file.sh
  .scripts/appvars_create.sh
  .scripts/appvars_lines.sh
  .scripts/appvars_list.sh
  .scripts/appvars_purge.sh
  .scripts/env_delete.sh
  .scripts/env_get.sh
  .scripts/env_get_line.sh
  .scripts/env_get_literal.sh
  .scripts/env_migrate.sh
  .scripts/env_set.sh
  .scripts/env_set_literal.sh
  .scripts/env_update.sh
  .scripts/env_var_exists.sh
  .scripts/menu_add_var.sh
  .scripts/menu_app_vars.sh
  .scripts/menu_value_prompt.sh
Labels: core

Adjust some notices as bit
  .scripts/appvars_purge.sh
  .scripts/env_get.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Use the global dialog color variables
  .scripts/menu_add_var.sh
  .scripts/menu_app_select.sh
  .scripts/menu_app_vars.sh
  .scripts/menu_color_definitions.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_config_global.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Update main.sh
  main.sh
Labels: core, repo

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Rename `DialogTimeout` to `DIALOGTIMEOUT`
  .scripts/menu_add_var.sh
  .scripts/menu_app_select.sh
  .scripts/menu_value_prompt.sh
  main.sh
Labels: core, repo

Update main.sh
  main.sh
Labels: core, repo

Remove `Color` from the pre-defined dialog color names
  .scripts/menu_add_var.sh
  .scripts/menu_app_vars.sh
  .scripts/menu_config_global.sh
  .scripts/menu_value_prompt.sh
  main.sh
Labels: core, repo

Make a global "User Defined" heading color
  .scripts/menu_add_var.sh
  .scripts/menu_value_prompt.sh
  main.sh
Labels: core, repo

Update varname_is_valid.sh
  .scripts/varname_is_valid.sh
Labels: core

Update menu_add_var.sh
  .scripts/menu_add_var.sh
Labels: core

Update menu_add_var.sh
  .scripts/menu_add_var.sh
Labels: core

Change `*User Defined*` to `(User Defined)`
  .scripts/menu_add_var.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Fix `app_is_enabled` and `app_is_disabled` for the case when the app is not built-in
  .scripts/app_is_disabled.sh
  .scripts/app_is_enabled.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Rename the `HeadingUserDefined` color to `HeadingTag`
  .scripts/menu_value_prompt.sh
  main.sh
Labels: core, repo

Update menu_add_var.sh
  .scripts/menu_add_var.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Change `*DEPRECIATED*` to `[*DEPRECIATED*]` to match the `.env` file headings.
  .scripts/menu_add_var.sh
  .scripts/menu_app_vars.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Create app_is_user_defined.sh
  .scripts/app_is_user_defined.sh
Labels: core

Create app_is_referenced.sh
  .scripts/app_is_referenced.sh
Labels: core

Update app_is_referenced.sh
  .scripts/app_is_referenced.sh
Labels: core

Update app_description.sh
  .scripts/app_description.sh
Labels: core
