Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]

Remove `bsdmainutils` from `pacman` installs. `column` is in `util-linux`
  .scripts/pm_pacman_install.sh
Labels: core

Remove `bsdmainutils` from `pacman` installs. `column` is in `util-linux` (#2187)
  .scripts/pm_pacman_install.sh
Labels: core

Deployed 6f3a882c with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Fix `.giignore` file, only ignoring files from the root of the file system, not all files
  .gitignore
Labels: repo

Fix `.giignore` file, only ignoring files from the root of the file system, not all files (#2188)
  .gitignore
Labels: repo

Deployed ef8463ef with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Update the default theme to be more usable on terminals that use a dark blue color
  .gitignore
  .themes/OldDockSTARTer/.dialogrc
  .themes/OldDockSTARTer/theme.ini
Labels: repo

Update the default theme to be more usable on terminals that use a dark blue color (#2189)
  .themes/OldDockSTARTer/.dialogrc
  .themes/OldDockSTARTer/theme.ini
Labels: none

Add a retro theme to mimic the old colors using Whiptail
  .themes/RetroDockSTARTer/.dialogrc
  .themes/RetroDockSTARTer/theme.ini
Labels: none

Update .dialogrc
  .themes/RetroDockSTARTer/.dialogrc
Labels: none

Update .dialogrc
  .themes/RetroDockSTARTer/.dialogrc
Labels: none

Update theme.ini
  .themes/RetroDockSTARTer/theme.ini
Labels: none

Update .dialogrc
  .themes/RetroDockSTARTer/.dialogrc
Labels: none

Update .dialogrc
  .themes/RetroDockSTARTer/.dialogrc
Labels: none

Update theme.ini
  .themes/RetroDockSTARTer/theme.ini
Labels: none

Update theme.ini
  .themes/RetroDockSTARTer/theme.ini
Labels: none

Update theme.ini
  .themes/RetroDockSTARTer/theme.ini
Labels: none

Update theme.ini
  .themes/RetroDockSTARTer/theme.ini
Labels: none

Update theme.ini
  .themes/RetroDockSTARTer/theme.ini
Labels: none

Update menu_main.sh
  .scripts/menu_main.sh
  .themes/RetroDockSTARTer/theme.ini
Labels: core

Update menu_config.sh
  .scripts/menu_config.sh
Labels: core

Update menu_config_apps.sh
  .scripts/menu_config_apps.sh
Labels: core

Update menu_display_options.sh
  .scripts/menu_display_options.sh
Labels: core

Update menu_display_options_general.sh
  .scripts/menu_display_options_general.sh
Labels: core

Update menu_display_options_theme.sh
  .scripts/menu_display_options_theme.sh
Labels: core

Update theme.ini
  .themes/RetroDockSTARTer/theme.ini
Labels: none

Update theme.ini
  .themes/RetroDockSTARTer/theme.ini
Labels: none

Update theme.ini
  .themes/RetroDockSTARTer/theme.ini
Labels: none

Update theme.ini
  .themes/RetroDockSTARTer/theme.ini
Labels: none

Add new color vars to all themes
  .themes/BlackandWhite/theme.ini
  .themes/Debian/theme.ini
  .themes/DockSTARTer/theme.ini
  .themes/Firehouse/theme.ini
  .themes/GreenScreen/theme.ini
  .themes/MagentaRise/theme.ini
  .themes/Marigold/theme.ini
  .themes/Murica/theme.ini
  .themes/OldDockSTARTer/theme.ini
  .themes/Summertime/theme.ini
  .themes/WhiptailRipoff/theme.ini
Labels: none

Update theme.ini
  .themes/RetroDockSTARTer/theme.ini
Labels: none

Revert "Update theme.ini"
  .themes/RetroDockSTARTer/theme.ini
Labels: none

Update menu_display_options_theme.sh
  .scripts/menu_display_options_theme.sh
Labels: core

Update .dialogrc
  .themes/RetroDockSTARTer/.dialogrc
Labels: none

Update theme.ini
  .themes/RetroDockSTARTer/theme.ini
Labels: none

Revert "Update theme.ini"
  .themes/RetroDockSTARTer/theme.ini
Labels: none

Add a retro theme to mimic the old colors using Whiptail
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_display_options.sh
  .scripts/menu_display_options_general.sh
  .scripts/menu_main.sh
  .themes/BlackandWhite/theme.ini
  .themes/Debian/theme.ini
  .themes/Firehouse/theme.ini
  .themes/GreenScreen/theme.ini
  .themes/MagentaRise/theme.ini
  .themes/Marigold/theme.ini
  .themes/Murica/theme.ini
  .themes/OldDockSTARTer/theme.ini
  .themes/RetroDockSTARTer/.dialogrc
  .themes/RetroDockSTARTer/theme.ini
  .themes/Summertime/theme.ini
  .themes/WhiptailRipoff/theme.ini
Labels: core

Update theme.ini
  .themes/RetroDockSTARTer/theme.ini
Labels: none

Update theme.ini
  .themes/RetroDockSTARTer/theme.ini
Labels: none

Add a retro theme to mimic the old colors using Whiptail (#2190)
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_display_options.sh
  .scripts/menu_display_options_general.sh
  .scripts/menu_main.sh
  .themes/BlackandWhite/theme.ini
  .themes/Debian/theme.ini
  .themes/Firehouse/theme.ini
  .themes/GreenScreen/theme.ini
  .themes/MagentaRise/theme.ini
  .themes/Marigold/theme.ini
  .themes/Murica/theme.ini
  .themes/OldDockSTARTer/theme.ini
  .themes/RetroDockSTARTer/.dialogrc
  .themes/RetroDockSTARTer/theme.ini
  .themes/Summertime/theme.ini
  .themes/WhiptailRipoff/theme.ini
Labels: core
