Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]

Update `env_sanitize` to show all changed variables in a better format
  .scripts/env_sanitize.sh
Labels: core

Update `env_sanitize` to show all changed variables in a better format (#2078)
  .scripts/env_sanitize.sh
Labels: core

Change notice colors
  main.sh
Labels: core, repo

Change notice colors (#2079)
  main.sh
Labels: core, repo

Add color to more notices and enclose more items in single quotes
  main.sh
Labels: core, repo

Add color to more notices and enclose more items in single quotes (#2080)
  main.sh
Labels: core, repo

Change `Invalid usage. Must be` to `Invalid usage. Must be:`
  main.sh
Labels: core, repo

Change `Invalid usage. Must be` to `Invalid usage. Must be:` (#2081)
  main.sh
Labels: core, repo

Update `Invalid usage` notices
  main.sh
Labels: core, repo

Update `Invalid usage` notices (#2082)
  main.sh
Labels: core, repo

Update one remaining `Invalid usage. Must be` to `Invalid usage. Must be:`
  main.sh
Labels: core, repo

Update one remaining `Invalid usage. Must be` to `Invalid usage. Must be:` (#2083)
  main.sh
Labels: core, repo

Create an `APPLICATION_COMMAND` global variable to set the `ds` command name
  .scripts/appvars_rename.sh
  .scripts/docker_compose.sh
  .scripts/menu_add_app.sh
  .scripts/menu_app_select.sh
  .scripts/menu_config.sh
  .scripts/menu_dialog_example.sh
  .scripts/menu_display_options_theme.sh
  .scripts/run_install.sh
  .scripts/symlink_ds.sh
  .scripts/update_self.sh
  .scripts/yml_merge.sh
  main.sh
Labels: core, repo

Create an `APPLICATION_COMMAND` global variable to set the `ds` command name (#2084)
  .scripts/appvars_rename.sh
  .scripts/docker_compose.sh
  .scripts/menu_add_app.sh
  .scripts/menu_app_select.sh
  .scripts/menu_config.sh
  .scripts/menu_dialog_example.sh
  .scripts/menu_display_options_theme.sh
  .scripts/run_install.sh
  .scripts/symlink_ds.sh
  .scripts/update_self.sh
  .scripts/yml_merge.sh
  main.sh
Labels: core, repo

Colorize more notice messages. Remove incorrect instructions to use `sudo`.
  main.sh
Labels: core, repo

Colorize more notice messages. Remove incorrect instructions to use `sudo`. (#2085)
  main.sh
Labels: core, repo

Add `ds ` to the usage error notices
  main.sh
Labels: core, repo

Add `ds ` to the usage error notices (#2086)
  main.sh
Labels: core, repo

Update the usage text to show you can use multiple optional options
  main.sh
Labels: core, repo

Update the usage text to show you can use multiple optional options (#2087)
  main.sh
Labels: core, repo

Remove remaining hard-coded reference to `DockSTARTer`
  main.sh
Labels: core, repo

Remove remaining hard-coded reference to `DockSTARTer` (#2088)
  main.sh
Labels: core, repo

Use a global `APPLICATION_REPO` variable instead of hard-coding the URL
  main.sh
Labels: core, repo

Use a global `APPLICATION_REPO` variable instead of hard-coding the URL (#2089)
  main.sh
Labels: core, repo

Clean up fatal notices for the package manager
  .scripts/package_manager_run.sh
Labels: core

Clean up fatal notices for the package manager (#2090)
  .scripts/package_manager_run.sh
Labels: core

Initial changes
  compose/.apps/speedtest/speedtest.aarch64.yml
  compose/.apps/speedtest/speedtest.labels.yml
  compose/.apps/speedtest/speedtest.x86_64.yml
  docs/apps/speedtest.md
Labels: apps, docs

Add a `dialog_info` function that uses `dialog --infobox`
  main.sh
Labels: core, repo

Add a `dialog_info` function that uses `dialog --infobox` (#2091)
  main.sh
Labels: core, repo

Re-work `menu_app_select` getting rid of temporary file usage
  .scripts/menu_app_select.sh
Labels: core

Re-work `menu_app_select` getting rid of temporary file usage (#2092)
  .scripts/menu_app_select.sh
Labels: core

Show the progress of generating the application list in the GUI
  .scripts/menu_app_select.sh
Labels: core

Show the progress of generating the application list in the GUI (#2093)
  .scripts/menu_app_select.sh
Labels: core

Deployed 38ee2402 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Re-write of the progress bar in `menu_app_select`
  .scripts/menu_app_select.sh
Labels: core

Re-write of the progress bar in `menu_app_select` (#2094)
  .scripts/menu_app_select.sh
Labels: core

Deployed b6656b9b with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Clean up `menu_app_select` slightly
  .scripts/menu_app_select.sh
Labels: core

Clean up `menu_app_select` slightly (#2097)
  .scripts/menu_app_select.sh
Labels: core

Add `ds -S` and `ds --select` commands to go directly to the app select gui
  main.sh
Labels: core, repo
