Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

Update group functions (#2286)
  .includes/misc_functions.sh
Labels: core

Allow optional arguments during fresh install. (#2282)
  main.sh
Labels: core, repo

Update tandoor environment and ports to 80 from 8080 (#2269)
  compose/.apps/tandoor/.env
  compose/.apps/tandoor/tandoor.migrate
  compose/.apps/tandoor/tandoor.ports.yml
Labels: apps

Add the missing `--config-pm` and `--config-pm-auto` usage text (#2284)
  .includes/usage.sh
Labels: core

Remove extraneous newline in Calibre variable file (#2279)
  compose/.apps/calibre/.env.app.calibre
Labels: apps

Remove `-T` from the `--pm-config` and `--pm-config-auto` usages text (#2285)
  .includes/usage.sh
Labels: core

Re-apply Tandoor update (#2289)
  compose/.apps/tandoor/.env
  compose/.apps/tandoor/tandoor.migrate
  compose/.apps/tandoor/tandoor.ports.yml
Labels: apps

Deployed 1805f5e7 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Deployed 8f6c1a4e with MkDocs version: 1.6.1
  requirements.txt
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Use `tput` to populate `LINES` and `COLUMNS` variables
  .includes/dialog_functions.sh
  .scripts/menu_add_app.sh
  .scripts/menu_add_var.sh
  .scripts/menu_app_select.sh
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_dialog_example.sh
  .scripts/menu_value_prompt.sh
  .scripts/question_prompt.sh
Labels: core

Use `tput` to populate `LINES` and `COLUMNS` variables (#2290)
  .includes/dialog_functions.sh
  .scripts/menu_add_app.sh
  .scripts/menu_add_var.sh
  .scripts/menu_app_select.sh
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_dialog_example.sh
  .scripts/menu_value_prompt.sh
  .scripts/question_prompt.sh
Labels: core

Deployed b6f9f6c6 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Change "Options" description in main menu
  .scripts/menu_main.sh
Labels: core

Change "Options" description in main menu (#2291)
  .scripts/menu_main.sh
Labels: core

Add support for the Zypper package manager (SUSE)
  .includes/pm_variables.sh
  .scripts/package_manager_run.sh
  .scripts/pm__install.sh
  .scripts/pm_apk_install.sh
  .scripts/pm_apt_install.sh
  .scripts/pm_apt_repos.sh
  .scripts/pm_dnf_install.sh
  .scripts/pm_nala_install.sh
  .scripts/pm_pacman_install.sh
  .scripts/pm_yum_install.sh
  .scripts/pm_zypper_clean.sh
  .scripts/pm_zypper_install.sh
  .scripts/pm_zypper_install_docker.sh
  .scripts/pm_zypper_repos.sh
  .scripts/pm_zypper_upgrade.sh
  compose/.apps/tandoor/.env
  compose/.apps/tandoor/tandoor.migrate
  compose/.apps/tandoor/tandoor.ports.yml
  main.sh
Labels: apps, core, repo

Use a "set_screen_size" helper function to set `LINES` and `COLUMNS` vars
  .includes/dialog_functions.sh
  .scripts/menu_add_app.sh
  .scripts/menu_add_var.sh
  .scripts/menu_app_select.sh
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_dialog_example.sh
  .scripts/menu_value_prompt.sh
  .scripts/question_prompt.sh
Labels: core

Use a "set_screen_size" helper function to set `LINES` and `COLUMNS` vars (#2292)
  .includes/dialog_functions.sh
  .scripts/menu_add_app.sh
  .scripts/menu_add_var.sh
  .scripts/menu_app_select.sh
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_dialog_example.sh
  .scripts/menu_value_prompt.sh
  .scripts/question_prompt.sh
Labels: core

Add volume configuration for Flame app
  compose/.apps/flame/flame.yml
Labels: apps

Add volume configuration for Flame app (#2294)
  compose/.apps/flame/flame.yml
Labels: apps

Deployed acf9c838 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Update watchtower to use nickfedor container
  compose/.apps/watchtower/watchtower.aarch64.yml
  compose/.apps/watchtower/watchtower.x86_64.yml
Labels: apps

Update watchtower docs
  docs/apps/watchtower.md
  docs/basics/faq.md
Labels: docs

Update watchtower to use the actively maintained nickfedor/watchtower image (#2296)
  compose/.apps/watchtower/watchtower.aarch64.yml
  compose/.apps/watchtower/watchtower.x86_64.yml
  docs/apps/watchtower.md
  docs/basics/faq.md
Labels: apps, docs

Deployed 6f233992 with MkDocs version: 1.6.1
  apps/watchtower/index.html
  basics/faq/index.html
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Update package manager code
  .includes/pm_variables.sh
  .scripts/package_manager_run.sh
  .scripts/pm__install.sh
  .scripts/pm_apk_install.sh
  .scripts/pm_apt_install.sh
  .scripts/pm_apt_repos.sh
  .scripts/pm_dnf_install.sh
  .scripts/pm_nala_install.sh
  .scripts/pm_pacman_install.sh
  .scripts/pm_yum_install.sh
  .scripts/pm_zypper_clean.sh
  .scripts/pm_zypper_install.sh
  .scripts/pm_zypper_install_docker.sh
  .scripts/pm_zypper_repos.sh
  .scripts/pm_zypper_upgrade.sh
  compose/.apps/tandoor/.env
  compose/.apps/tandoor/tandoor.migrate
  compose/.apps/tandoor/tandoor.ports.yml
Labels: apps, core

Update package manager code (#2297)
  .includes/pm_variables.sh
  .scripts/pm__install.sh
  .scripts/pm_apk_install.sh
  .scripts/pm_apt_install.sh
  .scripts/pm_dnf_install.sh
  .scripts/pm_nala_install.sh
  .scripts/pm_pacman_install.sh
  .scripts/pm_yum_install.sh
  .scripts/pm_zypper_clean.sh
  .scripts/pm_zypper_install.sh
  .scripts/pm_zypper_install_docker.sh
  .scripts/pm_zypper_repos.sh
  .scripts/pm_zypper_upgrade.sh
Labels: core

Deployed 0d115690 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Fix creating symlink in Ubuntu 25.10
  .scripts/symlink_ds.sh
Labels: core

Fix creating symlink in Ubuntu 25.10 (#2298)
  .scripts/symlink_ds.sh
Labels: core

Replace `pr -e` with `expand`
  .includes/cmdline.sh
  .scripts/menu_app_select.sh
Labels: core

Replace `pr -e` with `expand` (#2299)
  .includes/cmdline.sh
  .scripts/menu_app_select.sh
Labels: core

Fixes for Ubuntu 25.10
  .includes/pm_variables.sh
Labels: core

Fixes for Ubuntu 25.10 (#2300)
  .includes/pm_variables.sh
Labels: core

Deployed 9b5a9c67 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Deployed e5f0cf56 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Deployed de00810c with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Deployed a22684ce with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Add an "Exit" button to dialog boxes in the menu
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_exit.sh
  .scripts/menu_main.sh
  .scripts/menu_options.sh
Labels: core

Add an "Exit" button to dialog boxes in the menu (#2303)
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_exit.sh
  .scripts/menu_main.sh
  .scripts/menu_options.sh
Labels: core

Get the function name from the system in dialog error messages
  .scripts/menu_add_app.sh
  .scripts/menu_add_var.sh
  .scripts/menu_app_select.sh
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_main.sh
  .scripts/menu_options.sh
  .scripts/menu_options_display.sh
  .scripts/menu_options_package_manager.sh
  .scripts/menu_options_theme.sh
  .scripts/menu_value_prompt.sh
  .scripts/question_prompt.sh
Labels: core

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]
