Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]

Update update_self.sh
  .scripts/update_self.sh
Labels: core

Revert "Update main.sh"
  main.sh
Labels: core, repo

Update update_self.sh
  .scripts/update_self.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Update update_self.sh
  .scripts/update_self.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Update yml_merge.sh
  .scripts/yml_merge.sh
Labels: core

Update docker_compose.sh
  .scripts/docker_compose.sh
Labels: core

Revert "Update docker_compose.sh"
  .scripts/docker_compose.sh
Labels: core

Update docker_compose.sh
  .scripts/docker_compose.sh
Labels: core

Revert "Update docker_compose.sh"
  .scripts/docker_compose.sh
Labels: core

Update yml_merge.sh
  .scripts/yml_merge.sh
Labels: core

Create merge_and_compose.sh
  .scripts/merge_and_compose.sh
Labels: core

Update docker_compose.sh
  .scripts/docker_compose.sh
Labels: core

Update menu_config.sh
  .scripts/menu_config.sh
Labels: core

Update merge_and_compose.sh
  .scripts/merge_and_compose.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Update menu_config_apps.sh
  .scripts/menu_config_apps.sh
Labels: core

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

Rename `config_global` to `menu_config_global`. Remove unused `config_apps`.
  .scripts/config_apps.sh
  .scripts/menu_config.sh
  .scripts/menu_config_global.sh
Labels: core

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

Update gluetun.migrate
  compose/.apps/gluetun/gluetun.migrate
Labels: apps

Update jellyseerr.md
  docs/apps/jellyseerr.md
Labels: docs

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Stop clearing the screen for dialog boxes to see how it looks
  .scripts/appvars_purge.sh
  .scripts/docker_prune.sh
  .scripts/menu_app_select.sh
  .scripts/menu_app_vars.sh
  .scripts/menu_config_apps.sh
  .scripts/merge_and_compose.sh
  .scripts/pm_apt_install.sh
  .scripts/pm_apt_repos.sh
  .scripts/pm_apt_upgrade.sh
  .scripts/update_self.sh
Labels: core

Update menu_config_global.sh
  .scripts/menu_config_global.sh
Labels: core

Add description of the shellcheck being disabled
  .scripts/menu_app_vars.sh
  .scripts/menu_config_global.sh
Labels: core

Install `ansifilter` and `dialog` in all package managers.
  .scripts/package_manager_run.sh
  .scripts/pm_apk_install.sh
  .scripts/pm_apt_install.sh
  .scripts/pm_dnf_install.sh
  .scripts/pm_pacman_install.sh
  .scripts/pm_yum_install.sh
Labels: core

Remove the option of PROMPT="FORCE".
  .scripts/question_prompt.sh
  main.sh
Labels: core, repo

Update main.sh
  main.sh
Labels: core, repo

Update main.sh
  main.sh
Labels: core, repo

Update main.sh
  main.sh
Labels: core, repo

Use the `PROMPT_DEFAULT` variable in all functions.
  .scripts/appvars_purge.sh
  .scripts/appvars_purge_all.sh
  .scripts/docker_prune.sh
  .scripts/get_docker.sh
  .scripts/menu_value_prompt.sh
  .scripts/merge_and_compose.sh
  .scripts/pm_apk_install.sh
  .scripts/pm_apk_install_docker.sh
  .scripts/pm_apk_upgrade.sh
  .scripts/pm_apt_install.sh
  .scripts/pm_apt_repos.sh
  .scripts/pm_apt_upgrade.sh
  .scripts/pm_dnf_install.sh
  .scripts/pm_dnf_upgrade.sh
  .scripts/pm_pacman_install.sh
  .scripts/pm_pacman_install_docker.sh
  .scripts/pm_pacman_upgrade.sh
  .scripts/pm_yum_install.sh
  .scripts/pm_yum_repos.sh
  .scripts/pm_yum_upgrade.sh
  .scripts/question_prompt.sh
  .scripts/update_self.sh
  main.sh
Labels: core, repo

Use global `PROMPT` variable.
  .scripts/appvars_purge.sh
  .scripts/appvars_purge_all.sh
  .scripts/docker_prune.sh
  .scripts/get_docker.sh
  .scripts/menu_value_prompt.sh
  .scripts/merge_and_compose.sh
  .scripts/pm_apk_install.sh
  .scripts/pm_apk_install_docker.sh
  .scripts/pm_apk_upgrade.sh
  .scripts/pm_apt_install.sh
  .scripts/pm_apt_repos.sh
  .scripts/pm_apt_upgrade.sh
  .scripts/pm_dnf_install.sh
  .scripts/pm_dnf_upgrade.sh
  .scripts/pm_pacman_install.sh
  .scripts/pm_pacman_install_docker.sh
  .scripts/pm_pacman_upgrade.sh
  .scripts/pm_yum_install.sh
  .scripts/pm_yum_repos.sh
  .scripts/pm_yum_upgrade.sh
  .scripts/question_prompt.sh
  .scripts/update_self.sh
  main.sh
Labels: core, repo

Check to see if we are already redirecting output before opening a dialog window for command output.
  .scripts/appvars_purge.sh
  .scripts/docker_prune.sh
  .scripts/merge_and_compose.sh
  .scripts/pm_apt_install.sh
  .scripts/pm_apt_repos.sh
  .scripts/pm_apt_upgrade.sh
  .scripts/update_self.sh
Labels: core

Update update_self.sh
  .scripts/update_self.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Create a global `MENU` variable to say we are using the menus, as opposed to just the GUI from the command-line
  .scripts/update_self.sh
  main.sh
Labels: core, repo

Update main.sh
  main.sh
Labels: core, repo
