Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]

Update env_sanitize.sh
  .scripts/env_sanitize.sh
Labels: core

Update env_sanitize.sh
  .scripts/env_sanitize.sh
Labels: core

Update env_sanitize.sh
  .scripts/env_sanitize.sh
Labels: core

Update env_sanitize.sh
  .scripts/env_sanitize.sh
Labels: core

Update env_sanitize.sh
  .scripts/env_sanitize.sh
Labels: core

Update env_sanitize.sh
  .scripts/env_sanitize.sh
Labels: core

Update env_sanitize.sh
  .scripts/env_sanitize.sh
Labels: core

Update env_sanitize.sh
  .scripts/env_sanitize.sh
Labels: core

Remove debugging notices
  .scripts/appvars_create_all.sh
  .scripts/env_backup.sh
  .scripts/env_create.sh
  .scripts/env_sanitize.sh
  .scripts/env_update.sh
Labels: core

Update env_sanitize.sh
  .scripts/env_sanitize.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update env_sanitize.sh
  .scripts/env_sanitize.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update env_create.sh
  .scripts/env_create.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Change initial global variable values
  .scripts/env_sanitize.sh
  compose/.env.example
Labels: apps, core

Update env_sanitize.sh
  .scripts/env_sanitize.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Set a default color for the app description
  .scripts/menu_value_prompt.sh
  main.sh
Labels: core, repo

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Revert "Update menu_value_prompt.sh"
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update question_prompt.sh
  .scripts/question_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_config_apps.sh
  .scripts/menu_config_apps.sh
Labels: core

Revert "Update menu_config_apps.sh"
  .scripts/menu_config_apps.sh
Labels: core

Update menu_config_vars.sh
  .scripts/menu_config_vars.sh
Labels: core

Update menu_add_var.sh
  .scripts/menu_add_var.sh
Labels: core

Update menu_add_var.sh
  .scripts/menu_add_var.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Use global variables to adjust window dimensions.
  .scripts/menu_add_var.sh
  .scripts/menu_app_select.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_value_prompt.sh
  .scripts/question_prompt.sh
  main.sh
Labels: core, repo

Update menu_config_vars.sh
  .scripts/menu_config_vars.sh
Labels: core

Revert "Update menu_config_vars.sh"
  .scripts/menu_config_vars.sh
Labels: core

Reapply "Update menu_config_apps.sh"
  .scripts/menu_config_apps.sh
Labels: core
