Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

Update main.sh
  main.sh
Labels: core, repo

Create whisparr.md
  docs/apps/whisparr.md
Labels: docs

Revert "Update main.sh"
  main.sh
Labels: core, repo

Create Whisparr compose docs
  compose/.apps/whisparr/whisparr.aarch64.yml
  compose/.apps/whisparr/whisparr.hostname.yml
  compose/.apps/whisparr/whisparr.labels.yml
  compose/.apps/whisparr/whisparr.netmode.yml
  compose/.apps/whisparr/whisparr.ports.yml
  compose/.apps/whisparr/whisparr.x86_64.yml
  compose/.apps/whisparr/whisparr.yml
Labels: apps

Update mkdocs.yml
  mkdocs.yml
Labels: docs, repo

Update main.sh
  main.sh
Labels: core, repo

Update main.sh
  main.sh
Labels: core, repo

Remove `ansifilter` from functions
  .scripts/menu_app_select.sh
  .scripts/menu_app_vars.sh
  .scripts/menu_config_apps.sh
  .scripts/merge_and_compose.sh
  .scripts/update_self.sh
  main.sh
Labels: core, repo

Update main.sh
  main.sh
Labels: core, repo

Update main.sh
  main.sh
Labels: core, repo

Remove `ansifilter` and `whiptail` from the dependencies
  .scripts/package_manager_run.sh
  .scripts/pm_apk_install.sh
  .scripts/pm_apt_install.sh
  .scripts/pm_dnf_install.sh
  .scripts/pm_pacman_install.sh
  .scripts/pm_yum_install.sh
Labels: core

Revert "Remove `ansifilter` and `whiptail` from the dependencies"
  .scripts/package_manager_run.sh
  .scripts/pm_apk_install.sh
  .scripts/pm_apt_install.sh
  .scripts/pm_dnf_install.sh
  .scripts/pm_pacman_install.sh
  .scripts/pm_yum_install.sh
Labels: core

Revert "Update main.sh"
  main.sh
Labels: core, repo

Update main.sh
  main.sh
Labels: core, repo

Update main.sh
  main.sh
Labels: core, repo

Reapply "Remove `ansifilter` and `whiptail` from the dependencies"
  .scripts/package_manager_run.sh
  .scripts/pm_apk_install.sh
  .scripts/pm_apt_install.sh
  .scripts/pm_dnf_install.sh
  .scripts/pm_pacman_install.sh
  .scripts/pm_yum_install.sh
Labels: core

Update env_backup.sh
  .scripts/env_backup.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Remove `dialog` `--clear` options, and most `clear` commands
  .scripts/menu_app_select.sh
  .scripts/menu_app_vars.sh
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_config_global.sh
  .scripts/menu_main.sh
  .scripts/menu_value_prompt.sh
  .scripts/question_prompt.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update docker_prune.sh
  .scripts/docker_prune.sh
Labels: core

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Update menu_config_apps.sh
  .scripts/menu_config_apps.sh
Labels: core

Update merge_and_compose.sh
  .scripts/merge_and_compose.sh
Labels: core

Update pm_apt_install.sh
  .scripts/pm_apt_install.sh
Labels: core

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]
