Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]

Add shortcuts to the menu pages, and add an optional argument to `ds --help`
  .includes/cmdline.sh
  .includes/dialog_functions.sh
  .includes/misc_functions.sh
  .includes/usage.sh
  .scripts/docker_compose.sh
  .scripts/menu_config.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_main.sh
  .scripts/menu_options.sh
  .scripts/menu_options_display.sh
  .scripts/menu_options_theme.sh
  .scripts/pm_apt_install.sh
  .scripts/pm_nala_clean.sh
  .scripts/pm_nala_install.sh
  .scripts/pm_nala_install_docker.sh
  .scripts/pm_nala_repos.sh
  .scripts/pm_nala_upgrade.sh
  .scripts/update_self.sh
  main.sh
Labels: core, repo

Add shortcuts to the menu pages, and add an optional argument to `ds --help` (#2233)
  .includes/cmdline.sh
  .includes/misc_functions.sh
  .includes/usage.sh
  .scripts/menu_config.sh
  .scripts/menu_main.sh
  .scripts/menu_options.sh
  .scripts/menu_options_display.sh
  .scripts/menu_options_theme.sh
  main.sh
Labels: core, repo

Deployed 9a727330 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Add color the usage text
  .includes/usage.sh
Labels: core

Update usage.sh
  .includes/usage.sh
Labels: core

Update usage.sh
  .includes/usage.sh
Labels: core

Update usage.sh
  .includes/usage.sh
Labels: core

Update usage.sh
  .includes/usage.sh
Labels: core

Update usage.sh
  .includes/usage.sh
Labels: core

Update usage.sh
  .includes/usage.sh
Labels: core

Update usage.sh
  .includes/usage.sh
Labels: core

Update usage.sh
  .includes/usage.sh
Labels: core

Update usage.sh
  .includes/usage.sh
Labels: core

Add color the usage text
  .includes/usage.sh
Labels: core

Update usage.sh
  .includes/usage.sh
Labels: core

Update usage.sh
  .includes/usage.sh
  main.sh
Labels: core, repo

Add color to the usage text (#2234)
  .includes/usage.sh
  main.sh
Labels: core, repo

Fix the color of usage text
  .includes/usage.sh
Labels: core

Fix the color of usage text (#2235)
  .includes/usage.sh
Labels: core

Fix format of `--env-set-lower` usage text
  .includes/usage.sh
Labels: core

Fix format of `--env-set-lower` usage text (#2236)
  .includes/usage.sh
Labels: core

Update the screenshots
  docs/assets/command_help.png
  docs/assets/menu_app_select.png
  docs/assets/menu_config_vars.png
  docs/assets/menu_main.png
  docs/assets/menu_value_prompt.png
Labels: docs

Update the screenshots (#2237)
  docs/assets/command_help.png
  docs/assets/menu_app_select.png
  docs/assets/menu_config_vars.png
  docs/assets/menu_main.png
  docs/assets/menu_value_prompt.png
Labels: docs

Deployed f197f3cd with MkDocs version: 1.6.1
  assets/command_help.png
  assets/menu_app_select.png
  assets/menu_config_vars.png
  assets/menu_main.png
  assets/menu_value_prompt.png
Labels: none

Minor fixes to the usage text
  .includes/usage.sh
Labels: core

Minor fixes to the usage text (#2238)
  .includes/usage.sh
Labels: core

Change `DOCKER_STORAGE` vars to `DOCKER_STORAGE_ON`
  compose/.env.example
Labels: apps

Change `yml_merge` to check for the `*_STORAGE_ON` vars
  .scripts/yml_merge.sh
Labels: core

Migrate the `DOCKER_STORAGE` vars to `DOCKER_STORAGE_ON`
  .scripts/env_migrate_global.sh
Labels: core

Fix the incorrect usage text for `ds --menu select`
  .includes/usage.sh
Labels: core

Fix the incorrect usage text for `ds --menu select` (#2239)
  .includes/usage.sh
Labels: core

Deployed 0a2bfb65 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Fix `yml_merge` to check for `*_STORAGE#_ON` vars instead of `*_STORAGE_ON#`
  .scripts/yml_merge.sh
Labels: core

Add a comment for `DOCKER_MULTIPLE_STORAGE` var
  compose/.env.example
Labels: apps

Add `1` as a boolean "true" along with `ON`, `TRUE` and `YES` for variables
  .scripts/app_is_disabled.sh
  .scripts/app_is_enabled.sh
  .scripts/apply_theme.sh
  .scripts/menu_options_display.sh
  .scripts/yml_merge.sh
Labels: core

Add `1` as a boolean "true" along with `ON`, `TRUE` and `YES` for variables (#2242)
  .scripts/app_is_disabled.sh
  .scripts/app_is_enabled.sh
  .scripts/apply_theme.sh
  .scripts/menu_options_display.sh
  .scripts/yml_merge.sh
Labels: core

Create and use `is_true` and `is_false` functions
  .includes/misc_functions.sh
  .scripts/app_is_disabled.sh
  .scripts/app_is_enabled.sh
  .scripts/apply_theme.sh
  .scripts/menu_options_display.sh
  .scripts/yml_merge.sh
Labels: core

Create and use `is_true` and `is_false` functions (#2243)
  .includes/misc_functions.sh
  .scripts/app_is_disabled.sh
  .scripts/app_is_enabled.sh
  .scripts/apply_theme.sh
  .scripts/menu_options_display.sh
  .scripts/yml_merge.sh
Labels: core

Fix handling of comments on variable lines in `env_set`
  .scripts/env_get.sh
Labels: core

Fix handling of comments on variable lines in `env_set` (#2244)
  .scripts/env_get.sh
Labels: core
