Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]

Update menu_config_vars.sh
  .scripts/menu_config_vars.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

Update menu_config.sh
  .scripts/menu_config.sh
Labels: core

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

Update menu_config.sh
  .scripts/menu_config.sh
Labels: core

Update menu_config_vars.sh
  .scripts/menu_config_vars.sh
Labels: core

Update menu_config.sh
  .scripts/menu_config.sh
Labels: core

Update menu_add_var.sh
  .scripts/menu_add_var.sh
Labels: core

Create var_default_value.sh
  .scripts/menu_add_var.sh
  .scripts/var_default_value.sh
Labels: core

Update menu_add_var.sh
  .scripts/menu_add_var.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update var_default_value.sh
  .scripts/var_default_value.sh
Labels: core

Set `DOCKER_GID` automatically
  .scripts/env_sanitize.sh
  compose/.env.example
Labels: apps, core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update env_sanitize.sh
  .scripts/env_sanitize.sh
Labels: core

Update env_sanitize.sh
  .scripts/env_sanitize.sh
Labels: core

Update env_sanitize.sh
  .scripts/env_sanitize.sh
Labels: core

Update env_migrate_global.sh
  .scripts/env_migrate_global.sh
Labels: core

Update env_sanitize.sh
  .scripts/env_sanitize.sh
Labels: core

Update appvars_create_all.sh
  .scripts/appvars_create_all.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update env_migrate_global.sh
  .scripts/env_migrate_global.sh
Labels: core

Update env_backup.sh
  .scripts/env_backup.sh
Labels: core

Update env_sanitize.sh
  .scripts/env_sanitize.sh
Labels: core

Update env_sanitize.sh
  .scripts/env_sanitize.sh
Labels: core

Update env_backup.sh
  .scripts/env_backup.sh
Labels: core

Update appvars_create_all.sh
  .scripts/appvars_create_all.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update env_sanitize.sh
  .scripts/env_sanitize.sh
Labels: core

Update .env.example
  compose/.env.example
Labels: apps

Update main.sh
  main.sh
Labels: core, repo

Add some logging to track down a loop
  .scripts/appvars_create_all.sh
  .scripts/env_create.sh
  .scripts/env_sanitize.sh
Labels: core

Update env_update.sh
  .scripts/env_update.sh
Labels: core

Update env_update.sh
  .scripts/env_update.sh
Labels: core

Logging to track loop
  .scripts/appvars_create_all.sh
  .scripts/env_backup.sh
Labels: core

Update env_sanitize.sh
  .scripts/env_sanitize.sh
Labels: core

Update env_sanitize.sh
  .scripts/env_sanitize.sh
Labels: core
