Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]

Update main.sh
  main.sh
Labels: core, repo

Add `app_list_depreciated` function
  .scripts/app_list_depreciated.sh
  main.sh
Labels: core, repo

Create appvars_lines.sh
  .scripts/appvars_lines.sh
Labels: core

Update env_update.sh
  .scripts/env_update.sh
Labels: core

Initial re-write of `appvars_create` to merge from env files instead of label files
  .scripts/appvars_create.sh
  .scripts/env_merge_newonly.sh
Labels: core

Update env_set.sh
  .scripts/env_set.sh
Labels: core

Remove unused `APPDEPRECIATED` from `yml_merge`
  .scripts/yml_merge.sh
Labels: core

Update app_is_depreciated.sh
  .scripts/app_is_depreciated.sh
Labels: core

Update env_get.sh
  .scripts/env_get.sh
Labels: core

Create appvars_list.sh
  .scripts/appvars_list.sh
Labels: core

Update env_update.sh
  .scripts/env_update.sh
Labels: core

Update env_update.sh
  .scripts/env_update.sh
Labels: core

Update env_update.sh
  .scripts/env_update.sh
Labels: core

Update env_vars.sh
  .scripts/env_vars.sh
Labels: core

Create a global var for the default `.env` file
  .scripts/env_update.sh
  main.sh
Labels: core, repo

Show if apps are depreciated in `apps_list`
  .scripts/app_list.sh
Labels: core

Add `env_lines` function to list all variables and values in a `.env` file
  .scripts/env_lines.sh
Labels: core

Only migrate enabled app variables, not all installed apps
  .scripts/appvars_migrate_all.sh
Labels: core

Handle non-existent env files in `env_get` and `env_set`
  .scripts/env_get.sh
  .scripts/env_set.sh
Labels: core

Update env_merge_newonly.sh
  .scripts/env_merge_newonly.sh
Labels: core

Switch to using `env_var_exists` instead of a return value from `get_env` to check variable existence.
  .scripts/appvars_create.sh
  .scripts/env_get.sh
  .scripts/env_var_exists.sh
Labels: core

Add depreciated apps
  compose/.apps/letsencrypt/letsencrypt.labels.yml
  compose/.apps/minecraft_bedrock_server/minecraft_bedrock_server.labels.yml
  compose/.apps/minecraft_server/minecraft_server.labels.yml
Labels: apps

Update env_get.sh
  .scripts/env_get.sh
Labels: core

Update env_get.sh
  .scripts/env_get.sh
Labels: core

Update env_sanitize.sh
  .scripts/env_sanitize.sh
Labels: core

Update env_set.sh
  .scripts/env_set.sh
Labels: core

Update `env_vars.sh`, `appvars_lines.sh` and `appvars_list.sh`
  .scripts/appvars_lines.sh
  .scripts/appvars_list.sh
  .scripts/env_vars.sh
Labels: core

Change `env_get` and `env_set` tests slightly
  .scripts/env_get.sh
  .scripts/env_set.sh
Labels: core

Update "list" functions
  .scripts/app_list_disabled.sh
  .scripts/app_list_enabled.sh
  .scripts/app_list_installed.sh
Labels: core

Update appvars_purge.sh
  .scripts/appvars_purge.sh
Labels: core

Update app_is_installed.sh
  .scripts/app_is_builtin.sh
  .scripts/app_is_installed.sh
Labels: core

Change logic to add vars for all installed apps, and to migrate vars for all enabled apps.
  .scripts/appvars_create.sh
  .scripts/appvars_create_all.sh
  main.sh
Labels: core, repo

Update appvars_create.sh
  .scripts/appvars_create.sh
Labels: core

Update appvars_purge.sh
  .scripts/appvars_purge.sh
Labels: core

Update appvars_rename.sh
  .scripts/appvars_rename.sh
Labels: core

Update appvars_rename.sh
  .scripts/appvars_rename.sh
Labels: core

Update appvars_create.sh
  .scripts/appvars_create.sh
Labels: core

Update appvars_purge.sh
  .scripts/appvars_purge.sh
Labels: core

Rename function `env_vars` to `env_var_list`
  .scripts/env_update.sh
  .scripts/env_var_list.sh
Labels: core

Update env_merge_newonly.sh
  .scripts/env_merge_newonly.sh
Labels: core
