Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

Deployed 21fdd908 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Handle `#` in variable values when ignoring comments in `env_get`
  .scripts/env_get.sh
  .scripts/env_get_line.sh
  .scripts/env_get_literal.sh
Labels: core

Handle `#` in variable values when ignoring comments in `env_get` (#2245)
  .scripts/env_get.sh
  .scripts/env_get_line.sh
  .scripts/env_get_literal.sh
Labels: core

Fix naming of `handbreak.devices.yml` to `handbrake.devices.yml`
  compose/.apps/handbrake/handbrake.devices.yml
  compose/.apps/handbrake/handbreak.devices.yml
Labels: apps

Fix naming of `handbreak.devices.yml` to `handbrake.devices.yml` (#2246)
  compose/.apps/handbrake/handbrake.devices.yml
  compose/.apps/handbrake/handbreak.devices.yml
Labels: apps

Deployed 00408ca3 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Add a unit testing function
  .includes/misc_functions.sh
  .includes/test_functions.sh
  .scripts/env_get.sh
  .scripts/env_get_line.sh
  .scripts/env_get_literal.sh
Labels: core

Update .includes/misc_functions.sh
  .includes/misc_functions.sh
Labels: core

Update .includes/misc_functions.sh
  .includes/misc_functions.sh
Labels: core

Add a unit testing function (#2247)
  .includes/misc_functions.sh
  .includes/test_functions.sh
  .scripts/env_get.sh
  .scripts/env_get_line.sh
  .scripts/env_get_literal.sh
Labels: core

Deployed 858680fd with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Update the unit test routine
  .includes/test_functions.sh
  .scripts/env_get.sh
Labels: core

Update env_get.sh
  .scripts/env_get.sh
Labels: core

Update env_get.sh
  .scripts/env_get.sh
Labels: core

Update env_get.sh
  .scripts/env_get.sh
Labels: core

Update env_get.sh
  .scripts/env_get.sh
Labels: core

Update the unit test routine
  .includes/test_functions.sh
  .scripts/env_get.sh
Labels: core

Update env_get_line.sh
  .scripts/env_get_line.sh
Labels: core

Update env_get.sh
  .scripts/env_get.sh
Labels: core

Update env_get_line.sh
  .scripts/env_get_line.sh
Labels: core

Update env_get_literal.sh
  .scripts/env_get_literal.sh
Labels: core

Update the unit tests (#2248)
  .includes/test_functions.sh
  .scripts/env_get.sh
  .scripts/env_get_line.sh
  .scripts/env_get_literal.sh
Labels: core

Deployed 3f1a7140 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Fix comments for force pass in `env_get` testing
  .scripts/env_get.sh
  .scripts/env_get_line.sh
  .scripts/env_get_literal.sh
Labels: core

Fix comments for force pass in `env_get` testing (#2249)
  .scripts/env_get.sh
  .scripts/env_get_line.sh
  .scripts/env_get_literal.sh
Labels: core

Move forced passing of tests to `run_unit_test` functions, and add a pointer to errors.
  .includes/test_functions.sh
  .scripts/env_get.sh
  .scripts/env_get_line.sh
  .scripts/env_get_literal.sh
Labels: core

Move forced passing of tests to `run_unit_test` functions, and add a pointer to errors. (#2250)
  .includes/test_functions.sh
  .scripts/env_get.sh
  .scripts/env_get_line.sh
  .scripts/env_get_literal.sh
Labels: core

Warn if the `ForcePass` variable is set for a test even if no error occurred.
  .includes/test_functions.sh
Labels: core

Warn if the `ForcePass` variable is set for a test even if no error occurred. (#2251)
  .includes/test_functions.sh
Labels: core

Update app_nicename_from_template.sh
  .scripts/app_description.sh
  .scripts/app_description_from_template.sh
  .scripts/app_nicename.sh
  .scripts/app_nicename_from_template.sh
  .scripts/menu_app_select.sh
Labels: core

Update app_nicename_from_template.sh (#2252)
  .scripts/app_description.sh
  .scripts/app_description_from_template.sh
  .scripts/app_nicename.sh
  .scripts/app_nicename_from_template.sh
  .scripts/menu_app_select.sh
Labels: core

Add unit tests for `app_nicename` and `app_nicename_from_template`
  .scripts/app_nicename.sh
  .scripts/app_nicename_from_template.sh
Labels: core

Add unit tests for `app_nicename` and `app_nicename_from_template` (#2253)
  .scripts/app_nicename.sh
  .scripts/app_nicename_from_template.sh
Labels: core

Add comments describing "ForcePass" variable
  .scripts/app_nicename.sh
  .scripts/app_nicename_from_template.sh
  .scripts/env_get.sh
  .scripts/env_get_line.sh
  .scripts/env_get_literal.sh
Labels: core

Add comments describing "ForcePass" variable (#2254)
  .scripts/app_nicename.sh
  .scripts/app_nicename_from_template.sh
  .scripts/env_get.sh
  .scripts/env_get_line.sh
  .scripts/env_get_literal.sh
Labels: core

Add unit tests to `app_description` and `app_description_from_template`
  .scripts/app_description.sh
  .scripts/app_description_from_template.sh
Labels: core

Add unit tests to `app_description` and `app_description_from_template` (#2255)
  .scripts/app_description.sh
  .scripts/app_description_from_template.sh
Labels: core

Add unit tests to `app_is_builtin`
  .scripts/app_is_builtin.sh
Labels: core

Add unit tests to `app_is_builtin` (#2256)
  .scripts/app_is_builtin.sh
Labels: core

Create color vars for unit test "pass" and "fail" highlighting
  .includes/test_functions.sh
  main.sh
Labels: core, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]
