Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

Update docker_compose.sh
  .scripts/docker_compose.sh
Labels: core

Update docker_compose.sh
  .scripts/docker_compose.sh
Labels: core

Update docker_compose.sh
  .scripts/docker_compose.sh
Labels: core

Add `ds -c stop`
  .scripts/docker_compose.sh
  main.sh
Labels: core, repo

Squashed commit of the following:
  .scripts/docker_compose.sh
  main.sh
Labels: core, repo

Update main.sh
  main.sh
Labels: core, repo

Update command_help.png
  docs/assets/command_help.png
Labels: docs

Move call of `yml_merge` to `docker_compose`
  .scripts/docker_compose.sh
  .scripts/menu_config.sh
  main.sh
Labels: core, repo

Update docker_compose.sh
  .scripts/docker_compose.sh
Labels: core

Update docker_compose.sh
  .scripts/docker_compose.sh
Labels: core

Squashed commit of the following:
  .scripts/docker_compose.sh
  .scripts/menu_config.sh
  docs/assets/command_help.png
  main.sh
Labels: core, docs, repo

Make `docker_compose` handle the `merge` option
  .scripts/docker_compose.sh
  main.sh
Labels: core, repo

Update docker_compose.sh
  .scripts/docker_compose.sh
Labels: core

Update docker_prune.sh
  .scripts/docker_prune.sh
Labels: core

Remove indent before command line in header
  .scripts/docker_compose.sh
  .scripts/docker_prune.sh
Labels: core

Use the `CommadnLine` dialog color
  .scripts/docker_compose.sh
  .scripts/docker_prune.sh
  main.sh
Labels: core, repo

Update menu_config.sh
  .scripts/menu_config.sh
Labels: core

Update docker_prune.sh
  .scripts/docker_prune.sh
Labels: core

Update docker_compose.sh
  .scripts/docker_compose.sh
Labels: core

Revert "Update docker_compose.sh"
  .scripts/docker_compose.sh
Labels: core

Make a `TitleQuestion` color
  .scripts/appvars_purge.sh
  .scripts/appvars_purge_all.sh
  .scripts/docker_compose.sh
  .scripts/docker_prune.sh
  .scripts/menu_add_app.sh
  .scripts/menu_add_var.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_value_prompt.sh
  .scripts/question_prompt.sh
  .scripts/update_self.sh
  main.sh
Labels: core, repo

Make a `Subtitle` color
  .scripts/docker_compose.sh
  .scripts/docker_prune.sh
  main.sh
Labels: core, repo

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

Update menu_add_app.sh
  .scripts/menu_add_app.sh
Labels: core

Update menu_add_app.sh
  .scripts/menu_add_app.sh
Labels: core

Update docker_prune.sh
  .scripts/docker_prune.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Update main.sh
  main.sh
Labels: core, repo

Update menu_config.sh
  .scripts/menu_config.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Update main.sh
  main.sh
Labels: core, repo

Update update_self.sh
  .scripts/update_self.sh
Labels: core

Update menu_main.sh
  .scripts/menu_main.sh
Labels: core

Make `run_install` handle dialog output, and confirm before running.
  .scripts/menu_main.sh
  .scripts/run_install.sh
  main.sh
Labels: core, repo

Update menu_config.sh
  .scripts/menu_config.sh
Labels: core

Update logging in dialog boxes.
  .scripts/docker_compose.sh
  .scripts/docker_prune.sh
  .scripts/run_install.sh
  .scripts/update_self.sh
Labels: core

Update logging in dialog boxes.
  .scripts/docker_compose.sh
  .scripts/docker_prune.sh
  .scripts/run_install.sh
  .scripts/update_self.sh
Labels: core

Update update_self.sh
  .scripts/update_self.sh
Labels: core

Update run_install.sh
  .scripts/run_install.sh
Labels: core

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]
