Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]

Update menu_config.sh
  .scripts/menu_config.sh
Labels: core

Update menu_config.sh
  .scripts/menu_config.sh
Labels: core

Update question_prompt.sh
  .scripts/question_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

gluetun: Rename `GLUETUN_ENVIRONMENT_PUBLICIP_ENABLED` to `GLUETUN_ENVIRONMENT_PUBLICIP_ENABLE`
  compose/.apps/gluetun/gluetun.labels.yml
  compose/.apps/gluetun/gluetun.yml
Labels: apps

Deployed 40894edd with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Rename `config_apps` to `menu_config_apps`
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
Labels: core

Update menu_config_apps.sh
  .scripts/menu_config_apps.sh
Labels: core

Update menu_config_apps.sh
  .scripts/menu_config_apps.sh
Labels: core

Update menu_config_apps.sh
  .scripts/menu_config_apps.sh
Labels: core

Create env_get_literal.sh
  .scripts/env_get_literal.sh
Labels: core

Create env_set_literal.sh
  .scripts/env_set_literal.sh
Labels: core

Update menu_config_apps.sh
  .scripts/menu_config_apps.sh
Labels: core

Update env_var_list.sh
  .scripts/env_var_list.sh
Labels: core

Create env_list_app_env_defaults.sh
  .scripts/env_list_app_env_defaults.sh
Labels: core

Create env_list_app_global_defaults.sh
  .scripts/env_list_app_global_defaults.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Update menu_config.sh
  .scripts/menu_config.sh
Labels: core

Update menu_main.sh
  .scripts/menu_main.sh
Labels: core

Update menu_config.sh
  .scripts/menu_config.sh
Labels: core

Update menu_config.sh
  .scripts/menu_config.sh
Labels: core

Update menu_config.sh
  .scripts/menu_config.sh
Labels: core

Update menu_config.sh
  .scripts/menu_config.sh
Labels: core

Update docker_compose.sh
  .scripts/docker_compose.sh
Labels: core

Update docker_prune.sh
  .scripts/docker_prune.sh
Labels: core

Change `Exit` buttons to `Back` buttons in sub-menus
  .scripts/menu_app_vars.sh
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
Labels: core

Update menu_config_apps.sh
  .scripts/menu_config_apps.sh
Labels: core

Mask return values from functions in the GUI.
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_main.sh
Labels: core

Update update_self.sh
  .scripts/update_self.sh
Labels: core

Update update_self.sh
  .scripts/update_self.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo
