Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

Update main.sh
  main.sh
Labels: core, repo

Add a "Command:" prefix to command output in logs (#2409)
  .includes/misc_functions.sh
  .scripts/app_env_file.sh
  .scripts/config_theme.sh
  .scripts/docker_prune.sh
  .scripts/env_update.sh
  .scripts/get_docker.sh
  .scripts/menu_config_vars.sh
  .scripts/update_self.sh
  .scripts/update_templates.sh
  main.sh
Labels: core, repo

Deployed 38bf628d with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

suppress sigpipe errors in subshells and pipelines
  .scripts/docker_compose.sh
  .scripts/docker_prune.sh
  .scripts/get_docker.sh
  .scripts/menu_value_prompt.sh
  .scripts/needs_env_update.sh
  .scripts/run_install.sh
  .scripts/update_self.sh
  .scripts/update_templates.sh
Labels: core

suppress sigpipe errors in subshells and pipelines (#2410)
  .scripts/docker_compose.sh
  .scripts/docker_prune.sh
  .scripts/get_docker.sh
  .scripts/menu_value_prompt.sh
  .scripts/needs_env_update.sh
  .scripts/run_install.sh
  .scripts/update_self.sh
  .scripts/update_templates.sh
Labels: core

Attempt to fix crash while updating from the GUI
  .includes/cmdline.sh
  .scripts/menu_main.sh
  .scripts/update_self.sh
Labels: core

Attempt to fix crash while updating from the GUI
  .includes/cmdline.sh
  .scripts/menu_main.sh
  .scripts/update_self.sh
Labels: core

Attempt to fix crash while updating from the GUI
  .includes/cmdline.sh
  .scripts/menu_main.sh
  .scripts/update_self.sh
Labels: core

Fix crash when updating app through the GUI (#2411)
  .includes/cmdline.sh
  .scripts/menu_main.sh
  .scripts/update_self.sh
Labels: core

Move the version info to the top of the usage page
  .includes/usage.sh
Labels: core

Move the version info to the top of the usage page (#2412)
  .includes/usage.sh
Labels: core

Update logging slightly
  main.sh
Labels: core, repo

Update logging slightly (#2413)
  main.sh
Labels: core, repo

Deployed af903ce9 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Add Docker Compose pause/unpause
  .includes/cmdline.sh
  .scripts/docker_compose.sh
Labels: core

Add Docker Compose pause/unpause (#2414)
  .includes/cmdline.sh
  .scripts/docker_compose.sh
Labels: core

Add `-c pause` and -c unpause` to the usage text
  .includes/usage.sh
Labels: core

Add `-c pause` and -c unpause` to the usage text (#2415)
  .includes/usage.sh
Labels: core

Move `.config/dockstarter.ini` to `.config/dockstarter/dockstarter.ini`
  .includes/global_variables.sh
  .scripts/config_create.sh
  main.sh
Labels: core, repo

Move `.config/dockstarter.ini` to `.config/dockstarter/dockstarter.ini` (#2416)
  .includes/global_variables.sh
  .scripts/config_create.sh
  main.sh
Labels: core, repo

Add more robust checking of local git folders
  main.sh
Labels: core, repo

Add more robust checking of local git folders (#2417)
  main.sh
Labels: core, repo

Deployed 53b5f604 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Add `BothToNull` option for RunAndParse, and make ErrorNotice optional
  .includes/misc_functions.sh
  .scripts/update_self.sh
  .scripts/update_templates.sh
  main.sh
Labels: core, repo

Add `BothToNull` option for RunAndParse, and make ErrorNotice optional (#2418)
  .includes/misc_functions.sh
  .scripts/update_self.sh
  .scripts/update_templates.sh
  main.sh
Labels: core, repo

Use `git -C Folder command` instead of `pushd Folder` / `git command` / `popd`
  .includes/cmdline.sh
  .includes/ds_functions.sh
  .scripts/update_self.sh
  .scripts/update_templates.sh
Labels: core

Use `git -C Folder command` instead of `pushd Folder` / `git command` / `popd` (#2419)
  .includes/cmdline.sh
  .includes/ds_functions.sh
  .scripts/update_self.sh
  .scripts/update_templates.sh
Labels: core

Move `RunAndLog` to main.sh
  .includes/misc_functions.sh
  main.sh
Labels: core, repo

Move `RunAndLog` to main.sh (#2420)
  .includes/misc_functions.sh
  main.sh
Labels: core, repo

Fix paste command in macOS
  main.sh
Labels: core, repo

Fix paste command in macOS (#2421)
  main.sh
Labels: core, repo

Deployed 83a63265 with MkDocs version: 1.6.1
  requirements.txt
Labels: repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]
