Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

Update env_rename.sh
  .scripts/env_rename.sh
Labels: core

Update env_delete.sh
  .scripts/env_delete.sh
Labels: core

Update env_copy.sh
  .scripts/env_copy.sh
Labels: core

Update env_migrate.sh
  .scripts/env_migrate.sh
Labels: core

Update `env_copy.sh`, `env_move.sh` and `env_rename.sh`
  .scripts/env_copy.sh
  .scripts/env_move.sh
  .scripts/env_rename.sh
Labels: core

Update `.env_copy.sh`, `env_migrate.sh` and `env_move.sh`
  .scripts/env_copy.sh
  .scripts/env_migrate.sh
  .scripts/env_move.sh
Labels: core

Create override_var_exists.sh
  .scripts/override_var_exists.sh
Labels: core

Update env_migrate.sh
  .scripts/env_migrate.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Update override_var_exists.sh
  .scripts/override_var_exists.sh
Labels: core

Update override_var_exists.sh
  .scripts/override_var_exists.sh
Labels: core

Update override_var_exists.sh
  .scripts/override_var_exists.sh
Labels: core

Update override_var_exists.sh
  .scripts/override_var_exists.sh
Labels: core

Update override_var_exists.sh
  .scripts/override_var_exists.sh
Labels: core

Remove `env_move`, handle it in `env_rename` with different logging. Change logging in `env_copy`
  .scripts/env_copy.sh
  .scripts/env_migrate.sh
  .scripts/env_move.sh
  .scripts/env_rename.sh
Labels: core

Update env_migrate.sh
  .scripts/env_migrate.sh
Labels: core

Update appvars_migrate_enabled_lines.sh
  .scripts/appvars_migrate_enabled_lines.sh
Labels: core

Create override_var_rename.sh
  .scripts/override_var_rename.sh
Labels: core

Update override_var_rename.sh
  .scripts/override_var_rename.sh
Labels: core

Update env_migrate.sh
  .scripts/env_migrate.sh
Labels: core

Update override_var_exists.sh
  .scripts/override_var_exists.sh
Labels: core

Move `varname_to_appname` out of `main.sh` into it's own file
  .scripts/menu_value_prompt.sh
  .scripts/varname_to_appname.sh
  main.sh
Labels: core, repo

Update override_var_rename.sh
  .scripts/override_var_rename.sh
Labels: core

Update appvars_migrate.sh
  .scripts/appvars_migrate.sh
Labels: core

Update env_migrate.sh
  .scripts/env_migrate.sh
Labels: core

Update varname_to_appname.sh
  .scripts/varname_to_appname.sh
Labels: core

Update varname_to_appname.sh
  .scripts/varname_to_appname.sh
Labels: core

Update varname_to_appname.sh
  .scripts/varname_to_appname.sh
Labels: core

Update appvars_migrate_enabled_lines.sh
  .scripts/appvars_migrate_enabled_lines.sh
Labels: core

Update appvars_create_all.sh
  .scripts/appvars_create_all.sh
Labels: core

Update gluetun.env
  compose/.apps/gluetun/gluetun.env
Labels: apps

Update gluetun.env
  compose/.apps/gluetun/gluetun.env
Labels: apps

Fix `OPENVPN_ENPOINT_IP` and `OPENVPN_ENPOINT_IP`
  compose/.apps/gluetun/gluetun.env
  compose/.apps/gluetun/gluetun.migrate
Labels: apps

Update gluetun.env
  compose/.apps/gluetun/gluetun.env
Labels: apps

Update env_format_lines.sh
  .scripts/env_format_lines.sh
Labels: core

Update .env.example
  compose/.env.example
Labels: apps

Add more `gluetun` vars
  compose/.apps/gluetun/gluetun.env
  compose/.apps/gluetun/gluetun.migrate
Labels: apps

Update gluetun.env
  compose/.apps/gluetun/gluetun.env
Labels: apps

Update gluetun.env
  compose/.apps/gluetun/gluetun.env
Labels: apps

Update gluetun.env
  compose/.apps/gluetun/gluetun.env
Labels: apps

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]
