Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]

Update update_self.sh
  .scripts/update_self.sh
Labels: core

Update update_self.sh (#1935)
  .scripts/update_self.sh
Labels: core

Update appfolders_create.sh
  .scripts/appfolders_create.sh
Labels: core

Updates (#1936)
  .scripts/appfolders_create.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh (#1937)
  .scripts/menu_value_prompt.sh
Labels: core

Deployed 5f051903 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Update main.sh
  main.sh
Labels: core, repo

Update main.sh (#1939)
  main.sh
Labels: core, repo

Update main.sh
  main.sh
Labels: core, repo

Update main.sh (#1940)
  main.sh
Labels: core, repo

Deployed 2c749e51 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Update main.sh
  main.sh
Labels: core, repo

Fix the `ds -u branch` option. (#1941)
  main.sh
Labels: core, repo

Depreciate `Readarr`
  compose/.apps/readarr/readarr.labels.yml
Labels: apps

Depreciate `Readarr` (#1942)
  compose/.apps/readarr/readarr.labels.yml
Labels: apps

Clean up the command-line parsing
  main.sh
Labels: core, repo

Clean up the command-line parsing (#1943)
  main.sh
Labels: core, repo

Remove debugging notice
  main.sh
Labels: core, repo

Remove debugging notice
  main.sh
Labels: core, repo

Remove debugging notice (#1946)
  main.sh
Labels: core, repo

Fix `--status-disable` and `--status-enable`
  main.sh
Labels: core, repo

Fix `--status-disable` and `--status-enable` (#1947)
  main.sh
Labels: core, repo

Clean up command-line parsing code
  main.sh
Labels: core, repo

Clean up command-line parsing code (#1948)
  main.sh
Labels: core, repo

Deployed cc0276a1 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Allow `on/true/yes` for `APPNAME__ENABLED` vars, ignoring case
  .scripts/app_is_disabled.sh
  .scripts/app_is_enabled.sh
  .scripts/app_list_disabled.sh
  .scripts/app_list_enabled.sh
  .scripts/menu_value_prompt.sh
Labels: core

Allow `on/true/yes` for `APPNAME__ENABLED` vars, ignoring case (#1951)
  .scripts/app_is_disabled.sh
  .scripts/app_is_enabled.sh
  .scripts/app_list_disabled.sh
  .scripts/app_list_enabled.sh
  .scripts/menu_value_prompt.sh
Labels: core

Deployed c1a3d4ad with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Add blank lines after headings in `menu_value_prompt`
  .scripts/menu_value_prompt.sh
Labels: core

Add blank lines after headings in `menu_value_prompt` (#1952)
  .scripts/menu_value_prompt.sh
Labels: core

ci: :green_heart: refactor GHA lint tools
  .editorconfig
  .github/CONTRIBUTING.md
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/lint.yml
  .markdownlint.yml
  .yamllint.yml
Labels: ci, docs, repo

fix: :bug: install alpine packages in ci
  .github/workflows/lint.yml
Labels: ci, repo

fix: :bug: fix shfmt name in ci
  .github/workflows/lint.yml
Labels: ci, repo

fix: :green_heart: switch markdown back to 2 space indent
  .editorconfig
Labels: repo

fix: :green_heart: fix indent
  .scripts/menu_value_prompt.sh
Labels: core

fix: :green_heart: add all shfmt flags from editorconfig
  .github/workflows/lint.yml
Labels: ci, repo

style: :art: format mkdocs js asset
  docs/javascripts/tablesort.js
Labels: docs

chore: adjust sh glob in editorconfig
  .editorconfig
Labels: repo

Add `ds_update_available` to check if there is a DS update.
  .scripts/ds_update_available.sh
Labels: core
