Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]

Update app_nicename.sh
  .scripts/app_description.sh
  .scripts/app_nicename.sh
Labels: core

Revert "Update app_nicename.sh"
  .scripts/app_description.sh
  .scripts/app_nicename.sh
Labels: core

Revert "Update app_description.sh"
  .scripts/app_description.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Update menu_app_vars.sh
  .scripts/menu_app_vars.sh
Labels: core

Update app_is_user_defined.sh
  .scripts/app_is_user_defined.sh
Labels: core

Update app_is_user_defined.sh
  .scripts/app_is_user_defined.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_add_var.sh
  .scripts/menu_add_var.sh
Labels: core

Update app_is_user_defined.sh
  .scripts/app_is_user_defined.sh
Labels: core

Reapply "Update app_description.sh"
  .scripts/app_description.sh
Labels: core

Reapply "Update app_nicename.sh"
  .scripts/app_description.sh
  .scripts/app_nicename.sh
Labels: core

Create app_description_from_template.sh
  .scripts/app_description_from_template.sh
Labels: core

Create app_nicename_from_template.sh
  .scripts/app_nicename_from_template.sh
Labels: core

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

Update app_is_user_defined.sh
  .scripts/app_is_user_defined.sh
Labels: core

Update app_description_from_template.sh
  .scripts/app_description_from_template.sh
Labels: core

Update app_nicename_from_template.sh
  .scripts/app_nicename_from_template.sh
Labels: core

Update some tests
  .scripts/app_description.sh
  .scripts/app_description_from_template.sh
  .scripts/app_is_user_defined.sh
  .scripts/app_nicename.sh
  .scripts/app_nicename_from_template.sh
Labels: core

Update env_format_lines.sh
  .scripts/env_format_lines.sh
Labels: core

Update env_format_lines.sh
  .scripts/env_format_lines.sh
Labels: core

Update env_update.sh
  .scripts/env_format_lines.sh
  .scripts/env_update.sh
Labels: core

Update env_format_lines.sh
  .scripts/env_format_lines.sh
Labels: core

Update env_format_lines.sh
  .scripts/env_format_lines.sh
Labels: core

Update env_format_lines.sh
  .scripts/env_format_lines.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update env_format_lines.sh
  .scripts/env_format_lines.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update env_format_lines.sh
  .scripts/env_format_lines.sh
Labels: core

Update update_self.sh
  .scripts/update_self.sh
Labels: core

Combine `menu_config_spps` and `menu_config_global` into a single `menu_config_vars` script
  .scripts/menu_app_vars.sh
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_config_global.sh
  .scripts/menu_config_vars.sh
Labels: core

Update screenshots
  README.md
  docs/README.md
  docs/assets/menu_app_select.png
  docs/assets/menu_app_vars.png
  docs/assets/menu_config_vars.png
  docs/assets/menu_main.png
  docs/assets/menu_value_prompt.png
Labels: docs, repo

Update main.sh
  main.sh
Labels: core, repo

Update command_help.png
  docs/assets/command_help.png
Labels: docs

Update main.sh
  main.sh
Labels: core, repo

Update command_help.png
  docs/assets/command_help.png
Labels: docs

Update main.sh
  main.sh
Labels: core, repo

Update command_help.png
  docs/assets/command_help.png
Labels: docs

Adjust when var files are updated in th menu
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core
