Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

Update the colors on the default theme
  .themes/DockSTARTer/.dialogrc
  .themes/DockSTARTer/theme.ini
Labels: none

Update the colors on the default theme (#2191)
  .themes/DockSTARTer/.dialogrc
  .themes/DockSTARTer/theme.ini
Labels: none

Deployed 34e39bb0 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Use the "AppList" colors for the descriptions of apps in the app select menu
  .scripts/menu_app_select.sh
Labels: core

Use the "AppLIst" color in the theme selection menu
  .scripts/menu_display_options_theme.sh
Labels: core

Use the "AppList" colors for the descriptions of apps in the app select menu (#2192)
  .scripts/menu_app_select.sh
Labels: core

Use the "AppLIst" color in the theme selection menu (#2193)
  .scripts/menu_display_options_theme.sh
Labels: core

Fix incorrect "AppList" dialog color to "ListApp"
  .scripts/menu_display_options_theme.sh
Labels: core

Fix incorrect "AppList" dialog color to "ListApp" (#2194)
  .scripts/menu_display_options_theme.sh
Labels: core

Determine the packages to install for dependencies using `apt-file`
  .scripts/package_manager_run.sh
  .scripts/pm_apt_install.sh
  main.sh
Labels: core, repo

Determine the packages to install for dependencies using `apt-file` (#2195)
  .scripts/package_manager_run.sh
  .scripts/pm_apt_install.sh
  main.sh
Labels: core, repo

Deployed 5b38f02a with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Add logging of what commands are being run during `ds -i`
  .scripts/get_docker.sh
  .scripts/pm_apt_clean.sh
  .scripts/pm_apt_install_docker.sh
  .scripts/pm_apt_repos.sh
  .scripts/pm_apt_upgrade.sh
  .scripts/remove_snap_docker.sh
Labels: core

Add logging of what commands are being run during `ds -i` (#2196)
  .scripts/get_docker.sh
  .scripts/pm_apt_clean.sh
  .scripts/pm_apt_install_docker.sh
  .scripts/pm_apt_repos.sh
  .scripts/pm_apt_upgrade.sh
  .scripts/remove_snap_docker.sh
Labels: core

Fix incorrect `apt-get update` call to `apt-file update`, and always run it
  .scripts/pm_apt_install.sh
Labels: core

Fix incorrect `apt-get update` call to `apt-file update`, and always run it (#2197)
  .scripts/pm_apt_install.sh
Labels: core

Check for existing dependencies before trying to install them
  .scripts/pm_apt_install.sh
Labels: core

Check for existing dependencies before trying to install them (#2198)
  .scripts/pm_apt_install.sh
Labels: core

Check for existing dependencies before trying to install them in dnf
  .scripts/pm_dnf_install.sh
  .scripts/pm_dnf_install_docker.sh
Labels: core

Check for existing dependencies before trying to install them in dnf (#2199)
  .scripts/pm_dnf_install.sh
  .scripts/pm_dnf_install_docker.sh
Labels: core

Deployed 8a202f73 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Check for existing dependencies before trying to install them in yum
  .scripts/pm_yum_install.sh
Labels: core

Check for existing dependencies before trying to install them in yum (#2200)
  .scripts/pm_yum_install.sh
Labels: core

Check for existing dependencies before trying to install them in pacman
  .scripts/pm_pacman_install.sh
Labels: core

Check for existing dependencies before trying to install them in pacman (#2201)
  .scripts/pm_pacman_install.sh
Labels: core

Change logic of detecting package managers to make it easier to add to the list
  .scripts/package_manager_run.sh
Labels: core

Check for existing dependencies before trying to install them in apk
  .scripts/pm_apk_install.sh
Labels: core

Check for existing dependencies before trying to install them in apk (#2202)
  .scripts/pm_apk_install.sh
Labels: core

Deployed df5505d6 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Change logic of detecting package managers to make it easier to add to the list (#2203)
  .scripts/package_manager_run.sh
Labels: core

Add the `nala` package manager, an alternate to `apt` for Debian based distros
  .scripts/package_manager_run.sh
  .scripts/pm_nala_clean.sh
  .scripts/pm_nala_install.sh
  .scripts/pm_nala_install_docker.sh
  .scripts/pm_nala_repos.sh
  .scripts/pm_nala_upgrade.sh
Labels: core

Update pm_nala_clean.sh
  .scripts/pm_nala_clean.sh
Labels: core

Add the `nala` package manager, an alternate to `apt` for Debian base… (#2204)
  .scripts/package_manager_run.sh
  .scripts/pm_nala_clean.sh
  .scripts/pm_nala_install.sh
  .scripts/pm_nala_install_docker.sh
  .scripts/pm_nala_repos.sh
  .scripts/pm_nala_upgrade.sh
Labels: core

Use a global variable for the packages to blacklist from being installed
  .scripts/pm_apk_install.sh
  .scripts/pm_apt_clean.sh
  .scripts/pm_apt_install.sh
  .scripts/pm_apt_install_docker.sh
  .scripts/pm_apt_repos.sh
  .scripts/pm_apt_upgrade.sh
  .scripts/pm_dnf_install.sh
  .scripts/pm_dnf_install_docker.sh
  .scripts/pm_nala_clean.sh
  .scripts/pm_nala_install.sh
  .scripts/pm_nala_install_docker.sh
  .scripts/pm_nala_repos.sh
  .scripts/pm_nala_upgrade.sh
  .scripts/pm_pacman_install.sh
  .scripts/pm_yum_install.sh
  .scripts/remove_snap_docker.sh
  main.sh
Labels: core, repo

Use a global variable for the packages to blacklist from being installed (#2205)
  .scripts/pm_apk_install.sh
  .scripts/pm_apt_clean.sh
  .scripts/pm_apt_install.sh
  .scripts/pm_apt_install_docker.sh
  .scripts/pm_apt_repos.sh
  .scripts/pm_apt_upgrade.sh
  .scripts/pm_dnf_install.sh
  .scripts/pm_dnf_install_docker.sh
  .scripts/pm_nala_clean.sh
  .scripts/pm_nala_install.sh
  .scripts/pm_nala_install_docker.sh
  .scripts/pm_nala_repos.sh
  .scripts/pm_nala_upgrade.sh
  .scripts/pm_pacman_install.sh
  .scripts/pm_yum_install.sh
  .scripts/remove_snap_docker.sh
  main.sh
Labels: core, repo

Change a "Running:" info to a notice
  .scripts/get_docker.sh
Labels: core

Pm (#2206)
  .scripts/get_docker.sh
Labels: core

Search for packages one at a time instead of all at once with `apt-file`
  .scripts/pm_apt_install.sh
  .scripts/pm_nala_install.sh
Labels: core

Search for packages one at a time instead of all at once with `apt-file` (#2207)
  .scripts/pm_apt_install.sh
  .scripts/pm_nala_install.sh
Labels: core

Deployed a1d6f3a4 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]
