Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]

Update menu_add_var.sh
  .scripts/menu_add_var.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_add_var.sh
  .scripts/menu_add_var.sh
Labels: core

Update menu_add_var.sh
  .scripts/menu_add_var.sh
Labels: core

Update menu_add_var.sh
  .scripts/menu_add_var.sh
Labels: core

Update menu_add_var.sh
  .scripts/menu_add_var.sh
Labels: core

Include a `menu_settings.include` file in all menu scripts
  .scripts/menu_add_var.sh
  .scripts/menu_app_select.sh
  .scripts/menu_app_vars.sh
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_config_global.sh
  .scripts/menu_main.sh
  menu_settings.include
Labels: core, repo

Update menu_value_prompt.sh
  .github/workflows/lint.yml
  .scripts/menu_add_var.sh
  .scripts/menu_app_select.sh
  .scripts/menu_app_vars.sh
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_config_global.sh
  .scripts/menu_main.sh
  .scripts/menu_value_prompt.sh
Labels: ci, core, repo

Revert "Update menu_value_prompt.sh"
  .github/workflows/lint.yml
  .scripts/menu_add_var.sh
  .scripts/menu_app_select.sh
  .scripts/menu_app_vars.sh
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_config_global.sh
  .scripts/menu_main.sh
  .scripts/menu_value_prompt.sh
Labels: ci, core, repo

Revert "Include a `menu_settings.include` file in all menu scripts"
  .scripts/menu_add_var.sh
  .scripts/menu_app_select.sh
  .scripts/menu_app_vars.sh
  .scripts/menu_color_definitions.sh
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_config_global.sh
  .scripts/menu_main.sh
Labels: core

Fix `actualbudget`
  compose/.apps/actualbudget/actualbudget.yml
Labels: apps

Update menu_app_vars.png
  docs/assets/menu_app_vars.png
Labels: docs

Update env_delete.sh
  .scripts/env_delete.sh
Labels: core

Create appname_is_valid.sh
  .scripts/appname_is_valid.sh
Labels: core

Create varname_is_valid.sh
  .scripts/varname_is_valid.sh
Labels: core

Update appname_is_valid.sh
  .scripts/appname_is_valid.sh
Labels: core

Update varname_is_valid.sh
  .scripts/varname_is_valid.sh
Labels: core

Update varname_is_valid.sh
  .scripts/varname_is_valid.sh
Labels: core

Update varname_is_valid.sh
  .scripts/varname_is_valid.sh
Labels: core

Update varname_is_valid.sh
  .scripts/varname_is_valid.sh
Labels: core

Update varname_is_valid.sh
  .scripts/varname_is_valid.sh
Labels: core

Update varname_is_valid.sh
  .scripts/varname_is_valid.sh
Labels: core

Update varname_is_valid.sh
  .scripts/varname_is_valid.sh
Labels: core

Update varname_is_valid.sh
  .scripts/varname_is_valid.sh
Labels: core

Update varname_is_valid.sh
  .scripts/varname_is_valid.sh
Labels: core

Update varname_is_valid.sh
  .scripts/varname_is_valid.sh
Labels: core

Update varname_is_valid.sh
  .scripts/varname_is_valid.sh
Labels: core

Update varname_is_valid.sh
  .scripts/varname_is_valid.sh
Labels: core

Update varname_is_valid.sh
  .scripts/varname_is_valid.sh
Labels: core

Update varname_is_valid.sh
  .scripts/varname_is_valid.sh
Labels: core

Update varname_is_valid.sh
  .scripts/varname_is_valid.sh
Labels: core

Update varname_is_valid.sh
  .scripts/varname_is_valid.sh
Labels: core

Update varname_is_valid.sh
  .scripts/varname_is_valid.sh
Labels: core

Update varname_is_valid.sh
  .scripts/varname_is_valid.sh
Labels: core

Update varname_is_valid.sh
  .scripts/varname_is_valid.sh
Labels: core

Update menu_add_var.sh
  .scripts/menu_add_var.sh
Labels: core

Update varname_is_valid.sh
  .scripts/varname_is_valid.sh
Labels: core

Update varname_is_valid.sh
  .scripts/varname_is_valid.sh
Labels: core

Update varname_is_valid.sh
  .scripts/varname_is_valid.sh
Labels: core

Validate variable names in the `env_get_*` and `env_set_*` routines
  .scripts/env_get.sh
  .scripts/env_get_line.sh
  .scripts/env_get_literal.sh
  .scripts/env_set.sh
  .scripts/env_set_literal.sh
Labels: core
