Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Revert "Update main.sh"
  main.sh
Labels: core, repo

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

Update env_delete.sh
  .scripts/env_delete.sh
Labels: core

Update screenshots
  docs/assets/menu_app_select.png
  docs/assets/menu_config_vars.png
  docs/assets/menu_value_prompt.png
Labels: docs

Update appvars_purge.sh
  .scripts/appvars_purge.sh
Labels: core

Make the "referenced" functions consider apps referenced if they have appname.env files with at least one variable
  .scripts/app_is_referenced.sh
  .scripts/app_list_referenced.sh
Labels: core

Make the "referenced" functions consider apps referenced if they have appname.env files with at least one variable
  .scripts/appvars_list.sh
Labels: core

Update app_list_referenced.sh
  .scripts/app_list_referenced.sh
Labels: core

Update appvars_list.sh
  .scripts/appvars_list.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update komga.md with instructions to manually change directory ownership
  docs/apps/komga.md
Labels: docs

Update lint.yml
  .github/workflows/lint.yml
Labels: ci, repo

Update lint.yml (#1877)
  .github/workflows/lint.yml
Labels: ci, repo

Deployed bc4fab92 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Update menu_add_var.sh
  .scripts/menu_add_var.sh
Labels: core

Revert "Update menu_add_var.sh"
  .scripts/menu_add_var.sh
Labels: core

Update update_self.sh
  .scripts/update_self.sh
Labels: core

Update menu_add_var.sh
  .scripts/menu_add_var.sh
Labels: core

Revert "Update update_self.sh"
  .scripts/update_self.sh
Labels: core

New add var (#1878)
  .scripts/menu_add_var.sh
Labels: core

Update menu_add_var.sh
  .scripts/menu_add_var.sh
Labels: core

Update menu_add_var.sh
  .scripts/menu_add_var.sh
Labels: core

Update menu_add_var.sh
  .scripts/menu_add_var.sh
  .scripts/menu_config_vars.sh
Labels: core

Update menu_add_var.sh
  .scripts/menu_add_var.sh
Labels: core

Update menu_add_var.sh
  .scripts/menu_add_var.sh
Labels: core

Update menu_add_var.sh
  .scripts/menu_add_var.sh
Labels: core

Update menu_add_var.sh
  .scripts/menu_add_var.sh
Labels: core

Update menu_config_apps.sh
  .scripts/menu_config_apps.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_add_var.sh
  .scripts/menu_add_var.sh
Labels: core

Update menu_add_var.sh
  .scripts/menu_add_var.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_add_var.sh
  .scripts/menu_add_var.sh
Labels: core

Update menu_add_var.sh
  .scripts/menu_add_var.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_add_var.sh
  .scripts/menu_add_var.sh
Labels: core

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]
