Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]

Change the unit test "Fail" highlight to Black on Red
  main.sh
Labels: core, repo

Add a "Unit Test Fail Arrow" highlight color
  main.sh
Labels: core, repo

Update test_functions.sh
  .includes/test_functions.sh
Labels: core

Change back to "Red on Black" for unit test failures
  main.sh
Labels: core, repo

reate color vars for unit test "pass" and "fail" highlighting (#2257)
  .includes/test_functions.sh
  main.sh
Labels: core, repo

Deployed b25f90b1 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Add a `-y/--yes` flag to assume "Yes" for all prompts
  .includes/cmdline.sh
  .includes/usage.sh
  .scripts/appvars_purge.sh
  .scripts/appvars_purge_all.sh
  .scripts/docker_compose.sh
  .scripts/docker_prune.sh
  .scripts/get_docker.sh
  .scripts/needs_appvars_create.sh
  .scripts/needs_env_update.sh
  .scripts/needs_install_docker.sh
  .scripts/needs_yml_merge.sh
  .scripts/pm_apk_install.sh
  .scripts/pm_apk_install_docker.sh
  .scripts/pm_apk_upgrade.sh
  .scripts/pm_apt_install.sh
  .scripts/pm_apt_repos.sh
  .scripts/pm_apt_upgrade.sh
  .scripts/pm_dnf_install.sh
  .scripts/pm_dnf_upgrade.sh
  .scripts/pm_nala_install.sh
  .scripts/pm_nala_repos.sh
  .scripts/pm_nala_upgrade.sh
  .scripts/pm_pacman_install.sh
  .scripts/pm_pacman_install_docker.sh
  .scripts/pm_pacman_upgrade.sh
  .scripts/pm_yum_install.sh
  .scripts/pm_yum_repos.sh
  .scripts/pm_yum_upgrade.sh
  .scripts/require_docker.sh
  .scripts/run_install.sh
  .scripts/update_self.sh
  main.sh
Labels: core, repo

Update the "Back Title" of dialog boxes
  .includes/dialog_functions.sh
  .themes/DockSTARTer/theme.ini
Labels: core

Update theme.ini
  .themes/Debian/theme.ini
Labels: none

Update theme.ini
  .themes/OldDockSTARTer/theme.ini
Labels: none

Update theme.ini
  .themes/RetroDockSTARTer/theme.ini
Labels: none

Update theme.ini
  .themes/RetroDockSTARTer/theme.ini
Labels: none

Update theme.ini
  .themes/RetroDockSTARTer/theme.ini
Labels: none

Update theme.ini
  .themes/RetroDockSTARTer/theme.ini
Labels: none

Update theme.ini
  .themes/RetroDockSTARTer/theme.ini
Labels: none

Update dialog_functions.sh
  .includes/dialog_functions.sh
Labels: core

Update dialog_functions.sh
  .includes/dialog_functions.sh
Labels: core

Update theme.ini
  .themes/RetroDockSTARTer/theme.ini
Labels: none

Update theme.ini
  .themes/OldDockSTARTer/theme.ini
Labels: none

Update theme.ini
  .themes/DockSTARTer/theme.ini
Labels: none

l
  .themes/BlackandWhite/theme.ini
  .themes/Firehouse/theme.ini
  .themes/GreenScreen/theme.ini
  .themes/MagentaRise/theme.ini
  .themes/Marigold/theme.ini
  .themes/Murica/theme.ini
  .themes/Summertime/theme.ini
  .themes/WhiptailRipoff/theme.ini
Labels: none

Update the "Back Title" of dialog boxes
  .includes/dialog_functions.sh
  .themes/BlackandWhite/theme.ini
  .themes/Debian/theme.ini
  .themes/DockSTARTer/theme.ini
  .themes/Firehouse/theme.ini
  .themes/GreenScreen/theme.ini
  .themes/MagentaRise/theme.ini
  .themes/Marigold/theme.ini
  .themes/Murica/theme.ini
  .themes/OldDockSTARTer/theme.ini
  .themes/RetroDockSTARTer/theme.ini
  .themes/Summertime/theme.ini
  .themes/WhiptailRipoff/theme.ini
Labels: core

Update theme.ini
  .themes/BlackandWhite/theme.ini
Labels: none

Update theme.ini
  .themes/Debian/theme.ini
Labels: none

Update theme.ini
  .themes/Firehouse/theme.ini
Labels: none

Update theme.ini
  .themes/GreenScreen/theme.ini
Labels: none

Update theme.ini
  .themes/MagentaRise/theme.ini
Labels: none

Update theme.ini
  .themes/Marigold/theme.ini
Labels: none

Update theme.ini
  .themes/Murica/theme.ini
Labels: none

Update theme.ini
  .themes/Summertime/theme.ini
Labels: none

Update theme.ini
  .themes/WhiptailRipoff/theme.ini
Labels: none

k
  .themes/BlackandWhite/theme.ini
  .themes/Debian/theme.ini
  .themes/DockSTARTer/theme.ini
  .themes/Firehouse/theme.ini
  .themes/GreenScreen/theme.ini
  .themes/MagentaRise/theme.ini
  .themes/Marigold/theme.ini
  .themes/Murica/theme.ini
  .themes/OldDockSTARTer/theme.ini
  .themes/Summertime/theme.ini
  .themes/WhiptailRipoff/theme.ini
Labels: none

Update theme.ini
  .themes/GreenScreen/theme.ini
Labels: none

Update theme.ini
  .themes/GreenScreen/theme.ini
Labels: none

Update .themes/RetroDockSTARTer/theme.ini
  .themes/RetroDockSTARTer/theme.ini
Labels: none

Update the "Back Title" of dialog boxes (#2259)
  .includes/dialog_functions.sh
  .themes/BlackandWhite/theme.ini
  .themes/Debian/theme.ini
  .themes/DockSTARTer/theme.ini
  .themes/Firehouse/theme.ini
  .themes/GreenScreen/theme.ini
  .themes/MagentaRise/theme.ini
  .themes/Marigold/theme.ini
  .themes/Murica/theme.ini
  .themes/OldDockSTARTer/theme.ini
  .themes/RetroDockSTARTer/theme.ini
  .themes/Summertime/theme.ini
  .themes/WhiptailRipoff/theme.ini
Labels: core

Deployed 891bd06f with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Update menu_config_vars.sh
  .scripts/menu_config_vars.sh
Labels: core

Update menu_add_app.sh
  .scripts/menu_add_app.sh
Labels: core

Update menu_add_var.sh
  .scripts/menu_add_var.sh
Labels: core
