Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

Split update notice to two lines
  main.sh
Labels: core, repo

Split update notice to two lines (#2001)
  main.sh
Labels: core, repo

Returns an empty string as the version if the branch does not exist.
  main.sh
Labels: core, repo

Returns an empty string as the version if the branch does not exist. (#2002)
  main.sh
Labels: core, repo

Deployed 6b272aec with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Return at error notice for `ds --version` if the branch does not exist
  main.sh
Labels: core, repo

Return at error notice for `ds --version` if the branch does not exist (#2003)
  main.sh
Labels: core, repo

Return an error notice for `ds --u` if the branch does not exist
  .scripts/update_self.sh
Labels: core

Return an error notice for `ds --u` if the branch does not exist (#2004)
  .scripts/update_self.sh
Labels: core

Return an error notice for `ds --u` if the branch does not exist
  .scripts/update_self.sh
Labels: core

Return an error notice for `ds --u` if the branch does not exist (#2005)
  .scripts/update_self.sh
Labels: core

Return an error notice for `ds --u` if the branch does not exist (#2005)
  .scripts/update_self.sh
Labels: core

Return an error notice for `ds --u` if the branch does not exist (#2005) (#2006)
  .scripts/update_self.sh
Labels: core

Fix displaying of branch in error message with `ds -u` when branch does not exist
  .scripts/update_self.sh
Labels: core

Fix displaying of branch in error message with `ds -u` when branch does not exist (#2007)
  .scripts/update_self.sh
Labels: core

Reduce the number of times `git fetch` is called
  main.sh
Labels: core, repo

Reduce the number of times `git fetch` is called (#2008)
  main.sh
Labels: core, repo

Deployed 57818876 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Add code to switch from branch `master` to `main`
  .scripts/update_self.sh
  main.sh
Labels: core, repo

Add code to switch from branch `master` to `main` (#2009)
  .scripts/update_self.sh
  main.sh
Labels: core, repo

Deployed 56b8148e with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Return the exit code from the last command after forcing update to `main` branch
  main.sh
Labels: core, repo

Return the exit code from the last command after forcing update to `main` branch (#2010)
  main.sh
Labels: core, repo

Make `'update_self' master` switch to `'update_self' main` if `main` branch exists.
  .scripts/update_self.sh
Labels: core

Disable testing of `update_self`
  .scripts/update_self.sh
Labels: core

Make `'update_self' master` switch to `'update_self' main` if `main` branch exists (#2011)
  .scripts/update_self.sh
Labels: core

Deployed 3d94701a with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Add a notice saying DS is switching from branch `master` to `main`
  main.sh
Labels: core, repo

Add a notice saying DS is switching from branch `master` to `main` (#2012)
  main.sh
Labels: core, repo

Warn that we are overriding an explicit update to `master` to use `main` instead.
  .scripts/update_self.sh
Labels: core

Warn that we are overriding an explicit update to `master` to use `main` instead. (#2013)
  .scripts/update_self.sh
Labels: core

Use global variables for the source and target branches for automatic branch migration
  .scripts/update_self.sh
  main.sh
Labels: core, repo

Use global variables for the source and target branches for automatic branch migration (#2014)
  .scripts/update_self.sh
  main.sh
Labels: core, repo

Show `[<branch> Unknown Version]` as the version in the GUI and `ds --help` if the remote branch doesn't exist
  main.sh
Labels: core, repo

Show `[<branch> Unknown Version]` as the version in the GUI and `ds --help` if the remote branch doesn't exist (#2015)
  main.sh
Labels: core, repo

Deployed 5311f6a6 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Check that the local repo exists before doing git commands
  main.sh
Labels: core, repo

Add `huntarr`
  compose/.apps/huntarr/huntarr.aarch64.yml
  compose/.apps/huntarr/huntarr.app.env
  compose/.apps/huntarr/huntarr.folders
  compose/.apps/huntarr/huntarr.global.env
  compose/.apps/huntarr/huntarr.hostname.yml
  compose/.apps/huntarr/huntarr.labels.yml
  compose/.apps/huntarr/huntarr.migrate
  compose/.apps/huntarr/huntarr.netmode.yml
  compose/.apps/huntarr/huntarr.ports.yml
  compose/.apps/huntarr/huntarr.storage.yml
  compose/.apps/huntarr/huntarr.storage2.yml
  compose/.apps/huntarr/huntarr.storage3.yml
  compose/.apps/huntarr/huntarr.storage4.yml
  compose/.apps/huntarr/huntarr.x86_64.yml
  compose/.apps/huntarr/huntarr.yml
Labels: apps

Change call to `git branch --show` to use `git symbolic-ref --short HEAD`
  main.sh
Labels: core, repo

Change call to `git branch --show` to use `git symbolic-ref --short HEAD` (#2017)
  main.sh
Labels: core, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]
