Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

Change `fatal` to `error` when unable to clean up filesystem in `app_instance_files`
  .scripts/app_instance_file.sh
Labels: core

Change `fatal` to `error` when unable to clean up filesystem in `app_instance_files` (#2127)
  .scripts/app_instance_file.sh
Labels: core

Update app_env_file.shUpdate `app_template_file` and `app_instance_file` to use a template, and ensure their use in all scripts.
  .scripts/app_description.sh
  .scripts/app_description_from_template.sh
  .scripts/app_instance_file.sh
  .scripts/app_is_deprecated.sh
  .scripts/app_is_nondeprecated.sh
  .scripts/app_is_runnable.sh
  .scripts/app_nicename.sh
  .scripts/app_nicename_from_template.sh
  .scripts/app_template_file.sh
  .scripts/appfolders_create.sh
  .scripts/appvars_create.sh
  .scripts/appvars_lines.sh
  .scripts/appvars_list.sh
  .scripts/appvars_migrate.sh
  .scripts/env_get.sh
  .scripts/env_get_line.sh
  .scripts/env_get_literal.sh
  .scripts/env_list_app_env_defaults.sh
  .scripts/env_list_app_global_defaults.sh
  .scripts/env_migrate.sh
  .scripts/env_set.sh
  .scripts/env_set_literal.sh
  .scripts/env_update.sh
  .scripts/env_var_exists.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_heading.sh
  .scripts/var_default_value.sh
  .scripts/yml_merge.sh
Labels: core

Update app_env_file.shUpdate `app_template_file` and `app_instance_file` to use a template, and ensure their use in all scripts. (#2128)
  .scripts/app_description.sh
  .scripts/app_description_from_template.sh
  .scripts/app_instance_file.sh
  .scripts/app_is_deprecated.sh
  .scripts/app_is_nondeprecated.sh
  .scripts/app_is_runnable.sh
  .scripts/app_nicename.sh
  .scripts/app_nicename_from_template.sh
  .scripts/app_template_file.sh
  .scripts/appfolders_create.sh
  .scripts/appvars_create.sh
  .scripts/appvars_lines.sh
  .scripts/appvars_list.sh
  .scripts/appvars_migrate.sh
  .scripts/env_get.sh
  .scripts/env_get_line.sh
  .scripts/env_get_literal.sh
  .scripts/env_list_app_env_defaults.sh
  .scripts/env_list_app_global_defaults.sh
  .scripts/env_migrate.sh
  .scripts/env_set.sh
  .scripts/env_set_literal.sh
  .scripts/env_update.sh
  .scripts/env_var_exists.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_heading.sh
  .scripts/var_default_value.sh
  .scripts/yml_merge.sh
Labels: core

Remove the `-m` option from `column` in `menu_app_select`
  .scripts/menu_app_select.sh
Labels: core

Remove the `-m` option from `column` in `menu_app_select` (#2131)
  .scripts/menu_app_select.sh
Labels: core

Fix incorrect quoting of `Shadow` value in `menu.ini`
  .themes/menu.ini
Labels: none

Fix incorrect quoting of `Shadow` value in `menu.ini` (#2132)
  .themes/menu.ini
Labels: none

Fix `app_instance_file` not detrecting changes for templates when you have multiple instances of an app
  .scripts/app_instance_file.sh
Labels: core

Fix `app_instance_file` not detrecting changes for templates when you have multiple instances of an app (#2134)
  .scripts/app_instance_file.sh
Labels: core

Deployed ca1a09c4 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Backup the `.env.app.<appname>` files
  .scripts/env_backup.sh
Labels: core

Backup the `.env.app.<appname>` files (#2135)
  .scripts/env_backup.sh
Labels: core

Fix a `fatal` notice to reflect the failing command in `env_backup`
  .scripts/env_backup.sh
Labels: core

Fix a `fatal` notice to reflect the failing command in `env_backup` (#2136)
  .scripts/env_backup.sh
Labels: core

Fix references to `env_files/appname.env` to `.env.app.appname`
  main.sh
Labels: core, repo

Fix references to `env_files/appname.env` to `.env.app.appname` (#2137)
  main.sh
Labels: core, repo

Update all references to `env_files/appname.env` files to `.env.app.appname` in the docs
  docs/advanced/technical-info.md
  docs/apps/homer.md
  docs/apps/httpserver.md
  docs/apps/murmur.md
  docs/apps/pgbackup.md
  docs/apps/photostructure.md
  docs/apps/pihole.md
  docs/apps/plex.md
  docs/apps/speedtest.md
  docs/apps/swag.md
  docs/apps/synclounge.md
  docs/apps/tandoor.md
  docs/basics/command-line-usage.md
Labels: docs

Update all references to `env_files/appname.env` files to `.env.app.appname` in the docs (#2138)
  docs/advanced/technical-info.md
  docs/apps/homer.md
  docs/apps/httpserver.md
  docs/apps/murmur.md
  docs/apps/pgbackup.md
  docs/apps/photostructure.md
  docs/apps/pihole.md
  docs/apps/plex.md
  docs/apps/speedtest.md
  docs/apps/swag.md
  docs/apps/synclounge.md
  docs/apps/tandoor.md
  docs/basics/command-line-usage.md
Labels: docs

Deployed 0382a01f with MkDocs version: 1.6.1
  advanced/technical-info/index.html
  apps/homer/index.html
  apps/httpserver/index.html
  apps/murmur/index.html
  apps/pgbackup/index.html
  apps/photostructure/index.html
  apps/pihole/index.html
  apps/plex/index.html
  apps/speedtest/index.html
  apps/swag/index.html
  apps/synclounge/index.html
  apps/tandoor/index.html
  basics/command-line-usage/index.html
  search/search_index.json
Labels: none

Fix regular expressions to search from the beginning of strings
  .scripts/app_list_added.sh
  .scripts/app_list_disabled.sh
  .scripts/app_list_enabled.sh
  .scripts/app_list_referenced.sh
  .scripts/appvars_lines.sh
  .scripts/appvars_list.sh
  .scripts/menu_value_prompt.sh
Labels: core

Fix regular expressions to search from the beginning of strings (#2139)
  .scripts/app_list_added.sh
  .scripts/app_list_disabled.sh
  .scripts/app_list_enabled.sh
  .scripts/app_list_referenced.sh
  .scripts/appvars_lines.sh
  .scripts/appvars_list.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update how the port range is assigned in `Azuracast`
  compose/.apps/azuracast/.env
  compose/.apps/azuracast/azuracast.yml
Labels: apps

Update how the port range is assigned in `Azuracast` (#2140)
  compose/.apps/azuracast/.env
  compose/.apps/azuracast/azuracast.yml
Labels: apps

Deployed ebfb0c0e with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Skip processing for tasks that are already done.
  .scripts/apply_theme.sh
  .scripts/appvars_create_all.sh
  .scripts/appvars_purge.sh
  .scripts/config_get.sh
  .scripts/config_set.sh
  .scripts/docker_compose.sh
  .scripts/env_copy.sh
  .scripts/env_merge_newonly.sh
  .scripts/env_rename.sh
  .scripts/env_set.sh
  .scripts/env_set_literal.sh
  .scripts/env_update.sh
  .scripts/menu_add_app.sh
  .scripts/menu_add_var.sh
  .scripts/menu_config.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_display_options_general.sh
  .scripts/menu_value_prompt.sh
  .scripts/merge_and_compose.sh
  .scripts/override_var_rename.sh
  .scripts/update_self.sh
  .scripts/yml_merge.sh
  main.sh
Labels: core, repo

Skip processing for tasks that are already done. (#2145)
  .scripts/apply_theme.sh
  .scripts/appvars_create_all.sh
  .scripts/appvars_purge.sh
  .scripts/config_get.sh
  .scripts/config_set.sh
  .scripts/docker_compose.sh
  .scripts/env_copy.sh
  .scripts/env_merge_newonly.sh
  .scripts/env_rename.sh
  .scripts/env_set.sh
  .scripts/env_set_literal.sh
  .scripts/env_update.sh
  .scripts/menu_add_app.sh
  .scripts/menu_add_var.sh
  .scripts/menu_config.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_display_options_general.sh
  .scripts/menu_value_prompt.sh
  .scripts/merge_and_compose.sh
  .scripts/override_var_rename.sh
  .scripts/update_self.sh
  .scripts/yml_merge.sh
  main.sh
Labels: core, repo

Deployed 87aa5c47 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Update formatting of notices
  .scripts/app_instance_file.sh
  .scripts/app_instance_folder.sh
  .scripts/appfolders_create.sh
  .scripts/appvars_create_all.sh
  .scripts/appvars_purge.sh
  .scripts/appvars_purge_all.sh
  .scripts/appvars_rename.sh
  .scripts/config_get.sh
  .scripts/disable_app.sh
  .scripts/enable_app.sh
  .scripts/env_backup.sh
  .scripts/env_copy.sh
  .scripts/env_create.sh
  .scripts/env_delete.sh
  .scripts/env_get.sh
  .scripts/env_merge_newonly.sh
  .scripts/env_migrate.sh
  .scripts/env_rename.sh
  .scripts/env_set.sh
  .scripts/env_set_literal.sh
  .scripts/env_update.sh
  .scripts/menu_config.sh
  .scripts/menu_config_vars.sh
  .scripts/override_backup.sh
  .scripts/pm_apk_install.sh
  .scripts/pm_apk_upgrade.sh
  .scripts/pm_dnf_install.sh
  .scripts/pm_dnf_upgrade.sh
  .scripts/pm_pacman_install.sh
  .scripts/pm_pacman_upgrade.sh
  .scripts/pm_yum_install.sh
  .scripts/pm_yum_upgrade.sh
  .scripts/set_permissions.sh
  .scripts/setup_docker_group.sh
  .scripts/symlink_ds.sh
  .scripts/update_self.sh
  .scripts/yml_merge.sh
  main.sh
Labels: core, repo

Update formatting of notices (#2147)
  .scripts/app_instance_file.sh
  .scripts/app_instance_folder.sh
  .scripts/appfolders_create.sh
  .scripts/appvars_create_all.sh
  .scripts/appvars_purge.sh
  .scripts/appvars_purge_all.sh
  .scripts/appvars_rename.sh
  .scripts/config_get.sh
  .scripts/disable_app.sh
  .scripts/enable_app.sh
  .scripts/env_backup.sh
  .scripts/env_copy.sh
  .scripts/env_create.sh
  .scripts/env_delete.sh
  .scripts/env_get.sh
  .scripts/env_merge_newonly.sh
  .scripts/env_migrate.sh
  .scripts/env_rename.sh
  .scripts/env_set.sh
  .scripts/env_set_literal.sh
  .scripts/env_update.sh
  .scripts/menu_config.sh
  .scripts/menu_config_vars.sh
  .scripts/override_backup.sh
  .scripts/pm_apk_install.sh
  .scripts/pm_apk_upgrade.sh
  .scripts/pm_dnf_install.sh
  .scripts/pm_dnf_upgrade.sh
  .scripts/pm_pacman_install.sh
  .scripts/pm_pacman_upgrade.sh
  .scripts/pm_yum_install.sh
  .scripts/pm_yum_upgrade.sh
  .scripts/set_permissions.sh
  .scripts/setup_docker_group.sh
  .scripts/symlink_ds.sh
  .scripts/update_self.sh
  .scripts/yml_merge.sh
  main.sh
Labels: core, repo

Deployed 87fb620f with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Update formatting of notices
  main.sh
Labels: core, repo

Update formatting of notices (#2148)
  main.sh
Labels: core, repo

Remove creation of the deprecated `env_files` folder
  .scripts/env_create.sh
Labels: core

Remove creation of the deprecated `env_files` folder (#2149)
  .scripts/env_create.sh
Labels: core

Remove `merge_and_compose`, as it is no longer used.
  .scripts/merge_and_compose.sh
Labels: core

Remove `merge_and_compose`, as it is no longer used. (#2150)
  .scripts/merge_and_compose.sh
Labels: core

Make `docker_compose` and `yml_merge` return status values for success/faiilure
  .scripts/docker_compose.sh
  .scripts/yml_merge.sh
Labels: core

Make `docker_compose` and `yml_merge` return status values for success/faiilure (#2151)
  .scripts/docker_compose.sh
  .scripts/yml_merge.sh
Labels: core

Abort `yml_merge` on missing template files
  .scripts/app_instance_file.sh
  .scripts/yml_merge.sh
Labels: core

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]
