Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]

Update env_copy.sh
  .scripts/env_copy.sh
Labels: core

Update env_copy.sh (#1909)
  .scripts/env_copy.sh
Labels: core

Set up the `.themes` folder
  .themes/DockSTARTer/.dialogrc
  .themes/DockSTARTer/colors.ini
  .themes/menu.ini
Labels: none

Implement applying themes, and apply the current theme on GUI startup
  .dialogrc
  .scripts/apply_theme.sh
  main.sh
Labels: core, repo

Change color variable names to avoid conflict with global B array.
  .scripts/apply_theme.sh
  .themes/DockSTARTer/colors.ini
Labels: core

Update apply_theme.sh
  .scripts/apply_theme.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Update apply_theme.sh
  .scripts/apply_theme.sh
Labels: core

Update apply_theme.sh
  .scripts/apply_theme.sh
Labels: core

Update apply_theme.sh
  .scripts/apply_theme.sh
Labels: core

Update apply_theme.sh
  .scripts/apply_theme.sh
Labels: core

Update apply_theme.sh
  .scripts/apply_theme.sh
Labels: core

Update apply_theme.sh
  .scripts/apply_theme.sh
Labels: core

Update apply_theme.sh
  .scripts/apply_theme.sh
Labels: core

Update apply_theme.sh
  .scripts/apply_theme.sh
Labels: core

Update apply_theme.sh
  .scripts/apply_theme.sh
Labels: core

Add the display option menu entries.
  .scripts/menu_display_options.sh
  .scripts/menu_display_options_general.sh
  .scripts/menu_display_options_theme.sh
  .scripts/menu_main.sh
  .themes/menu.ini
Labels: core

Update menu_display_options_theme.sh
  .scripts/menu_display_options_theme.sh
Labels: core

Update menu_display_options.sh
  .scripts/menu_display_options.sh
Labels: core

Update colors.ini
  .themes/DockSTARTer/colors.ini
Labels: none

Update menu_display_options_theme.sh
  .scripts/menu_display_options_theme.sh
Labels: core

Update menu_display_options_theme.sh
  .scripts/menu_display_options_theme.sh
Labels: core

Test adding a second theme
  .themes/Debian/.dialogrc
  .themes/Debian/colors.ini
Labels: none

Update apply_theme.sh
  .scripts/apply_theme.sh
Labels: core

Update menu_display_options_general.sh
  .scripts/menu_display_options_general.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Update apply_theme.sh
  .scripts/apply_theme.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Move DC and DIALOG declarations to function
  .scripts/apply_theme.sh
  main.sh
Labels: core, repo

Update main.sh
  main.sh
Labels: core, repo

Update main.sh
  main.sh
Labels: core, repo

Update apply_theme.sh
  .scripts/apply_theme.sh
Labels: core

Update menu_display_options_general.sh
  .scripts/menu_display_options_general.sh
Labels: core

Update menu_display_options_general.sh
  .scripts/menu_display_options_general.sh
Labels: core

Update menu_display_options_general.sh
  .scripts/menu_display_options_general.sh
Labels: core

Update menu_display_options_general.sh
  .scripts/menu_display_options_general.sh
Labels: core

Update apply_theme.sh
  .scripts/apply_theme.sh
Labels: core

Update apply_theme.sh
  .scripts/apply_theme.sh
Labels: core

Update menu_display_options_general.sh
  .scripts/menu_display_options_general.sh
Labels: core

Update menu_display_options_general.sh
  .scripts/menu_display_options_general.sh
Labels: core
