Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]

Update menu_add_app.sh
  .scripts/menu_add_app.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Update menu_add_app.sh
  .scripts/menu_add_app.sh
Labels: core

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

Update menu_add_app.sh
  .scripts/menu_add_app.sh
Labels: core

Update menu_add_app.sh
  .scripts/menu_add_app.sh
Labels: core

Change `Edit Application Variables` to `Configure Applications`
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
Labels: core

Squashed commit of the following:
  .scripts/app_is_referenced.sh
  .scripts/app_list_added.sh
  .scripts/appname_is_valid.sh
  .scripts/menu_add_app.sh
  .scripts/menu_add_var.sh
  .scripts/menu_app_select.sh
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_heading.sh
  main.sh
Labels: core, repo

Run `env_backup` before changes to the `.env` files
  .scripts/appvars_create.sh
  .scripts/env_sanitize.sh
  .scripts/menu_add_app.sh
  .scripts/menu_app_select.sh
  .scripts/menu_config.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_value_prompt.sh
Labels: core

Squashed commit of the following:
  .scripts/appvars_create.sh
  .scripts/env_sanitize.sh
  .scripts/menu_add_app.sh
  .scripts/menu_app_select.sh
  .scripts/menu_config.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_value_prompt.sh
Labels: core

Change `DOCKER_VOLUME_CONFIG` not existing for backup to a warning, and attempt to back up before creating `.env`
  .scripts/env_backup.sh
  .scripts/env_create.sh
Labels: core

Update menu_config.sh
  .scripts/menu_config.sh
Labels: core

Update env_backup.sh
  .scripts/env_backup.sh
Labels: core

Update menu_config.sh
  .scripts/menu_config.sh
Labels: core

Update env_backup.sh
  .scripts/env_backup.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Revert "Update menu_value_prompt.sh"
  .scripts/menu_value_prompt.sh
Labels: core

Squashed commit of the following:
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_add_app.sh
  .scripts/menu_add_app.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update env_backup.sh
  .scripts/env_backup.sh
Labels: core

Update env_backup.sh
  .scripts/env_backup.sh
Labels: core

Update env_migrate_global.sh
  .scripts/env_migrate_global.sh
Labels: core

Update update_self.sh
  .scripts/update_self.sh
Labels: core

Update update_self.sh (#1883)
  .scripts/update_self.sh
Labels: core

Deployed bbca14e7 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Update update_self.sh
  .scripts/update_self.sh
Labels: core

Fix update (#1884)
  .scripts/update_self.sh
Labels: core

Update appvars_migrate.sh
  .scripts/appvars_migrate.sh
Labels: core

Update env_migrate.sh
  .scripts/env_migrate.sh
Labels: core

Update env_sanitize.sh
  .scripts/env_create.sh
  .scripts/env_migrate_global.sh
  .scripts/env_sanitize.sh
Labels: core

Revert "Update env_sanitize.sh"
  .scripts/env_create.sh
  .scripts/env_migrate_global.sh
  .scripts/env_sanitize.sh
Labels: core

Update env_create.sh
  .scripts/appvars_create.sh
  .scripts/env_create.sh
  .scripts/env_merge_newonly.sh
Labels: core

Revert "Update env_create.sh"
  .scripts/appvars_create.sh
  .scripts/env_create.sh
  .scripts/env_merge_newonly.sh
Labels: core

Update env_merge_newonly.sh
  .scripts/env_merge_newonly.sh
Labels: core

Update env_sanitize.sh
  .scripts/env_sanitize.sh
Labels: core

Update env_sanitize.sh
  .scripts/env_sanitize.sh
Labels: core

Squashed commit of the following:
  .scripts/appvars_migrate.sh
  .scripts/env_merge_newonly.sh
  .scripts/env_migrate.sh
  .scripts/env_sanitize.sh
Labels: core

Update env_sanitize.sh
  .scripts/env_sanitize.sh
Labels: core
