Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

Fix TRANSMISSIONVPN vars
  compose/.apps/transmissionvpn/transmissionvpn.env
  compose/.apps/transmissionvpn/transmissionvpn.yml
Labels: apps

Remove UBOOQUITY vars from compose files
  compose/.apps/ubooquity/ubooquity.yml
Labels: apps

Remove vars from TVHEADEND compose files
  compose/.apps/tvheadend/tvheadend.yml
Labels: apps

Fix UNPACKERR vars
  compose/.apps/unpackerr/unpackerr.env
  compose/.apps/unpackerr/unpackerr.yml
Labels: apps

Fix WIREGUARD vars
  compose/.apps/wireguard/wireguard.env
  compose/.apps/wireguard/wireguard.yml
Labels: apps

Fix XTEVE vars
  compose/.apps/xteve/xteve.env
  compose/.apps/xteve/xteve.yml
Labels: apps

Fix YOUTUBEDL vars
  compose/.apps/youtubedl/youtubedl.env
  compose/.apps/youtubedl/youtubedl.yml
Labels: apps

Fix TDARRNODE vars
  compose/.apps/tdarrnode/tdarrnode.env
  compose/.apps/tdarrnode/tdarrnode.yml
Labels: apps

Fix AZURACAST vars
  compose/.apps/azuracast/.env
  compose/.apps/azuracast/azuracast.env
  compose/.apps/azuracast/azuracast.ports.yml
Labels: apps

Fix SAMBA vars
  compose/.apps/samba/.env
  compose/.apps/samba/samba.env
Labels: apps

Add an empty `env_files` folder
  compose/env_files/.gitignore
Labels: apps

Deployed 116f0ced with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Merge pull request #1824 from GhostWriters/dependabot/github_actions/actions/stale-9.1.0
  .github/workflows/stale.yml
Labels: ci, repo

Fix `adguard.migrate`
  compose/.apps/adguard/adguard.migrate
Labels: apps

Fix `adminer.migrate`
  compose/.apps/adminer/adminer.migrate
Labels: apps

Fix `amd.migrate`
  compose/.apps/amd/amd.migrate
Labels: apps

Fix `apcupsd.migrate`
  compose/.apps/apcupsd/apcupsd.migrate
Labels: apps

Fix `cloudflareddns.migrate`
  compose/.apps/cloudflareddns/cloudflareddns.migrate
Labels: apps

Fix *vpn migrate files
  compose/.apps/delugevpn/delugevpn.migrate
  compose/.apps/nzbgetvpn/nzbgetvpn.migrate
  compose/.apps/privoxyvpn/privoxyvpn.migrate
  compose/.apps/qbittorrentvpn/qbittorrentvpn.migrate
  compose/.apps/rtorrentvpn/rtorrentvpn.migrate
  compose/.apps/sabnzbdvpn/sabnzbdvpn.migrate
Labels: apps

Fix `calibre.migrate`
  compose/.apps/calibre/calibre.migrate
Labels: apps

Fix `dasshio.migrate`
  compose/.apps/dasshio/dasshio.migrate
Labels: apps

Fix `dozzle.migrate`
  compose/.apps/dozzle/dozzle.migrate
Labels: apps

fix `filebrowser.migrate`
  compose/.apps/filebrowser/filebrowser.migrate
Labels: apps

Fix `glances.migrate`
  compose/.apps/glances/glances.migrate
Labels: apps

Fix `huginn.migrate`
  compose/.apps/huginn/huginn.migrate
Labels: apps

Fix `kiwixserve.migrate`
  compose/.apps/kiwixserve/kiwixserve.migrate
Labels: apps

Fix `komga.migrate`
  compose/.apps/komga/komga.migrate
Labels: apps

Fix `murmur.migrate`
  compose/.apps/murmur/murmur.migrate
Labels: apps

Fix `openldap.migrate`
  compose/.apps/openldap/openldap.migrate
Labels: apps

Fix `organizr.migrate`
  compose/.apps/organizr/organizr.migrate
Labels: apps

Fix `pgadmin.migrate`
  compose/.apps/pgadmin/pgadmin.migrate
Labels: apps

Fix `pgbackup.migrate`
  compose/.apps/pgbackup/pgbackup.migrate
Labels: apps

Fix `photostructure.migrate`
  compose/.apps/photostructure/photostructure.migrate
Labels: apps

Fix `pihole.migrate`
  compose/.apps/pihole/pihole.migrate
Labels: apps

Fix `postgres.migrate`
  compose/.apps/postgres/postgres.migrate
Labels: apps

Fix `recyclarr.migrate`
  compose/.apps/recyclarr/recyclarr.migrate
Labels: apps

Fix `smokeping.migrate`
  compose/.apps/smokeping/smokeping.migrate
Labels: apps

Fix `tdarr.migrate`
  compose/.apps/tdarr/tdarr.migrate
Labels: apps

Fix `watchtower.migrate`
  compose/.apps/watchtower/watchtower.migrate
Labels: apps

Fix `transmissionvpn.migrate`
  compose/.apps/transmissionvpn/transmissionvpn.migrate
Labels: apps

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]
