Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

Get the function name from the system in dialog error messages (#2304)
  .scripts/menu_add_app.sh
  .scripts/menu_add_var.sh
  .scripts/menu_app_select.sh
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_main.sh
  .scripts/menu_options.sh
  .scripts/menu_options_display.sh
  .scripts/menu_options_package_manager.sh
  .scripts/menu_options_theme.sh
  .scripts/menu_value_prompt.sh
  .scripts/question_prompt.sh
Labels: core

Colorize the dialog fatal error messages
  .scripts/menu_add_app.sh
  .scripts/menu_add_var.sh
  .scripts/menu_app_select.sh
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_main.sh
  .scripts/menu_options.sh
  .scripts/menu_options_display.sh
  .scripts/menu_options_package_manager.sh
  .scripts/menu_options_theme.sh
  .scripts/menu_value_prompt.sh
  .scripts/question_prompt.sh
Labels: core

Colorize the dialog fatal error messages (#2305)
  .scripts/menu_add_app.sh
  .scripts/menu_add_var.sh
  .scripts/menu_app_select.sh
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_main.sh
  .scripts/menu_options.sh
  .scripts/menu_options_display.sh
  .scripts/menu_options_package_manager.sh
  .scripts/menu_options_theme.sh
  .scripts/menu_value_prompt.sh
  .scripts/question_prompt.sh
Labels: core

Add an `invalid_dialog_button` helper function to return error messages
  .includes/dialog_functions.sh
  .scripts/menu_add_app.sh
  .scripts/menu_add_var.sh
  .scripts/menu_app_select.sh
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_main.sh
  .scripts/menu_options.sh
  .scripts/menu_options_display.sh
  .scripts/menu_options_package_manager.sh
  .scripts/menu_options_theme.sh
  .scripts/menu_value_prompt.sh
  .scripts/question_prompt.sh
Labels: core

Add an `invalid_dialog_button` helper function to return error messages (#2306)
  .includes/dialog_functions.sh
  .scripts/menu_add_app.sh
  .scripts/menu_add_var.sh
  .scripts/menu_app_select.sh
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_main.sh
  .scripts/menu_options.sh
  .scripts/menu_options_display.sh
  .scripts/menu_options_package_manager.sh
  .scripts/menu_options_theme.sh
  .scripts/menu_value_prompt.sh
  .scripts/question_prompt.sh
Labels: core

Deployed bc0e1965 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Add a trace log to fatal errors
  .includes/dialog_functions.sh
  main.sh
Labels: core, repo

Add a trace log to fatal errors (#2307)
  .includes/dialog_functions.sh
  main.sh
Labels: core, repo

Change colors slightly in stack trace
  main.sh
Labels: core, repo

Change colors slightly in stack trace (#2308)
  main.sh
Labels: core, repo

Update some `fatal` messages, and switch some to `fatal_notrace` where appropriate.
  .includes/cmdline.sh
  main.sh
Labels: core, repo

Update some `fatal` messages, and switch some to `fatal_notrace` where appropriate. (#2310)
  .includes/cmdline.sh
  main.sh
Labels: core, repo

Deployed ff2b08ab with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Deployed ff42aab0 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Add argument lists to the stack trace in fatal notices
  .includes/misc_functions.sh
  main.sh
Labels: core, repo

Add argument lists to the stack trace in fatal notices (#2312)
  .includes/misc_functions.sh
  main.sh
Labels: core, repo

Deployed 74a04bc8 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Add Simple DockSTARTer - Simplified Python alternative
  simple-dockstarter/.gitignore
  simple-dockstarter/QUICKSTART.md
  simple-dockstarter/README.md
  simple-dockstarter/apps/grafana.yml
  simple-dockstarter/apps/homeassistant.yml
  simple-dockstarter/apps/homer.yml
  simple-dockstarter/apps/jackett.yml
  simple-dockstarter/apps/jellyfin.yml
  simple-dockstarter/apps/nextcloud.yml
  simple-dockstarter/apps/nginx.yml
  simple-dockstarter/apps/pihole.yml
  simple-dockstarter/apps/plex.yml
  simple-dockstarter/apps/portainer.yml
  simple-dockstarter/apps/radarr.yml
  simple-dockstarter/apps/sonarr.yml
  simple-dockstarter/apps/tautulli.yml
  simple-dockstarter/apps/transmission.yml
  simple-dockstarter/apps/watchtower.yml
  simple-dockstarter/apps/wireguard.yml
  simple-dockstarter/dockstarter.py
  simple-dockstarter/install.sh
  simple-dockstarter/requirements.txt
Labels: core, docs

Set up color variables for the stack traced, and adjust colors slightly
  main.sh
Labels: core, repo

Set up color variables for the stack traced, and adjust colors slightly (#2314)
  main.sh
Labels: core, repo

Update `invalid_dialog_button` to take the button number as first argument
  .includes/dialog_functions.sh
  .scripts/menu_add_app.sh
  .scripts/menu_add_var.sh
  .scripts/menu_app_select.sh
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_main.sh
  .scripts/menu_options.sh
  .scripts/menu_options_display.sh
  .scripts/menu_options_package_manager.sh
  .scripts/menu_options_theme.sh
  .scripts/menu_value_prompt.sh
  .scripts/question_prompt.sh
Labels: core

Update `invalid_dialog_button` to take the button number as first argument (#2315)
  .includes/dialog_functions.sh
  .scripts/menu_add_app.sh
  .scripts/menu_add_var.sh
  .scripts/menu_app_select.sh
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_main.sh
  .scripts/menu_options.sh
  .scripts/menu_options_display.sh
  .scripts/menu_options_package_manager.sh
  .scripts/menu_options_theme.sh
  .scripts/menu_value_prompt.sh
  .scripts/question_prompt.sh
Labels: core

Deployed a1c0822c with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Update the display of the stack trace slightly
  main.sh
Labels: core, repo

Update the display of the stack trace slightly (#2316)
  main.sh
Labels: core, repo

Escape `\n` instead of converting to newlines in stack trace
  main.sh
Labels: core, repo

Escape `\n` instead of converting to newlines in stack trace (#2317)
  main.sh
Labels: core, repo

Update documentation for local usage
  simple-dockstarter/QUICKSTART.md
  simple-dockstarter/README.md
  simple-dockstarter/START.md
Labels: docs

Add download instructions and clarify distribution
  simple-dockstarter/DOWNLOAD.md
  simple-dockstarter/QUICKSTART.md
  simple-dockstarter/README.md
  simple-dockstarter/START.md
Labels: docs

Make Simple DockSTARTer completely standalone
  simple-dockstarter/DOWNLOAD.md
  simple-dockstarter/QUICKSTART.md
  simple-dockstarter/README.md
  simple-dockstarter/START.md
Labels: docs

Add README-STANDALONE clarifying separation from DockSTARTer
  simple-dockstarter/README-STANDALONE.md
Labels: docs

Escape `\` instead of just `\n` in stack trace logs
  main.sh
Labels: core, repo

Escape `\` instead of just `\n` in stack trace logs (#2318)
  main.sh
Labels: core, repo

Revert "Replace `pr -e` with `expand` (#2299)"
  .includes/cmdline.sh
  .scripts/menu_app_select.sh
Labels: core

Revert "Replace `pr -e` with `expand` (#2299)" (#2319)
  .includes/cmdline.sh
  .scripts/menu_app_select.sh
Labels: core

Do a `reset -Q` instead of `clear` in `menu_exit`
  .scripts/menu_exit.sh
Labels: core

Do a `reset -Q` instead of `clear` in `menu_exit` (#2320)
  .scripts/menu_exit.sh
Labels: core

Deployed b821adee with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Do a `reset -Q` instead of `clear` in `menu_main`
  .scripts/menu_main.sh
Labels: core

Do a `reset -Q` instead of `clear` in `menu_main` (#2321)
  .scripts/menu_main.sh
Labels: core

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]
