Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

Update update_self.sh
  .scripts/update_self.sh
Labels: core

Update renovate.json
  .github/renovate.json
Labels: repo

Update renovate.json (#1983)
  .github/renovate.json
Labels: repo

Allow getting the version of another branch with `ds --version <branch>`
  main.sh
Labels: core, repo

Remove brackets from around versions when displaying them during updates.
  .scripts/update_self.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Deployed 30b52c2c with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Fix "Updated to" notice during `ds -u`
  .scripts/update_self.sh
Labels: core

Don't add a period after versions when showing them during `ds -u`
  .scripts/update_self.sh
Labels: core

Don't add a period after versions when showing them during `ds -u` (#1986)
  .scripts/update_self.sh
Labels: core

Fix display of branch in the GUI during `ds -u` when there is no update available.
  .scripts/update_self.sh
Labels: core

Fix display of branch in the GUI during `ds -u` when there is no update available. (#1987)
  .scripts/update_self.sh
Labels: core

Add logging when enabling and disabling apps.
  .scripts/disable_app.sh
  .scripts/enable_app.sh
Labels: core

Add logging when enabling and disabling apps. (#1988)
  .scripts/disable_app.sh
  .scripts/enable_app.sh
Labels: core

Change recommendation to use `ds --status-disable` instead of setting the `ENABLED` variable for depreciated apps.
  .scripts/yml_merge.sh
Labels: core

Change recommendation to use `ds --status-disable` instead of setting the `ENABLED` variable for depreciated apps. (#1989)
  .scripts/yml_merge.sh
Labels: core

Add missing end quote in notice.
  .scripts/yml_merge.sh
Labels: core

Add missing end quote in notice. (#1990)
  .scripts/yml_merge.sh
Labels: core

Use `app_is_added` and `enable_app` in `appvars_create`
  .scripts/appvars_create.sh
Labels: core

Use `app_is_added` and `enable_app` in `appvars_create` (#1991)
  .scripts/appvars_create.sh
Labels: core

Fix logic when deciding what to show when updating to the same branch
  .scripts/update_self.sh
Labels: core

Fix logic when deciding what to show when updating to the same branch (#1992)
  .scripts/update_self.sh
Labels: core

Update Screenshots
  docs/assets/command_help.png
  docs/assets/menu_app_select.png
  docs/assets/menu_config_vars.png
  docs/assets/menu_main.png
  docs/assets/menu_value_prompt.png
Labels: docs

Update Screenshots (#1993)
  docs/assets/command_help.png
  docs/assets/menu_app_select.png
  docs/assets/menu_config_vars.png
  docs/assets/menu_main.png
  docs/assets/menu_value_prompt.png
Labels: docs

Deployed 2557e773 with MkDocs version: 1.6.1
  assets/command_help.png
  assets/menu_app_select.png
  assets/menu_config_vars.png
  assets/menu_main.png
  assets/menu_value_prompt.png
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Add `crosssseed`
  compose/.apps/crossseed/crossseed.aarch64.yml
  compose/.apps/crossseed/crossseed.app.env
  compose/.apps/crossseed/crossseed.folders
  compose/.apps/crossseed/crossseed.global.env
  compose/.apps/crossseed/crossseed.hostname.yml
  compose/.apps/crossseed/crossseed.labels.yml
  compose/.apps/crossseed/crossseed.migrate
  compose/.apps/crossseed/crossseed.netmode.yml
  compose/.apps/crossseed/crossseed.ports.yml
  compose/.apps/crossseed/crossseed.storage.yml
  compose/.apps/crossseed/crossseed.storage2.yml
  compose/.apps/crossseed/crossseed.storage3.yml
  compose/.apps/crossseed/crossseed.storage4.yml
  compose/.apps/crossseed/crossseed.x86_64.yml
  compose/.apps/crossseed/crossseed.yml
  docs/apps/crossseed.md
  mkdocs.yml
Labels: apps, docs, repo

Add `crosssseed` (#1994)
  compose/.apps/crossseed/crossseed.aarch64.yml
  compose/.apps/crossseed/crossseed.app.env
  compose/.apps/crossseed/crossseed.folders
  compose/.apps/crossseed/crossseed.global.env
  compose/.apps/crossseed/crossseed.hostname.yml
  compose/.apps/crossseed/crossseed.labels.yml
  compose/.apps/crossseed/crossseed.migrate
  compose/.apps/crossseed/crossseed.netmode.yml
  compose/.apps/crossseed/crossseed.ports.yml
  compose/.apps/crossseed/crossseed.storage.yml
  compose/.apps/crossseed/crossseed.storage2.yml
  compose/.apps/crossseed/crossseed.storage3.yml
  compose/.apps/crossseed/crossseed.storage4.yml
  compose/.apps/crossseed/crossseed.x86_64.yml
  compose/.apps/crossseed/crossseed.yml
  docs/apps/crossseed.md
  mkdocs.yml
Labels: apps, docs, repo

Fix links in `crossseed` docs
  docs/apps/crossseed.md
Labels: docs

Fix links in `crossseed` docs (#1995)
  docs/apps/crossseed.md
Labels: docs

Deployed e63df538 with MkDocs version: 1.6.1
  apps/crossseed/index.html
Labels: none

Add `vaultwarden`, duplicating the config from `bitwarden` (which was actually `vaultwarden`)
  compose/.apps/vaultwarden/vaultwarden.aarch64.yml
  compose/.apps/vaultwarden/vaultwarden.app.env
  compose/.apps/vaultwarden/vaultwarden.folders
  compose/.apps/vaultwarden/vaultwarden.global.env
  compose/.apps/vaultwarden/vaultwarden.hostname.yml
  compose/.apps/vaultwarden/vaultwarden.labels.yml
  compose/.apps/vaultwarden/vaultwarden.migrate
  compose/.apps/vaultwarden/vaultwarden.netmode.yml
  compose/.apps/vaultwarden/vaultwarden.ports.yml
  compose/.apps/vaultwarden/vaultwarden.storage.yml
  compose/.apps/vaultwarden/vaultwarden.storage2.yml
  compose/.apps/vaultwarden/vaultwarden.storage3.yml
  compose/.apps/vaultwarden/vaultwarden.storage4.yml
  compose/.apps/vaultwarden/vaultwarden.x86_64.yml
  compose/.apps/vaultwarden/vaultwarden.yml
  docs/apps/vaultwarden.md
  mkdocs.yml
Labels: apps, docs, repo

Add `vaultwarden`, duplicating the config from `bitwarden` (which was actually `vaultwarden`) (#1996)
  compose/.apps/vaultwarden/vaultwarden.aarch64.yml
  compose/.apps/vaultwarden/vaultwarden.app.env
  compose/.apps/vaultwarden/vaultwarden.folders
  compose/.apps/vaultwarden/vaultwarden.global.env
  compose/.apps/vaultwarden/vaultwarden.hostname.yml
  compose/.apps/vaultwarden/vaultwarden.labels.yml
  compose/.apps/vaultwarden/vaultwarden.migrate
  compose/.apps/vaultwarden/vaultwarden.netmode.yml
  compose/.apps/vaultwarden/vaultwarden.ports.yml
  compose/.apps/vaultwarden/vaultwarden.storage.yml
  compose/.apps/vaultwarden/vaultwarden.storage2.yml
  compose/.apps/vaultwarden/vaultwarden.storage3.yml
  compose/.apps/vaultwarden/vaultwarden.storage4.yml
  compose/.apps/vaultwarden/vaultwarden.x86_64.yml
  compose/.apps/vaultwarden/vaultwarden.yml
  docs/apps/vaultwarden.md
  mkdocs.yml
Labels: apps, docs, repo

Depreciate `bitrwarden` (renamed to `vaultwarden`)
  compose/.apps/bitwarden/bitwarden.labels.yml
  docs/apps/bitwarden.md
  mkdocs.yml
Labels: apps, docs, repo

Depreciate `bitrwarden` (renamed to `vaultwarden`) (#1997)
  compose/.apps/bitwarden/bitwarden.labels.yml
  docs/apps/bitwarden.md
  mkdocs.yml
Labels: apps, docs, repo

Fix `vaultwarden`
  compose/.apps/vaultwarden/vaultwarden.x86_64.yml
Labels: apps

Fix `vaultwarden` (#1998)
  compose/.apps/vaultwarden/vaultwarden.x86_64.yml
Labels: apps

Prompt for `Stop`, "Down" or "Cancel" when when stopping containers in the GUI
  .scripts/menu_config.sh
Labels: core

Prompt for `Stop`, "Down" or "Cancel" when when stopping containers in the GUI (#1999)
  .scripts/menu_config.sh
Labels: core

Fix `ds -u` command with no branch specified
  .scripts/update_self.sh
Labels: core

Fix `ds -u` command with no branch specified (#2000)
  .scripts/update_self.sh
Labels: core

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]
