Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

Deployed 6cb80eff with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Change `git branch --show` to `ds_branch` in `update_self`
  .scripts/update_self.sh
Labels: core

Change `git branch --show` to `ds_branch` in `update_self` (#2018)
  .scripts/update_self.sh
Labels: core

Add option to toggle between line drawing and ascii characters.
  .scripts/apply_theme.sh
  .scripts/menu_display_options_general.sh
  .themes/menu.ini
Labels: core

Add option to toggle between line drawing and ascii characters. (#2019)
  .scripts/apply_theme.sh
  .scripts/menu_display_options_general.sh
  .themes/menu.ini
Labels: core

Update command-line options for toggling line drawing and borders
  main.sh
Labels: core, repo

Update command-line options for toggling line drawing and borders (#2020)
  main.sh
Labels: core, repo

Add `huntarr` docs
  docs/apps/huntarr.md
  mkdocs.yml
Labels: docs, repo

Add `Huntarr` (#2021)
  compose/.apps/huntarr/huntarr.aarch64.yml
  compose/.apps/huntarr/huntarr.app.env
  compose/.apps/huntarr/huntarr.folders
  compose/.apps/huntarr/huntarr.global.env
  compose/.apps/huntarr/huntarr.hostname.yml
  compose/.apps/huntarr/huntarr.labels.yml
  compose/.apps/huntarr/huntarr.migrate
  compose/.apps/huntarr/huntarr.netmode.yml
  compose/.apps/huntarr/huntarr.ports.yml
  compose/.apps/huntarr/huntarr.storage.yml
  compose/.apps/huntarr/huntarr.storage2.yml
  compose/.apps/huntarr/huntarr.storage3.yml
  compose/.apps/huntarr/huntarr.storage4.yml
  compose/.apps/huntarr/huntarr.x86_64.yml
  compose/.apps/huntarr/huntarr.yml
  docs/apps/huntarr.md
  mkdocs.yml
Labels: apps, docs, repo

Migrate old LineCharacters variable to Borders if Borders doesn't exist in `menu.ini`
  .scripts/apply_theme.sh
Labels: core

Migrate old LineCharacters variable to Borders if Borders doesn't exist in `menu.ini` (#2022)
  .scripts/apply_theme.sh
Labels: core

Always return a version if a branch name is not passed to `ds_version`
  main.sh
Labels: core, repo

Always return a version if a branch name is not passed to `ds_version` (#2023)
  main.sh
Labels: core, repo

Only get the current branch name when needed in `ds_version`
  main.sh
Labels: core, repo

Only get the current branch name when needed in `ds_version` (#2024)
  main.sh
Labels: core, repo

Fix definition of `navidrome` data folder
  compose/.apps/navidrome/navidrome.yml
Labels: apps

Fix definition of `navidrome` data folder (#2025)
  compose/.apps/navidrome/navidrome.yml
Labels: apps

Deployed c8fc452a with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Add `Kavita`
  compose/.apps/kavita/kavita.aarch64.yml
  compose/.apps/kavita/kavita.app.env
  compose/.apps/kavita/kavita.folders
  compose/.apps/kavita/kavita.global.env
  compose/.apps/kavita/kavita.hostname.yml
  compose/.apps/kavita/kavita.labels.yml
  compose/.apps/kavita/kavita.migrate
  compose/.apps/kavita/kavita.netmode.yml
  compose/.apps/kavita/kavita.ports.yml
  compose/.apps/kavita/kavita.storage.yml
  compose/.apps/kavita/kavita.storage2.yml
  compose/.apps/kavita/kavita.storage3.yml
  compose/.apps/kavita/kavita.storage4.yml
  compose/.apps/kavita/kavita.x86_64.yml
  compose/.apps/kavita/kavita.yml
  docs/apps/kavita.md
  mkdocs.yml
Labels: apps, docs, repo

Add `Kavita` (#2028)
  compose/.apps/kavita/kavita.aarch64.yml
  compose/.apps/kavita/kavita.app.env
  compose/.apps/kavita/kavita.folders
  compose/.apps/kavita/kavita.global.env
  compose/.apps/kavita/kavita.hostname.yml
  compose/.apps/kavita/kavita.labels.yml
  compose/.apps/kavita/kavita.migrate
  compose/.apps/kavita/kavita.netmode.yml
  compose/.apps/kavita/kavita.ports.yml
  compose/.apps/kavita/kavita.storage.yml
  compose/.apps/kavita/kavita.storage2.yml
  compose/.apps/kavita/kavita.storage3.yml
  compose/.apps/kavita/kavita.storage4.yml
  compose/.apps/kavita/kavita.x86_64.yml
  compose/.apps/kavita/kavita.yml
  docs/apps/kavita.md
  mkdocs.yml
Labels: apps, docs, repo

Warn on startup if the current branch no longer exists
  main.sh
Labels: core, repo

Warn on startup if the current branch no longer exists (#2029)
  main.sh
Labels: core, repo

Deployed 3d1dc2ca with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Use `Run 'ds` instead of `Do 'ds` in notices.
  .scripts/yml_merge.sh
  main.sh
Labels: core, repo

Use `Run 'ds` instead of `Do 'ds` in notices. (#2030)
  .scripts/yml_merge.sh
  main.sh
Labels: core, repo

Use more consistent notices
  .scripts/appvars_rename.sh
  .scripts/update_self.sh
  .scripts/yml_merge.sh
  main.sh
Labels: core, repo

Use more consistent notices (#2031)
  .scripts/appvars_rename.sh
  .scripts/update_self.sh
  .scripts/yml_merge.sh
  main.sh
Labels: core, repo

Don't use ANSI colors in the output of `ds --version`
  main.sh
Labels: core, repo

Don't use ANSI colors in the output of `ds --version` (#2032)
  main.sh
Labels: core, repo

Add color to the version number and "Update Available" in the usage text.
  main.sh
Labels: core, repo

Add color to the version number and "Update Available" in the usage text. (#2033)
  main.sh
Labels: core, repo

Add quotes and color to the branch names in the notice in `switch_branch`
  main.sh
Labels: core, repo

Add quotes and color to the branch names in the notice in `switch_branch` (#2034)
  main.sh
Labels: core, repo

Add quotes around branch name in notice
  .scripts/update_self.sh
Labels: core

Add quotes around branch name in notice (#2035)
  .scripts/update_self.sh
Labels: core

Fix command-line parsing
  main.sh
Labels: core, repo

Fix command-line parsing (#2036)
  main.sh
Labels: core, repo

Remove the `filebrowser` healthcheckl
  compose/.apps/filebrowser/filebrowser.yml
Labels: apps

Remove the `filebrowser` healthcheckl (#2037)
  compose/.apps/filebrowser/filebrowser.yml
Labels: apps

Adjust notices when applying themes
  .scripts/apply_theme.sh
  main.sh
Labels: core, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]
