Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

Update appvars_create.sh
  .scripts/appvars_create.sh
  .scripts/env_merge_newonly.sh
Labels: core

Update appvars_create.sh
  .scripts/appvars_create.sh
  .scripts/env_merge_newonly.sh
Labels: core

Update env_merge_newonly.sh
  .scripts/appvars_create.sh
  .scripts/env_merge_newonly.sh
Labels: core

Update appvars_create.sh
  .scripts/appvars_create.sh
Labels: core

Update env_merge_newonly.sh
  .scripts/env_merge_newonly.sh
Labels: core

Update env_merge_newonly.sh
  .scripts/env_merge_newonly.sh
Labels: core

Update env_merge_newonly.sh
  .scripts/env_merge_newonly.sh
Labels: core

Update env_merge_newonly.sh
  .scripts/env_merge_newonly.sh
Labels: core

Update env_merge_newonly.sh
  .scripts/env_merge_newonly.sh
Labels: core

Update env_merge_newonly.sh
  .scripts/env_merge_newonly.sh
Labels: core

Update env_merge_newonly.sh
  .scripts/env_merge_newonly.sh
Labels: core

Squashed commit of the following:
  .scripts/env_merge_newonly.sh
Labels: core

Revert "Squashed commit of the following:"
  .scripts/env_merge_newonly.sh
Labels: core

Revert "Update env_migrate.sh"
  .scripts/env_migrate.sh
Labels: core

Squashed commit of the following:
  .scripts/env_merge_newonly.sh
  .scripts/env_migrate.sh
Labels: core

Update screenshots
  docs/assets/menu_config_vars.png
  docs/assets/menu_main.png
  docs/assets/menu_value_prompt.png
Labels: docs

Update menu_value_prompt.png
  docs/assets/menu_value_prompt.png
Labels: docs

Add missing `INTERVAL` var to `ouroboros` for anyone still using it
  compose/.apps/ouroboros/ouroboros.app.env
  compose/.apps/ouroboros/ouroboros.migrate
Labels: apps

Squashed commit of the following:
  compose/.apps/ouroboros/ouroboros.app.env
  compose/.apps/ouroboros/ouroboros.migrate
Labels: apps

Update menu_main.sh
  .scripts/menu_main.sh
Labels: core

Squashed commit of the following:
  .scripts/menu_main.sh
Labels: core

Say what function an error occured in.
  .scripts/menu_add_app.sh
  .scripts/menu_add_var.sh
  .scripts/menu_app_select.sh
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_value_prompt.sh
  .scripts/question_prompt.sh
Labels: core

Update menu_main.sh
  .scripts/menu_main.sh
Labels: core

Don't clear screen before fatal errors.
  .scripts/menu_add_app.sh
  .scripts/menu_add_var.sh
  .scripts/menu_app_select.sh
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_value_prompt.sh
  .scripts/question_prompt.sh
Labels: core

Squashed commit of the following:
  .scripts/menu_add_app.sh
  .scripts/menu_add_var.sh
  .scripts/menu_app_select.sh
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_value_prompt.sh
  .scripts/question_prompt.sh
Labels: core

Move dialog scrollbar option from .rc file to DIALOGOPTS var for compatibility with older versions
  .dialogrc
  main.sh
Labels: core, repo

Squashed commit of the following:
  .dialogrc
  main.sh
Labels: core, repo

Add a `ds -c update` option
  .scripts/docker_compose.sh
  main.sh
Labels: core, repo

Update menu_config.sh
  .scripts/menu_config.sh
Labels: core

Update menu_config.sh
  .scripts/menu_config.sh
Labels: core

Squashed commit of the following:
  .scripts/docker_compose.sh
  .scripts/menu_config.sh
  main.sh
Labels: core, repo

Update docker_compose.sh
  .scripts/docker_compose.sh
Labels: core

Update docker_prune.sh
  .scripts/docker_prune.sh
Labels: core

Update command_help.png
  docs/assets/command_help.png
Labels: docs

Update docker_compose.sh
  .scripts/docker_compose.sh
Labels: core

Update docker_compose.sh
  .scripts/docker_compose.sh
Labels: core

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

Update docker_compose.sh
  .scripts/docker_compose.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Update main.sh
  main.sh
Labels: core, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]
