Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]

Modify dialog colors slightly
  .dialogrc
  .scripts/menu_app_vars.sh
Labels: core, repo

Change item background color from white to cyan
  .dialogrc
  .scripts/menu_app_vars.sh
Labels: core, repo

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update question_prompt.sh
  .scripts/question_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_app_select.sh
  .scripts/menu_app_select.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

/var/run/docker.sock correction
  compose/.apps/tsdproxy/tsdproxy.labels.yml
  compose/.apps/tsdproxy/tsdproxy.yml
Labels: apps

Update app_nicename.sh
  .scripts/app_nicename.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Update menu_value_prompt.sh
  .scripts/menu_value_prompt.sh
Labels: core

feat: 💥 Add TSDProxy (#1866)
  compose/.apps/tsdproxy/tsdproxy.aarch64.yml
  compose/.apps/tsdproxy/tsdproxy.hostname.yml
  compose/.apps/tsdproxy/tsdproxy.labels.yml
  compose/.apps/tsdproxy/tsdproxy.netmode.yml
  compose/.apps/tsdproxy/tsdproxy.ports.yml
  compose/.apps/tsdproxy/tsdproxy.x86_64.yml
  compose/.apps/tsdproxy/tsdproxy.yml
  docs/apps/tsdproxy.md
  mkdocs.yml
Labels: apps, docs, repo

Update app package managers for dialog output
  .scripts/pm_apk_install.sh
  .scripts/pm_apk_install_docker.sh
  .scripts/pm_apk_upgrade.sh
  .scripts/pm_dnf_install.sh
  .scripts/pm_dnf_upgrade.sh
  .scripts/pm_pacman_install.sh
  .scripts/pm_pacman_install_docker.sh
  .scripts/pm_pacman_upgrade.sh
  .scripts/pm_yum_install.sh
  .scripts/pm_yum_repos.sh
  .scripts/pm_yum_upgrade.sh
Labels: core

Update main.sh
  main.sh
Labels: core, repo

Fix `maintainerr`
  .scripts/env_list_global_defaults.sh
  compose/.apps/maintainerr/maintainerr.hostname.yml
  compose/.apps/maintainerr/maintainerr.labels.yml
  compose/.apps/maintainerr/maintainerr.netmode.yml
  compose/.apps/maintainerr/maintainerr.ports.yml
  compose/.apps/maintainerr/maintainerr.x86_64.yml
  compose/.apps/maintainerr/maintainerr.yml
Labels: apps, core

Update documentation
  docs/advanced/technical-info.md
  docs/apps/homeassistant.md
  docs/apps/homer.md
  docs/apps/httpserver.md
  docs/apps/murmur.md
  docs/apps/pgbackup.md
  docs/apps/photostructure.md
  docs/apps/pihole.md
  docs/apps/plex.md
  docs/apps/swag.md
  docs/apps/synclounge.md
  docs/apps/tandoor.md
  docs/basics/command-line-usage.md
  docs/basics/env-var-info.md
Labels: docs

Delete env_list_global_defaults.sh
  .scripts/env_list_global_defaults.sh
Labels: core

Update technical-info.md
  docs/advanced/technical-info.md
Labels: docs

Update screenshots in documentation
  README.md
  docs/assets/command_help.png
  docs/assets/menu_app_select.png
  docs/assets/menu_main.png
  docs/assets/menu_value_prompt.png
Labels: docs, repo

Update README.md
  README.md
Labels: docs, repo

Update env-var-info.md
  docs/basics/env-var-info.md
Labels: docs

Squashed commit of the following:
  compose/.apps/tsdproxy/tsdproxy.aarch64.yml
  compose/.apps/tsdproxy/tsdproxy.hostname.yml
  compose/.apps/tsdproxy/tsdproxy.labels.yml
  compose/.apps/tsdproxy/tsdproxy.netmode.yml
  compose/.apps/tsdproxy/tsdproxy.ports.yml
  compose/.apps/tsdproxy/tsdproxy.x86_64.yml
  compose/.apps/tsdproxy/tsdproxy.yml
  docs/apps/tsdproxy.md
  mkdocs.yml
Labels: apps, docs, repo

Update `TSDProxy` template to the new format
  compose/.apps/tsdproxy/.env
  compose/.apps/tsdproxy/tsdproxy.aarch64.yml
  compose/.apps/tsdproxy/tsdproxy.env
  compose/.apps/tsdproxy/tsdproxy.hostname.yml
  compose/.apps/tsdproxy/tsdproxy.labels.yml
  compose/.apps/tsdproxy/tsdproxy.netmode.yml
  compose/.apps/tsdproxy/tsdproxy.ports.yml
  compose/.apps/tsdproxy/tsdproxy.x86_64.yml
  compose/.apps/tsdproxy/tsdproxy.yml
Labels: apps

A few more documentation updates
  docs/apps/openvpnas.md
  docs/apps/samba.md
  docs/apps/speedtest.md
Labels: docs
