Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]

Update env_update_testing.sh
  .scripts/env_update_testing.sh
Labels: core

Update env_update_testing.sh
  .scripts/env_update_testing.sh
Labels: core

Update app_list_referenced.sh
  .scripts/app_list_referenced.sh
Labels: core

Update env_update_testing.sh
  .scripts/env_update_testing.sh
Labels: core

Update env_lines.sh
  .scripts/env_lines.sh
Labels: core

Update env_update_testing.sh
  .scripts/env_update_testing.sh
Labels: core

Update env_lines.sh
  .scripts/env_lines.sh
Labels: core

Update app_list_referenced.sh
  .scripts/app_list_referenced.sh
Labels: core

Update env_update_testing.sh
  .scripts/env_update_testing.sh
Labels: core

Replace `env_update` with test version
  .scripts/env_update.sh
  .scripts/env_update_testing.sh
Labels: core

Add app NGINX
  compose/.apps/nginx/.env
  compose/.apps/nginx/nginx.aarch64.yml
  compose/.apps/nginx/nginx.env
  compose/.apps/nginx/nginx.folders
  compose/.apps/nginx/nginx.hostname.yml
  compose/.apps/nginx/nginx.labels.yml
  compose/.apps/nginx/nginx.migrate
  compose/.apps/nginx/nginx.netmode.yml
  compose/.apps/nginx/nginx.ports.yml
  compose/.apps/nginx/nginx.x86_64.yml
  compose/.apps/nginx/nginx.yml
  docs/apps/nginx.md
  mkdocs.yml
Labels: apps, docs, repo

Update env_format_lines.sh
  .scripts/env_format_lines.sh
Labels: core

Update env_format_lines.sh
  .scripts/env_format_lines.sh
Labels: core

Update env_format_lines.sh
  .scripts/env_format_lines.sh
Labels: core

Fix linting errors
  .scripts/app_list_referenced.sh
  .scripts/env_format_lines.sh
  .scripts/env_update.sh
Labels: core

Fix the GUI to use the new standard of `APPNAME__VARNAME` from the old `APPNAME_VARNAME`
  .scripts/menu_app_select.sh
  .scripts/menu_app_vars.sh
  .scripts/menu_value_prompt.sh
Labels: core

Update appvars_create.sh
  .scripts/appvars_create.sh
Labels: core

Update env_sanitize.sh
  .scripts/env_sanitize.sh
Labels: core

Update env_merge_newonly.sh
  .scripts/env_merge_newonly.sh
Labels: core

Update env_merge_newonly.sh
  .scripts/env_merge_newonly.sh
Labels: core

Update update_self.sh
  .scripts/update_self.sh
Labels: core

Update env_merge_newonly.sh
  .scripts/env_merge_newonly.sh
Labels: core

Add Lyrion/deprecate Logitech
  compose/.apps/logitechmediaserver/logitechmediaserver.labels.yml
  compose/.apps/lyrionmusicserver/lyrionmusicserver.aarch64.yml
  compose/.apps/lyrionmusicserver/lyrionmusicserver.hostname.yml
  compose/.apps/lyrionmusicserver/lyrionmusicserver.labels.yml
  compose/.apps/lyrionmusicserver/lyrionmusicserver.netmode.yml
  compose/.apps/lyrionmusicserver/lyrionmusicserver.ports.yml
  compose/.apps/lyrionmusicserver/lyrionmusicserver.x86_64.yml
  compose/.apps/lyrionmusicserver/lyrionmusicserver.yml
  docs/apps/lyrionmusicserver.md
  mkdocs.yml
Labels: apps, docs, repo

Update LogitechMediaServer and LyrionMediaServer
  compose/.apps/logitechmediaserver/logitechmediaserver.labels.yml
  compose/.apps/lyrionmusicserver/.env
  compose/.apps/lyrionmusicserver/lyrionmusicserver.aarch64.yml
  compose/.apps/lyrionmusicserver/lyrionmusicserver.env
  compose/.apps/lyrionmusicserver/lyrionmusicserver.folders
  compose/.apps/lyrionmusicserver/lyrionmusicserver.labels.yml
  compose/.apps/lyrionmusicserver/lyrionmusicserver.migrate
  compose/.apps/lyrionmusicserver/lyrionmusicserver.netmode.yml
  compose/.apps/lyrionmusicserver/lyrionmusicserver.ports.yml
  compose/.apps/lyrionmusicserver/lyrionmusicserver.x86_64.yml
  compose/.apps/lyrionmusicserver/lyrionmusicserver.yml
Labels: apps

Update env_format_lines.sh
  .scripts/env_format_lines.sh
Labels: core

Update env_format_lines.sh
  .scripts/env_format_lines.sh
Labels: core

Update env_format_lines.sh
  .scripts/env_format_lines.sh
Labels: core

Create app_nicename.sh
  .scripts/app_nicename.sh
Labels: core

Update env_format_lines.sh
  .scripts/env_format_lines.sh
Labels: core

Update app_nicename.sh
  .scripts/app_nicename.sh
Labels: core

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

PiHole additions for v6
  compose/.apps/pihole/pihole.labels.yml
  compose/.apps/pihole/pihole.ports.yml
  compose/.apps/pihole/pihole.yml
Labels: apps

Deployed 9f1bd726 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Create app_description.sh
  .scripts/app_description.sh
Labels: core

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

Create app_is_nondepreciated.sh
  .scripts/app_is_nondepreciated.sh
Labels: core

Create app_list_nondepreciated.sh
  .scripts/app_list_nondepreciated.sh
Labels: core

Update app_is_nondepreciated.sh
  .scripts/app_is_nondepreciated.sh
Labels: core

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core

Update menu_app_select.sh
  .scripts/menu_app_select.sh
Labels: core
