Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]

Fix the "In Progress" status color not going to "Completed" in `menu_app_select`
  .scripts/menu_app_select.sh
Labels: core

Add `Waiting`, `In Progress` and `Waiting` to items for add/remove in `menu_app_select`
  .scripts/menu_app_select.sh
Labels: core

Added more gitignore paths
  .gitignore
Labels: repo

reorder
  .gitignore
Labels: repo

Set permissions on Main.sh
  main.sh
Labels: core, repo

Added Comments
  .gitignore
Labels: repo

Set permissions on Main.sh (#2115)
  main.sh
Labels: core, repo

Deployed 27dd4f89 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Combine the two sets of gauge routines for `prepare` and `add_remove` into one set
  .scripts/menu_app_select.sh
Labels: core

Update the progress dialog screens in `menu_app_select` (#2116)
  .scripts/menu_app_select.sh
Labels: core

Strip ANSI colors from the subtitles of dialog boxes
  main.sh
Labels: core, repo

Strip ANSI colors from the subtitles of dialog boxes (#2117)
  main.sh
Labels: core, repo

Split detecting installed apps in `menu_app_select` into four steps for the progress bar
  .scripts/menu_app_select.sh
Labels: core

Split detecting installed apps in `menu_app_select` into four steps for the progress bar (#2118)
  .scripts/menu_app_select.sh
Labels: core

Only allow `A-`Z`, a-`z, `0-`9, `_` and ` ` in the status tags in the `menu_app_select` progress dialogs
  .scripts/menu_app_select.sh
Labels: core

Only allow `A-`Z`, a-`z, `0-`9, `_` and ` ` in the status tags in the `menu_app_select` progress dialogs (#2119)
  .scripts/menu_app_select.sh
Labels: core

chore(gitignore): 🧹 add new ignore patterns (#2114)
  .gitignore
Labels: repo

Switch from using the `DIALOGOPTS` var to a temp file to store global `dialog` options
  .scripts/apply_theme.sh
  .scripts/menu_app_select.sh
  main.sh
Labels: core, repo

Switch from using the `DIALOGOPTS` var to a temp file to store global `dialog` options (#2120)
  .scripts/apply_theme.sh
  .scripts/menu_app_select.sh
  main.sh
Labels: core, repo

Fix description of `--list-nondeprecated` in the usage text
  main.sh
Labels: core, repo

Fix description of `--list-nondeprecated` in the usage text (#2121)
  main.sh
Labels: core, repo

Change from using `dialog` options `--lines` and `--no-ascii-lines` to omitting the options.
  .scripts/apply_theme.sh
Labels: core

Change from using `dialog` options `--lines` and `--no-ascii-lines` to omitting the options. (#2122)
  .scripts/apply_theme.sh
Labels: core

Update app_instance_file.sh
  .scripts/app_instance_file.sh
Labels: core

Update app_instance_file.sh
  .scripts/app_instance_file.sh
Labels: core

Check if the original app template file has changed before create an instance file
  .scripts/app_instance_file.sh
  .scripts/update_self.sh
  main.sh
Labels: core, repo

Check if the original app template file has changed before create an instance file (#2123)
  .scripts/app_instance_file.sh
  .scripts/update_self.sh
  main.sh
Labels: core, repo

Deployed f710d6c9 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

description change
  compose/.apps/speedtest/speedtest.labels.yml
Labels: apps

Added Optional environment variables
  compose/.apps/speedtest/speedtest.app.env
Labels: apps

Added extra Migraton variables
  compose/.apps/speedtest/speedtest.migrate
Labels: apps

typo
  docs/apps/speedtest.md
Labels: docs

Clean up folders and files in the instances folder if the template files no longer exist
  .scripts/app_instance_file.sh
Labels: core

Clean up folders and files in the instances folder if the template files no longer exist (#2125)
  .scripts/app_instance_file.sh
Labels: core

Reverse the gauge colors for the DockSTARTer theme
  .themes/DockSTARTer/.dialogrc
Labels: none

Reverse the gauge colors for the DockSTARTer theme (#2126)
  .themes/DockSTARTer/.dialogrc
Labels: none

Fix Typo
  docs/apps/speedtest.md
Labels: docs

Remove Arm Tag
  compose/.apps/speedtest/speedtest.aarch64.yml
Labels: apps

chore(containers): 🐳 switch Speedtest Tracker image to lscr.io/linuxserver registry (#2124)
  compose/.apps/speedtest/speedtest.aarch64.yml
  compose/.apps/speedtest/speedtest.app.env
  compose/.apps/speedtest/speedtest.labels.yml
  compose/.apps/speedtest/speedtest.migrate
  compose/.apps/speedtest/speedtest.x86_64.yml
  docs/apps/speedtest.md
Labels: apps, docs

Deployed e4ca8b3b with MkDocs version: 1.6.1
  apps/speedtest/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Labels: repo
