Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]

Fix for testing of templates update
  .includes/usage.sh
  main.sh
Labels: core, repo

Update the `--version` command
  .includes/cmdline.sh
Labels: core

Move the branch variables to the top of `main.sh`
  main.sh
Labels: core, repo

Rename `TARGET_BRANCH` to `APPLICATION_DEFAULT_BRANCH` and `SOURCE_BRANCH` to `APPLICATION_LEGACY_BRANCH`
  .includes/ds_functions.sh
  .scripts/update_self.sh
  main.sh
Labels: core, repo

Move templates repo clone to `${XDG_STATE_HOME}/dockstarter/templates/DockSTARTer-Templates`
  .includes/global_variables.sh
  main.sh
Labels: core, repo

Move templates repo clone to `${XDG_STATE_HOME}/dockstarter/templates/DockSTARTer-Templates`
  .includes/cmdline.sh
  .includes/global_variables.sh
  .includes/usage.sh
  .scripts/update_templates.sh
  main.sh
Labels: core, repo

Remove the "App Request" issue type
  .github/ISSUE_TEMPLATE/application-request.md
Labels: docs, repo

Move `include_dir_to_nav` to after `multirepo` in `mkdocs.yml`
  mkdocs.yml
Labels: docs, repo

Update main.sh
  main.sh
Labels: core, repo

Update deploy-mkdocs.yml
  .github/workflows/deploy-mkdocs.yml
Labels: ci, repo

Update deploy-mkdocs.yml (#2374)
  .github/workflows/deploy-mkdocs.yml
Labels: ci, repo

Update mkdocs.yml
  mkdocs.yml
Labels: docs, repo

Update mkdocs.yml
  mkdocs.yml
Labels: docs, repo

Update mkdocs.yml (#2375)
  mkdocs.yml
Labels: docs, repo

Deployed 2e889433 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Update mkdocs.yml
  mkdocs.yml
Labels: docs, repo

Update mkdocs.yml (#2376)
  mkdocs.yml
Labels: docs, repo

Deployed c3396ca1 with MkDocs version: 1.6.1
  404.html
  advanced/backups/index.html
  advanced/domain-info/index.html
  advanced/macvlan/index.html
  advanced/openmediavault/index.html
  advanced/smb-mounting/index.html
  advanced/technical-info/index.html
  advanced/uninstall/index.html
  advanced/vpn-info/index.html
  basics/available-apps/index.html
  basics/command-line-usage/index.html
  basics/env-var-info/index.html
  basics/faq/index.html
  basics/migration/index.html
  basics/port-conflicts/index.html
  basics/support/index.html
  index.html
  introduction/index.html
  overrides/autoscan/index.html
  overrides/bw_plex/index.html
  overrides/conreq/index.html
  overrides/dashmachine/index.html
  overrides/introduction/index.html
  overrides/nginxproxymanager/index.html
  overrides/plpp/index.html
  overrides/yacreader/index.html
Labels: repo

Enable manual workflow dispatch for deploy-mkdocs
  .github/workflows/deploy-mkdocs.yml
Labels: ci, repo

Enable manual workflow dispatch for deploy-mkdocs (#2377)
  .github/workflows/deploy-mkdocs.yml
Labels: ci, repo

Capture build logs to artifact for debugging
  .github/workflows/deploy-mkdocs.yml
Labels: ci, repo

Docs (#2378)
  .github/workflows/deploy-mkdocs.yml
Labels: ci, repo

Fix mkdocs.yml: Remove quotes from !import tag
  mkdocs.yml
Labels: docs, repo

Docs (#2379)
  mkdocs.yml
Labels: docs, repo

Switch to nav_repos to fix !import tag error
  mkdocs.yml
Labels: docs, repo

Allow building from Docs branch
  .github/workflows/deploy-mkdocs.yml
Labels: ci, repo

Docs (#2380)
  .github/workflows/deploy-mkdocs.yml
  mkdocs.yml
Labels: ci, docs, repo

Deployed 57e816e5 with MkDocs version: 1.6.1
  404.html
  advanced/backups/index.html
  advanced/domain-info/index.html
  advanced/macvlan/index.html
  advanced/openmediavault/index.html
  advanced/smb-mounting/index.html
  advanced/technical-info/index.html
  advanced/uninstall/index.html
  advanced/vpn-info/index.html
  basics/available-apps/index.html
  basics/command-line-usage/index.html
  basics/env-var-info/index.html
  basics/faq/index.html
  basics/migration/index.html
  basics/port-conflicts/index.html
  basics/support/index.html
  index.html
  introduction/index.html
  overrides/autoscan/index.html
  overrides/bw_plex/index.html
  overrides/conreq/index.html
  overrides/dashmachine/index.html
  overrides/introduction/index.html
  overrides/nginxproxymanager/index.html
  overrides/plpp/index.html
  overrides/yacreader/index.html
Labels: repo

Switch to repos config + explicit nav entry 'apps'
  mkdocs.yml
Labels: docs, repo

Docs (#2381)
  mkdocs.yml
Labels: docs, repo

Deployed 0920fccd with MkDocs version: 1.6.1
  404.html
  advanced/backups/index.html
  advanced/domain-info/index.html
  advanced/macvlan/index.html
  advanced/openmediavault/index.html
  advanced/smb-mounting/index.html
  advanced/technical-info/index.html
  advanced/uninstall/index.html
  advanced/vpn-info/index.html
  basics/available-apps/index.html
  basics/command-line-usage/index.html
  basics/env-var-info/index.html
  basics/faq/index.html
  basics/migration/index.html
  basics/port-conflicts/index.html
  basics/support/index.html
  index.html
  introduction/index.html
  overrides/autoscan/index.html
  overrides/bw_plex/index.html
  overrides/conreq/index.html
  overrides/dashmachine/index.html
  overrides/introduction/index.html
  overrides/nginxproxymanager/index.html
  overrides/plpp/index.html
  overrides/yacreader/index.html
Labels: repo

Switch to CI-based templates fetch and local include_dir_to_nav
  .github/workflows/deploy-mkdocs.yml
  mkdocs.yml
Labels: ci, docs, repo

Docs (#2382)
  .github/workflows/deploy-mkdocs.yml
  mkdocs.yml
Labels: ci, docs, repo

Allow repository_dispatch for templates-update
  .github/workflows/deploy-mkdocs.yml
Labels: ci, repo

Allow deployment on repository_dispatch
  .github/workflows/deploy-mkdocs.yml
Labels: ci, repo

Remove Docs branch from build triggers
  .github/workflows/deploy-mkdocs.yml
Labels: ci, repo

Docs (#2383)
  .github/workflows/deploy-mkdocs.yml
Labels: ci, repo

Fix errant `}` printed in `ds --version` command
  .includes/cmdline.sh
Labels: core

Fix errant `}` printed in `ds --version` command (#2384)
  .includes/cmdline.sh
Labels: core

Update the screenshots
  docs/assets/command_help.png
  docs/assets/menu_app_select.png
  docs/assets/menu_main.png
  docs/assets/menu_value_prompt.png
Labels: docs
