Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]

Update apply_theme.sh
  .scripts/apply_theme.sh
Labels: core

Update menu_display_options_general.sh
  .scripts/menu_display_options_general.sh
Labels: core

Update menu_display_options_theme.sh
  .scripts/menu_display_options_theme.sh
Labels: core

Update menu_display_options_general.sh
  .scripts/menu_display_options_general.sh
Labels: core

Update menu_display_options_general.sh
  .scripts/menu_display_options_general.sh
Labels: core

Update menu_display_options_general.sh
  .scripts/menu_display_options_general.sh
Labels: core

Update apply_theme.sh
  .scripts/apply_theme.sh
Labels: core

Update menu_display_options_general.sh
  .scripts/menu_display_options_general.sh
Labels: core

Update menu_display_options_general.sh
  .scripts/menu_display_options_general.sh
Labels: core

Update menu_display_options_general.sh
  .scripts/menu_display_options_general.sh
Labels: core

Update menu_display_options_general.sh
  .scripts/menu_display_options_general.sh
Labels: core

Update menu_display_options_general.sh
  .scripts/menu_display_options_general.sh
Labels: core

Update menu_display_options_theme.sh
  .scripts/menu_display_options_theme.sh
Labels: core

Update menu_display_options_general.sh
  .scripts/menu_display_options_general.sh
Labels: core

Update apply_theme.sh
  .scripts/apply_theme.sh
Labels: core

Update menu_display_options_theme.sh
  .scripts/menu_display_options_theme.sh
Labels: core

Update apply_theme.sh
  .scripts/apply_theme.sh
Labels: core

Update apply_theme.sh
  .scripts/apply_theme.sh
Labels: core

Update apply_theme.sh
  .scripts/apply_theme.sh
Labels: core

Update apply_theme.sh
  .scripts/apply_theme.sh
Labels: core

Update colors.ini
  .themes/Debian/colors.ini
Labels: none

Change `colors.ini` to `theme.ini`
  .scripts/apply_theme.sh
  .scripts/menu_display_options_theme.sh
  .themes/Debian/theme.ini
  .themes/DockSTARTer/theme.ini
  main.sh
Labels: core, repo

Update menu_display_options_theme.sh
  .scripts/menu_display_options_theme.sh
Labels: core

Fix theme file comments.
  .themes/Debian/theme.ini
  .themes/DockSTARTer/theme.ini
Labels: none

Added themes made by Westlin
  .themes/Black and White/.dialogrc
  .themes/Black and White/theme.ini
  .themes/Firehouse/.dialogrc
  .themes/Firehouse/theme.ini
  .themes/GreenScreen/.dialogrc
  .themes/GreenScreen/theme.ini
  .themes/Magenta Rise/.dialogrc
  .themes/Magenta Rise/theme.ini
  .themes/Summertime/.dialogrc
  .themes/Summertime/theme.ini
  .themes/Whiptail Ripoff/.dialogrc
  .themes/Whiptail Ripoff/theme.ini
Labels: none

Update theme.ini
  .themes/DockSTARTer/theme.ini
Labels: none

Update .dialogrc
  .themes/GreenScreen/.dialogrc
Labels: none

Update theme.ini
  .themes/GreenScreen/theme.ini
Labels: none

Update highlighting in themes to match Green Screen
  .themes/Black and White/theme.ini
  .themes/Firehouse/theme.ini
  .themes/Magenta Rise/theme.ini
  .themes/Summertime/theme.ini
  .themes/Whiptail Ripoff/theme.ini
Labels: none

Update theme.ini
  .themes/Summertime/theme.ini
Labels: none

Update theme.ini
  .themes/Summertime/theme.ini
Labels: none

Update apply_theme.sh
  .scripts/apply_theme.sh
Labels: core

Create theme_list.sh
  .scripts/theme_list.sh
Labels: core

Update menu_display_options_theme.sh
  .scripts/menu_display_options_theme.sh
Labels: core

Update apply_theme.sh
  .scripts/apply_theme.sh
Labels: core

Add color variable reference in comments
  .themes/Black and White/theme.ini
  .themes/DockSTARTer/theme.ini
  .themes/Firehouse/theme.ini
  .themes/GreenScreen/theme.ini
  .themes/Magenta Rise/theme.ini
  .themes/Summertime/theme.ini
  .themes/Whiptail Ripoff/theme.ini
Labels: none

Update theme.ini
  .themes/Debian/theme.ini
Labels: none

Update theme.ini
  .themes/Debian/theme.ini
Labels: none

Update theme.ini
  .themes/Debian/theme.ini
Labels: none

Update theme.ini
  .themes/Debian/theme.ini
Labels: none
