Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

fix: shfmt editorconfig conflicts
  .editorconfig
  .github/workflows/lint.yml
Labels: ci, repo

style: format workflows
  .github/workflows/label.yml
  .github/workflows/stale.yml
  .github/workflows/tests.yml
  .github/workflows/validate.yml
Labels: ci, repo

Update deploy-mkdocs.yml
  .github/workflows/deploy-mkdocs.yml
Labels: ci, repo

ci: workflow job/step name
  .github/workflows/tests.yml
Labels: ci, repo

ci: :green_heart: refactor GHA lint tools (#1953)
  .editorconfig
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/application-request.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/deploy-mkdocs.yml
  .github/workflows/deploy.yml
  .github/workflows/label.yml
  .github/workflows/lint.yml
  .github/workflows/stale.yml
  .github/workflows/tests.yml
  .github/workflows/validate.yml
  .markdownlint.yml
  .scripts/menu_value_prompt.sh
  .yamllint.yml
  docs/javascripts/tablesort.js
Labels: ci, core, docs, repo

Deployed c8b2a175 with MkDocs version: 1.6.1
  javascripts/tablesort.js
Labels: none

Move `ds_version` and `ds_update_available` to `main.sh`
  .scripts/ds_update_available.sh
  .scripts/ds_version.sh
  .scripts/update_self.sh
  main.sh
Labels: core, repo

Move `ds_version` and `ds_update_available` to `main.sh` (#1966)
  .scripts/ds_update_available.sh
  .scripts/ds_version.sh
  .scripts/update_self.sh
  main.sh
Labels: core, repo

Deployed 9b770886 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Move the application and version info down in the usage text.
  main.sh
Labels: core, repo

Move the application and version info down in the usage text. (#1968)
  main.sh
Labels: core, repo

Add a version notice at start of execution.
  main.sh
Labels: core, repo

Add a version notice at start of execution. (#1969)
  main.sh
Labels: core, repo

Change version `notice` to an `info`.
  main.sh
Labels: core, repo

Change version `notice` to an `info`. (#1970)
  main.sh
Labels: core, repo

Add `ds -V` and `ds --version` commands to display the current version of DockSTARTer
  main.sh
Labels: core, repo

Add `ds -V` and `ds --version` commands to display the current version of DockSTARTer (#1971)
  main.sh
Labels: core, repo

Change version `info` to a version `notice` if an update is available.
  main.sh
Labels: core, repo

Change version `info` to a version `notice` if an update is available. (#1972)
  main.sh
Labels: core, repo

Show version info when updating
  .scripts/update_self.sh
Labels: core

Show version info when updating (#1973)
  .scripts/update_self.sh
Labels: core

Always get the current version for the GUI display, instead of using the variable.
  main.sh
Labels: core, repo

Always get the current version for the GUI display, instead of using the variable. (#1974)
  main.sh
Labels: core, repo

Fix missing blank line after empty "User Defined" sections in the variable files
  .scripts/env_format_lines.sh
Labels: core

Fix missing blank line after empty "User Defined" sections in the variable files (#1975)
  .scripts/env_format_lines.sh
Labels: core

Change the "(Update Available)" notice in the GUI to Reverse in DockSTARTer theme
  .themes/DockSTARTer/theme.ini
Labels: none

Change the "(Update Available)" notice in the GUI to Reverse in DockSTARTer theme (#1976)
  .themes/DockSTARTer/theme.ini
Labels: none

Fix handling of `DOCKER_STORAGE` and `APPNAME__STORAGE` boolean variables.
  .scripts/yml_merge.sh
Labels: core

Fix handling of `DOCKER_STORAGE` and `APPNAME__STORAGE` boolean variables. (#1977)
  .scripts/yml_merge.sh
Labels: core

Add to the invalid instance names
  .scripts/appname_is_valid.sh
Labels: core

Add to the invalid instance names (#1978)
  .scripts/appname_is_valid.sh
Labels: core

Use `Etc/UTC` as the default `TZ` value if `/etc/timezone` does not exist
  .scripts/var_default_value.sh
Labels: core

Use `Etc/UTC` as the default `TZ` value if `/etc/timezone` does not exist (#1979)
  .scripts/var_default_value.sh
Labels: core

ci: improve step names
  .github/workflows/deploy-mkdocs.yml
  .github/workflows/label.yml
  .github/workflows/lint.yml
  .github/workflows/stale.yml
  .github/workflows/tests.yml
  .github/workflows/validate.yml
Labels: ci, repo

ci: improve step names (#1980)
  .github/workflows/deploy-mkdocs.yml
  .github/workflows/label.yml
  .github/workflows/lint.yml
  .github/workflows/stale.yml
  .github/workflows/tests.yml
  .github/workflows/validate.yml
Labels: ci, repo

Add missing `tsdproxy.folders` file
  compose/.apps/tsdproxy/tsdproxy.folders
Labels: apps

Add missing `tsdproxy.folders` file (#1981)
  compose/.apps/tsdproxy/tsdproxy.folders
Labels: apps

Add `Navidrome`
  compose/.apps/navidrome/navidrome.aarch64.yml
  compose/.apps/navidrome/navidrome.app.env
  compose/.apps/navidrome/navidrome.folders
  compose/.apps/navidrome/navidrome.global.env
  compose/.apps/navidrome/navidrome.hostname.yml
  compose/.apps/navidrome/navidrome.labels.yml
  compose/.apps/navidrome/navidrome.migrate
  compose/.apps/navidrome/navidrome.netmode.yml
  compose/.apps/navidrome/navidrome.ports.yml
  compose/.apps/navidrome/navidrome.storage.yml
  compose/.apps/navidrome/navidrome.storage2.yml
  compose/.apps/navidrome/navidrome.storage3.yml
  compose/.apps/navidrome/navidrome.storage4.yml
  compose/.apps/navidrome/navidrome.x86_64.yml
  compose/.apps/navidrome/navidrome.yml
  docs/apps/navidrome.md
  mkdocs.yml
Labels: apps, docs, repo

Add `Navidrome` (#1982)
  compose/.apps/navidrome/navidrome.aarch64.yml
  compose/.apps/navidrome/navidrome.app.env
  compose/.apps/navidrome/navidrome.folders
  compose/.apps/navidrome/navidrome.global.env
  compose/.apps/navidrome/navidrome.hostname.yml
  compose/.apps/navidrome/navidrome.labels.yml
  compose/.apps/navidrome/navidrome.migrate
  compose/.apps/navidrome/navidrome.netmode.yml
  compose/.apps/navidrome/navidrome.ports.yml
  compose/.apps/navidrome/navidrome.storage.yml
  compose/.apps/navidrome/navidrome.storage2.yml
  compose/.apps/navidrome/navidrome.storage3.yml
  compose/.apps/navidrome/navidrome.storage4.yml
  compose/.apps/navidrome/navidrome.x86_64.yml
  compose/.apps/navidrome/navidrome.yml
  docs/apps/navidrome.md
  mkdocs.yml
Labels: apps, docs, repo

Add `Navidrome` (#1982)
  compose/.apps/navidrome/navidrome.aarch64.yml
  compose/.apps/navidrome/navidrome.app.env
  compose/.apps/navidrome/navidrome.folders
  compose/.apps/navidrome/navidrome.global.env
  compose/.apps/navidrome/navidrome.hostname.yml
  compose/.apps/navidrome/navidrome.labels.yml
  compose/.apps/navidrome/navidrome.migrate
  compose/.apps/navidrome/navidrome.netmode.yml
  compose/.apps/navidrome/navidrome.ports.yml
  compose/.apps/navidrome/navidrome.storage.yml
  compose/.apps/navidrome/navidrome.storage2.yml
  compose/.apps/navidrome/navidrome.storage3.yml
  compose/.apps/navidrome/navidrome.storage4.yml
  compose/.apps/navidrome/navidrome.x86_64.yml
  compose/.apps/navidrome/navidrome.yml
  docs/apps/navidrome.md
  mkdocs.yml
Labels: apps, docs, repo

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]
