Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

Deployed a7cfd116 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Update deprecation text in the docs
  docs/apps/bitwarden.md
  docs/apps/logitechmediaserver.md
  docs/apps/openvpnas.md
  docs/apps/ouroboros.md
  docs/apps/rtorrentvpn.md
  docs/apps/rutorrent.md
Labels: docs

Update deprecation text in the docs (#2363)
  docs/apps/bitwarden.md
  docs/apps/logitechmediaserver.md
  docs/apps/openvpnas.md
  docs/apps/ouroboros.md
  docs/apps/rtorrentvpn.md
  docs/apps/rutorrent.md
Labels: docs

Deployed 1299fd14 with MkDocs version: 1.6.1
  apps/bitwarden/index.html
  apps/logitechmediaserver/index.html
  apps/openvpnas/index.html
  apps/ouroboros/index.html
  apps/rtorrentvpn/index.html
  apps/rutorrent/index.html
  search/search_index.json
Labels: none

Pull the `docs/apps` folder from DockSTARTer-Templates when building docs
  .github/workflows/deploy-mkdocs.yml
  docs/requirements.txt
  mkdocs.yml
Labels: ci, docs, repo

Pull the `docs/apps` folder from DockSTARTer-Templates when building docs (#2364)
  .github/workflows/deploy-mkdocs.yml
  docs/requirements.txt
  mkdocs.yml
Labels: ci, docs, repo

Pull the `docs/apps` folder from DockSTARTer-Templates when building docs
  mkdocs.yml
Labels: docs, repo

Workflow (#2365)
  mkdocs.yml
Labels: docs, repo

Attempt to fix pull app docs from templates repo
  docs/requirements.txt
  mkdocs.yml
Labels: docs, repo

Attempt to fix pull app docs from templates repo (#2366)
  docs/requirements.txt
  mkdocs.yml
Labels: docs, repo

Attempt to fix pull app docs from templates repo
  mkdocs.yml
Labels: docs, repo

Attempt to fix pull app docs from templates repo (#2367)
  mkdocs.yml
Labels: docs, repo

Attempt to fix pull app docs from templates repo
  mkdocs.yml
Labels: docs, repo

Attempt to fix pull app docs from templates repo (#2368)
  mkdocs.yml
Labels: docs, repo

Un-deprecate `airdcpp`
  .apps/airdcpp/airdcpp.labels.yml
  docs/apps/airdcpp.md
Labels: docs

Un-deprecate `airdcpp` (#2369)
  .apps/airdcpp/airdcpp.labels.yml
  docs/apps/airdcpp.md
Labels: docs

Remove leading space in description for `airdcpp`
  .apps/airdcpp/airdcpp.labels.yml
Labels: none

Remove leading space in description for `airdcpp` (#2370)
  .apps/airdcpp/airdcpp.labels.yml
Labels: none

Don't use `XDG_RUNTIME_DIR`
  main.sh
Labels: core, repo

Don't use `XDG_RUNTIME_DIR` (#2371)
  main.sh
Labels: core, repo

Fix the branch name
  main.sh
Labels: core, repo

Fix the branch name (#2372)
  main.sh
Labels: core, repo

Deployed 258641b6 with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Labels: repo

Rearrange global variables, and use states folder for `.apps` folder
  .includes/global_variables.sh
Labels: core

Set the branch name
  main.sh
Labels: core, repo

Add git routines for the templates folder
  .includes/ds_functions.sh
Labels: core

Clone the templates repo
  main.sh
Labels: core, repo

Create `update_templates.sh` to update DockSTARTer templates
  .scripts/update_templates.sh
Labels: core

Add command-line options to update the templates
  .includes/cmdline.sh
  .includes/usage.sh
  main.sh
Labels: core, repo

Add template version to the GUI
  .includes/dialog_functions.sh
Labels: core

Update both templates and app from the GUI
  .scripts/menu_main.sh
Labels: core

Create `update_templates.sh` to update DockSTARTer templates
  .scripts/update_templates.sh
Labels: core

Update both templates and app from the GUI
  .scripts/menu_main.sh
Labels: core

Add template version to the GUI
  .includes/dialog_functions.sh
Labels: core

Add command-line options to update the templates
  .includes/cmdline.sh
  .includes/usage.sh
  main.sh
Labels: core, repo

Handle empty strings on the command-line
  .includes/cmdline.sh
Labels: core

Colorize the application name
  .includes/cmdline.sh
  .includes/ds_functions.sh
  .includes/usage.sh
  .scripts/config_theme.sh
  .scripts/docker_compose.sh
  .scripts/run_install.sh
  .scripts/symlink_ds.sh
  .scripts/update_self.sh
  .scripts/update_templates.sh
  main.sh
Labels: core, repo

Remove the `-U` short form for `--update-templates`
  .includes/cmdline.sh
  .includes/usage.sh
Labels: core

Add `A:` and `T:` tags to the versions in the GUI
  .includes/dialog_functions.sh
Labels: core

Move the templates repo clone location
  .includes/global_variables.sh
Labels: core

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]
