Repository GhostWriters/DockSTARTer, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs, repo

Fix `unpackerr.migrate`
  compose/.apps/unpackerr/unpackerr.migrate
Labels: apps

Fix `wireguard.migrate`
  compose/.apps/wireguard/wireguard.migrate
Labels: apps

Fix `xteve.migrate`
  compose/.apps/xteve/xteve.migrate
Labels: apps

Fix `youtubedl.migrate`
  compose/.apps/youtubedl/youtubedl.migrate
Labels: apps

Fix `tdarrnode.migrate` and `tdarrnode.env`
  compose/.apps/tdarrnode/tdarrnode.env
  compose/.apps/tdarrnode/tdarrnode.migrate
Labels: apps

Fix `azuracast.migrate`
  compose/.apps/azuracast/azuracast.migrate
Labels: apps

Fix `samba.migrate`
  compose/.apps/samba/samba.migrate
Labels: apps

Add global vars for folder and file locations
  .scripts/appvars_create.sh
  .scripts/docker_compose.sh
  .scripts/env_update.sh
  .scripts/menu_app_select.sh
  .scripts/override_backup.sh
  .scripts/yml_merge.sh
  main.sh
Labels: core, repo

Rename `APPS_FOLDER` to `TEMPLATES_FOLDER`
  .scripts/appvars_create.sh
  .scripts/env_update.sh
  .scripts/menu_app_select.sh
  .scripts/yml_merge.sh
  main.sh
Labels: core, repo

Add global var for compose override file name/location
  .scripts/override_backup.sh
  main.sh
Labels: core, repo

Revert "Add global var for compose override file name/location"
  .scripts/override_backup.sh
  main.sh
Labels: core, repo

Add functions to list apps
  .scripts/builtin_apps.sh
  .scripts/disabled_apps.sh
  .scripts/enabled_apps.sh
  .scripts/installed_apps.sh
  main.sh
Labels: core, repo

Add `env_vars` function
  .scripts/env_vars.sh
Labels: core

Allow whitespace to right of variables in search functions
  .scripts/disabled_apps.sh
  .scripts/enabled_apps.sh
  .scripts/env_vars.sh
  .scripts/installed_apps.sh
Labels: core

Fix `env_vars` search for values that have `=` in them
  .scripts/env_vars.sh
Labels: core

Add `varname_to_appname()` helper function
  main.sh
Labels: core, repo

Fix function `varname_to_appname()` regarding case
  main.sh
Labels: core, repo

Typo in comment
  main.sh
Labels: core, repo

Fix `env_vars` function
  .scripts/env_vars.sh
Labels: core

Change functions to search for `APPNAME__ENABLED` instead of `APPNAME_ENABLED`
  .scripts/appvars_rename.sh
  .scripts/disabled_apps.sh
  .scripts/enabled_apps.sh
  .scripts/installed_apps.sh
Labels: core

Begin adding "migrate" functions
  .scripts/appvars_migrate.sh
  .scripts/appvars_migrate_all.sh
  .scripts/appvars_migrate_enabled_lines.sh
  main.sh
Labels: core, repo

Use list functions instead of searching for `ENABLED` lines
  .scripts/appvars_create_all.sh
  .scripts/appvars_migrate_all.sh
  .scripts/appvars_purge_all.sh
Labels: core

Change apps list functions to return upper case
  .scripts/builtin_apps.sh
  .scripts/disabled_apps.sh
  .scripts/enabled_apps.sh
  .scripts/installed_apps.sh
Labels: core

Use `enabled_apps` function when merging
  .scripts/yml_merge.sh
Labels: core

Change two references of `${APPNAME}_` to `${APPNAME}__` in `ym_merge.sh`
  .scripts/yml_merge.sh
Labels: core

Fix formatting errors
  .scripts/appvars_create_all.sh
  .scripts/appvars_migrate_all.sh
  .scripts/appvars_migrate_enabled_lines.sh
  .scripts/appvars_purge_all.sh
  .scripts/builtin_apps.sh
  .scripts/yml_merge.sh
Labels: core

Fix argument reference in `varname_to_appname`
  main.sh
Labels: core, repo

Fix declaration of variable `VARS` to `APPS` in `appvars_migrate_enabled_lines`
  .scripts/appvars_migrate_enabled_lines.sh
Labels: core

Fix linting errors declaring and assignment on same line
  .scripts/appvars_create_all.sh
  .scripts/appvars_migrate_all.sh
  .scripts/appvars_purge_all.sh
  .scripts/yml_merge.sh
Labels: core

Fix shellcheck errors
  .scripts/appvars_migrate_enabled_lines.sh
Labels: core

Support `APPNAME__INSTANCENAME` in `installed_apps`, `enabled_apps` and` disabled_apps`
  .scripts/disabled_apps.sh
  .scripts/enabled_apps.sh
  .scripts/installed_apps.sh
Labels: core

Created Vagrantfile. I tried to make sure minimal assumptions of the other developers' systems.
  Vagrantfile
Labels: repo

updated gitignore with Vagrant objects
  .gitignore
Labels: repo

Added info about vagrant as a subsection of the `## Setting up your Dev Environment` in contributing.md
  .github/CONTRIBUTING.md
Labels: docs, repo

Fix `test_appvars_migrate` function name
  .scripts/appvars_migrate.sh
Labels: core

Fix `test_appvars_migrate_all` function name
  .scripts/appvars_migrate_all.sh
Labels: core

Modify `installed_apps`, `enabled_apps` and `disabled_apps` to be easier to change later
  .scripts/disabled_apps.sh
  .scripts/enabled_apps.sh
  .scripts/installed_apps.sh
Labels: core

Add functions to test if apps are installed, enabled, or disabled
  .scripts/app_is_disabled.sh
  .scripts/app_is_enabled.sh
  .scripts/app_is_installed.sh
Labels: core

Add command to list apps in a table format, including if they are installed, enabled, or disabled
  .scripts/apps_list.sh
  main.sh
Labels: core, repo

Take out optional "envfile" param
  .scripts/app_is_disabled.sh
  .scripts/app_is_enabled.sh
Labels: core

.github/labeler.yml:

apps:
  - changed-files:
      - any-glob-to-any-file: ["compose/*", "compose/**/*"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

core:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.sh", "./**/*.sh", ".scripts/*", ".scripts/**/*"]
docs:
  - changed-files:
      - any-glob-to-any-file:
          ["./*.md", "./**/*.md", "./mkdocs.yml", "docs/*", "docs/**/*"]

repo:
  - changed-files:
      - any-glob-to-any-file:
          [
            "./*",
            ".github/*",
            ".github/**/*",
            '"!./*.md"',
            '"!./*.sh"',
            '"!.github/workflows/*"',
          ]
