Repository GhostWriters/DockSTARTer, pull requests merged in 2018-12, with the labels that each got.

#404 Fix typo
  .scripts/cmdline.sh
Labels: cleanup, in progress

#405 Use ShellSuite for validations
  .tests/validate_bashate.sh
  .tests/validate_shellcheck.sh
  .tests/validate_shfmt.sh
  .travis.yml
Labels: enhancement, in progress

#413 Switch to xenial for Travis CI
  .travis.yml
Labels: bug, in progress

#414 Source fix
  main.sh
Labels: bug, in progress

#418 Pihole dns
  compose/.apps/pihole/pihole.arm64.yml
  compose/.apps/pihole/pihole.armhf.yml
  compose/.apps/pihole/pihole.yml
Labels: bug, in progress

#420 Minor cleanup
  .scripts/cmdline.sh
  .scripts/prune_docker.sh
  .scripts/request_reboot.sh
  .scripts/run_compose.sh
  .scripts/update_self.sh
  main.sh
Labels: cleanup, in progress

#421 Log which app is being tested in full test.
  .tests/run_generate_full.sh
Labels: cleanup, in progress

#422 Remove OS specification from Travis
  .travis.yml
Labels: cleanup, in progress

#423 Only root check with interactive shell
  main.sh
Labels: bug, in progress

#424 Use new multiarch Deluge image from LSIO
  compose/.apps/deluge/deluge.arm64.yml
  compose/.apps/deluge/deluge.armhf.yml
Labels: cleanup, in progress

#426 Add ttrss
  compose/.apps/ttrss/ttrss.arm64.yml
  compose/.apps/ttrss/ttrss.armhf.yml
  compose/.apps/ttrss/ttrss.netmode.yml
  compose/.apps/ttrss/ttrss.ports.yml
  compose/.apps/ttrss/ttrss.yml
  compose/.env.example
Labels: enhancement, in progress

#427 Nzbgetvpn
  compose/.apps/nzbgetvpn/nzbgetvpn.netmode.yml
  compose/.apps/nzbgetvpn/nzbgetvpn.ports.yml
  compose/.apps/nzbgetvpn/nzbgetvpn.yml
  compose/.apps/ttrss/ttrss.yml
  compose/.env.example
Labels: enhancement, in progress

#419 Initial samba support using dperson/samba
  compose/.apps/samba/samba.netmode.yml
  compose/.apps/samba/samba.ports.yml
  compose/.apps/samba/samba.yml
  compose/.env.example
Labels: enhancement, in progress

#429 Minor fixes
  compose/.apps/rutorrent/rutorrent.arm64.yml
  compose/.apps/rutorrent/rutorrent.armhf.yml
  compose/.env.example
Labels: cleanup, in progress

#430 InfluxDB and Telegraf
  compose/.apps/influxdb/influxdb.arm64.yml
  compose/.apps/influxdb/influxdb.armhf.yml
  compose/.apps/influxdb/influxdb.netmode.yml
  compose/.apps/influxdb/influxdb.ports.yml
  compose/.apps/influxdb/influxdb.yml
  compose/.apps/telegraf/telegraf.arm64.yml
  compose/.apps/telegraf/telegraf.armhf.yml
  compose/.apps/telegraf/telegraf.netmode.yml
  compose/.apps/telegraf/telegraf.ports.yml
  compose/.apps/telegraf/telegraf.yml
  compose/.env.example
Labels: enhancement, in progress

#432 Add watchtower arm64 and netmode
  compose/.apps/watchtower/watchtower.arm64.yml
  compose/.apps/watchtower/watchtower.netmode.yml
  compose/.env.example
Labels: cleanup, in progress
