Repository GhostWriters/DockSTARTer, pull requests merged in 2018-09, with the labels that each got.

#181 Add Ubooquity
  compose/.apps/mylar/mylar.netmode.yml
  compose/.apps/ubooquity/ubooquity.arm64.yml
  compose/.apps/ubooquity/ubooquity.armhf.yml
  compose/.apps/ubooquity/ubooquity.netmode.yml
  compose/.apps/ubooquity/ubooquity.ports.yml
  compose/.apps/ubooquity/ubooquity.yml
  compose/.env.example
  scripts/menu_app_select.sh
Labels: enhancement

#190 Fix netdata journal apparmor
  compose/.apps/netdata/netdata.yml
Labels: bug

#195 EMERGENCY fix env_set
  compose/.env.example
  scripts/env_set.sh
Labels: bug

#192 Use consistent titles on whiptail
  scripts/menu_app_select.sh
  scripts/menu_value_prompt.sh
  scripts/prune_docker.sh
  scripts/request_reboot.sh
  scripts/run_compose.sh
  scripts/update_self.sh
Labels: enhancement

#196 Apply regex fix to env_get
  scripts/env_get.sh
Labels: bug

#197 More grep fixes
  scripts/env_update.sh
  scripts/menu_value_prompt.sh
Labels: bug

#201 Fix ubooquity defaults
  compose/.env.example
Labels: bug

#200 Use env_set for ports in tests
  tests/run_generate.sh
Labels: enhancement

#198 Add missing prompt for MEDIADIR_COMICS
  scripts/ui_config.sh
Labels: bug

#199 Set the folder when creating it via UI
  scripts/menu_value_prompt.sh
Labels: bug

#213 Remove enhancement from stale exemption
  .github/stale.yml
Labels: enhancement

#210 Remove orphans with compose up
  scripts/run_compose.sh
Labels: enhancement

#189 Support other OS
  README.md
  scripts/install_compose.sh
  scripts/run_dnf.sh
  scripts/run_yum.sh
  scripts/update_system.sh
Labels: enhancement

#161 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: enhancement, good first issue

#207 Add TheLounge
  compose/.apps/thelounge/thelounge.arm64.yml
  compose/.apps/thelounge/thelounge.armhf.yml
  compose/.apps/thelounge/thelounge.netmode.yml
  compose/.apps/thelounge/thelounge.ports.yml
  compose/.apps/thelounge/thelounge.yml
  compose/.env.example
  scripts/menu_app_select.sh
Labels: enhancement, in progress

#211 Add Heimdall
  compose/.apps/heimdall/heimdall.arm64.yml
  compose/.apps/heimdall/heimdall.armhf.yml
  compose/.apps/heimdall/heimdall.netmode.yml
  compose/.apps/heimdall/heimdall.ports.yml
  compose/.apps/heimdall/heimdall.yml
  compose/.env.example
  scripts/menu_app_select.sh
Labels: enhancement, in progress

#209 Add Nextcloud
  compose/.apps/nextcloud/nextcloud.arm64.yml
  compose/.apps/nextcloud/nextcloud.armhf.yml
  compose/.apps/nextcloud/nextcloud.netmode.yml
  compose/.apps/nextcloud/nextcloud.ports.yml
  compose/.apps/nextcloud/nextcloud.yml
  compose/.env.example
  scripts/menu_app_select.sh
Labels: enhancement, in progress

#208 Add HTPC Manager
  compose/.apps/htpcmanager/htpcmanager.arm64.yml
  compose/.apps/htpcmanager/htpcmanager.armhf.yml
  compose/.apps/htpcmanager/htpcmanager.netmode.yml
  compose/.apps/htpcmanager/htpcmanager.ports.yml
  compose/.apps/htpcmanager/htpcmanager.yml
  compose/.env.example
  scripts/menu_app_select.sh
Labels: enhancement, in progress

#206 Upgrade to orgv2
  compose/.apps/organizr/organizr.arm64.yml
  compose/.apps/organizr/organizr.armhf.yml
  compose/.apps/organizr/organizr.yml
Labels: enhancement, in progress

#217 Rework port changes
  compose/.env.example
  tests/run_generate_full.sh
Labels: enhancement, in progress

#216 Sabnzbdvpn
  compose/.apps/sabnzbdvpn/sabnzbdvpn.netmode.yml
  compose/.apps/sabnzbdvpn/sabnzbdvpn.ports.yml
  compose/.apps/sabnzbdvpn/sabnzbdvpn.yml
  compose/.env.example
  scripts/menu_app_select.sh
  tests/run_generate_full.sh
Labels: enhancement, in progress

#218 Add Calibre-Web
  compose/.apps/calibreweb/calibreweb.arm64.yml
  compose/.apps/calibreweb/calibreweb.armhf.yml
  compose/.apps/calibreweb/calibreweb.netmode.yml
  compose/.apps/calibreweb/calibreweb.ports.yml
  compose/.apps/calibreweb/calibreweb.yml
  compose/.env.example
  scripts/menu_app_select.sh
Labels: enhancement, in progress

#219 Remove watcher
  compose/.apps/watcher/watcher.netmode.yml
  compose/.apps/watcher/watcher.ports.yml
  compose/.apps/watcher/watcher.yml
  compose/.env.example
  scripts/menu_app_select.sh
Labels: bug, in progress

#220 Add end comment to .env
  compose/.env.example
Labels: enhancement, in progress

#221 Fix app menu formatting bug
  scripts/menu_app_select.sh
Labels: bug, in progress

#223 Relocate default locations
  compose/.env.example
Labels: enhancement, in progress

#229 Add DDClient
  compose/.apps/ddclient/ddclient.arm64.yml
  compose/.apps/ddclient/ddclient.armhf.yml
  compose/.apps/ddclient/ddclient.netmode.yml
  compose/.apps/ddclient/ddclient.ports.yml
  compose/.apps/ddclient/ddclient.yml
  compose/.env.example
  scripts/menu_app_select.sh
Labels: enhancement, in progress

#230 Add Glances
  compose/.apps/glances/glances.netmode.yml
  compose/.apps/glances/glances.ports.yml
  compose/.apps/glances/glances.yml
  compose/.env.example
  scripts/menu_app_select.sh
Labels: enhancement, help wanted, in progress

#240 Update Netdata
  compose/.apps/netdata/netdata.armhf.yml
  compose/.apps/netdata/netdata.yml
Labels: enhancement, in progress

#245 Better handling of Docker GID
  compose/.apps/netdata/netdata.yml
  compose/.env.example
  main.sh
  scripts/enable_docker_systemd.sh
  scripts/install_compose.sh
  scripts/install_compose_completion.sh
  scripts/install_docker.sh
  scripts/install_machine_completion.sh
  scripts/install_yq.sh
  scripts/setup_docker_group.sh
Labels: enhancement, in progress

#246 Add netdata config volume
  compose/.apps/netdata/netdata.yml
Labels: enhancement, in progress

#247 Create ds symlink
  README.md
  compose/.env.example
  main.sh
  scripts/env_update.sh
  scripts/set_permissions.sh
  scripts/symlink_ds.sh
  scripts/update_self.sh
Labels: enhancement, in progress

#250 Unhide the Codacy badge
  README.md
Labels: bug, in progress

#253 Display a warning on Travis builds from remote branches
  main.sh
  scripts/set_permissions.sh
  scripts/update_system.sh
Labels: enhancement, in progress

#249 Add PiHole
  compose/.apps/pihole/pihole.arm64.yml
  compose/.apps/pihole/pihole.armhf.yml
  compose/.apps/pihole/pihole.netmode.yml
  compose/.apps/pihole/pihole.ports.yml
  compose/.apps/pihole/pihole.yml
  compose/.env.example
  scripts/menu_app_select.sh
Labels: enhancement, in progress

#252 Added Airsonic
  compose/.apps/airsonic/airsonic.arm64.yml
  compose/.apps/airsonic/airsonic.armhf.yml
  compose/.apps/airsonic/airsonic.netmode.yml
  compose/.apps/airsonic/airsonic.ports.yml
  compose/.apps/airsonic/airsonic.yml
  compose/.env.example
  scripts/menu_app_select.sh
Labels: enhancement, in progress

#251 Add download feature
  README.md
  main.sh
Labels: enhancement, in progress

#243 Airdcpp
  compose/.apps/airdcpp/airdcpp.netmode.yml
  compose/.apps/airdcpp/airdcpp.ports.yml
  compose/.apps/airdcpp/airdcpp.yml
  compose/.env.example
  scripts/menu_app_select.sh
Labels: enhancement, in progress

#258 Use LSIO Plex
  compose/.apps/plex/plex.armhf.yml
  compose/.apps/plex/plex.ports.yml
  compose/.apps/plex/plex.yml
  compose/.env.example
Labels: bug, enhancement, in progress

#231 Add McMyAdmin2
  compose/.apps/mcmyadmin2/mcmyadmin2.netmode.yml
  compose/.apps/mcmyadmin2/mcmyadmin2.ports.yml
  compose/.apps/mcmyadmin2/mcmyadmin2.yml
  compose/.env.example
  scripts/menu_app_select.sh
  tests/run_generate_full.sh
Labels: enhancement, help wanted, in progress

#259 Remove runfile before attempting to create it
  scripts/generate_yml.sh
Labels: bug, in progress

#244 Use LSIO Bazarr images
  compose/.apps/bazarr/bazarr.arm64.yml
  compose/.apps/bazarr/bazarr.armhf.yml
  compose/.apps/bazarr/bazarr.yml
Labels: enhancement, in progress

#260 Remove unused plex vars
  compose/.apps/plex/plex.yml
  compose/.env.example
Labels: duplicate, in progress

#261 Folder prompt fixes
  scripts/menu_value_prompt.sh
Labels: bug, in progress

#262 Remove arch tags for LSIO Bazarr
  compose/.apps/bazarr/bazarr.arm64.yml
  compose/.apps/bazarr/bazarr.armhf.yml
Labels: duplicate, in progress

#264 Use new netdata images
  compose/.apps/netdata/netdata.arm64.yml
  compose/.apps/netdata/netdata.armhf.yml
  compose/.apps/netdata/netdata.yml
Labels: enhancement, in progress

#265 Fix indentation
  compose/.apps/airsonic/airsonic.arm64.yml
  compose/.apps/airsonic/airsonic.armhf.yml
  compose/.apps/glances/glances.yml
  compose/.apps/homeassistant/homeassistant.arm64.yml
  compose/.apps/homeassistant/homeassistant.armhf.yml
  compose/.apps/plex/plex.yml
  compose/.apps/ubooquity/ubooquity.arm64.yml
  compose/.apps/ubooquity/ubooquity.armhf.yml
Labels: in progress

#267 Add phpMyAdmin
  compose/.apps/phpmyadmin/phpmyadmin.netmode.yml
  compose/.apps/phpmyadmin/phpmyadmin.ports.yml
  compose/.apps/phpmyadmin/phpmyadmin.yml
  compose/.env.example
  scripts/menu_app_select.sh
Labels: enhancement, in progress

#269 Aircdpp port
  .travis.yml
  compose/.apps/airdcpp/airdcpp.ports.yml
  main.sh
  scripts/cmdline.sh
  scripts/env_create.sh
  tests/run_generate_full.sh
Labels: bug, in progress

#274 Remove Gitter badge from Readme
  README.md
Labels: in progress

#275 Remove Codacy badge from Readme
  README.md
Labels: in progress

#268 Add menu to prompt for app vars
  scripts/menu_app_select.sh
  scripts/menu_app_vars.sh
  scripts/menu_value_prompt.sh
  scripts/set_permissions.sh
Labels: enhancement, in progress
