Repository GhostWriters/DockSTARTer, pull requests merged in 2018-08, with the labels that each got.

#114 Add ONLY_SUBDOMAINS env variable to letsencrypt
  compose/.apps/letsencrypt/letsencrypt.yml
  compose/.env.example
Labels: enhancement

#115 Add Medusa
  compose/.apps/medusa/medusa.arm64.yml
  compose/.apps/medusa/medusa.armhf.yml
  compose/.apps/medusa/medusa.netmode.yml
  compose/.apps/medusa/medusa.ports.yml
  compose/.apps/medusa/medusa.yml
  compose/.env.example
  scripts/menu_app_helper.sh
  tests/run_generate.sh
Labels: enhancement

#116 Add watcher
  compose/.apps/watcher/watcher.netmode.yml
  compose/.apps/watcher/watcher.ports.yml
  compose/.apps/watcher/watcher.yml
  compose/.env.example
  scripts/menu_app_helper.sh
Labels: enhancement

#117 Add prune option
  scripts/cmdline.sh
  scripts/menus/menu_main.sh
  scripts/prune_docker.sh
Labels: enhancement

#121 Add usage info for prune cmd flag
  main.sh
Labels: enhancement

#129 Create stale.yml
  .github/CODE_OF_CONDUCT.md
  .github/ISSUE_TEMPLATE.md
  .github/stale.yml
Labels: enhancement

#123 UI and Menu cleanup and input improvements (#120)
  main.sh
  scripts/cmd_update.sh
  scripts/cmdline.sh
  scripts/menu_app_helper.sh
  scripts/menu_app_select.sh
  scripts/menu_main.sh
  scripts/menu_value_prompt.sh
  scripts/menus/application_selector.sh
  scripts/menus/config_folder_set.sh
  scripts/menus/download_folder_set.sh
  scripts/menus/input_prompt.sh
  scripts/menus/media_folders_set.sh
  scripts/menus/menu_main.sh
  scripts/menus/timezone_set.sh
  scripts/menus/user_group_set.sh
  scripts/prune_docker.sh
  scripts/request_reboot.sh
  scripts/run_compose.sh
  scripts/set_permissions.sh
  scripts/ui_config.sh
  scripts/ui_install.sh
  scripts/ui_update.sh
  scripts/update_self.sh
Labels: enhancement

#133 Deselect all apps before enabling apps via the GUI
  scripts/menu_app_select.sh
Labels: bug

#136 Remove trap commands and prevent leftovers on the spot
  scripts/generate_yml.sh
  scripts/install_docker.sh
Labels: bug

#134 Add option to backup .env
  .gitignore
  scripts/cmdline.sh
  scripts/env_backup.sh
  scripts/menu_main.sh
Labels: enhancement

#137 Add Netdata
  compose/.apps/netdata/netdata.arm64.yml
  compose/.apps/netdata/netdata.armhf.yml
  compose/.apps/netdata/netdata.netmode.yml
  compose/.apps/netdata/netdata.ports.yml
  compose/.apps/netdata/netdata.yml
  compose/.env.example
  scripts/menu_app_select.sh
Labels: enhancement

#141 Added Mylar
  compose/.apps/mylar/mylar.arm64.yml
  compose/.apps/mylar/mylar.armhf.yml
  compose/.apps/mylar/mylar.netmode.yml
  compose/.apps/mylar/mylar.ports.yml
  compose/.apps/mylar/mylar.yml
  compose/.env.example
  scripts/menu_app_select.sh
Labels: enhancement

#143 Create PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: enhancement

#124 Install dependencies for validations on each run
  .travis.yml
  tests/run_generate.sh
  tests/validate_bashate.sh
  tests/validate_newline.sh
  tests/validate_shellcheck.sh
Labels: enhancement

#146 Remove redundant aarch64 yml
  compose/.apps/emby/emby.arm64.yml
  compose/.apps/portainer/portainer.arm64.yml
  compose/.apps/watchtower/watchtower.arm64.yml
Labels: enhancement

#148 New badges and Getting Started for README
  README.md
Labels: enhancement, good first issue

#145 Create CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: enhancement, good first issue

#155 Add missing app descriptions
  scripts/menu_app_select.sh
Labels: bug

#157 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: enhancement, good first issue

#159 Add ports for Deluge to run in bridge
  compose/.apps/deluge/deluge.ports.yml
  compose/.env.example
Labels: enhancement

#160 Improve folder handling in menus
  scripts/menu_value_prompt.sh
Labels: bug

#166 Include git pull in update_self
  scripts/update_self.sh
Labels: bug

#168 Unquote true and false
  scripts/menu_app_select.sh
  scripts/menu_value_prompt.sh
Labels: enhancement

#169 Run compose as detected uname
  scripts/run_compose.sh
Labels: enhancement

#172 Add beerpay.io to README.md
  README.md
Labels: enhancement

#176 Use shellcheck directives with sourcing
  main.sh
  tests/validate_shellcheck.sh
Labels: enhancement

#177 Adjust badges
  README.md
Labels: bug

#171 Non apt
  main.sh
  scripts/cmd_install.sh
  scripts/generate_yml.sh
  scripts/install_compose.sh
  scripts/install_yq.sh
  scripts/menu_app_select.sh
  scripts/run_apt.sh
  scripts/run_dnf.sh
  scripts/run_yum.sh
  scripts/ui_install.sh
  scripts/update_system.sh
  tests/run_generate.sh
Labels: enhancement

#170 Use simpler chmod for permissions
  scripts/set_permissions.sh
Labels: enhancement
