Repository GhostWriters/DockSTARTer, pull requests merged in 2019-03, with the labels that each got.

#586 Use single quotes to match other conventions
  .scripts/cmdline.sh
Labels: cleanup, in progress

#588 Revert "Update README.md"
  README.md
Labels: cleanup, in progress

#587 Inline testing
  .scripts/backup_create.sh
  .scripts/backup_max.sh
  .scripts/backup_med.sh
  .scripts/backup_min.sh
  .scripts/cmdline.sh
  .scripts/config_apps.sh
  .scripts/config_global.sh
  .scripts/config_vpn.sh
  .scripts/enable_docker_systemd.sh
  .scripts/env_backup.sh
  .scripts/env_create.sh
  .scripts/env_get.sh
  .scripts/env_sanitize.sh
  .scripts/env_set.sh
  .scripts/env_update.sh
  .scripts/generate_yml.sh
  .scripts/install_compose.sh
  .scripts/install_compose_completion.sh
  .scripts/install_docker.sh
  .scripts/install_machine_completion.sh
  .scripts/install_yq.sh
  .scripts/menu_app_select.sh
  .scripts/menu_app_vars.sh
  .scripts/menu_backup.sh
  .scripts/menu_config.sh
  .scripts/menu_main.sh
  .scripts/menu_value_prompt.sh
  .scripts/override_backup.sh
  .scripts/prune_docker.sh
  .scripts/question_prompt.sh
  .scripts/request_reboot.sh
  .scripts/run_apt.sh
  .scripts/run_compose.sh
  .scripts/run_dnf.sh
  .scripts/run_install.sh
  .scripts/run_yum.sh
  .scripts/set_permissions.sh
  .scripts/setup_docker_group.sh
  .scripts/symlink_ds.sh
  .scripts/update_self.sh
  .scripts/update_system.sh
  .tests/run_generate_full.sh
  .tests/run_generate_slim.sh
  .tests/run_install.sh
  .travis.yml
  main.sh
Labels: enhancement, in progress

#589 Resolve issues with Travis get_scriptname
  main.sh
Labels: cleanup, in progress

#590 Use basename with Travis get_scriptname
  main.sh
Labels: cleanup, in progress

#591 Use more efficient grep when possible
  .scripts/env_get.sh
  .scripts/env_set.sh
  .scripts/menu_app_select.sh
  .scripts/menu_value_prompt.sh
  main.sh
Labels: cleanup, in progress

#594 Use multiarch Netdata images for ARM CPUs
  compose/.apps/netdata/netdata.aarch64.yml
  compose/.apps/netdata/netdata.armv7l.yml
Labels: in progress

#596 Use --all and --prune with git fetch
  .scripts/update_self.sh
Labels: enhancement, in progress

#598 Fix Typo
  .scripts/run_compose.sh
Labels: cleanup, in progress

#597 Beets
  compose/.apps/beets/beets.aarch64.yml
  compose/.apps/beets/beets.armv7l.yml
  compose/.apps/beets/beets.netmode.yml
  compose/.apps/beets/beets.ports.yml
  compose/.apps/beets/beets.x86_64.yml
  compose/.apps/beets/beets.yml
  compose/.env.example
Labels: enhancement

#600 Fix issue #599
  main.sh
Labels: in progress

#601 Remove workaround in get_scriptname for Travis
  main.sh
Labels: cleanup, in progress

#603 StackOverflow updates
  .scripts/env_set.sh
  main.sh
Labels: cleanup, in progress

#604 Resilio
  compose/.apps/resiliosync/resiliosync.aarch64.yml
  compose/.apps/resiliosync/resiliosync.armv7l.yml
  compose/.apps/resiliosync/resiliosync.netmode.yml
  compose/.apps/resiliosync/resiliosync.ports.yml
  compose/.apps/resiliosync/resiliosync.x86_64.yml
  compose/.apps/resiliosync/resiliosync.yml
  compose/.env.example
Labels: in progress

#595 Add opencollective
  README.md
Labels: enhancement, in progress

#570 Add host GPU into the Plex container for HW accelerated decoding
  compose/.apps/plex/plex.yml
Labels: in progress

#605 Revert "Add host GPU into the Plex container for HW accelerated decoding"
  compose/.apps/plex/plex.yml
Labels: bug, in progress

#607 Adjust default LAN_NETWORK value
  compose/.env.example
Labels: cleanup, in progress

#606 Reduce the scope of setting permissions
  .scripts/env_backup.sh
  .scripts/env_create.sh
  .scripts/env_update.sh
  .scripts/menu_backup.sh
  .scripts/menu_value_prompt.sh
  .scripts/override_backup.sh
  .scripts/run_compose.sh
  .scripts/run_install.sh
  .scripts/symlink_ds.sh
  .scripts/update_self.sh
  main.sh
Labels: cleanup, in progress
