Repository GhostWriters/DockSTARTer, pull requests merged in 2019-01, with the labels that each got.

#433 Add Varken
  compose/.apps/grafana/grafana.yml
  compose/.apps/varken/varken.netmode.yml
  compose/.apps/varken/varken.ports.yml
  compose/.apps/varken/varken.yml
  compose/.env.example
Labels: enhancement, in progress

#440 Add root directory volumes for plex
  compose/.apps/plex/plex.yml
Labels: enhancement, in progress

#441 Tweak root check
  main.sh
Labels: bug, in progress

#452 Add COMPOSE_HTTP_TIMEOUT
  compose/.env.example
Labels: enhancement, in progress

#434 Update contributing guidelines
  .github/CONTRIBUTING.md
Labels: cleanup, enhancement, in progress

#455 Add 18.10 warning
  README.md
Labels: in progress

#449 Make other backup vars configurable
  .scripts/backup_create.sh
  .scripts/menu_value_prompt.sh
  compose/.env.example
Labels: enhancement, in progress

#460 Add logging for curl commands that check available versions
  .scripts/install_compose.sh
  .scripts/install_compose_completion.sh
  .scripts/install_docker.sh
  .scripts/install_machine_completion.sh
  .scripts/install_yq.sh
Labels: cleanup, in progress

#461 Proper fix for curl logging
  .scripts/install_compose.sh
  .scripts/install_compose_completion.sh
  .scripts/install_docker.sh
  .scripts/install_machine_completion.sh
  .scripts/install_yq.sh
Labels: cleanup, in progress

#447 LogitechMediaServer
  compose/.apps/logitechmediaserver/logitechmediaserver.netmode.yml
  compose/.apps/logitechmediaserver/logitechmediaserver.ports.yml
  compose/.apps/logitechmediaserver/logitechmediaserver.yml
  compose/.env.example
Labels: enhancement, in progress

#450 Pyload
  compose/.apps/pyload/pyload.netmode.yml
  compose/.apps/pyload/pyload.ports.yml
  compose/.apps/pyload/pyload.yml
  compose/.env.example
Labels: enhancement, in progress

#471 Symlink to /usr/bin
  .scripts/install_compose.sh
  .scripts/install_yq.sh
  .scripts/symlink_ds.sh
Labels: in progress

#473 Privoxy
  compose/.apps/delugevpn/delugevpn.ports.yml
  compose/.apps/delugevpn/delugevpn.yml
  compose/.apps/nzbgetvpn/nzbgetvpn.ports.yml
  compose/.apps/nzbgetvpn/nzbgetvpn.yml
  compose/.apps/rtorrentvpn/rtorrentvpn.ports.yml
  compose/.apps/rtorrentvpn/rtorrentvpn.yml
  compose/.apps/sabnzbdvpn/sabnzbdvpn.ports.yml
  compose/.apps/sabnzbdvpn/sabnzbdvpn.yml
  compose/.env.example
Labels: enhancement, in progress

#474 Add qBittorrentVPN
  compose/.apps/qbittorrentvpn/qbittorrentvpn.netmode.yml
  compose/.apps/qbittorrentvpn/qbittorrentvpn.ports.yml
  compose/.apps/qbittorrentvpn/qbittorrentvpn.yml
  compose/.env.example
Labels: enhancement, in progress

#475 Use privileged instead of NET_ADMIN on qBittorrentVPN
  compose/.apps/qbittorrentvpn/qbittorrentvpn.yml
Labels: bug, in progress

#480 Adjust git commands in update_self
  .scripts/update_self.sh
Labels: bug, in progress

#479 Fix logarr config
  compose/.apps/logarr/logarr.yml
Labels: bug, in progress

#481 Lazylibrarian
  compose/.apps/lazylibrarian/lazylibrarian.arm64.yml
  compose/.apps/lazylibrarian/lazylibrarian.armhf.yml
Labels: cleanup, in progress

#484 Remove snap Docker package
  .scripts/install_docker.sh
Labels: bug, in progress

#483 Lan network
  .scripts/menu_value_prompt.sh
Labels: enhancement, in progress

#476 Allow controlling whether backups should be performed on a per-app basis
  .github/CONTRIBUTING.md
  .scripts/backup_max.sh
  .scripts/backup_med.sh
  compose/.env.example
Labels: enhancement, in progress

#488 Fixes
  compose/.apps/letsencrypt/letsencrypt.yml
  compose/.apps/unifi/unifi.ports.yml
  compose/.env.example
Labels: cleanup, in progress

#491 Activating Open Collective
  README.md
Labels: cleanup, enhancement, in progress

#499 Remove Open Collective
  README.md
Labels: cleanup, in progress

#500 Add CloudFlare-DDNS
  compose/.apps/cloudflareddns/cloudflareddns.arm64.yml
  compose/.apps/cloudflareddns/cloudflareddns.armhf.yml
  compose/.apps/cloudflareddns/cloudflareddns.netmode.yml
  compose/.apps/cloudflareddns/cloudflareddns.ports.yml
  compose/.apps/cloudflareddns/cloudflareddns.yml
  compose/.env.example
Labels: enhancement, in progress

#493 Compose fixes
  .scripts/install_compose.sh
  .scripts/install_docker.sh
  .scripts/run_apt.sh
  .scripts/run_dnf.sh
  .scripts/run_yum.sh
Labels: cleanup, in progress

#506 Update README.md
  README.md
Labels: enhancement, in progress

#489 Add Ouroboros
  .scripts/env_sanitize.sh
  compose/.apps/ouroboros/ouroboros.arm64.yml
  compose/.apps/ouroboros/ouroboros.armhf.yml
  compose/.apps/ouroboros/ouroboros.netmode.yml
  compose/.apps/ouroboros/ouroboros.ports.yml
  compose/.apps/ouroboros/ouroboros.yml
  compose/.env.example
Labels: enhancement, in progress

#507 Adjust pip failures
  .scripts/install_compose.sh
Labels: bug, in progress

#510 Add Ouroboros notifiers
  compose/.apps/ouroboros/ouroboros.yml
  compose/.env.example
Labels: enhancement, in progress

#511 Fix Ouroboros and Watchtower network mode
  .scripts/env_sanitize.sh
  compose/.env.example
Labels: in progress

#514 Git branches
  .scripts/cmdline.sh
  .scripts/update_self.sh
  main.sh
Labels: enhancement, in progress

#515 Emergency fix
  .scripts/update_self.sh
Labels: bug, in progress

#513 Remove unneeded tpc port specification`
  compose/.apps/openvpnas/openvpnas.ports.yml
  compose/.apps/pihole/pihole.ports.yml
  compose/.apps/plex/plex.ports.yml
  compose/.apps/telegraf/telegraf.ports.yml
Labels: cleanup, in progress

#517 Adjust default branch handling
  .scripts/cmdline.sh
  .scripts/update_self.sh
Labels: bug, in progress

#518 Properly handle user selecting Use Home
  .scripts/menu_value_prompt.sh
Labels: bug, in progress

#520 Add Smokeping
  compose/.apps/smokeping/smokeping.aarch64.yml
  compose/.apps/smokeping/smokeping.armv7l.yml
  compose/.apps/smokeping/smokeping.netmode.yml
  compose/.apps/smokeping/smokeping.ports.yml
  compose/.apps/smokeping/smokeping.x86_64.yml
  compose/.apps/smokeping/smokeping.yml
  compose/.env.example
Labels: enhancement, in progress

#525 Update Hydra2, Jackett, and Syncthing to LSIO pipeline images
  compose/.apps/hydra2/hydra2.aarch64.yml
  compose/.apps/hydra2/hydra2.armv7l.yml
  compose/.apps/jackett/jackett.aarch64.yml
  compose/.apps/jackett/jackett.armv7l.yml
  compose/.apps/syncthing/syncthing.aarch64.yml
  compose/.apps/syncthing/syncthing.armv7l.yml
Labels: enhancement, in progress
