Repository GhostWriters/DockSTARTer, pull requests merged in 2019-05, with the labels that each got.

#671 Cleanup README
  README.md
Labels: in progress

#672 Update README
  LICENSE.md
  README.md
  docs/README.md
  docs/index.md
Labels: in progress

#673 bitwarden.md
  docs/bitwarden.md
Labels: in progress

#680 Update letsencrypt.md
  docs/apps/letsencrypt.md
Labels: enhancement, in progress

#684 Update faq.md
  docs/basics/faq.md
Labels: in progress

#685 Update .travis.yml
  .travis.yml
Labels: in progress

#687 Update ouroboros.md
  docs/apps/ouroboros.md
Labels: in progress

#688 Update homeassistant.md
  docs/apps/homeassistant.md
Labels: in progress

#689 Update available-apps.md
  docs/basics/available-apps.md
Labels: in progress

#690 Update faq.md
  docs/basics/faq.md
Labels: in progress

#691 Update netdata.md
  docs/apps/netdata.md
Labels: in progress

#692 Update samba.md
  docs/apps/samba.md
Labels: in progress

#693 Update smb-mounting.md
  docs/advanced/smb-mounting.md
Labels: in progress

#694 Update technical-info.md
  docs/advanced/technical-info.md
Labels: in progress

#695 Update netdata.md
  docs/apps/netdata.md
Labels: in progress

#696 Update netdata.md
  docs/apps/netdata.md
Labels: in progress

#698 Create jackett.md
  docs/apps/jackett.md
Labels: in progress

#699 Update mkdocs.yml
  mkdocs.yml
Labels: in progress

#704 Update README.md
  docs/index.md
Labels: cleanup

#705 Update README.md
  README.md
Labels: cleanup

#703 Add OpenCollective bot config
  .github/opencollective.yml
Labels: enhancement

#638 Add Jellyfin
  compose/.apps/jellyfin/jellyfin.aarch64.yml
  compose/.apps/jellyfin/jellyfin.armv7l.yml
  compose/.apps/jellyfin/jellyfin.hostname.yml
  compose/.apps/jellyfin/jellyfin.netmode.yml
  compose/.apps/jellyfin/jellyfin.ports.yml
  compose/.apps/jellyfin/jellyfin.x86_64.yml
  compose/.apps/jellyfin/jellyfin.yml
  compose/.env.example
Labels: enhancement, in progress

#706 Add variables and volumes to telegraf
  compose/.apps/telegraf/telegraf.yml
Labels: enhancement

#643 Change h5ai image
  compose/.apps/h5ai/h5ai.ports.yml
  compose/.apps/h5ai/h5ai.x86_64.yml
  compose/.env.example
Labels: cleanup, enhancement, in progress

#717 Update watchtower to new maintainer image
  compose/.apps/watchtower/watchtower.aarch64.yml
  compose/.apps/watchtower/watchtower.armv7l.yml
  compose/.apps/watchtower/watchtower.x86_64.yml
  compose/.apps/watchtower/watchtower.yml
  compose/.env.example
Labels: cleanup
