Repository GhostWriters/DockSTARTer, pull requests merged in 2020-09, with the labels that each got.

#1078 Add websocket variable to bitwarden
  compose/.apps/bitwarden/bitwarden.labels.yml
  compose/.apps/bitwarden/bitwarden.ports.yml
  compose/.apps/bitwarden/bitwarden.yml
Labels: repo

#1079 Add MMDB variable to SWAG
  compose/.apps/swag/swag.labels.yml
  compose/.apps/swag/swag.yml
Labels: repo

#1080 Remove intervals on updaters
  compose/.apps/ouroboros/ouroboros.labels.yml
  compose/.apps/ouroboros/ouroboros.yml
  compose/.apps/watchtower/watchtower.labels.yml
  compose/.apps/watchtower/watchtower.yml
Labels: repo

#1081 Fix permissions on .git folder
  .scripts/update_self.sh
Labels: core, repo

#1083 Make sure that /config/qBittorrent/downloads/ is mapped to the downloads directory
  compose/.apps/qbittorrentvpn/qbittorrentvpn.yml
Labels: repo

#1084 Validate All Docker Images Exist Every Run
  .github/workflows/CI.yml
Labels: ci, repo

#1090 Updating `com.dockstarter.appinfo.nicename` across all apps according to upstream project
  compose/.apps/dozzle/dozzle.labels.yml
  compose/.apps/netdata/netdata.labels.yml
  compose/.apps/photoshow/photoshow.labels.yml
  compose/.apps/prometheus/prometheus.labels.yml
  compose/.apps/tdarr/tdarr.labels.yml
  compose/.apps/xteve/xteve.labels.yml
Labels: repo

#1088 Adding Photostructure and Documentation
  compose/.apps/photostructure/photostructure.hostname.yml
  compose/.apps/photostructure/photostructure.labels.yml
  compose/.apps/photostructure/photostructure.netmode.yml
  compose/.apps/photostructure/photostructure.ports.yml
  compose/.apps/photostructure/photostructure.x86_64.yml
  compose/.apps/photostructure/photostructure.yml
  docs/apps/photostructure.md
  mkdocs.yml
Labels: docs, repo

#1091 AMD Labels Fix
  compose/.apps/amd/amd.labels.yml
  compose/.apps/amd/amd.yml
Labels: repo

#1092 minor - consistency in capitalization
  compose/.apps/photostructure/photostructure.labels.yml
  docs/apps/photostructure.md
Labels: docs, repo

#1094 Added new variable to AMD
  compose/.apps/amd/amd.labels.yml
  compose/.apps/amd/amd.yml
Labels: repo

#1096 Update xteve.yml
  compose/.apps/xteve/xteve.yml
Labels: repo

#1099 Wording on Documentation
  docs/advanced/advanced-usage.md
  docs/advanced/technical-info.md
  docs/apps/mariadb.md
  docs/basics/command-line-usage.md
  docs/basics/env-var-info.md
  docs/basics/faq.md
  mkdocs.yml
Labels: docs, repo

#1102 Fixing YML and removing a variable dev removed apparently
  compose/.apps/amd/amd.labels.yml
  compose/.apps/amd/amd.yml
Labels: repo

#1100 Adding Huginn
  compose/.apps/huginn/huginn.hostname.yml
  compose/.apps/huginn/huginn.labels.yml
  compose/.apps/huginn/huginn.netmode.yml
  compose/.apps/huginn/huginn.ports.yml
  compose/.apps/huginn/huginn.x86_64.yml
  compose/.apps/huginn/huginn.yml
  docs/apps/huginn.md
  mkdocs.yml
Labels: docs, repo

#1103 Adding Portainer 2.0
  .gitignore
  compose/.apps/portainer/portainer.aarch64.yml
  compose/.apps/portainer/portainer.armv7l.yml
  compose/.apps/portainer/portainer.x86_64.yml
Labels: repo

#1105 Fix typo
  docs/apps/murmur.md
Labels: docs, repo

#1107 Grammar fix
  docs/basics/faq.md
Labels: docs, repo

#1110 Create /etc/bash_completion.d/ if it does not exist
  .scripts/install_compose_completion.sh
  .scripts/install_machine_completion.sh
Labels: core, repo

#1108 Changing default for TDARR_DB
  compose/.apps/tdarr/tdarr.labels.yml
Labels: repo

#1111 Use mkdocs-material from pip
  .github/workflows/mkdocs.yml
  docs/CNAME
Labels: ci, docs, repo

#1114 Add rsnapshot
  compose/.apps/rsnapshot/rsnapshot.aarch64.yml
  compose/.apps/rsnapshot/rsnapshot.armv7l.yml
  compose/.apps/rsnapshot/rsnapshot.hostname.yml
  compose/.apps/rsnapshot/rsnapshot.labels.yml
  compose/.apps/rsnapshot/rsnapshot.netmode.yml
  compose/.apps/rsnapshot/rsnapshot.ports.yml
  compose/.apps/rsnapshot/rsnapshot.x86_64.yml
  compose/.apps/rsnapshot/rsnapshot.yml
  docs/apps/rsnapshot.md
Labels: docs, repo

#1112 Default goaccess to swag
  compose/.apps/goaccess/goaccess.labels.yml
Labels: repo

#1115 Adding dark mode to Calibre
  compose/.apps/calibre/calibre.labels.yml
  compose/.apps/calibre/calibre.yml
Labels: repo

#1117 Removing Calibre non-x86_64 YML
  compose/.apps/calibre/calibre.aarch64.yml
  compose/.apps/calibre/calibre.armv7l.yml
Labels: repo

#1120 mkdocs 6.x updates
  .github/workflows/mkdocs.yml
  docs/advanced/overrides.md
  docs/apps/hydra2.md
  docs/apps/letsencrypt.md
  docs/apps/plexrequests.md
  docs/apps/ttrss.md
  docs/apps/unifi.md
  docs/discord.md
  mkdocs.yml
Labels: ci, docs, repo
