Repository GhostWriters/DockSTARTer, pull requests merged in 2020-07, with the labels that each got.

#969 Update mkdocs.yml
  docs/advanced/overrides.md
  mkdocs.yml
Labels: docs

#997 Create label.yml
  .github/labeler.yml
  .github/workflows/label.yml
Labels: ci, repo

#1002 Update deprecation docs
  docs/apps/hydra2.md
  docs/apps/mcmyadmin2.md
  docs/apps/plexrequests.md
  docs/apps/ttrss.md
  docs/apps/unifi.md
Labels: docs, repo

#904 Switch to organizr/organizr
  compose/.apps/organizr/organizr.aarch64.yml
  compose/.apps/organizr/organizr.armv7l.yml
  compose/.apps/organizr/organizr.labels.yml
  compose/.apps/organizr/organizr.x86_64.yml
  compose/.apps/organizr/organizr.yml
Labels: apps, repo

#1004 Only label on self (not forks)
  .github/workflows/label.yml
Labels: ci, repo

#1003 Extra paramenters for stale
  .github/workflows/stale.yml
Labels: awaiting-approval, ci, repo, work-in-progress

#1007 Create labels.yml
  .github/workflows/label.yml
  .github/workflows/labels.yml
Labels: ci, repo

#944 Update linter.yml
  .github/workflows/linter.yml
Labels: ci, repo

#1012 Update linter.yml
  .github/workflows/linter.yml
Labels: ci, repo

#1013 Update .editorconfig
  .editorconfig
Labels: repo

#1005 Added xTeVe & xTeVe Documentation
  compose/.apps/xteve/xteve.hostname.yml
  compose/.apps/xteve/xteve.labels.yml
  compose/.apps/xteve/xteve.netmode.yml
  compose/.apps/xteve/xteve.ports.yml
  compose/.apps/xteve/xteve.x86_64.yml
  compose/.apps/xteve/xteve.yml
  docs/apps/xteve.md
  mkdocs.yml
Labels: docs, repo

#1006 Added Photoshow & Photoshow Documentation
  .github/workflows/label.yml
  compose/.apps/photoshow/photoshow.aarch64.yml
  compose/.apps/photoshow/photoshow.armv7l.yml
  compose/.apps/photoshow/photoshow.hostname.yml
  compose/.apps/photoshow/photoshow.labels.yml
  compose/.apps/photoshow/photoshow.netmode.yml
  compose/.apps/photoshow/photoshow.ports.yml
  compose/.apps/photoshow/photoshow.x86_64.yml
  compose/.apps/photoshow/photoshow.yml
  docs/apps/photoshow.md
  mkdocs.yml
Labels: docs, repo

#1010 Added Tdarr & Tdarr Documentation
  compose/.apps/tdarr/tdarr.hostname.yml
  compose/.apps/tdarr/tdarr.labels.yml
  compose/.apps/tdarr/tdarr.netmode.yml
  compose/.apps/tdarr/tdarr.ports.yml
  compose/.apps/tdarr/tdarr.x86_64.yml
  compose/.apps/tdarr/tdarr.yml
  docs/apps/tdarr.md
Labels: docs, repo

#1008 Added Prometheus & Prometheus Documentation
  compose/.apps/prometheus/prometheus.armv7l.yml
  compose/.apps/prometheus/prometheus.hostname.yml
  compose/.apps/prometheus/prometheus.labels.yml
  compose/.apps/prometheus/prometheus.netmode.yml
  compose/.apps/prometheus/prometheus.ports.yml
  compose/.apps/prometheus/prometheus.x86_64.yml
  compose/.apps/prometheus/prometheus.yml
  docs/apps/prometheus.md
  mkdocs.yml
Labels: docs, repo
