Repository GhostWriters/DockSTARTer, pull requests merged in 2020-01, with the labels that each got.

#849 Check minimum required deps
  .scripts/install_compose.sh
  .scripts/install_docker.sh
  .scripts/install_yq.sh
Labels: core

#850 Add librespeed
  compose/.apps/librespeed/librespeed.aarch64.yml
  compose/.apps/librespeed/librespeed.armv7l.yml
  compose/.apps/librespeed/librespeed.hostname.yml
  compose/.apps/librespeed/librespeed.labels.yml
  compose/.apps/librespeed/librespeed.netmode.yml
  compose/.apps/librespeed/librespeed.ports.yml
  compose/.apps/librespeed/librespeed.x86_64.yml
  compose/.apps/librespeed/librespeed.yml
Labels: apps, enhancement

#855 Add limnoria
  compose/.apps/limnoria/limnoria.aarch64.yml
  compose/.apps/limnoria/limnoria.armv7l.yml
  compose/.apps/limnoria/limnoria.hostname.yml
  compose/.apps/limnoria/limnoria.labels.yml
  compose/.apps/limnoria/limnoria.netmode.yml
  compose/.apps/limnoria/limnoria.ports.yml
  compose/.apps/limnoria/limnoria.x86_64.yml
  compose/.apps/limnoria/limnoria.yml
Labels: apps, enhancement

#856 Fix limnoria port
  compose/.apps/limnoria/limnoria.ports.yml
Labels: apps, bug

#857 Use hotio/cloudflareddns
  compose/.apps/cloudflareddns/cloudflareddns.aarch64.yml
  compose/.apps/cloudflareddns/cloudflareddns.armv7l.yml
  compose/.apps/cloudflareddns/cloudflareddns.labels.yml
  compose/.apps/cloudflareddns/cloudflareddns.x86_64.yml
  compose/.apps/cloudflareddns/cloudflareddns.yml
Labels: apps, bug, enhancement

#853 Fixing samba.yml
  compose/.apps/samba/samba.yml
Labels: apps, bug
