Repository GhostWriters/DockSTARTer, pull requests merged in 2020-10, with the labels that each got.

#1124 Rework GH Actions
  .github/workflows/CI.yml
  .github/workflows/label.yml
  .github/workflows/lint.yml
  .github/workflows/linter.yml
  .github/workflows/tests.yml
  .github/workflows/validate.yml
  README.md
  docs/advanced/backups.md
  docs/advanced/macvlan.md
  docs/advanced/vpn-info.md
  docs/apps/airdcpp.md
  docs/apps/bitwarden.md
  docs/apps/grafana.md
  docs/apps/netdata.md
  docs/apps/openvpnas.md
  docs/apps/plex.md
  docs/apps/rtorrentvpn.md
  docs/apps/samba.md
  docs/apps/sickrage.md
  docs/apps/swag.md
  docs/apps/synclounge.md
  docs/apps/tdarr.md
  docs/basics/command-line-usage.md
  docs/basics/faq.md
  mkdocs.yml
Labels: ci, docs, repo

#1121 Adding some more basic instructions to overrides
  docs/overrides/introduction.md
Labels: docs, repo

#1126 Fix badge
  README.md
Labels: repo

#1127 Create shiftleft-analysis.yml
  .github/workflows/shiftleft-analysis.yml
Labels: ci, repo

#1131 Mkdocs superfences
  .github/workflows/mkdocs.yml
  mkdocs.yml
Labels: ci, repo

#1132 Omv
  README.md
  docs/advanced/openmediavault.md
  docs/basics/faq.md
  mkdocs.yml
Labels: docs, repo

#1134 Validate docs
  .github/workflows/validate.yml
  docs/apps/calibre.md
  docs/apps/traktarr.md
  docs/apps/youtubedl.md
  mkdocs.yml
Labels: ci, docs, repo

#1138 Update mkdocs.yml
  mkdocs.yml
Labels: repo

#1139 Add appvar labels for download directories in transmissionvpn
  compose/.apps/transmissionvpn/transmissionvpn.labels.yml
  compose/.apps/transmissionvpn/transmissionvpn.yml
Labels: repo

#1140 Adjust more DL dirs for future deprecation
  compose/.apps/youtubedl/youtubedl.labels.yml
  compose/.apps/youtubedl/youtubedl.yml
Labels: repo

#1149 Changing some variables defaults for Tdarr
  compose/.apps/tdarr/tdarr.labels.yml
Labels: repo

#1148 Adding Omada Controller & Docs
  compose/.apps/omadacontroller/omadacontroller.aarch64.yml
  compose/.apps/omadacontroller/omadacontroller.armv7l.yml
  compose/.apps/omadacontroller/omadacontroller.hostname.yml
  compose/.apps/omadacontroller/omadacontroller.labels.yml
  compose/.apps/omadacontroller/omadacontroller.netmode.yml
  compose/.apps/omadacontroller/omadacontroller.x86_64.yml
  compose/.apps/omadacontroller/omadacontroller.yml
  docs/apps/omadacontroller.md
  mkdocs.yml
Labels: docs, repo

#1147 Adding Duplicacy & Docs
  compose/.apps/duplicacy/duplicacy.armv7l.yml
  compose/.apps/duplicacy/duplicacy.hostname.yml
  compose/.apps/duplicacy/duplicacy.labels.yml
  compose/.apps/duplicacy/duplicacy.netmode.yml
  compose/.apps/duplicacy/duplicacy.ports.yml
  compose/.apps/duplicacy/duplicacy.x86_64.yml
  compose/.apps/duplicacy/duplicacy.yml
  docs/apps/duplicacy.md
  mkdocs.yml
Labels: docs, repo

#1160 Update traktarr.md
  docs/apps/traktarr.md
Labels: docs, repo

#1158 Adding Mosquitto & Docs
  compose/.apps/mosquitto/mosquitto.aarch64.yml
  compose/.apps/mosquitto/mosquitto.armv7l.yml
  compose/.apps/mosquitto/mosquitto.hostname.yml
  compose/.apps/mosquitto/mosquitto.labels.yml
  compose/.apps/mosquitto/mosquitto.netmode.yml
  compose/.apps/mosquitto/mosquitto.ports.yml
  compose/.apps/mosquitto/mosquitto.x86_64.yml
  compose/.apps/mosquitto/mosquitto.yml
  docs/apps/mosquitto.md
  mkdocs.yml
Labels: docs, repo

#1152 Filebrowser & Docs
  compose/.apps/filebrowser/filebrowser.hostname.yml
  compose/.apps/filebrowser/filebrowser.labels.yml
  compose/.apps/filebrowser/filebrowser.netmode.yml
  compose/.apps/filebrowser/filebrowser.ports.yml
  compose/.apps/filebrowser/filebrowser.x86_64.yml
  compose/.apps/filebrowser/filebrowser.yml
  docs/apps/filebrowser.md
  mkdocs.yml
Labels: docs, repo

#1157 Add Adguard
  compose/.apps/adguard/adguard.aarch64.yml
  compose/.apps/adguard/adguard.armv7l.yml
  compose/.apps/adguard/adguard.hostname.yml
  compose/.apps/adguard/adguard.labels.yml
  compose/.apps/adguard/adguard.netmode.yml
  compose/.apps/adguard/adguard.ports.yml
  compose/.apps/adguard/adguard.x86_64.yml
  compose/.apps/adguard/adguard.yml
  docs/apps/adguard.md
  mkdocs.yml
Labels: docs, repo
