Repository GhostWriters/DockSTARTer, pull requests merged in 2020-04, with the labels that each got.

#886 Add Minecraft Java and Bedrock Servers
  compose/.apps/minecraft_bedrock_server/minecraft_bedrock_server.hostname.yml
  compose/.apps/minecraft_bedrock_server/minecraft_bedrock_server.labels.yml
  compose/.apps/minecraft_bedrock_server/minecraft_bedrock_server.netmode.yml
  compose/.apps/minecraft_bedrock_server/minecraft_bedrock_server.ports.yml
  compose/.apps/minecraft_bedrock_server/minecraft_bedrock_server.x86_64.yml
  compose/.apps/minecraft_bedrock_server/minecraft_bedrock_server.yml
  compose/.apps/minecraft_server/minecraft_server.aarch64.yml
  compose/.apps/minecraft_server/minecraft_server.armv7l.yml
  compose/.apps/minecraft_server/minecraft_server.hostname.yml
  compose/.apps/minecraft_server/minecraft_server.labels.yml
  compose/.apps/minecraft_server/minecraft_server.netmode.yml
  compose/.apps/minecraft_server/minecraft_server.ports.yml
  compose/.apps/minecraft_server/minecraft_server.x86_64.yml
  compose/.apps/minecraft_server/minecraft_server.yml
Labels: apps, enhancement

#887 Add piwigo
  compose/.apps/piwigo/piwigo.aarch64.yml
  compose/.apps/piwigo/piwigo.armv7l.yml
  compose/.apps/piwigo/piwigo.hostname.yml
  compose/.apps/piwigo/piwigo.labels.yml
  compose/.apps/piwigo/piwigo.netmode.yml
  compose/.apps/piwigo/piwigo.ports.yml
  compose/.apps/piwigo/piwigo.x86_64.yml
  compose/.apps/piwigo/piwigo.yml
Labels: apps, enhancement

#888 Change log behavior
  main.sh
Labels: core

#889 Symlink compose
  .scripts/install_compose.sh
Labels: core, enhancement

#890 Set repo permissions more efficiently
  .scripts/update_self.sh
Labels: cleanup, core

#891 Fix letsencrypt description
  compose/.apps/letsencrypt/letsencrypt.labels.yml
Labels: apps, cleanup

#780 Start adding force flag
  .scripts/appvars_purge.sh
  .scripts/appvars_purge_all.sh
  .scripts/install_compose.sh
  .scripts/install_docker.sh
  .scripts/install_yq.sh
  .scripts/question_prompt.sh
  main.sh
Labels: core, enhancement

#899 Add grocy
  compose/.apps/grocy/grocy.aarch64.yml
  compose/.apps/grocy/grocy.armv7l.yml
  compose/.apps/grocy/grocy.hostname.yml
  compose/.apps/grocy/grocy.labels.yml
  compose/.apps/grocy/grocy.netmode.yml
  compose/.apps/grocy/grocy.ports.yml
  compose/.apps/grocy/grocy.x86_64.yml
  compose/.apps/grocy/grocy.yml
Labels: apps

#829 Adding arguments for advanced usage
  main.sh
Labels: core, enhancement

#903 Remove ovpn relocation
  .scripts/env_sanitize.sh
Labels: cleanup, core
