Repository GhostWriters/DockSTARTer, pull requests merged in 2020-08, with the labels that each got.

#1020 Correct ports and labels for Photoshow
  compose/.apps/photoshow/photoshow.labels.yml
  compose/.apps/photoshow/photoshow.ports.yml
Labels: repo

#1025 Fixing some markdown on pihole.md
  docs/apps/pihole.md
Labels: docs, repo

#1021 Added http-server & http-server documentation
  compose/.apps/httpserver/httpserver.hostname.yml
  compose/.apps/httpserver/httpserver.labels.yml
  compose/.apps/httpserver/httpserver.netmode.yml
  compose/.apps/httpserver/httpserver.ports.yml
  compose/.apps/httpserver/httpserver.x86_64.yml
  compose/.apps/httpserver/httpserver.yml
  docs/apps/httpserver.md
  mkdocs.yml
Labels: docs, repo

#1032 Update label.yml
  .github/workflows/label.yml
  .github/workflows/label_trigger.yml
Labels: ci, repo

#1033 Update mkdocs.yml
  .github/workflows/label.yml
  mkdocs.yml
Labels: ci, repo

#1036 Update labels.yml
  .github/workflows/labels.yml
Labels: ci, repo

#1040 Portainer default
  compose/.apps/portainer/portainer.labels.yml
  docs/advanced/advanced-usage.md
  docs/basics/faq.md
Labels: docs, repo

#1042 Updating FAQ to include Dozzle
  docs/basics/faq.md
Labels: docs, repo

#1031 Adding AMD and AMD Documentation
  compose/.apps/amd/amd.hostname.yml
  compose/.apps/amd/amd.labels.yml
  compose/.apps/amd/amd.netmode.yml
  compose/.apps/amd/amd.x86_64.yml
  compose/.apps/amd/amd.yml
  docs/apps/amd.md
  mkdocs.yml
Labels: docs, repo

#1043 Update speedtest eula environment variable
  compose/.apps/speedtest/speedtest.labels.yml
  compose/.apps/speedtest/speedtest.yml
Labels: repo

#1046 Replace default Ouroboros with Watchtower
  .scripts/appvars_create.sh
  .scripts/appvars_purge.sh
  .scripts/env_create.sh
  .scripts/env_sanitize.sh
  .scripts/env_set.sh
  .scripts/yml_get.sh
  .scripts/yml_merge.sh
  compose/.apps/letsencrypt/letsencrypt.labels.yml
  compose/.apps/ouroboros/ouroboros.labels.yml
  compose/.apps/watchtower/watchtower.labels.yml
  compose/.apps/watchtower/watchtower.yml
Labels: core, repo

#1048 Added some relevant info to XBackBone Wiki
  docs/apps/xbackbone.md
Labels: docs, repo

#1027 Swag
  .scripts/env_sanitize.sh
  compose/.apps/letsencrypt/letsencrypt.labels.yml
  compose/.apps/swag/swag.aarch64.yml
  compose/.apps/swag/swag.armv7l.yml
  compose/.apps/swag/swag.hostname.yml
  compose/.apps/swag/swag.labels.yml
  compose/.apps/swag/swag.netmode.yml
  compose/.apps/swag/swag.ports.yml
  compose/.apps/swag/swag.x86_64.yml
  compose/.apps/swag/swag.yml
  docs/advanced/vpn-info.md
  docs/apps/delugevpn.md
  docs/apps/letsencrypt.md
  docs/apps/nextcloud.md
  docs/apps/nzbgetvpn.md
  docs/apps/openvpnas.md
  docs/apps/qbittorrentvpn.md
  docs/apps/rtorrentvpn.md
  docs/apps/sabnzbdvpn.md
  docs/apps/swag.md
  docs/apps/synclounge.md
  docs/apps/transmissionvpn.md
  mkdocs.yml
Labels: core, docs, repo

#1050 Update linter.yml
  .github/workflows/linter.yml
Labels: ci, repo

#1052 Create amd.ports.yml
  compose/.apps/amd/amd.ports.yml
Labels: repo

#1053 Codeserver arm
  compose/.apps/codeserver/codeserver.aarch64.yml
  compose/.apps/codeserver/codeserver.armv7l.yml
Labels: repo

#1055 Standardizes YACReader Server Docs Page
  docs/overrides/yacreader.md
Labels: docs, repo

#1054 Fixes Typos and Standardizes NGINX Proxy Manger Docs Page
  docs/overrides/nginxproxymanager.md
Labels: docs, repo

#1059 Also run CI on Ubuntu 20.04
  .github/workflows/CI.yml
Labels: ci, repo

#1058 Add Murmur VoIP server
  compose/.apps/murmur/murmur.hostname.yml
  compose/.apps/murmur/murmur.labels.yml
  compose/.apps/murmur/murmur.netmode.yml
  compose/.apps/murmur/murmur.ports.yml
  compose/.apps/murmur/murmur.x86_64.yml
  compose/.apps/murmur/murmur.yml
  docs/apps/murmur.md
  mkdocs.yml
Labels: docs, repo

#1057 Change default PiHole Server IP to 0.0.0.0
  compose/.apps/pihole/pihole.labels.yml
  docs/apps/pihole.md
Labels: docs, repo

#1063 [minor] Spelling; noobie -> newbie
  docs/basics/faq.md
Labels: docs, repo

#1062 [minor] Fix strange capitalization and wording
  docs/basics/support.md
Labels: docs, repo

#1064 Correct variable name for speedtest service
  compose/.apps/speedtest/speedtest.yml
Labels: repo

#1067 Add discord invite redirect
  README.md
  docs/basics/support.md
  docs/discord.md
  mkdocs.yml
Labels: docs, repo

#1066 Added Tdarr To Nav Bar & Small Formatting Change
  docs/advanced/advanced-usage.md
  mkdocs.yml
Labels: docs, repo

#1068 Better handling of binaries in PATH
  .scripts/install_compose.sh
  .scripts/install_yq.sh
  .scripts/symlink_ds.sh
  .scripts/yml_get.sh
  .scripts/yml_merge.sh
Labels: core, repo

#1070 Add Arch Linux Support
  .scripts/package_manager_run.sh
  .scripts/pm_pacman_clean.sh
  .scripts/pm_pacman_install.sh
  .scripts/pm_pacman_remove_docker.sh
  .scripts/pm_pacman_repos.sh
  .scripts/pm_pacman_upgrade.sh
  README.md
Labels: core, repo

#1073 Add pacman command to alternative install
  README.md
Labels: repo

#1074 Update swag.md
  docs/apps/swag.md
Labels: docs, repo

#1076 Update speedtest.md
  docs/apps/speedtest.md
Labels: docs, repo

#1075 Create config.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: repo
