Repository GhostWriters/DockSTARTer, pull requests merged in 2020-12, with the labels that each got.

#1189 Fixed Transmission OpenVPN
  compose/.apps/transmissionvpn/transmissionvpn.aarch64.yml
  compose/.apps/transmissionvpn/transmissionvpn.armv7l.yml
Labels: apps, repo

#1191 Add WireGuard support to Binhex containers
  .scripts/config_vpn.sh
  compose/.apps/delugevpn/delugevpn.yml
  compose/.apps/qbittorrentvpn/qbittorrentvpn.yml
  compose/.apps/rtorrentvpn/rtorrentvpn.yml
  compose/.apps/sabnzbdvpn/sabnzbdvpn.yml
  compose/.env.example
  docs/basics/env-var-info.md
Labels: core, docs, repo

#1193 Removing some Bitwarden variables
  compose/.apps/bitwarden/bitwarden.labels.yml
  compose/.apps/bitwarden/bitwarden.yml
Labels: repo

#1194 Include SCRIPTPATH in YQ_OPTIONS when running yq
  .scripts/yml_merge.sh
Labels: core, repo

#1199 Add DNS to smokeping
  compose/.apps/smokeping/smokeping.yml
Labels: repo

#1200 Migrate Google Analytics to v4
  docs/javascripts/extra.js
  mkdocs.yml
Labels: docs, repo

#1204 Update plex.md
  docs/apps/plex.md
Labels: docs, repo

#1206 Remove dashes from hotio images
  compose/.apps/cloudflareddns/cloudflareddns.aarch64.yml
  compose/.apps/cloudflareddns/cloudflareddns.armv7l.yml
  compose/.apps/cloudflareddns/cloudflareddns.x86_64.yml
Labels: repo

#1208 Updating UniFi Documentation
  docs/apps/unificontroller.md
Labels: docs, repo

#1198 Adding OpenLDAP & Docs
  compose/.apps/openldap/openldap.aarch64.yml
  compose/.apps/openldap/openldap.armv7l.yml
  compose/.apps/openldap/openldap.hostname.yml
  compose/.apps/openldap/openldap.labels.yml
  compose/.apps/openldap/openldap.netmode.yml
  compose/.apps/openldap/openldap.ports.yml
  compose/.apps/openldap/openldap.x86_64.yml
  compose/.apps/openldap/openldap.yml
  docs/apps/openldap.md
  mkdocs.yml
Labels: docs, repo

#1197 Adding LDAP-Auth & Docs
  compose/.apps/ldapauth/ldapauth.aarch64.yml
  compose/.apps/ldapauth/ldapauth.armv7l.yml
  compose/.apps/ldapauth/ldapauth.hostname.yml
  compose/.apps/ldapauth/ldapauth.labels.yml
  compose/.apps/ldapauth/ldapauth.netmode.yml
  compose/.apps/ldapauth/ldapauth.ports.yml
  compose/.apps/ldapauth/ldapauth.x86_64.yml
  compose/.apps/ldapauth/ldapauth.yml
  docs/apps/ldapauth.md
  mkdocs.yml
Labels: docs, repo

#1196 Adding jfa-go and docs
  compose/.apps/jfago/jfago.hostname.yml
  compose/.apps/jfago/jfago.labels.yml
  compose/.apps/jfago/jfago.netmode.yml
  compose/.apps/jfago/jfago.ports.yml
  compose/.apps/jfago/jfago.x86_64.yml
  compose/.apps/jfago/jfago.yml
  docs/apps/jfago.md
  mkdocs.yml
Labels: docs, repo

#1213 Adding Yacht and Docs
  compose/.apps/yacht/yacht.aarch64.yml
  compose/.apps/yacht/yacht.armv7l.yml
  compose/.apps/yacht/yacht.hostname.yml
  compose/.apps/yacht/yacht.labels.yml
  compose/.apps/yacht/yacht.netmode.yml
  compose/.apps/yacht/yacht.ports.yml
  compose/.apps/yacht/yacht.x86_64.yml
  compose/.apps/yacht/yacht.yml
  docs/apps/yacht.md
  mkdocs.yml
Labels: docs, repo
