Repository GhostWriters/DockSTARTer, pull requests merged in 2021-02, with the labels that each got.

#1262 Update watchtower.md
  docs/apps/watchtower.md
Labels: docs, repo

#1263 Update watchtower.md (table) cleaner look
  docs/apps/watchtower.md
Labels: docs, repo

#1265 Remove previous compose images
  .scripts/install_compose.sh
Labels: core, repo

#1267 Remove references to Travis CI
  .github/CONTRIBUTING.md
  main.sh
Labels: repo

#1266 Rename required yml files
  .github/CONTRIBUTING.md
  .scripts/yml_merge.sh
  compose/.reqs/r1.yml
  compose/.reqs/r2.yml
Labels: core, repo

#1268 Remove all references to compose version in overrides
  compose/README.md
  docs/advanced/macvlan.md
  docs/advanced/technical-info.md
  docs/apps/netdata.md
  docs/apps/synclounge.md
  docs/overrides/autoscan.md
  docs/overrides/bw_plex.md
  docs/overrides/dashmachine.md
  docs/overrides/fireflyiii.md
  docs/overrides/introduction.md
  docs/overrides/kitana.md
  docs/overrides/nginxproxymanager.md
  docs/overrides/overseerr.md
  docs/overrides/plpp.md
  docs/overrides/requestrr.md
  docs/overrides/yacreader.md
Labels: apps, docs, repo

#1270 Remove previous yq images
  .scripts/install_yq.sh
Labels: core, repo

#1281 We don't need the DEBUG flag on Hotio anymore
  compose/.apps/cloudflareddns/cloudflareddns.labels.yml
  compose/.apps/cloudflareddns/cloudflareddns.yml
  compose/.apps/duplicacy/duplicacy.labels.yml
  compose/.apps/duplicacy/duplicacy.yml
  compose/.apps/requestrr/requestrr.aarch64.yml
  compose/.apps/requestrr/requestrr.armv7l.yml
  compose/.apps/requestrr/requestrr.labels.yml
  compose/.apps/requestrr/requestrr.x86_64.yml
  compose/.apps/requestrr/requestrr.yml
  compose/.apps/unpackerr/unpackerr.labels.yml
  compose/.apps/unpackerr/unpackerr.yml
Labels: repo

#1271 Versioning
  .github/CONTRIBUTING.md
  .scripts/install_compose.sh
  .scripts/install_docker.sh
  .scripts/yml_merge.sh
  compose/.apps/amd/amd.ports.yml
  compose/.apps/apcupsd/apcupsd.ports.yml
  compose/.apps/cloudflareddns/cloudflareddns.ports.yml
  compose/.apps/ddclient/ddclient.ports.yml
  compose/.apps/duckdns/duckdns.ports.yml
  compose/.apps/ouroboros/ouroboros.ports.yml
  compose/.apps/rsnapshot/rsnapshot.ports.yml
  compose/.apps/traktarr/traktarr.ports.yml
  compose/.apps/varken/varken.ports.yml
  compose/.apps/watchtower/watchtower.ports.yml
  compose/.reqs/r1.yml
  compose/.reqs/r2.yml
Labels: core, repo

#1275 Fixes PlexAniSync
  compose/.apps/plexanisync/plexanisync.yml
Labels: repo

#1276 Adding Kiwix Server and Docs
  compose/.apps/kiwixserve/kiwixserve.aarch64.yml
  compose/.apps/kiwixserve/kiwixserve.armv7l.yml
  compose/.apps/kiwixserve/kiwixserve.hostname.yml
  compose/.apps/kiwixserve/kiwixserve.labels.yml
  compose/.apps/kiwixserve/kiwixserve.netmode.yml
  compose/.apps/kiwixserve/kiwixserve.ports.yml
  compose/.apps/kiwixserve/kiwixserve.x86_64.yml
  compose/.apps/kiwixserve/kiwixserve.yml
  docs/apps/kiwixserve.md
  mkdocs.yml
Labels: docs, repo

#1282 Update tdarrnode.ports.yml
  compose/.apps/tdarrnode/tdarrnode.labels.yml
  compose/.apps/tdarrnode/tdarrnode.ports.yml
Labels: repo

#1283 Fix ports for tdarr and tdarrnode
  compose/.apps/tdarr/tdarr.labels.yml
  compose/.apps/tdarr/tdarr.ports.yml
  compose/.apps/tdarr/tdarr.yml
  compose/.apps/tdarrnode/tdarrnode.labels.yml
  compose/.apps/tdarrnode/tdarrnode.ports.yml
  compose/.apps/tdarrnode/tdarrnode.yml
Labels: repo

#1284 Truncate log
  main.sh
Labels: repo

#1285 Add new override and update existing overrides
  docs/overrides/conreq.md
  docs/overrides/introduction.md
  docs/overrides/overseerr.md
  mkdocs.yml
Labels: docs, repo

#1288 Fix filebrowser baseurl
  compose/.apps/filebrowser/filebrowser.labels.yml
Labels: repo

#1291 Preventing InfluxDB 2.0 Update
  compose/.apps/influxdb/influxdb.aarch64.yml
  compose/.apps/influxdb/influxdb.armv7l.yml
  compose/.apps/influxdb/influxdb.x86_64.yml
Labels: repo

#1292 Add descriptions to config menu
  .scripts/menu_config.sh
Labels: core, repo
