Repository GhostWriters/DockSTARTer, pull requests merged in 2021-12, with the labels that each got.

#1403 Create speedtest.armv7l.yml
  compose/.apps/speedtest/speedtest.armv7l.yml
Labels: repo

#1402 Create speedtest.aarch64.yml
  compose/.apps/speedtest/speedtest.aarch64.yml
Labels: repo

#1388 Use herestring for env_sanitize
  .scripts/env_sanitize.sh
Labels: core, repo

#1387 Yq dir
  .scripts/yml_merge.sh
Labels: core, repo

#1406 Cleanups
  compose/.apps/booksonic/booksonic.labels.yml
  compose/.apps/booksonicair/booksonicair.aarch64.yml
  compose/.apps/booksonicair/booksonicair.armv7l.yml
  compose/.apps/booksonicair/booksonicair.hostname.yml
  compose/.apps/booksonicair/booksonicair.labels.yml
  compose/.apps/booksonicair/booksonicair.netmode.yml
  compose/.apps/booksonicair/booksonicair.ports.yml
  compose/.apps/booksonicair/booksonicair.x86_64.yml
  compose/.apps/booksonicair/booksonicair.yml
  compose/.apps/cloudflareddns/cloudflareddns.aarch64.yml
  compose/.apps/cloudflareddns/cloudflareddns.armv7l.yml
  compose/.apps/cloudflareddns/cloudflareddns.x86_64.yml
  compose/.apps/couchpotato/couchpotato.labels.yml
  compose/.apps/duplicacy/duplicacy.aarch64.yml
  compose/.apps/duplicacy/duplicacy.armv7l.yml
  compose/.apps/duplicacy/duplicacy.x86_64.yml
  compose/.apps/requestrr/requestrr.aarch64.yml
  compose/.apps/requestrr/requestrr.armv7l.yml
  compose/.apps/requestrr/requestrr.x86_64.yml
  compose/.apps/unpackerr/unpackerr.aarch64.yml
  compose/.apps/unpackerr/unpackerr.armv7l.yml
  compose/.apps/unpackerr/unpackerr.x86_64.yml
  docs/apps/booksonicair.md
  mkdocs.yml
Labels: docs, repo
