Repository GhostWriters/DockSTARTer, pull requests merged in 2021-01, with the labels that each got.

#1226 Update copy
  LICENSE
  mkdocs.yml
Labels: repo

#1227 Use pip requirements.txt and rename mkdocs workflow
  .github/dependabot.yml
  .github/workflows/deploy.yml
  docs/requirements.txt
Labels: ci, docs, repo

#1214 Adding Requestrr & Docs
  compose/.apps/requestrr/requestrr.aarch64.yml
  compose/.apps/requestrr/requestrr.armv7l.yml
  compose/.apps/requestrr/requestrr.hostname.yml
  compose/.apps/requestrr/requestrr.labels.yml
  compose/.apps/requestrr/requestrr.netmode.yml
  compose/.apps/requestrr/requestrr.ports.yml
  compose/.apps/requestrr/requestrr.x86_64.yml
  compose/.apps/requestrr/requestrr.yml
  docs/apps/requestrr.md
  mkdocs.yml
Labels: docs, repo

#1215 Update issue templates
  .github/ISSUE_TEMPLATE/application-request.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: repo

#1220 Adding Node-RED & Docs
  compose/.apps/nodered/nodered.aarch64.yml
  compose/.apps/nodered/nodered.armv7l.yml
  compose/.apps/nodered/nodered.hostname.yml
  compose/.apps/nodered/nodered.labels.yml
  compose/.apps/nodered/nodered.netmode.yml
  compose/.apps/nodered/nodered.ports.yml
  compose/.apps/nodered/nodered.x86_64.yml
  compose/.apps/nodered/nodered.yml
  docs/apps/nodered.md
  mkdocs.yml
Labels: docs, repo

#1231 Send tput error to null
  main.sh
Labels: repo

#1223 Adding Unpackerr & Docs
  compose/.apps/unpackerr/unpackerr.aarch64.yml
  compose/.apps/unpackerr/unpackerr.armv7l.yml
  compose/.apps/unpackerr/unpackerr.hostname.yml
  compose/.apps/unpackerr/unpackerr.labels.yml
  compose/.apps/unpackerr/unpackerr.netmode.yml
  compose/.apps/unpackerr/unpackerr.x86_64.yml
  compose/.apps/unpackerr/unpackerr.yml
  docs/apps/unpackerr.md
  mkdocs.yml
Labels: docs, repo

#1232 Update fireflyiii.md
  docs/overrides/fireflyiii.md
Labels: docs, repo

#1233 (docs) update README.md
  README.md
Labels: repo

#1247 remove erroneous duped prop
  compose/.apps/openldap/openldap.yml
Labels: repo

#1230 Rewrite env handling, attempt to prevent accidental clean slate
  .scripts/env_get.sh
  .scripts/env_set.sh
  .scripts/env_update.sh
Labels: core, repo

#1235 Adding default login values to the labels
  compose/.apps/yacht/yacht.labels.yml
  compose/.apps/yacht/yacht.yml
Labels: repo

#1229 Adding MovieMatch & Docs
  compose/.apps/moviematch/moviematch.aarch64.yml
  compose/.apps/moviematch/moviematch.armv7l.yml
  compose/.apps/moviematch/moviematch.hostname.yml
  compose/.apps/moviematch/moviematch.labels.yml
  compose/.apps/moviematch/moviematch.netmode.yml
  compose/.apps/moviematch/moviematch.ports.yml
  compose/.apps/moviematch/moviematch.x86_64.yml
  compose/.apps/moviematch/moviematch.yml
  docs/apps/moviematch.md
  mkdocs.yml
Labels: docs, repo

#1222 Adding Wireguard and Docs
  compose/.apps/wireguard/wireguard.aarch64.yml
  compose/.apps/wireguard/wireguard.armv7l.yml
  compose/.apps/wireguard/wireguard.hostname.yml
  compose/.apps/wireguard/wireguard.labels.yml
  compose/.apps/wireguard/wireguard.netmode.yml
  compose/.apps/wireguard/wireguard.ports.yml
  compose/.apps/wireguard/wireguard.x86_64.yml
  compose/.apps/wireguard/wireguard.yml
  docs/apps/wireguard.md
  mkdocs.yml
Labels: docs, repo

#1225 Adding PlexAniSync & Docs
  compose/.apps/plexanisync/plexanisync.aarch64.yml
  compose/.apps/plexanisync/plexanisync.armv7l.yml
  compose/.apps/plexanisync/plexanisync.hostname.yml
  compose/.apps/plexanisync/plexanisync.labels.yml
  compose/.apps/plexanisync/plexanisync.netmode.yml
  compose/.apps/plexanisync/plexanisync.x86_64.yml
  compose/.apps/plexanisync/plexanisync.yml
  docs/apps/plexanisync.md
  mkdocs.yml
Labels: docs, repo

#1237 Adding FlareSolverr & Docs
  compose/.apps/flaresolverr/flaresolverr.aarch64.yml
  compose/.apps/flaresolverr/flaresolverr.armv7l.yml
  compose/.apps/flaresolverr/flaresolverr.hostname.yml
  compose/.apps/flaresolverr/flaresolverr.labels.yml
  compose/.apps/flaresolverr/flaresolverr.netmode.yml
  compose/.apps/flaresolverr/flaresolverr.ports.yml
  compose/.apps/flaresolverr/flaresolverr.x86_64.yml
  compose/.apps/flaresolverr/flaresolverr.yml
  docs/apps/flaresolverr.md
  mkdocs.yml
Labels: docs, repo

#1254 Wireguard fix for Binhex
  compose/.apps/qbittorrentvpn/qbittorrentvpn.yml
Labels: repo

#1239 Fixes YoutubeDL
  compose/.apps/youtubedl/youtubedl.labels.yml
  compose/.apps/youtubedl/youtubedl.yml
Labels: repo

#1258 Adding DEBUG flag to any Hotio container
  compose/.apps/cloudflareddns/cloudflareddns.labels.yml
  compose/.apps/cloudflareddns/cloudflareddns.yml
  compose/.apps/plexanisync/plexanisync.aarch64.yml
  compose/.apps/plexanisync/plexanisync.armv7l.yml
Labels: repo

#1260 Added: Overseerr overrides
  docs/overrides/overseerr.md
  mkdocs.yml
Labels: docs, repo

#1261 Update cloudflareddns.md
  docs/apps/cloudflareddns.md
Labels: docs, repo
