Repository GhostWriters/DockSTARTer, pull requests merged in 2021-06, with the labels that each got.

#1318 Use mktemp for compose and yq
  .scripts/docker_compose.sh
  .scripts/env_update.sh
  .scripts/install_compose.sh
  .scripts/install_compose_completion.sh
  .scripts/install_docker.sh
  .scripts/install_machine_completion.sh
  .scripts/install_yq.sh
  .scripts/menu_main.sh
  .scripts/pm_apt_repos.sh
  .scripts/pm_yum_repos.sh
  .scripts/run_install.sh
  .scripts/update_self.sh
  .scripts/yml_merge.sh
  docs/basics/command-line-usage.md
  docs/introduction.md
  main.sh
Labels: core, docs, repo

#1313 Add container_name to prometheus.yml
  compose/.apps/prometheus/prometheus.yml
Labels: repo

#1314 Updated Home assistant docker base images
  compose/.apps/homeassistant/homeassistant.aarch64.yml
  compose/.apps/homeassistant/homeassistant.armv7l.yml
Labels: repo

#1319 Remove tmp log
  main.sh
Labels: repo

#1320 Use run_script for compose and yq
  .scripts/docker_compose.sh
  .scripts/run_compose.sh
  .scripts/run_yq.sh
  .scripts/yml_merge.sh
Labels: core, repo

#1322 Drop minor versions from deps and use precise versions in requirement…
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  .github/workflows/stale.yml
  .github/workflows/tests.yml
  .github/workflows/validate.yml
  docs/javascripts/extra.js
  docs/requirements.txt
Labels: ci, docs, repo

#1330 Update plex.armv7l.yml
  compose/.apps/plex/plex.armv7l.yml
Labels: repo

#1332 Add Adminer
  compose/.apps/adminer/adminer.aarch64.yml
  compose/.apps/adminer/adminer.armv7l.yml
  compose/.apps/adminer/adminer.hostname.yml
  compose/.apps/adminer/adminer.labels.yml
  compose/.apps/adminer/adminer.netmode.yml
  compose/.apps/adminer/adminer.ports.yml
  compose/.apps/adminer/adminer.x86_64.yml
  compose/.apps/adminer/adminer.yml
  docs/apps/adminer.md
  mkdocs.yml
Labels: docs, repo

#1341 add explanation for VPN and private servers
  docs/apps/jackett.md
Labels: docs, repo
