Repository GhostWriters/DockSTARTer, pull requests merged in 2022-10, with the labels that each got.

#1543 Flame
  compose/.apps/flame/flame.aarch64.yml
  compose/.apps/flame/flame.armv7l.yml
  compose/.apps/flame/flame.hostname.yml
  compose/.apps/flame/flame.labels.yml
  compose/.apps/flame/flame.netmode.yml
  compose/.apps/flame/flame.ports.yml
  compose/.apps/flame/flame.x86_64.yml
  compose/.apps/flame/flame.yml
  docs/apps/flame.md
  mkdocs.yml
Labels: docs, repo

#1551 Ignore MD007
  .github/workflows/lint.yml
Labels: ci, repo

#1550 Fixing Flame
  compose/.apps/flame/flame.aarch64.yml
  compose/.apps/flame/flame.labels.yml
Labels: repo

#1546 Added Kanboard
  compose/.apps/kanboard/kanboard.aarch64.yml
  compose/.apps/kanboard/kanboard.armv7l.yml
  compose/.apps/kanboard/kanboard.hostname.yml
  compose/.apps/kanboard/kanboard.labels.yml
  compose/.apps/kanboard/kanboard.netmode.yml
  compose/.apps/kanboard/kanboard.ports.yml
  compose/.apps/kanboard/kanboard.x86_64.yml
  compose/.apps/kanboard/kanboard.yml
  docs/apps/kanboard.md
  mkdocs.yml
Labels: docs, repo

#1545 Added Gluetun
  compose/.apps/gluetun/gluetun.aarch64.yml
  compose/.apps/gluetun/gluetun.armv7l.yml
  compose/.apps/gluetun/gluetun.hostname.yml
  compose/.apps/gluetun/gluetun.labels.yml
  compose/.apps/gluetun/gluetun.netmode.yml
  compose/.apps/gluetun/gluetun.x86_64.yml
  compose/.apps/gluetun/gluetun.yml
  docs/apps/gluetun.md
  mkdocs.yml
Labels: docs, repo

#1553 Removed unnecessary port label from Gluetun
  compose/.apps/gluetun/gluetun.labels.yml
Labels: repo
