Repository GhostWriters/DockSTARTer, pull requests merged in 2022-04, with the labels that each got.

#1439 Add AzuraCast
  compose/.apps/azuracast/azuracast.aarch64.yml
  compose/.apps/azuracast/azuracast.hostname.yml
  compose/.apps/azuracast/azuracast.labels.yml
  compose/.apps/azuracast/azuracast.netmode.yml
  compose/.apps/azuracast/azuracast.ports.yml
  compose/.apps/azuracast/azuracast.x86_64.yml
  compose/.apps/azuracast/azuracast.yml
  docs/apps/azuracast.md
  mkdocs.yml
Labels: docs, repo

#1460 Update perms
  .scripts/update_self.sh
  main.sh
Labels: core, repo

#1461 Add verbosity to repo updates
  .scripts/pm_apt_repos.sh
  .scripts/pm_yum_repos.sh
Labels: core, repo

#1463 feat: add armvl7 arch for glances
  compose/.apps/glances/glances.armv7l.yml
Labels: repo

#1469 Fix docker and compose install
  .scripts/pm_apt_install_docker.sh
  .scripts/pm_dnf_install_docker.sh
  .scripts/pm_yum_install_docker.sh
  .scripts/require_docker.sh
Labels: core, repo
