Repository GhostWriters/DockSTARTer, pull requests merged in 2022-07, with the labels that each got.

#1503 Fix SC2317
  main.sh
Labels: repo

#1497 Add Traefik App
  compose/.apps/traefik/traefik.aarch64.yml
  compose/.apps/traefik/traefik.hostname.yml
  compose/.apps/traefik/traefik.labels.yml
  compose/.apps/traefik/traefik.netmode.yml
  compose/.apps/traefik/traefik.ports.yml
  compose/.apps/traefik/traefik.x86_64.yml
  compose/.apps/traefik/traefik.yml
  docs/apps/traefik.md
  mkdocs.yml
Labels: docs, repo

#1453 Replacing Airsonic with Airsonic Advanced
  compose/.apps/airsonic/airsonic.labels.yml
  compose/.apps/airsonicadvanced/airsonicadvanced.aarch64.yml
  compose/.apps/airsonicadvanced/airsonicadvanced.armv7l.yml
  compose/.apps/airsonicadvanced/airsonicadvanced.hostname.yml
  compose/.apps/airsonicadvanced/airsonicadvanced.labels.yml
  compose/.apps/airsonicadvanced/airsonicadvanced.netmode.yml
  compose/.apps/airsonicadvanced/airsonicadvanced.ports.yml
  compose/.apps/airsonicadvanced/airsonicadvanced.x86_64.yml
  compose/.apps/airsonicadvanced/airsonicadvanced.yml
  docs/apps/airsonic.md
  docs/apps/airsonicadvanced.md
  mkdocs.yml
Labels: docs, repo, under-consideration

#1505 Adding new app: Uptime Kuma
  compose/.apps/uptimekuma/uptimekuma.aarch64.yml
  compose/.apps/uptimekuma/uptimekuma.armv7l.yml
  compose/.apps/uptimekuma/uptimekuma.hostname.yml
  compose/.apps/uptimekuma/uptimekuma.labels.yml
  compose/.apps/uptimekuma/uptimekuma.netmode.yml
  compose/.apps/uptimekuma/uptimekuma.ports.yml
  compose/.apps/uptimekuma/uptimekuma.x86_64.yml
  compose/.apps/uptimekuma/uptimekuma.yml
  docs/apps/uptimekuma.md
  mkdocs.yml
Labels: docs, repo
