Repository GhostWriters/DockSTARTer, pull requests merged in 2022-08, with the labels that each got.

#1506 Fixed dashmachine.md
  docs/overrides/dashmachine.md
Labels: docs, repo

#1514 Added Gitea
  compose/.apps/gitea/gitea.armv7l.yml
  compose/.apps/gitea/gitea.hostname.yml
  compose/.apps/gitea/gitea.labels.yml
  compose/.apps/gitea/gitea.netmode.yml
  compose/.apps/gitea/gitea.ports.yml
  compose/.apps/gitea/gitea.x86_64.yml
  compose/.apps/gitea/gitea.yml
  docs/apps/gitea.md
  mkdocs.yml
Labels: docs, repo

#1522 Fix "Unable to find labels for UPTIME KUMA" error on creating Uptime Kuma
  compose/.apps/uptimekuma/uptimekuma.labels.yml
Labels: repo

#1525 Rework workflows
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  .gitignore
Labels: ci, repo

#1524 Add OpenSpeedTest app
  compose/.apps/openspeedtest/openspeedtest.aarch64.yml
  compose/.apps/openspeedtest/openspeedtest.armv7l.yml
  compose/.apps/openspeedtest/openspeedtest.hostname.yml
  compose/.apps/openspeedtest/openspeedtest.labels.yml
  compose/.apps/openspeedtest/openspeedtest.netmode.yml
  compose/.apps/openspeedtest/openspeedtest.ports.yml
  compose/.apps/openspeedtest/openspeedtest.x86_64.yml
  compose/.apps/openspeedtest/openspeedtest.yml
  docs/apps/openspeedtest.md
  mkdocs.yml
Labels: docs, repo
