Repository GhostWriters/DockSTARTer, pull requests merged in 2023-02, with the labels that each got.

#1594 Add audiobookshelf
  compose/.apps/audiobookshelf/audiobookshelf.hostname.yml
  compose/.apps/audiobookshelf/audiobookshelf.labels.yml
  compose/.apps/audiobookshelf/audiobookshelf.netmode.yml
  compose/.apps/audiobookshelf/audiobookshelf.ports.yml
  compose/.apps/audiobookshelf/audiobookshelf.x86_64.yml
  compose/.apps/audiobookshelf/audiobookshelf.yml
  docs/apps/audiobookshelf.md
  mkdocs.yml
Labels: docs, repo

#1579 Fixed: "Copy To Clipboard" Icon on Code Blocks
  mkdocs.yml
Labels: repo

#1581 Add the Recyclarr app to DockStarter
  .gitignore
  compose/.apps/recyclarr/recyclarr.aarch64.yml
  compose/.apps/recyclarr/recyclarr.armv7l.yml
  compose/.apps/recyclarr/recyclarr.hostname.yml
  compose/.apps/recyclarr/recyclarr.labels.yml
  compose/.apps/recyclarr/recyclarr.netmode.yml
  compose/.apps/recyclarr/recyclarr.x86_64.yml
  compose/.apps/recyclarr/recyclarr.yml
  docs/apps/recyclarr.md
  mkdocs.yml
Labels: docs, repo

#1578 docs: remove missing sickrage.md nav
  mkdocs.yml
Labels: repo

#1595 Add fail2ban
  compose/.apps/fail2ban/fail2ban.aarch64.yml
  compose/.apps/fail2ban/fail2ban.armv7l.yml
  compose/.apps/fail2ban/fail2ban.hostname.yml
  compose/.apps/fail2ban/fail2ban.labels.yml
  compose/.apps/fail2ban/fail2ban.netmode.yml
  compose/.apps/fail2ban/fail2ban.x86_64.yml
  compose/.apps/fail2ban/fail2ban.yml
  docs/apps/fail2ban.md
  mkdocs.yml
Labels: docs, repo

#1342 Remove Flood options from rtorrentvpn
  compose/.apps/rtorrentvpn/rtorrentvpn.labels.yml
  compose/.apps/rtorrentvpn/rtorrentvpn.ports.yml
  compose/.apps/rtorrentvpn/rtorrentvpn.yml
Labels: repo, under-consideration

#1596 audiobookshelf: Move 'home" folder to '/config/.home'
  compose/.apps/audiobookshelf/audiobookshelf.yml
Labels: repo

#1598 audiobookshelf: remove METADATA var, mount into /config
  compose/.apps/audiobookshelf/audiobookshelf.labels.yml
  compose/.apps/audiobookshelf/audiobookshelf.yml
Labels: repo

#1470 Sudo rework
  .scripts/docker_prune.sh
  .scripts/enable_docker_systemd.sh
  .scripts/env_backup.sh
  .scripts/env_sanitize.sh
  .scripts/env_update.sh
  .scripts/get_docker.sh
  .scripts/pm_apt_clean.sh
  .scripts/pm_apt_install.sh
  .scripts/pm_apt_install_docker.sh
  .scripts/pm_apt_repos.sh
  .scripts/pm_apt_upgrade.sh
  .scripts/pm_dnf_clean.sh
  .scripts/pm_dnf_install.sh
  .scripts/pm_dnf_install_docker.sh
  .scripts/pm_dnf_upgrade.sh
  .scripts/pm_pacman_clean.sh
  .scripts/pm_pacman_install.sh
  .scripts/pm_pacman_install_docker.sh
  .scripts/pm_pacman_upgrade.sh
  .scripts/pm_yum_clean.sh
  .scripts/pm_yum_install.sh
  .scripts/pm_yum_install_docker.sh
  .scripts/pm_yum_repos.sh
  .scripts/pm_yum_upgrade.sh
  .scripts/remove_snap_docker.sh
  .scripts/require_docker.sh
  .scripts/set_permissions.sh
  .scripts/setup_docker_group.sh
  .scripts/symlink_ds.sh
  .scripts/update_self.sh
  README.md
  main.sh
Labels: core, repo, work-in-progress
