Repository GhostWriters/DockSTARTer, pull requests merged in 2024-02, with the labels that each got.

#1725 Create audiobookshelf.aarch64.yml
  compose/.apps/audiobookshelf/audiobookshelf.aarch64.yml
Labels: apps

#1728 ci: :green_heart: use sparse checkout and cache properly
  .github/workflows/deploy.yml
Labels: ci, repo

#1731 Make DockStarter work with CoreOS (immutable filesystem, no traditional package manager)
  .scripts/package_manager_run.sh
  .scripts/symlink_ds.sh
Labels: core

#1672 feat: :sparkles: add apk for alpine support
  .scripts/enable_docker_service.sh
  .scripts/enable_docker_systemd.sh
  .scripts/package_manager_run.sh
  .scripts/pm_apk_clean.sh
  .scripts/pm_apk_install.sh
  .scripts/pm_apk_install_docker.sh
  .scripts/pm_apk_repos.sh
  .scripts/pm_apk_upgrade.sh
  .scripts/pm_dnf_install.sh
  .scripts/pm_dnf_install_docker.sh
  .scripts/pm_pacman_install.sh
  .scripts/pm_pacman_install_docker.sh
  .scripts/pm_yum_install.sh
  .scripts/pm_yum_install_docker.sh
  .scripts/run_install.sh
  README.md
Labels: core, repo

#1732 OS support
  .scripts/package_manager_run.sh
  .scripts/symlink_ds.sh
Labels: core
