Repository GhostWriters/DockSTARTer, pull requests merged in 2024-09, with the labels that each got.

#1745 Add "APPNAME" headings in `.env`, and move the "migrate" logic into `appvars_create.sh`
  .scripts/appvars_create.sh
  .scripts/appvars_create_all.sh
  .scripts/appvars_migrate.sh
  .scripts/appvars_migrate_all.sh
  .scripts/appvars_purge.sh
  .scripts/appvars_purge_all.sh
  .scripts/appvars_rename.sh
  .scripts/env_get.sh
  .scripts/env_rename.sh
  .scripts/env_sanitize.sh
  .scripts/env_set.sh
  .scripts/env_update.sh
  .scripts/yml_merge.sh
  main.sh
Labels: apps, core, no-pr-activity

#1783 fix: `ds` getting false positives for special variables
  .scripts/menu_value_prompt.sh
Labels: core

#1784 fix: Remove depreciated VPN variables settings option from config
  .scripts/menu_config.sh
Labels: core

#1786 fix: `komga` using wrong port
  compose/.apps/komga/komga.labels.yml
  compose/.apps/komga/komga.ports.yml
Labels: apps

#1791 fix: :mute: remove reqs to fix version warning
  .scripts/yml_merge.sh
  compose/.reqs/r1.yml
  compose/.reqs/r2.yml
  compose/README.md
Labels: apps, core
