Repository GhostWriters/DockSTARTer, pull requests merged in 2025-07, with the labels that each got.

#1952 Add blank lines after headings in `menu_value_prompt`
  .scripts/menu_value_prompt.sh
Labels: core

#1954 Add update notices, and initial version display
  .scripts/apply_theme.sh
  .scripts/ds_update_available.sh
  .scripts/ds_version.sh
  .scripts/menu_add_app.sh
  .scripts/menu_add_var.sh
  .scripts/menu_app_select.sh
  .scripts/menu_config.sh
  .scripts/menu_config_apps.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_dialog_example.sh
  .scripts/menu_display_options.sh
  .scripts/menu_display_options_general.sh
  .scripts/menu_display_options_theme.sh
  .scripts/menu_main.sh
  .scripts/menu_value_prompt.sh
  .scripts/question_prompt.sh
  main.sh
Labels: core

#1956 Use `<branch> <tag>` or `<branch> commit <commit>` as the DS version
  .scripts/ds_version.sh
Labels: core

#1958 Make `ds -u` skip updating if no update is needed.
  .scripts/update_self.sh
Labels: core

#1959 Use `${APPLICATION_NAME}` instead of `DockSTARTer`
  .scripts/apply_theme.sh
  .scripts/docker_compose.sh
  .scripts/ds_update_available.sh
  .scripts/ds_version.sh
  .scripts/menu_add_var.sh
  .scripts/menu_display_options.sh
  .scripts/menu_main.sh
  .scripts/menu_value_prompt.sh
  .scripts/run_install.sh
  .scripts/symlink_ds.sh
  .scripts/update_self.sh
  main.sh
Labels: core

#1961 Fix backtitle not showing for dialog box example.
  .scripts/menu_dialog_example.sh
Labels: core

#1953 ci: :green_heart: refactor GHA lint tools
  .editorconfig
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/application-request.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/deploy-mkdocs.yml
  .github/workflows/deploy.yml
  .github/workflows/label.yml
  .github/workflows/lint.yml
  .github/workflows/stale.yml
  .github/workflows/tests.yml
  .github/workflows/validate.yml
  .markdownlint.yml
  .scripts/menu_value_prompt.sh
  .yamllint.yml
  docs/javascripts/tablesort.js
Labels: ci, docs, core, repo

#1966 Move `ds_version` and `ds_update_available` to `main.sh`
  .scripts/ds_update_available.sh
  .scripts/ds_version.sh
  .scripts/update_self.sh
  main.sh
Labels: core

#1973 Show version info when updating
  .scripts/update_self.sh
Labels: core

#1975 Fix missing blank line after empty "User Defined" sections in the var…
  .scripts/env_format_lines.sh
Labels: core

#1979 Use `Etc/UTC` as the default `TZ` value if `/etc/timezone` does not e…
  .scripts/var_default_value.sh
Labels: core

#1980 ci: improve step names
  .github/workflows/deploy-mkdocs.yml
  .github/workflows/label.yml
  .github/workflows/lint.yml
  .github/workflows/stale.yml
  .github/workflows/tests.yml
  .github/workflows/validate.yml
Labels: ci, repo

#1982 Add `Navidrome`
  compose/.apps/navidrome/navidrome.aarch64.yml
  compose/.apps/navidrome/navidrome.app.env
  compose/.apps/navidrome/navidrome.folders
  compose/.apps/navidrome/navidrome.global.env
  compose/.apps/navidrome/navidrome.hostname.yml
  compose/.apps/navidrome/navidrome.labels.yml
  compose/.apps/navidrome/navidrome.migrate
  compose/.apps/navidrome/navidrome.netmode.yml
  compose/.apps/navidrome/navidrome.ports.yml
  compose/.apps/navidrome/navidrome.storage.yml
  compose/.apps/navidrome/navidrome.storage2.yml
  compose/.apps/navidrome/navidrome.storage3.yml
  compose/.apps/navidrome/navidrome.storage4.yml
  compose/.apps/navidrome/navidrome.x86_64.yml
  compose/.apps/navidrome/navidrome.yml
  docs/apps/navidrome.md
  mkdocs.yml
Labels: apps, docs

#1983 Update renovate.json
  .github/renovate.json
Labels: repo

#1985 Fix "Updated to" notice during `ds -u`
  .scripts/update_self.sh
Labels: core

#1987 Fix display of branch in the GUI during `ds -u` when there is no upda…
  .scripts/update_self.sh
Labels: core

#1988 Add logging when enabling and disabling apps.
  .scripts/disable_app.sh
  .scripts/enable_app.sh
Labels: core

#1992 Fix logic when deciding what to show when updating to the same branch
  .scripts/update_self.sh
Labels: core

#1993 Update Screenshots
  docs/assets/command_help.png
  docs/assets/menu_app_select.png
  docs/assets/menu_config_vars.png
  docs/assets/menu_main.png
  docs/assets/menu_value_prompt.png
Labels: docs

#1994 Add `crosssseed`
  compose/.apps/crossseed/crossseed.aarch64.yml
  compose/.apps/crossseed/crossseed.app.env
  compose/.apps/crossseed/crossseed.folders
  compose/.apps/crossseed/crossseed.global.env
  compose/.apps/crossseed/crossseed.hostname.yml
  compose/.apps/crossseed/crossseed.labels.yml
  compose/.apps/crossseed/crossseed.migrate
  compose/.apps/crossseed/crossseed.netmode.yml
  compose/.apps/crossseed/crossseed.ports.yml
  compose/.apps/crossseed/crossseed.storage.yml
  compose/.apps/crossseed/crossseed.storage2.yml
  compose/.apps/crossseed/crossseed.storage3.yml
  compose/.apps/crossseed/crossseed.storage4.yml
  compose/.apps/crossseed/crossseed.x86_64.yml
  compose/.apps/crossseed/crossseed.yml
  docs/apps/crossseed.md
  mkdocs.yml
Labels: apps, docs

#1995 Fix links in `crossseed` docs
  docs/apps/crossseed.md
Labels: docs

#2000 Fix `ds -u` command with no branch specified
  .scripts/update_self.sh
Labels: core

#2005 Return an error notice for `ds --u` if the branch does not exist
  .scripts/update_self.sh
Labels: core

#2011 Make `'update_self' master` switch to `'update_self' main` if `main` branch exists
  .scripts/update_self.sh
Labels: core

#2018 Change `git branch --show` to `ds_branch` in `update_self`
  .scripts/update_self.sh
Labels: core

#2019 Add option to toggle between line drawing and ascii characters.
  .scripts/apply_theme.sh
  .scripts/menu_display_options_general.sh
  .themes/menu.ini
Labels: core

#2021 Add `Huntarr`
  compose/.apps/huntarr/huntarr.aarch64.yml
  compose/.apps/huntarr/huntarr.app.env
  compose/.apps/huntarr/huntarr.folders
  compose/.apps/huntarr/huntarr.global.env
  compose/.apps/huntarr/huntarr.hostname.yml
  compose/.apps/huntarr/huntarr.labels.yml
  compose/.apps/huntarr/huntarr.migrate
  compose/.apps/huntarr/huntarr.netmode.yml
  compose/.apps/huntarr/huntarr.ports.yml
  compose/.apps/huntarr/huntarr.storage.yml
  compose/.apps/huntarr/huntarr.storage2.yml
  compose/.apps/huntarr/huntarr.storage3.yml
  compose/.apps/huntarr/huntarr.storage4.yml
  compose/.apps/huntarr/huntarr.x86_64.yml
  compose/.apps/huntarr/huntarr.yml
  docs/apps/huntarr.md
  mkdocs.yml
Labels: apps, docs

#2022 Migrate old LineCharacters variable to Borders if Borders doesn't exi…
  .scripts/apply_theme.sh
Labels: core

#2025 Fix definition of `navidrome` data folder
  compose/.apps/navidrome/navidrome.yml
Labels: apps

#2030 Use `Run 'ds` instead of `Do 'ds` in notices.
  .scripts/yml_merge.sh
  main.sh
Labels: core

#2031 Use more consistent notices
  .scripts/appvars_rename.sh
  .scripts/update_self.sh
  .scripts/yml_merge.sh
  main.sh
Labels: core

#2037 Remove the `filebrowser` healthcheck
  compose/.apps/filebrowser/filebrowser.yml
Labels: apps

#2038 Adjust notices when applying themes
  .scripts/apply_theme.sh
  main.sh
Labels: core

#2042 Begin replacing hard-coded CYAN color in notices with pre-defined colors
  .scripts/app_env_file.sh
  .scripts/appfolders_create.sh
  .scripts/appvars_create.sh
  .scripts/appvars_purge.sh
  .scripts/appvars_rename.sh
  .scripts/disable_app.sh
  .scripts/docker_compose.sh
  .scripts/docker_prune.sh
  .scripts/enable_app.sh
  .scripts/enable_docker_service.sh
  .scripts/env_backup.sh
  .scripts/env_copy.sh
  .scripts/env_create.sh
  .scripts/env_delete.sh
  .scripts/env_merge_newonly.sh
  .scripts/env_rename.sh
  .scripts/env_set.sh
  .scripts/env_set_literal.sh
  .scripts/env_update.sh
  .scripts/get_docker.sh
  .scripts/menu_config_vars.sh
  .scripts/menu_value_prompt.sh
  .scripts/merge_and_compose.sh
  .scripts/override_backup.sh
  .scripts/override_var_rename.sh
  .scripts/pm_apk_install.sh
  .scripts/pm_apk_install_docker.sh
  .scripts/pm_apk_upgrade.sh
  .scripts/pm_apt_clean.sh
  .scripts/pm_apt_install.sh
  .scripts/pm_apt_repos.sh
  .scripts/pm_apt_upgrade.sh
  .scripts/pm_dnf_clean.sh
  .scripts/pm_dnf_install.sh
  .scripts/pm_dnf_upgrade.sh
  .scripts/pm_pacman_clean.sh
  .scripts/pm_pacman_install.sh
  .scripts/pm_pacman_install_docker.sh
  .scripts/pm_pacman_upgrade.sh
  .scripts/pm_yum_clean.sh
  .scripts/pm_yum_install.sh
  .scripts/pm_yum_repos.sh
  .scripts/pm_yum_upgrade.sh
  .scripts/require_docker.sh
  .scripts/set_permissions.sh
  .scripts/setup_docker_group.sh
  .scripts/symlink_ds.sh
  .scripts/update_self.sh
  .scripts/yml_merge.sh
  main.sh
Labels: core

#2053 Fix app_list` test
  .scripts/app_list.sh
Labels: core

#2058 Add `strip_dialog_colors` function and use it in `question_prompt`
  .scripts/question_prompt.sh
  main.sh
Labels: core

#2060 Strip ANSI colors from dialog boxes in `question_prompt`
  .scripts/question_prompt.sh
Labels: core

#2062 Colorize the prompt in `appvars_purge` for both CLI and GUI usage
  .scripts/appvars_purge.sh
Labels: core

#2068 Fix all references to `depreciated` to use the correct term `deprecated`
  .scripts/app_is_deprecated.sh
  .scripts/app_is_depreciated.sh
  .scripts/app_is_nondeprecated.sh
  .scripts/app_is_nondepreciated.sh
  .scripts/app_list.sh
  .scripts/app_list_deprecated.sh
  .scripts/app_list_depreciated.sh
  .scripts/app_list_nondeprecated.sh
  .scripts/app_list_nondepreciated.sh
  .scripts/env_format_lines.sh
  .scripts/menu_app_select.sh
  .scripts/menu_heading.sh
  .scripts/yml_merge.sh
  main.sh
Labels: core

#2069 Show the "nicename" of apps as they are discovered for the app select…
  .scripts/menu_app_select.sh
Labels: core

#2070 Create an `app_nicename_pipe` function and use it in `menu_app_select`
  .scripts/app_nicename_pipe.sh
  .scripts/menu_app_select.sh
Labels: core

#2071 Create `app_is_runnable`, `app_filter_runnable` and `app_filter_runna…
  .scripts/app_filter_runnable.sh
  .scripts/app_filter_runnable_pipe.sh
  .scripts/app_is_runnable.sh
  .scripts/menu_app_select.sh
Labels: core

#2072 Fix `app_is_runnable` for instances of apps.
  .scripts/app_is_runnable.sh
Labels: core

#2073 Optimize `app_filter_runnable` for speed by bringing the `app_is_runn…
  .scripts/app_filter_runnable.sh
Labels: core

#2077 Optimize `app_is_deprecated` and `app_is_nondeprecated` by avoiding c…
  .scripts/app_is_deprecated.sh
  .scripts/app_is_nondeprecated.sh
Labels: core

#2084 Create an `APPLICATION_COMMAND` global variable to set the `ds` comma…
  .scripts/appvars_rename.sh
  .scripts/docker_compose.sh
  .scripts/menu_add_app.sh
  .scripts/menu_app_select.sh
  .scripts/menu_config.sh
  .scripts/menu_dialog_example.sh
  .scripts/menu_display_options_theme.sh
  .scripts/run_install.sh
  .scripts/symlink_ds.sh
  .scripts/update_self.sh
  .scripts/yml_merge.sh
  main.sh
Labels: core

#2090 Clean up fatal notices for the package manager
  .scripts/package_manager_run.sh
Labels: core

#2092 Re-work `menu_app_select` getting rid of temporary file usage
  .scripts/menu_app_select.sh
Labels: core

#2094 Re-write of the progress bar in `menu_app_select`
  .scripts/menu_app_select.sh
Labels: core
