Repository GhostWriters/DockSTARTer, pull requests merged in 2025-05, with the labels that each got.

#1865 feat: 💥 Add Maintainerr
  compose/.apps/maintainerr/maintainerr.aarch64.yml
  compose/.apps/maintainerr/maintainerr.hostname.yml
  compose/.apps/maintainerr/maintainerr.labels.yml
  compose/.apps/maintainerr/maintainerr.netmode.yml
  compose/.apps/maintainerr/maintainerr.ports.yml
  compose/.apps/maintainerr/maintainerr.x86_64.yml
  compose/.apps/maintainerr/maintainerr.yml
  docs/apps/maintainerr.md
  mkdocs.yml
Labels: apps, docs

#1866 feat: 💥 Add TSDProxy
  compose/.apps/tsdproxy/tsdproxy.aarch64.yml
  compose/.apps/tsdproxy/tsdproxy.hostname.yml
  compose/.apps/tsdproxy/tsdproxy.labels.yml
  compose/.apps/tsdproxy/tsdproxy.netmode.yml
  compose/.apps/tsdproxy/tsdproxy.ports.yml
  compose/.apps/tsdproxy/tsdproxy.x86_64.yml
  compose/.apps/tsdproxy/tsdproxy.yml
  docs/apps/tsdproxy.md
  mkdocs.yml
Labels: apps, docs

#1868 ✨ feat(apps): add Actual Budget
  compose/.apps/actualbudget/actualbudget.aarch64.yml
  compose/.apps/actualbudget/actualbudget.hostname.yml
  compose/.apps/actualbudget/actualbudget.labels.yml
  compose/.apps/actualbudget/actualbudget.netmode.yml
  compose/.apps/actualbudget/actualbudget.ports.yml
  compose/.apps/actualbudget/actualbudget.x86_64.yml
  compose/.apps/actualbudget/actualbudget.yml
  docs/apps/actualbudget.md
  mkdocs.yml
Labels: apps, docs

#1867 🐛 fix(autobrr): correct PUID:PGID order in environment variable
  compose/.apps/autobrr/autobrr.yml
Labels: apps

#1877 Skip markdownlint MD059
  .github/workflows/lint.yml
Labels: ci, repo
