Repository GhostWriters/DockSTARTer, pull requests merged in 2025-03, with the labels that each got.

#1836 Add LyrionMusicServer/deprecate LogitechMediaServer
  compose/.apps/logitechmediaserver/logitechmediaserver.labels.yml
  compose/.apps/lyrionmusicserver/lyrionmusicserver.aarch64.yml
  compose/.apps/lyrionmusicserver/lyrionmusicserver.hostname.yml
  compose/.apps/lyrionmusicserver/lyrionmusicserver.labels.yml
  compose/.apps/lyrionmusicserver/lyrionmusicserver.netmode.yml
  compose/.apps/lyrionmusicserver/lyrionmusicserver.ports.yml
  compose/.apps/lyrionmusicserver/lyrionmusicserver.x86_64.yml
  compose/.apps/lyrionmusicserver/lyrionmusicserver.yml
  docs/apps/lyrionmusicserver.md
  mkdocs.yml
Labels: apps, docs

#1839 PiHole additions for v6
  compose/.apps/pihole/pihole.labels.yml
  compose/.apps/pihole/pihole.ports.yml
  compose/.apps/pihole/pihole.yml
Labels: apps

#1847 `gluetun`: `PUBLICIP_PERIOD` has been replaced with `PUBLICIP_ENABLED`
  compose/.apps/gluetun/gluetun.labels.yml
  compose/.apps/gluetun/gluetun.yml
Labels: apps

#1852 Gluetun fixes
  compose/.apps/gluetun/gluetun.labels.yml
  compose/.apps/gluetun/gluetun.yml
Labels: apps

#1853 Update jellyseerr.md
  docs/apps/jellyseerr.md
Labels: docs
